[2016-02-26 22:00] #2380 closed

[2016-02-27 08:24] palorieu commented on #2625
Hello,
I did not understand your question ?

[2016-02-27 12:19] GuiltyDolphin opened #2643 "Regexp: Improve display for mobile devices"
Unfortunately in getting `Regexp` to display nicely on full-width screens, it seems the mobile display has been reduced:

![screenshot from 2016-02-27 12 16 30](https://cloud.githubusercontent.com/assets/8598426/13372810/f73af9aa-dd4b-11e5-915e-ead68ec32414.png)

VS

![screenshot from 2016-02-27 12 16 37](https://cloud.githubusercontent.com/assets/8598426/13372812/fd4138b4-dd4b-11e5-9bf8-e0a3be9c3

[2016-02-27 14:00] mintsoft commented on #2626
@GuiltyDolphin sounds good, I'm bombing out the low-hanging-fruit tag though, as the roles can be pretty complex with their X-IA interaction to the uninitiated

[2016-02-27 14:24] GuiltyDolphin commented on #2626
@mintsoft Whoops! Yeah, not exactly appropriate :wink:

[2016-02-27 18:37] stevenmg opened #2646 "Coin: Doesn't trigger on coin flip"
@mattlehning

------
IA Page:  http://duck.co/ia/view/coin

[2016-02-27 19:19] mintsoft commented on #2646
@stevenmg do you mean the actual query `coin flip` as in: https://duckduckgo.com/?q=coin+flip

[2016-02-27 19:58] Fawers commented on #2625
I just wanted an option to convert to and from BRDT as well. You know, Brazil daylight saving time...

[2016-02-27 20:26] GuiltyDolphin commented on #2625
@Fawers looking at the source for TimezoneConverter, it relies on the Dates GoodieRole for the time zones. I think that if #2626 gets implemented this will probably get solved.

[2016-02-27 20:28] Fawers commented on #2625
@GuiltyDolphin Nice! I'll subscribe to #2626 as well, then. Thanks!

[2016-02-27 20:55] mintsoft commented on #2625
@Fawers if you wanted to; it's actually *really* easy and doesn't require any perl knowledge to add to these.

There's a big list of supported timezones in the role here: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/GoodieRole/Dates.pm#L82

Just add in BST and BRDT with the appropriate offsets; sorted!

[2016-02-27 21:18] Fawers commented on #2625
You mean, like, `BRDT => '-0200'`? Well, that sounds easy, lol. Thanks!

[2016-02-27 21:31] GuiltyDolphin commented on #2625
@Fawers I've just checked the tables and it looks like Brazil Summer Time (UTC-0200) is BRST rather than BRDT, may I ask your source?

[2016-02-27 21:41] Fawers commented on #2625
@GuiltyDolphin Usually, `BRT` or `BRST` (Brazil Standard Time) are used to define `UTC-3`, while `BRDT` (Brazil Daylight Time, or something like that) is used to define `UTC-2`.

[This source](http://www.tldp.org/HOWTO/TimePrecision-HOWTO/tz.html) uses `BRST` and `BRDT` , and [this one](http://www.timeanddate.com/worldclock/brazil/sao-paulo) uses `BRT`.

Also, [Dates.pm already lists BRT](https://

[2016-02-27 21:51] GuiltyDolphin commented on #2625
@Fawers Huh... That's the only source I've seen that uses BRDT - all the others I've come across use BRT for UTC-0300 and BRST for UTC-0200.

[2016-02-27 21:53] Fawers commented on #2625
@GuiltyDolphin No kidding? I always see `BRST` = standard. But it makes sense if you think of `AEST` and `AEDT` - Australia Eastern Standard and Daylight Time.

[2016-02-27 21:59] GuiltyDolphin commented on #2625
@Fawers Hummm... Yeah, makes sense - I think it should be fine to have BRDT as -0200 (with the source); the potential confusion only arises with BRST.

[2016-02-27 23:48] stevenmg commented on #2646
@mintsoft Yes, that's what I meant.

[2016-02-28 04:33] pnpninja commented on #2646
@mintsoft do we make it trigger?

[2016-02-28 09:39] pecey commented on #2256
Just a personal opinion. I am not sure if a FA cheatsheet without icons would make any sense, since if you would need to be sure you are picking the right icon. So icons would definitely be needed.

[2016-02-28 09:48] GuiltyDolphin commented on #958
@moollaza Oooh, I didn't see this. I'll add a `Fixes X` to the PR.

[2016-02-28 09:54] GuiltyDolphin commented on #1517
@mintsoft @abadojack What's the situation with this? The response is still the same so it is still relevant.

[2016-02-28 11:44] mintsoft commented on #2646
@pnpninja Yeah, I see no reason not to :+1:

[2016-02-28 11:46] mintsoft commented on #1517
@GuiltyDolphin I'm just holding off on this atm until I get the templated version merged https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2044 so I can finish the interactive

[2016-02-28 11:47] GuiltyDolphin commented on #1517
@mintsoft Got it.

[2016-02-29 04:30] jeremykohn opened #2654 "Calculator: Octal notation?"
In DuckDuckGo's calculator, numbers with a prepended `0` are interpreted as octal. This is normal in some programming languages, but it will probably confuse most DDG users.

`10 + 20 // Decimal. Ten plus twenty.`
`010 + 020 // Octal. Eight plus sixteen.`

Is this a bug or a feature?

Related issue: #1880 Calculator: re-write

---

IA Page: https://duck.co/ia/view/calculator

[2016-02-29 05:12] pavithirakc commented on #2646
I am on it !!

[2016-02-29 11:13] GuiltyDolphin commented on #2654
@jeremykohn I don't think this was an *intentional* feature. In the re-write you've referenced this is no longer the case; there is no support for bases other than denary at the moment.

If we get a large amount of people requesting support for additional bases then it is something we can look to implementing in the future in a way that doesn't cause any confusion.

[2016-02-29 12:03] pavithirakc commented on #2646
I am on it!!

[2016-02-29 13:16] yegg opened #2658 "HelpLine: additional triggers"
We received a suggestion that HelpLine could use some additional triggers like 'how to kill myself'. Maybe there is a list of triggers on other search engines that we could use to help expand our trigger list.

@conorfl @hemanth

------
IA Page:  http://duck.co/ia/view/help_line

[2016-02-29 13:31] pecey commented on #2646
Can I work on this one?

[2016-02-29 14:27] GuiltyDolphin commented on #2658
@yegg There was a PR for this previously: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1563

Unfortunately the original author did not have the time to continue with it - but it should serve as a good starting point.

[2016-02-29 14:32] yegg commented on #2658
@GuiltyDolphin thank you for the background! Yes, I agree with the Low-Hanging Fruit distinction.

[2016-02-29 15:12] pecey commented on #2658
Can I take this up?

[2016-02-29 15:47] GuiltyDolphin commented on #2658
@pecey I don't see why not!

[2016-02-29 16:18] yegg commented on #2658
@pecey thanks so much!

[2016-02-29 17:06] moollaza opened #2664 "Ed Cheat Sheet: Switch to `terminal` template"
Many of these commands are lengthy and it's causing the display to look broken. We should switch this to the `terminal` template to better handle the long lines and paragraphs.

------
IA Page:  http://duck.co/ia/view/ed_cheat_sheet

/cc @Gumnos

[2016-02-29 17:31] Gumnos commented on #2664
@moollaza When I initially created it, I used the only template I knew/found at the time. I don't object to switching to a `terminal` template and would be glad to make any requisite transformation, but I'd need guidance on where to find this template to make modifications.

[2016-02-29 17:40] vikashvverma commented on #2664
@Gumnos You can update cheat sheet json from `"template_type": "keyboard"` to `"template_type": "terminal"`.

[2016-02-29 17:56] GuiltyDolphin commented on #1695
@moollaza #2281 Has a test for uppercase characters in aliases; feel free to comment any other test suggestions there.

[2016-02-29 17:57] vikashvverma opened #2672 "Chienese Dynasties Cheat Sheet: Wrong section names"
Only two sections are getting displayed.

Wrong section names in section order.

[2016-02-29 18:02] GuiltyDolphin commented on #2672
@vikashvverma I've asked you not to do this before in #2549.

[2016-02-29 18:02] #2672 closed

[2016-02-29 18:09] Gumnos commented on #2664
@moollaza I made the change as @vikashvverma suggested and it should be good to go.

[2016-02-29 18:22] GuiltyDolphin commented on #2664
@Gumnos Have you made a PR with the changes?

[2016-02-29 18:32] Gumnos commented on #2664
@GuiltyDolphin Sorry, I thought the above linking sufficed.  I [created a PR](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2677) but am unsure how to link it to this issue.

[2016-02-29 18:47] GuiltyDolphin commented on #2664
@Gumnos usually in the description (`Fixes #X`).

[2016-02-29 18:51] Gumnos commented on #2664
@GuiltyDolphin Odd, that was my recollection, so I'd put it in the description, yet it doesn't appear to have linked properly between the PRs.

[2016-02-29 19:07] #2664 closed

[2016-02-29 19:08] GuiltyDolphin commented on #2664
@Gumnos I updated it for you - I think you put it in the title?

[2016-02-29 20:29] mintsoft commented on #2646
@pecey unfortunatley there's already a PR in progress: #2663

[2016-02-29 21:29] #1844 closed

[2016-02-29 21:41] GuiltyDolphin commented on #1695
@moollaza Fixed in #2281 as the test was made critical - so aliases can no longer contain uppercase characters.

[2016-02-29 21:41] #1695 closed

[2016-03-01 04:07] hemanth commented on #2658
:+1:

[2016-03-01 16:04] moollaza commented on #2116
@MrChrisW `DDG.settings.get('kaj')`

Example usage can be seen here: https://github.com/duckduckgo/zeroclickinfo-spice/blob/65614892002a7770e9d8af4b4dc1234bd367bc32/share/spice/forecast/forecast.js#L336

[2016-03-01 16:07] moollaza commented on #2059
I'm not sure if we tried that. If we could use T&D for `sunrise` and `sunset` then it would simplify things!

[2016-03-01 16:10] #2162 closed

[2016-03-01 16:24] moollaza commented on #1720
@emilecantin searching by city is already supported, however we don't yet have support for most cities. Right now because of how things are setup you can only search for the sunrise in a country or a capital city.

https://duckduckgo.com/?q=sunrise+in+australia&ia=answer

[2016-03-01 16:24] #1720 closed

[2016-03-01 16:42] moollaza commented on #1356
@nilnilnil can you explain what the expected output should be here? I'm a little confused...

[2016-03-01 16:42] #1250 closed

[2016-03-01 16:43] #1261 closed

[2016-03-01 16:46] moollaza commented on #1221
This looks to be fixed!

[2016-03-01 16:46] #1221 closed

[2016-03-01 16:49] moollaza commented on #1171
Closing. Nearly all of them have been converted now. There are in-progress PR's to replace the remaining Goodies.

[2016-03-01 16:49] #1171 closed

[2016-03-01 20:48] mintsoft commented on #1356
@moollaza in utf8 é is two bytes and comes out like: `11000011 ‭10101001‬`

[2016-03-01 20:53] mintsoft commented on #2116
@moollaza wtf is a `kaj` !?

[2016-03-01 23:02] #2097 closed

[2016-03-01 23:03] moollaza commented on #1920
Fixed in #2627

[2016-03-01 23:03] #1920 closed

[2016-03-01 23:03] moollaza commented on #1920
@gautamkrishnar take a look at this now in DuckPAN -- newlines are working :+1:

[2016-03-02 17:59] GuiltyDolphin commented on #1528
Whoops, this one isn't solved quite yet!

[2016-03-02 18:00] zachthompson opened #2685 "Add tests for custom cheat sheet triggers"
@GuiltyDolphin The cheat sheet tests should check for the following (at least) in custom_triggers:

1. Two cheat sheets using the same trigger.  Currently just silently ignores all but the first.
2. That categories already included by template_type aren't re-added via additional_categories

These should be fatal.  Any others you can think of.  We don't have any going out the door so I didn't think

[2016-03-02 18:04] GuiltyDolphin commented on #2685
@zachthompson Sure! I'll sort these over on #2681.

[2016-03-02 18:59] GuiltyDolphin commented on #2685
@zachthompson Righty - those are added, and I did another one to check the template type is valid (using the `template_map` defined in `triggers.yaml`).

[2016-03-02 20:23] #2685 closed

[2016-03-02 23:54] MrChrisW commented on #2116
`DDG.settings` should be documented.... :laughing:

[2016-03-03 01:20] #958 closed

[2016-03-03 03:26] moollaza commented on #2116
@mintsoft Hehehe. We have a "naming scheme" for the URL params and because all settings are also params that's how we look them up. I agree it's weird an non-intuitive to outsiders.

@MrChrisW `DDG.settings` is really intended for internal (non-DDH) use, but I think we should probably document parts of it (and maybe have more readable aliases for the parameter names :)

[2016-03-03 03:36] moollaza commented on #1356
@mintsoft aah, thanks for clarifying :+1:

[2016-03-03 03:53] MrChrisW commented on #2116
@moollaza :+1:

[2016-03-03 23:11] #446 closed

[2016-03-03 23:11] moollaza commented on #405
Will be replaced by #1138

[2016-03-03 23:11] #405 closed

[2016-03-04 12:01] GuiltyDolphin opened #2696 "Move work out of handlers"
I've been looking through some of the Goodies (Perl) and noticed that in some there is a _lot_ of work being done in the handlers.

Having a lot of work in the handlers means that it is more difficult to understand _what_ the Goodie is doing - the handler should clearly show what information is being retrieved from the query and where it is used.

I have compiled a list (incomplete) of Goodies tha

[2016-03-04 12:25] mintsoft opened #2697 "TimezoneConverter: Parses noon as midnight"
![noon](https://cloud.githubusercontent.com/assets/978048/13527043/2660f90c-e204-11e5-9a3a-d215b9f82dbd.png)

[2016-03-04 12:36] mintsoft commented on #2696
@GuiltyDolphin  Hmm I'm not too convinced that this is a preferential path here.

I think building all the answers up front for all inputs isn't necessarily a great move as it will increase memory consumption. The caching within the IA calls should deal with it generally in a transparent way.
Although static work (i.e. stuff that's recycled for each request irrespective of the input, building rege

[2016-03-04 14:02] GuiltyDolphin commented on #2696
@mintsoft Can you clarify? If you look at the examples given, there are huge bodies of work being done directly within the handlers (including defining regexes etc..) - it is this which I wish to be eliminated; it makes reading and/or maintaining the Goodie harder, and makes it harder to find out what the Goodie is actually *doing*.

[2016-03-04 14:14] riqpe commented on #2697
Reading the commit b9083d30fe05730610bbf2d75abf21c0324cb671 , this seems to be by design, which assumes AM when PM not present. Still, here's a quick PR to fix it #2699.

[2016-03-04 14:31] MrChrisW commented on #2696
@GuiltyDolphin So you're talking about two things here: **Code Readability** & **Code Efficiency**

Code Readability

You'd like to move the majority of the logic out of the main `handle` subroutine and move it into new subroutines that are named better -  this will allow for better readability and maintainability. This will help new maintainers understand the program flow better. :+1:

_________

[2016-03-04 15:01] talsraviv opened #2700 "`\n` and `\t` not working?"
Was playing in codio with the new escape sequences - is this the right usage of `\n`? I didn't get a line break, and just ran `duckpan upgrade` before it

![screen shot 2016-03-04 at 9 45 28 am](https://cloud.githubusercontent.com/assets/1065307/13530149/f182b218-e1ed-11e5-8cef-14f7c069c9cb.png)

![screen shot 2016-03-04 at 9 45 40 am](https://cloud.githubusercontent.com/assets/1065307/13530153/f5

[2016-03-04 15:05] GuiltyDolphin commented on #2696
@MrChrisW Thanks for the link!

I'd happily sacrifice *some* efficiency for maintainability and readability any day! I think it is important to keep the Goodies in a manner that the open-source community can relatively easily go in and understand the code - without too much head scratching.

Having the code easy to read and work with makes it a lot easier for beginners to get stuck in making chang

[2016-03-04 17:55] vikashvverma commented on #2700
@talsraviv Did you try fetching latest commits from this repo. This has been fixed in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2627

[2016-03-04 19:31] #2697 closed

[2016-03-04 19:46] mintsoft commented on #2696
Yeah, personally I'd much rather focus on readability than anything else. For example I think https://github.com/duckduckgo/zeroclickinfo-goodies/blob/mintsoft/subnet-cleanup/lib/DDG/Goodie/SubnetCalc.pm is more readable than the old version with the subs being defined within the handle

[2016-03-04 19:52] MrChrisW commented on #2696
@mintsoft Good example. Looking at the IAs listed in the first comment, do you think readability could be improved by creating additional subroutines with well defined names?

@GuiltyDolphin Sounds like a good reason to me :+1: :dolphin:

[2016-03-04 19:58] mintsoft commented on #2696
@MrChrisW Yeah In some but but not others, I think it really depends. Creating subs everywhere for clarity can help, or alternatively it can make it less clear as the reader has to seek throughout the file to find the definitions. There's a great example of subs-gone-mad around, where they've just made it difficult to follow, but I can't find it right now. IIRC it was doing something to do with wo

[2016-03-04 20:07] GuiltyDolphin commented on #2696
@MrChrisW As I've talked with @mintsoft about before - I'm really into functional programming so I have to restrain myself not to do subs everywhere in Perl :wink:

I think well-named subs are a *huge* benefit for the reader - instead of seeing 10 lines of random regexes and maps they might see a call to a sub `normalize_query_form` or whatever, and that should just tell them what that code is doi

[2016-03-04 21:54] talsraviv commented on #2700
Yep - thank you. Ok so it only works in the `key` property - will make sure docs make that clear - correct if i'm wrong

cc @moollaza

[2016-03-05 00:51] mintsoft commented on #2696
Well, maybe not 200; but you know what i mean

[2016-03-05 02:26] gautamkrishnar opened #2703 "ia not found in new ia page"
### "Photoshop Cheatsheet" link not working

![img](https://cloud.githubusercontent.com/assets/8397274/13545118/9056b9de-e2a7-11e5-8d3e-78af1b6ba6b2.png)

[2016-03-05 09:30] GuiltyDolphin commented on #2696
@mintsoft Hehe... Well, anyway, I'd like to see some people take this up over the next few days/weeks!

[2016-03-06 10:40] mintsoft opened #2707 "GibberishGenerator: Tests randomly fail"
I've just had a PR go boom with this randomly failing, if the test are executed like 20 times, then it'll fail 1-2/20:

![randomtests](https://cloud.githubusercontent.com/assets/978048/13553641/c9eaa6ca-e387-11e5-95cf-8c9d073835ee.png)

[2016-03-06 10:51] GuiltyDolphin commented on #2707
@mintsoft Looks like Unicode issue!

It should support a few languages, it looks like some of the characters are being unhappy! Gimme a mo' and I'll check it out.

[2016-03-06 14:40] vikashvverma commented on #2700
@talsraviv I don't think there is any need for `\n` and `\t` support for value.

[2016-03-06 18:22] zekiel commented on #2703
//cc @MariagraziaAlastra

[2016-03-06 20:01] gautamkrishnar commented on #1920
Hey cool :candy:

[2016-03-07 21:07] #2707 closed

[2016-03-08 13:58] moollaza opened #2715 "Frequency: Should be converted to use List Template"
This IA only returns a plain text response. Now that we have templates it should be updated to return a `structured_answer`. The `List` group with the record template would work well here. Each letter and its frequency could be a row in the table.

------
IA Page:  http://duck.co/ia/view/frequency
/cc @unlisted

[2016-03-08 16:59] #1255 closed

[2016-03-08 17:49] GuiltyDolphin commented on #411
@jagtalon The tests for this seem to take quite a while (a few seconds on my machine), are there any easy ways to speed this up? Perhaps we could remove a couple of the tests that overlap somewhat?

Anyone else got this issue?

[2016-03-08 19:36] mintsoft commented on #411
@GuiltyDolphin IIRC the sudoku generator module is extortionately slow

[2016-03-08 20:26] chrismorast opened #2719 "Dice: Layout regression"
1. Dice are too small and almost illegible
2. Excess padding below the answer (poor vertical centering)
![screen shot 2016-03-08 at 12 10 35 pm](https://cloud.githubusercontent.com/assets/7061920/13615131/abd869cc-e528-11e5-8ae9-4534e403a336.png)

@jagtalon @moollaza @loganom @Mailkov

------
IA Page:  http://duck.co/ia/view/dice

[2016-03-08 20:28] moollaza commented on #411
I believe @Mailkov is working on a JS Sudoku lib and plans to use it for this IA. I was just about to close this task...

[2016-03-08 20:29] moollaza commented on #411
I believe in updating the IA @Mailkov realized this as well?

[2016-03-08 20:29] #411 closed

[2016-03-08 20:29] #437 closed

[2016-03-08 21:43] talsraviv commented on #2700
@vikashvverma that's cool with me - just want to make it clear to developers

[2016-03-08 22:08] loganom commented on #2719
It was updated in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1982

I do agree that there may be some excess padding that is apparent at least when there is a single row of dice.

[2016-03-09 12:53] #2125 closed

[2016-03-09 13:38] vikashvverma commented on #2715
@moollaza I can work on this.

[2016-03-09 13:45] vikashvverma opened #2722 "CheatSheets: Missing or Incorrect section"
I was going through Travis CI and noticed some warning about section names. Some section names are not matching. As a result sections are not getting displayed in search result.

![bug](https://cloud.githubusercontent.com/assets/915277/13637040/2c02306c-e62b-11e5-8496-1d2812874280.gif)

[2016-03-09 13:58] GuiltyDolphin commented on #2722
@vikashvverma We had an issue for this before (https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2015). But I agree - it still appears to be an issue.

Would you mind going through them and updating section names/removing unused sections? If you don't have time we can open it up to @duckduckgo/instant-answer-maintainers.

[2016-03-09 14:14] altern8tif commented on #2722
For easier reference, these are the json files that are throwing up warnings:
- [ ] c-string-formatting.json
- [ ] chinese.dynasties.json
- [ ] duckduckgo-syntax.json
- [ ] github-flavoured-markdown.json
- [ ] gta-v.json
- [ ] json-syntax.json
- [ ] perforce.json
- [ ] php.json
- [ ] resharper.json
- [ ] sms.json
- [ ] sql.json

[Travis CI logs](https://travis-ci.org/duckduckgo/zeroclickinfo-goodi

[2016-03-09 14:15] vikashvverma commented on #2722
I will try to update https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2673 with fixes.

[2016-03-09 14:16] GuiltyDolphin commented on #2722
Thanks @altern8tif!

[2016-03-09 14:16] altern8tif commented on #2722
@vikashvverma :+1: for #2673... I'll work on the rest.

[2016-03-09 14:23] GuiltyDolphin commented on #2722
@altern8tif @vikashvverma Some of these (such as `sms` don't need any modification - the tests are just a bit awry (I'll push a fix in a mo').

[2016-03-10 00:07] chrismorast commented on #2719
Ahh, thanks for pointing that out @loganom !

Updated comment accordingly

[2016-03-10 06:30] vikashvverma commented on #2507
@moollaza It seems @jinankjain is not reachable right now. Can you review my PR.

[2016-03-10 09:48] GuiltyDolphin commented on #2700
Seems like this is resolved?

[2016-03-10 09:48] #2700 closed

[2016-03-10 12:19] tagawa opened #2729 "Conversions: Speed/Velocity conversions not implemented"
@phylum

For example, these queries are not triggering the IA:
https://duckduckgo.com/?q=10+meters+per+second+to+feet+per+second
https://duckduckgo.com/?q=10+km%2Fh+to+mph

[Reported on Twitter](https://twitter.com/lamnatos/status/707581307874844672)

------
IA Page:  http://duck.co/ia/view/conversions

[2016-03-10 18:19] mintsoft commented on #2729
Original issue: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/689

[2016-03-10 21:16] GuiltyDolphin commented on #2722
Sorted in #2723 - there's some additional changes in #2724.

[2016-03-11 07:05] marianosimone commented on #402
Seems like the code for this was already converted to a structured answer, but it's somehow disabled.

Anything we can do to help get it released (or discarded)?

[2016-03-11 14:35] GuiltyDolphin opened #2732 "Json Syntax Cheat Sheet: Complete re-phrasing"
Many people searching for `json syntax`, `json syntax cheat sheet` etc... Will be looking for a quick example of syntax - and oftentimes be beginners; they are not likely to be looking for this:

![screenshot from 2016-03-11 14 33 11](https://cloud.githubusercontent.com/assets/8598426/13704936/58ce3f2a-e796-11e5-80da-7b5d48a1fd99.png)

I request that someone *please* re-write this cheat sheet so i

[2016-03-11 18:51] jagtalon commented on #2732
@GuiltyDolphin maybe something similar to https://duckduckgo.com/?q=go+cheat+sheet&ia=cheatsheet&iax=1?

[2016-03-11 18:57] jagtalon commented on #2643
Oh hey I'm the maintainer!

[2016-03-11 19:03] GuiltyDolphin commented on #2643
@jagtalon Apparently yes! Any thoughts?

[2016-03-11 19:07] jagtalon commented on #2643
Uhm, that it should be fixed? Hahaha

I kid. I'll look into it

[2016-03-11 19:13] GuiltyDolphin commented on #2732
@jagtalon Yeah - I'm thinking examples of what the field can take, rather than a *specification*. For example: `String -> "text"`, `Object -> { key1: val1, key2: val2 }` etc.

[2016-03-11 19:49] moollaza commented on #2729
@tagawa @mintsoft I think support for kph and mph alone would cover the majority of distance/time queries?

[2016-03-11 22:10] GuiltyDolphin commented on #1770
Hey @tagawa, we can do this as of #2170! Check it out: https://duckduckgo.com/?q=german+phrases&t=ftas&ia=cheatsheet

[2016-03-11 22:11] #1770 closed

[2016-03-12 02:10] altern8tif commented on #853
Looks like this can be closed.

[2016-03-12 02:13] #853 closed

[2016-03-12 10:55] vikashvverma opened #2736 "People in Space IA"
I think we can add designation such as `Commander` as well to IA. This is readily available at data source http://www.howmanypeopleareinspacerightnow.com/

------
IA Page:  http://duck.co/ia/view/people_in_space
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @elebow

[2016-03-12 14:35] mintsoft commented on #2736
@vikashvverma Do you mean their rank?

[2016-03-12 14:37] mintsoft commented on #2736
@vikashvverma I've moved this to the spice repo

[2016-03-12 14:37] #2736 closed

[2016-03-14 16:50] fzzr- commented on #1917
* `42!`
* `42 factorial`

Is it possible to do so?

[2016-03-14 16:52] GuiltyDolphin commented on #1917
@fzzr- The first, yes. But the second no - not at the moment. @mintsoft I should be able to add `X factorial` as a post-factor modifier if desired - what do you think?

[2016-03-14 17:14] GuiltyDolphin opened #2745 "Greek Cheat Sheet: Remove redundant aliases"
@synbit Recent updates to the Cheat Sheets Controller have rendered aliases such as `X phrases` redundant - we should remove these aliases from the cheat sheet (as of #2470 it will be an error to include such aliases for language cheat sheets).

See the test log for more info: https://travis-ci.org/duckduckgo/zeroclickinfo-goodies/builds/115910940

------
IA Page:  http://duck.co/ia/view/greek_che

[2016-03-14 17:15] fzzr- commented on #2096
`DDG.device.is... : Bool`

1. IMO we need catch standard keywords in request like `win`/`(mac|os[\s-]*x)`/`.nix`;
2. If OS-keyword not found we have to show something like tab or button like a one on my _super_ screenshot. This is for fast switch if OS doesn't suggested in request.

![screen shot 2016-03-14 at 20 10 19](https://cloud.githubusercontent.com/assets/888526/13752736/3ab67ce0-ea21-11e5-

[2016-03-14 17:26] GuiltyDolphin commented on #2096
@fzzr- There are a few issues we have to deal with:

1. Detecting which OS the user is on. Using a sensible procedures to determine which OS to use otherwise (including defaults).

2. Detecting which *cheat sheet* should be displayed for *each* operating system. This would mean introducing a standard way of declaring the OS for a cheat sheet. Not all cheat sheets would have an OS associated with t

[2016-03-14 22:03] navneetzz opened #2747 "Dewey: I want to be maintainer"
------
IA Page:  http://duck.co/ia/view/dewey

[2016-03-14 22:03] navneetzz opened #2748 "Dewey: I want to be maintainer"
------
IA Page:  http://duck.co/ia/view/dewey

[2016-03-14 22:07] #2747 closed

[2016-03-14 22:27] laurenancona opened #2750 "Use a Pull Request template to simplify workflow"
Perhaps this saves @moollaza a few cycles spent reminding contribs to add the IA address to the pull.

[Documentation](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)

Possible consequences include the need to revisit @daxtheduck's PR auto-responder/deploy verbiage, but maybe not.

*PR forthcoming*

[2016-03-14 22:29] GuiltyDolphin commented on #2750
@laurenancona This is on his tasks! He'll get around to it at *some point* I'm sure :wink:

[2016-03-14 22:46] laurenancona commented on #2750
<img src="http://i.giphy.com/xHydpzVPGgLIs.gif">

[2016-03-14 22:56] moollaza opened #2751 "Zodiac: Images aren't showing?"
It looks like the images for this IA have broken in production. Possibly an internal issue, but I'm not sure yet. Let's investigate and determine the cause!

------
IA Page:  http://duck.co/ia/view/zodiac
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @n0mady

[2016-03-14 23:22] GuiltyDolphin commented on #2751
@moollaza It's definitely trying to display an image; sometimes the broken image icon appears briefly.

[2016-03-15 02:41] vikashvverma opened #2752 "WhereAmI: wanna be Maintainer"
IA Page:  http://duck.co/ia/view/where_am_i

[2016-03-15 02:43] vikashvverma opened #2753 "Spell: wanna be Maintainer"
IA Page:  http://duck.co/ia/view/spell

[2016-03-15 10:28] zachthompson commented on #2752
Thank you.

[2016-03-15 10:28] #2752 closed

[2016-03-15 10:30] zachthompson commented on #2753
Thank you.

[2016-03-15 10:30] #2753 closed

[2016-03-15 10:31] zachthompson commented on #2748
Thank you.

[2016-03-15 10:31] #2748 closed

[2016-03-15 12:09] fzzr- commented on #1917
I think that it is necessary to handle not only specific mathematical queries, but also human lingual. Then:

* `X!` is cool
* `X factorial` is optional but cool too

Such as `sin X` or `the sine of X` or more complicated `the sine of 45 minus the factorial of 42` - that will be really great but it hard in impl.

[2016-03-15 12:24] fzzr- commented on #1917
Remember [AppleScript](https://developer.apple.com/library/mac/documentation/AppleScript/Conceptual/AppleScriptX/Concepts/work_with_as.html#//apple_ref/doc/uid/TP40001568-BABEBGCF)!
There we can say many possible variants for semantically one expression:

[code]

[2016-03-15 12:42] fzzr- opened #2754 "Sublime Text Cheat Sheet: Add "sublimetext" and "sublimetext2" aliases"
Not listen query `sublimetext Cheat Sheet` (in one word, yes).

It needed (as minimum) for consistency with other IAs and autocompletes. E.g. see [`sublimetext package html`](https://duckduckgo.com/?q=sublimetext+package+html&ia=software), or type "sublimetext" and see list of completions.

------
IA Page:  http://duck.co/ia/view/sublime_text_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/m

[2016-03-15 12:50] fzzr- commented on #2096
That's great.

But if I understand all correctly there's one "but":

We need to correlate _keywords (mac / osx / win / etc) in query_ and _user's OS_ and prioritise its. I mean what we have to use _user's OS_ only if we don't have mentioned OS in query.

For example I'm on OS X asking DDG with query:

* `Sublime Cheat Sheet` ⇒ I need sheet for my OS;
* `Sublime Cheat Sheet Win` ⇒ I need sheet for

[2016-03-15 12:50] codenirvana commented on #2754
@fzzr- Only two aliases are given to it i.e, ```sublime``` and ```sublime text 2```
If you like you can make PR to add ```sublimetext``` into aliases.

[2016-03-15 12:54] fzzr- commented on #2754
[Hmmmm...](https://duckduckgo.com/?q=sublime+text+Cheat+Sheet&ia=cheatsheet) (without "2").

Mb. yes. Thx.

[2016-03-15 12:57] codenirvana commented on #2754
That's because of the file name ```sublime-text.json```

[2016-03-15 13:34] GuiltyDolphin commented on #1917
@fzzr- I use a full parser for the calculator. We simply add terms to the grammar.

There are certain forms, such as `to the power...`, which are supported - but more are to come in the future. Again, this will likely be implemented on the interactive branch though.

[2016-03-15 13:37] GuiltyDolphin commented on #2750
@laurenancona Bit obscure :wink:

[2016-03-15 13:43] GuiltyDolphin commented on #2096
@fzzr- As mentioned previously, user preferences (and query) should be high in determining which OS to use. Obviously searching for `X cheat sheet for Mac` should display the Mac cheat sheet. I was referring more to the case where we have the ability to display the correct cheat sheet, but display the wrong one; this is a case we want to avoid.

[2016-03-15 15:22] moollaza commented on #2751
@GuiltyDolphin looks like your PR accidentally broke the images: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2013

Please add back the Goodie Bundle version number to the image path and then it will work as expected :+1:

[2016-03-15 18:02] stevenmg opened #2756 "Twelve O'clock: maintainer"
Seriously one of the best IA's ever. I’d like to maintain this.

------
IA Page:  http://duck.co/ia/view/twelve_oclock

[2016-03-15 18:11] moollaza commented on #2756
@stevenmg thanks and congrats!

You are not the maintainer :+1:

[2016-03-15 18:11] #2756 closed

[2016-03-15 21:52] #2751 closed

[2016-03-16 16:47] okofob opened #2758 "Activeworlds Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/activeworlds_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @AnthonyNeace

[2016-03-16 19:48] AnthonyNeace commented on #2758
What is the issue?

[2016-03-16 21:36] moollaza commented on #2758
Closing for now unless there is an actual issue :+1:

[2016-03-16 21:36] #2758 closed

[2016-03-17 08:06] #2703 closed

[2016-03-17 10:48] okofob opened #2762 "μTorrent Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/utorrent_cheat_sheet

[2016-03-17 11:27] #2762 closed

[2016-03-17 16:18] unhammer opened #2763 "TimezoneConverter: Needs to check if Daylight Savings is in effect and adjust answer"
I typed 11:00 EST and got tricked into getting an hour late because apparantly that time zone is called "EDT" when it's winter. Sites like
http://www.worldtimebuddy.com/est-to-cet-converter auto-correct for DST where&when applicable; it'd be cool if ddg could do the same (with a notice, of course, about the auto-correction happening)

---

IA Page:  http://duck.co/ia/view/timezone_converter
[Maint

[2016-03-17 20:13] GuiltyDolphin commented on #2763
@unhammer Hmm... What about if it mentioned that EST was not in effect at the moment? And (possibly) *suggested* EDT. This way people can still *access* the conversion for any of the time zones, but would be informed when that time zone is in effect.

@GlitchMr if we action this, I would recommend we enforce this for ***all*** time zones - not just EST/EDT; there are various other time zones with

[2016-03-17 21:14] unhammer commented on #2763
@GuiltyDolphin sure, or it could show both at once (zero-click!)

Also, I did mean that it should work for all time zones … :)

[2016-03-18 13:45] mintsoft opened #2764 "Parcelforce IA triggers for Microsoft KB"
I'm relatively sure that this isn't a valid tracking number:
https://duckduckgo.com/?q=KB2926765&t=ffsb&ia=answer

[2016-03-18 14:17] GuiltyDolphin opened #2766 "NumberStyler: Support words"
@mintsoft @mwmiller We should standardize parsing of number descriptions.

Currently there are two packages in wide use for Goodies to deal with this: [Lingua::EN::Numericalize](https://metacpan.org/pod/Lingua::EN::Numericalize) and [Lingua::EN::Words2Nums](https://metacpan.org/pod/Lingua::EN::Words2Nums). Unfortunately, both have their own issues.

Instead of relying on these modules _individuall

[2016-03-18 18:16] moollaza opened #2767 "Convert Simple Structured Answer Goodies to Full Templates"
### Background

Goodies have full support for templates, and we'd like to make sure all Goodies are using our full templates. We provided the "simple structured_answer" as a way to get them using basic templates before they had full template support and now the time has come to upgrade them all.

### What To Do

1. Change the returned `structured_answer` object (in one of the .pm files below) to m

[2016-03-18 18:27] GuiltyDolphin commented on #2767
@moollaza Calculator is done in #1927 :wink: I'll tick it off.

[2016-03-18 18:36] GuiltyDolphin commented on #2767
@duckduckgo/community-leaders I'd just like to add something to this (optional). During the conversion, make a function for creating the template in the tests. It is so difficult to wade through tests that define the structured answer ***every_single_time***!

[2016-03-18 18:43] GuiltyDolphin commented on #2767
@moollaza I'll do Anagrams, seeing as it's first.

[2016-03-18 19:01] mintsoft commented on #2766
@GuiltyDolphin Matt (mwmiller) has left DDG now, so I'm basically 'the guy' for the numbers role now.

What we did with the DatesRole was we started out by wrapping a CPAN module, as the use cases grew we moved the logic into the Role as it became more widely used. This worked pretty well and I don't remember there being any cases where the DatesRole broke anything due to the iterative approach us

[2016-03-18 19:22] GuiltyDolphin commented on #2766
@mintsoft From CPAN (and I've encountered many of these in practice):

**Lingua::EN::Numericalize**:
* currently chops off plurals and other suffixes from words that are not numbers. This needs to be fixed since no words here produces no word here and hell hath no fury to hell ha no fury.
* would be nice to handle fractions
* spelled out number e.g. nine one one = 911 (not 11: 9+1+1)
* runnin' =>

[2016-03-18 20:28] zachthompson opened #2771 "Braille: bad triggers"
This was taken offline I believe because it triggers on stuff like "braille alphabet", "how long to learn braille", etc.

Could we modify the triggers to allow something like "braille: ", "to braille", "in braille", etc., to get it back online?

------
IA Page:  http://duck.co/ia/view/braille
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-03-18 20:36] moollaza commented on #2767
@GuiltyDolphin Thanks!

[2016-03-19 10:14] GuiltyDolphin commented on #2745
Fixed by @synbit over on #2774.

[2016-03-19 10:14] #2745 closed

[2016-03-19 10:33] GuiltyDolphin commented on #2767
@moollaza I'll do CalcRoots too.

[2016-03-19 12:57] fzzr- opened #2778 "Calculator: obscure behaviour - result exists but not."
QUERY: [?q=(2 - (8 \* 42) / 2) --166](https://duckduckgo.com/?q=%282+-+%288+*+42%29+%2F+2%29+--166&t=osx)

I see completion (screenshot) but Calculator not return result. I really don't know what it was.

![screen shot 2016-03-19 at 15 53 12](https://cloud.githubusercontent.com/assets/888526/13898706/6c592a60-edf3-11e5-9cb3-8d658d1def18.png)

![screen shot 2016-03-19 at 15 48 01](https://cloud.git

[2016-03-19 13:03] GuiltyDolphin commented on #2778
@fzzr- We're still on the old calculator unfortunately :sad:

It works fine on the new one:

![screenshot from 2016-03-19 13 00 38](https://cloud.githubusercontent.com/assets/8598426/13898724/d4eae1c0-edd2-11e5-94f6-78ac9321fe20.png)

The answer is 0 in case you were wondering :wink:

[2016-03-19 13:08] fzzr- commented on #2778
Also for __none-zero__ result:

No completion
![screen shot 2016-03-19 at 16 06 17](https://cloud.githubusercontent.com/assets/888526/13898740/10958cee-edf5-11e5-91bc-07a55e98260e.png)

But after `=` completion is OK
![screen shot 2016-03-19 at 16 06 26](https://cloud.githubusercontent.com/assets/888526/13898742/259d158a-edf5-11e5-98e8-23d8a7b8caaa.png)

Anyway now result of IA :(

[2016-03-19 13:09] GuiltyDolphin commented on #2778
@fzzr- I don't think that completion is anything to do with the calculator :wink: I believe that means people just *searched* for that `...=0`.

[2016-03-19 13:10] fzzr- commented on #2778
O_o Okay.

I tried on beta.ddg.

[2016-03-19 13:10] GuiltyDolphin commented on #2778
@fzzr- Wait... What? I didn't think we had calculator completion... Weird... I tried it with some very obscure queries and it still works.

[2016-03-19 13:18] fzzr- commented on #2778
It's weird. I don't think many people have entered the same expressions I do.

[2016-03-19 13:19] GuiltyDolphin commented on #2778
@fzzr- Basically there's two things going on here.

1. The query is giving an auto-answer before you hit return.
2. The current calculator does not give a result for the same query. This is fixed in #1927.

The first has nothing to do with the calculator itself AFAIK; I think there must be some internal stuff going on.

[2016-03-19 13:32] fzzr- commented on #2778
Okay :)

[2016-03-19 13:42] zachthompson opened #2780 "Cheat Sheets (Controller): use production_state"
We be good to use our new `production_state` field to determine whether to load an individual cheat sheet.  This would allow us to turn them on/off without needing to remove the json.

---

IA Page:  http://duck.co/ia/view/cheat_sheets
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @zachthompson

[2016-03-19 13:47] GuiltyDolphin commented on #2780
@zachthompson Hmm... As with #2776, I could use the same package to grab the production state and switch them on/off?

What were you thinking in terms of loading? When should/shouldn't we load a cheat sheet?

[2016-03-19 13:49] zachthompson commented on #2780
The idea would be to load them if they are "online" only.  Have to consider how it would work with duckpan or development in general.

[2016-03-19 13:55] GuiltyDolphin commented on #2780
@zachthompson Seems to work fine. I would just drop them in `generate_triggers` or `get_aliases`. There is a *slight* slow-down waiting for it to fetch the IDs in testing, but only with the `CheatSheets.t` tests, not the JSON tests.

[2016-03-19 14:17] GuiltyDolphin opened #2781 "Cheat Sheets (Controller): Use topics to dynamically assign categories"
As discussed over on #2776, we could use the topics defined in the metadata on duck.co to dynamically assign categories to cheat sheets (and thus assign triggers).

I've got a 'prototype' over on https://github.com/duckduckgo/zeroclickinfo-goodies/tree/gd/cheatsheets-topic-categories

---

IA Page:  http://duck.co/ia/view/cheat_sheets
[Maintainer](http://docs.duckduckhack.com/maintaining/guideline

[2016-03-19 14:26] zachthompson commented on #2781
Cool.  @moollaza @russellholt @MariagraziaAlastra any thoughts?

[2016-03-19 14:32] GuiltyDolphin commented on #2781
@zachthompson Also, for testing maybe we could 'cache' the cheat sheets? This would avoid having the slightly longer wait time when loading the CheatSheets for `duckpan query` or `duckpan test`.

[2016-03-20 15:14] moollaza opened #2783 "Binary to Unicode Conversion: Triggers and shows empty result for 48 0's"
https://duckduckgo.com/?q=000000000000000000000000000000000000000000000000&ia=answer

We probably shouldn't trigger on this query, and we definitely shouldn't be showing an empty result!

------
IA Page:  http://duck.co/ia/view/bin2unicode
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @zachthompson

[2016-03-20 17:00] zachthompson commented on #2783
lol :elephant: It's not empty you just need to look at the source.

[2016-03-20 20:13] mintsoft commented on #2766
Seems like `Words2Num` might actually work unlike `Numericalize` I think the first step would probably be to either:
* Remove `Numericalize` and replace it with `Words2Num` so we only have one implementation pattern to address
* Wrap `Words2Num` in the role and convert both to use that, providing the interfaces for the two implementations and harmonise them after.

I think we should probably bomb

[2016-03-20 20:40] GuiltyDolphin commented on #2766
@mintsoft `Numericalize` is just a wrapper around `Words2Nums` anyway, I don't think replacing it will be too much of an issue.

[2016-03-21 08:01] eoobot opened #2786 "Calculator: 1568 + 1567"
3135
------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-03-21 08:01] #2786 closed

[2016-03-21 15:16] moollaza opened #2787 "TimezoneConverter: Shows MSK as UTC+4, should be UTC+3"
Reported through DDG Feedback. I used a VPN to confirm the bug though:
![10_am_pdt_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/13923268/42faa55e-ef56-11e5-8da9-649d95d6c259.png)

---

IA Page:  http://duck.co/ia/view/timezone_converter
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GlitchMr

[2016-03-21 21:16] #2783 closed

[2016-03-22 11:57] RCMainak opened #2790 "IndependenceDay: Missing a few countries"
Hello, I noticed a few countries are missing in the independence_day.json file as well as no IA's are provided for those countries while searching.

I would like to contribute by adding those infos but I need guidance as it'll be my first contribution in IA. Will updating the independence_day.json file with the info be enough?? or do I need to add something else as well??

------
IA Page:  http://

[2016-03-22 15:13] t2013anurag commented on #2790
Hey @RCMainak , I have updated the list. You can take a look at it here #2791 .
Also you just need to update the independence_day.json and country_aliases.json.

[2016-03-22 16:15] GuiltyDolphin commented on #2767
Oh, boy, this could be interesting :wink:

For all yea in @duckduckgo/duckduckhack-contributors, we've got a lot of these to get through. Anyone interested in taking one up?

[2016-03-22 16:18] GuiltyDolphin commented on #2781
@zachthompson I think this might play quite well with #2777, where we could better customize what phrasing is ignored when triggering (e.g., we might ignore 'software' for the software group, thus allowing triggers like 'X software cheat sheet', 'cheat sheet X software' etc...).

[2016-03-22 16:22] faustow commented on #2767
Me! Where/how can I get started?

[2016-03-22 16:26] w2pc commented on #2767
I have lots of free time at the office. Can I can take a few if I can get a handle on the first one.

[2016-03-22 16:29] GuiltyDolphin commented on #2767
@faustow @w2pc Heey!

Make sure you've got a passing familiarity with [the docs](http://docs.duckduckhack.com/) first, make sure you check out the [section on templates](http://docs.duckduckhack.com/frontend-reference/templates-overview.html) (that is what we are converting *to*).

If you look at #2769 and #2775, those show the general conversion we want to make (conversion to template, and update

[2016-03-22 20:42] moollaza commented on #2767
@w2pc that'd be great! Thanks for helping out. Ping us on Slack if you need help :+1:

[2016-03-23 02:43] gautamkrishnar commented on #2000
it is fixed

[2016-03-23 02:43] #2000 closed

[2016-03-23 14:17] moollaza commented on #2767
@faustow I've updated the description with some detailed instructions, let us know if that helps!

[2016-03-23 14:21] faustow commented on #2767
It does! Thanks a lot @moollaza

[2016-03-24 00:41] conrad-heimbold opened #2797 "Conversions: change comma/dot meaning (thousands separator / decimal mark) according to chosen language!"
In countries where people talk English,
- the **comma** is usually used to indicate parts of **thousands** (e.g. "1,500" means "one thousand five hundred");
- whereas the **dot** is used as **decimal mark** (e.g. "1.500" means "one and a half").

This is **exactly the other way round** in non-English-countries, e.g. all countries in Europe (except of course the UK), including Germany. Here,
- the

[2016-03-24 14:52] pjhampton commented on #2658
This is a really super great tool! I think gazetteer approaches like this aren't that affective though. I know machine learning is probably out of the question right now, but what about enhancing this with fuzzy string matching? Implementing something like [Jaro Distance](https://en.wikipedia.org/wiki/Jaro%E2%80%93Winkler_distance) and triggering it on this list of phrases with a confidence interv

[2016-03-24 15:02] GuiltyDolphin commented on #2658
@pjhampton I agree that this probably isn't the *best* method for *detecting queries*, but I think it will be satisfactory for our uses. There is an upside to this approach which I am rather interested in - if we build a large file of phrases then there would be a easy-to-access, freely available list that *other* people can use in their own projects. Having done some research into this and found

[2016-03-24 15:05] pjhampton commented on #2658
@GuiltyDolphin totally understand. I suck at Perl hence the discussion I started on slack yesterday. I am finding myself using it more and more daily and is one of the things that attracted me to DuckDuckHack. We'll move this onto slack.

[2016-03-24 20:05] stevenmg opened #2799 "PrimeFactors: Improve triggering"
Should trigger on "is 83 prime"

---

IA Page:  http://duck.co/ia/view/prime_factors
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @austinheimark

[2016-03-25 13:46] moollaza opened #2801 "Ascii to Binary: Add option to separate output into sets of 4 bits"
Suggested through DDG Feedback

This would probably require JS unless we permanently change the output format from the Perl

---

IA Page:  http://duck.co/ia/view/binary
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @hunterlang

[2016-03-25 13:49] mintsoft commented on #2797
@corny2 thanks for the feedback, this should be relatively trivial to implement as we have a numbers system that currently 'guesses' the relationship between `,` and `.` depending on the shape of the numbers.

@moollaza do goodies have access to the user's language preference? I guess `$loc` could also be used.

[2016-03-25 15:28] zachthompson commented on #2732
@vCillusion doesn't seem to be around....timed out.

[2016-03-26 10:28] t2013anurag commented on #2790
@moollaza  : Fixed and merged #2791 and #2791.
Maintainer input required to merged the final changes to master.

@RCMainak = thanks a lot for your contribution.

[2016-03-26 18:51] stevenmg opened #2803 "Swift Cheat Sheet: Shows deprecated functionality"
Some functions shown are deprecated in the latest release of Xcode, and will be removed completely in Swift 3. For example ++ and -- should be replaced with += and -=.

------
IA Page:  http://duck.co/ia/view/swift_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @gautamkrishnar

[2016-03-26 21:45] gautamkrishnar commented on #2803
Okay i will update the cheatsheet now

[2016-03-26 21:47] gautamkrishnar commented on #2803
Is it the only Change?  @stevenmg

[2016-03-27 13:51] rasikapohankar commented on #2767
I would like to work on BirthStone.pm .

[2016-03-28 19:52] AlexanderShapiro opened #2809 "Swift Cheat Sheet: Very Minor Typo"
Under declaring new dictionaries the code reads: `var days = ["mon": "monday", "tue": "tuseday"]` It should be `"tuesday"`

------
IA Page:  http://duck.co/ia/view/swift_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @gautamkrishnar

[2016-03-30 11:51] gregmuellegger commented on #2002
The problem with V1 uuid is that they might be predictable as time moves linearly forward, so it's expected to yield similiar IDs.

I think as well that UUID V4 would be a better fit here.

[2016-03-30 14:21] mintsoft commented on #2002
I think my preference would be to generate V4's by default; but the the user specify "10 random type 1 uuids" or

[2016-03-30 21:03] Donearm opened #2817 "Classic Cocktails: wanna be Mantainer"
IA page: https://duck.co/ia/view/classic_cocktails_cheat_sheet

[2016-03-31 01:56] mezzodrinker opened #2818 "Counter goodie"
Sometimes there are situations in which you need to keep track of something, be it how often you sneezed or how many coffees you had since you started working on that one project today. If, however, you try to find a counter online, http://ddg.gg/?q=counter will show you that you first need to skim through lots and lots of search engine results to find a website which provides you a simple counter

[2016-03-31 02:00] tagawa commented on #2818
Thanks for the suggestion @mezzodrinker. Are you thinking it should be persistent, i.e. can be used long-term to record totals, or just simply to count clicks and then reset on page load?

[2016-03-31 02:02] mezzodrinker commented on #2818
@tagawa I think the counter should reset on page load. So "coffees since you started working on that one project" was a bit misleading, sorry.

[2016-03-31 02:04] tagawa commented on #2818
I see. So another use case could be people arriving at an event or similar. Sounds relatively straightforward to make.

[2016-03-31 02:05] mezzodrinker commented on #2818
Something like that, yes. It's a niche which should be easy to fill.

[2016-03-31 11:14] lamanh commented on #2767
Hi,
I'm working on **EmailValidator.pm**, and found a limitation on **Goodie.pm** (/home/codio/perl5/perls/perl-5.18.2/lib/site_perl/5.18.2/DDG/Test/Goodie.pm line: 65).

Current test can only handle Regex/-ANY- pattern for **one dimension** structured_answer. But the new template is two dimension. So tests use Regex/-ANY- will always fail.

Should we update **Goodie.pm** to handle multi-dimension

[2016-03-31 15:59] GuiltyDolphin commented on #2767
@lamanh There is a PR for this already duckduckgo/duckduckgo#172. Hopefully that will enable regex matching arbitrarily deep.

[2016-03-31 17:07] loganom commented on #1231
@zekiel will look into this at the weekend.

[2016-03-31 19:24] GuiltyDolphin commented on #2818
@mezzodrinker Do you think it would be worth supporting multiple named counters? E.g., `Guests: X`, `VIPs: Y` kind of thing. I think we could probably get some of the CSS out of Timer if so.

[2016-03-31 19:25] mezzodrinker commented on #2818
@GuiltyDolphin Hmm. Naming timers actually sounds like a nice idea, I didn't think about that. If it's not overly complicated to do, sure. That'd be nice.

[2016-03-31 19:28] GuiltyDolphin commented on #2797
@mintsoft If #2810 goes well, we should be able to implement this relatively trivially. Fingers crossed!

[2016-04-01 02:21] moollaza commented on #2002
Sounds like we have consensus :+1:

Anyone want to update this IA?

[2016-04-01 03:15] moollaza commented on #2625
@GuiltyDolphin will this be fixed in your DatesRole PR?

[2016-04-01 04:15] #445 closed

[2016-04-01 04:44] moollaza commented on #2750
Thanks @laurenancona for the suggestion! I do plan on making a PR and Issue template, just haven't gotten around to it.

If you'd like to start a PR I'd be happy to comment.

For issues I was going to have them describe what the issue is, how we can reproduce it, and also make sure they provide an example URL. It wouldn't hurt to get their browser/OS when necessary.

The footer should have a place

[2016-04-01 10:05] GuiltyDolphin commented on #2696
@moollaza Yeah! Especially for new IAs - getting something working with external packages is great - then if we find we need *more* features we can extend it later on.

[2016-04-01 10:14] GuiltyDolphin commented on #2750
@moollaza The bit about 'if you're new to DuckDuckHack...' is great, but I found it started to get in the way a bit after a while on the old templates we were using - so the 'entrance' survey sounds like it'd be a nice alternative!

[2016-04-01 10:16] GuiltyDolphin commented on #2625
@moollaza Can do!

@Fawers I've been working on the Dates Role a fair bit lately, so I can include the changes with that.

I'll go through and add any missing TZs as well.

[2016-04-01 12:21] zekiel commented on #2817
@Donearm updated! thanks!

[2016-04-01 12:21] #2817 closed

[2016-04-01 12:23] zekiel commented on #361
seems irrelephant right now. IA isn't triggering and the site has been majorly updated since this issue was filed. Closing but reopen if it persists after the IA comes back

[2016-04-01 12:23] #361 closed

[2016-04-01 13:48] momom4urice opened #2820 "Constants: query for "Stefan-Boltzmann" returns the wrong value"
Query for "Stefan-Boltzmann" returns the Boltzmann constant value (1.38e-23 SI). The Stefan-Boltzmann constant has a value of 5.67e-8 SI (https://en.wikipedia.org/wiki/Stefan%E2%80%93Boltzmann_constant).

Edit: The query I used is: "stefan boltzmann constant" and I got the Boltzmann constant: https://en.wikipedia.org/wiki/Boltzmann_constant

------
IA Page:  http://duck.co/ia/view/constants
[Maint

[2016-04-01 18:57] Fawers commented on #2625
Sounds good! I appreciate it.

[2016-04-01 18:59] #2625 closed

[2016-04-01 19:44] #2729 closed

[2016-04-04 15:04] #1099 closed

[2016-04-04 18:14] GuiltyDolphin opened #2827 "Interactive Java Cheat Sheet: Improve source link"
We should probably stick to English where possible - visiting the reference page gave me quite a headache!

Admittedly I could not find any other sources for this language - perhaps a local dialect?

---

IA Page:  http://duck.co/ia/view/interactive_java_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @OscarMZ

[2016-04-04 18:35] russellholt opened #2828 "Conversions: mixed units like 5 foot 6"
should be able to used mixed units

https://www.google.com/#q=5+foot+6+to+m

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-04-05 06:06] tagawa opened #2829 "ColorCodes: Add Pantone codes"
Suggested by a [commenter on Hacker News](https://news.ycombinator.com/item?id=11412131):

------
IA Page:  http://duck.co/ia/view/color_codes
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Mailkov

[2016-04-05 09:25] GuiltyDolphin opened #2831 "Multisim Cheat Sheet: Remove 'help' trigger"
Per #2830, we will be able to trigger on 'multisim help' without needing the alias - we should be able to remove this alias to enable the tests to pass.

---
IA Page: https://duck.co/ia/view/multisim_cheat_sheet
Maintainer: @mRse7enNIT

[2016-04-05 13:26] loganom commented on #1231
"this weekend".. I totally spaced on this issue with everything else going on.

To be clear, the suggestion here is that the user would like to be able to type "6 times 3d6" and the expected result would be 6 multiplied by the sum of the 3 dice rolls?

[2016-04-05 16:03] GuiltyDolphin commented on #1231
@loganom If it is for a skills-point roll I imagine it would be 6 sums of 3d6 (or clearly displaying 6 separate rolls of 3 dice).

[2016-04-05 17:10] johnjkim commented on #2732
I would like to work on this, if that's fine.

[2016-04-05 17:40] zachthompson commented on #2732
@johnjkim Please do, we look forward to your PR.

[2016-04-05 18:01] moollaza opened #2834 "New Instant Answer Suggestion: Hourly Wage to Salary Instant Answer"
I was curious to know what an hourly wage of X/hr equates to as a salary, it turns out there's lots of online calculators that do this, but it could be very easily implemented as an Instant Answer.

Some websites are very detailed providing tables of hourly/weekly/bi-weekly/monthly income for a given salary. Some go further and try and evaluate taxes etc.

To start a very basic calculation of a sa

[2016-04-05 20:01] philipmiesbauer commented on #2834
Well, taxes and stuff is very much location based, but simple conversion
from hourly to yearly and reversed should be simple enough.
I am wondering how I would recognize the instant answer or how I would ask
it.

Any ideas, suggestions?

On Tue, Apr 5, 2016, 19:02 Zaahir Moolla <notifications@github.com> wrote:

[2016-04-05 20:01] philipmiesbauer commented on #2834
I really like the idea though

On Tue, Apr 5, 2016, 20:10 Philip Miesbauer <philip.miesbauer@gmail.com>
wrote:

[2016-04-05 20:49] mintsoft commented on #2828
@russellholt thanks for this; it's already on my todo list: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/1118

[2016-04-05 21:21] gvanwaelvelde commented on #2834
Maybe if you search for '10 dollars per hour' you could show all conversions to weekly, monthly and yearly salary.
Other sample queries: annual salary 20000, 200 dollars a week, ...
Problem is that some these queries may have others meanings. For example '10 dollars per hour' might also be a rental price for some equipment or something.

[2016-04-05 22:21] mintsoft commented on #2829
If we can get a good source of the RGB() for the pantone's it should be trivial

[2016-04-05 22:56] mintsoft opened #2835 "Cheatsheets: Experimental Perl!"
[code]
For
[code]
Which is the perl from Debian Jessie; not sure if this is still the case on the 12.04/14.04 perls

[2016-04-05 23:14] mattr555 commented on #2834
If you need inspiration in the form of an already-live IA, one analog could be the [uptime calculator](https://duckduckgo.com/?q=99%25+uptime&ia=answer).

[2016-04-06 11:45] GuiltyDolphin commented on #2835
@mintsoft Each on reference is experimental? We've used it in a few places, @zachthompson any thoughts?

[2016-04-06 14:14] zachthompson commented on #2835
Yeah, that's annoying and we should just change it to use the standard de-reffed hash.

[2016-04-06 21:08] #2835 closed

[2016-04-06 21:08] mintsoft commented on #2835
Closed in: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2839

[2016-04-06 23:40] Spagy opened #2840 "HelpLine: Formatting"
Could the formatting be improved so that different numbers are on different lines?
At the moment they all seem to run into one another.

It would also be nice to have a description of what each number is for if that's possible.

![screenshot_2016-04-07_00-38-39](https://cloud.githubusercontent.com/assets/5479401/14336141/1b4006ac-fc59-11e5-92c4-626f7580815c.png)

------
IA Page:  http://duck.co/ia

[2016-04-07 01:32] moollaza commented on #2840
@Spagy thanks for reporting. This IA should likely be ported to use the full templates to take advantage of the List Template.

Then it could produce a table where each row would contain a phone number.

[2016-04-07 01:32] moollaza commented on #2840
Details about how to convert a Goodie to full templates can be found in #1171

[2016-04-07 05:21] Mylainos commented on #2767
I would like to work on Aspect Ratio.

[2016-04-07 18:08] stevenmg opened #2844 "DaysBetween: Add trigger"
Could add "days until April 9" as a trigger. Currently the closest thing is "days from today to april 9"

---

IA Page:  http://duck.co/ia/view/days_between
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @JetFault

[2016-04-07 18:48] zekiel commented on #190
@Mailkov is this something you'd like to handle?

[2016-04-07 18:55] zekiel commented on #216
There are several tracking number issues for USPS, UPS, FedEx, etc. To sumstead's point in #370, I'm not sure there's a great resolution here, besides someone taking over all the package trackers to diff their bugs. https://github.com/duckduckgo/zeroclickinfo-goodies/issues/370#issuecomment-164145845

Anyone is welcome to reopen and attack this issue individually but I'm going to attempt closing t

[2016-04-07 18:55] #216 closed

[2016-04-07 19:04] zekiel opened #2845 "Package Tracking IAs: Solve false-positive triggering between all the carriers"
There are several package tracking instant answers which trigger incorrectly. I recommend that 1 goodie or spice be made that shows all potential delivery services matching the regular expression. e.g. giving the user the option to go to USPS or UPS when the tracking number entered could be both.

*_Examples of bad triggering can be found in these issues: *_
#2008
#1621
#370

*_The current package

[2016-04-07 19:05] zekiel commented on #370
closing per https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2845

[2016-04-07 19:05] #370 closed

[2016-04-07 19:05] zekiel commented on #1621
closeing per https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2845

[2016-04-07 19:05] #1621 closed

[2016-04-07 19:08] zekiel commented on #2845
and there's been a PR in progress for this very idea! https://github.com/duckduckgo/zeroclickinfo-spice/pull/2430

[2016-04-07 19:09] zekiel commented on #2008
closing per https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2845 and https://github.com/duckduckgo/zeroclickinfo-spice/pull/2430

[2016-04-07 19:09] #2008 closed

[2016-04-07 19:10] zekiel commented on #216
Here's the issue https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2845
Here's the PR to fix it: https://github.com/duckduckgo/zeroclickinfo-spice/pull/2430

[2016-04-07 19:12] zekiel commented on #2008
@joecabrera The PR by Mailkov (above) seems to be covering your issue. It's not live yet but it IS on beta: https://beta.duckduckgo.com/?q=shipping+status+9361289878910710378432&ia=answer

[2016-04-07 19:28] zekiel commented on #402
@rafacas  do you need any particular help?

[2016-04-07 19:49] zekiel commented on #1416
fixed!  https://duck.co/ia/view/regex_cheat_sheet

[2016-04-07 19:49] #1416 closed

[2016-04-07 19:56] zekiel commented on #382
I'm not sure if this is still a suggestion or (in the many PRs since) irrelephant now? :)

[2016-04-07 21:12] Mylainos commented on #2767
I would like to work on Base please.

[2016-04-08 08:22] tagawa opened #2847 "DateMath: Show business days as well"
For example, `07 Feb 2016 + 45 days` shows `23 Mar 2016` but could also show something like `08 Apr 2016 (business days only)`. It's complicated by needing to reflect the business days for the user's locale however.

As [suggested on Twitter](https://twitter.com/nonesuchzach/status/718222923518119936).

---

IA Page:  http://duck.co/ia/view/date_math
[Maintainer](http://docs.duckduckhack.com/maint

[2016-04-08 09:51] GuiltyDolphin commented on #2847
@tagawa Hmm... An interesting suggestion, I'll have a think.

It wouldn't be terribly easy to do (robustly) with the current setup - and as you say, the meaning of a 'workday' can vary from person-to-person, place-to-place.

Suggestion noted, though.

[2016-04-08 10:38] GuiltyDolphin commented on #382
@zekiel Irrelephant? Oh boy :grinning: It looks like we're still using the same package, so I think it is still relephant.

[2016-04-08 13:51] zachthompson commented on #2847
Could be done well enough either allowing a user to specify their own workweek, e.g. sat-thu, or storing the 30 or so non-Mon-Fri workweeks listed [here](https://en.wikipedia.org/wiki/Workweek_and_weekend).

[2016-04-08 14:06] tagawa commented on #2847
That's true. Or even as a stop-gap solution, start by showing Mon-Fri with the label "weekdays".

[2016-04-08 16:29] GuiltyDolphin commented on #2847
@zachthompson @tagawa There are several Goodies that deal with weekdays/workdays/days between two dates - I'm thinking we could kill several birds with one stone here and add some functionality for date-distances into the Role (I've got an active PR #2810). We could then *consistently* let a user specify workday types.

Would be nice to have this sort of thing in the user preferences - as with let

[2016-04-08 16:40] zachthompson commented on #2847
@GuiltyDolphin Pretty much.  We could default to mon-fri and somehow suggest that you can modify this as well.

[2016-04-08 16:48] GuiltyDolphin commented on #2847
@zachthompson Yeah, those sorts of suggestions are difficult :wink:

It would be awesome if you could specify it here (in the 'advanced' options):

![screenshot from 2016-04-08 17 47 02](https://cloud.githubusercontent.com/assets/8598426/14391093/f2832294-fdb1-11e5-996e-256b6b7d7f67.png)

And allow IAs to access the preferences.

[2016-04-08 18:21] zachthompson commented on #2847
Yeah, that's one idea.  Or maybe calculate the major ones (there aren't that many) and allow them to select one if not specified.

[2016-04-08 18:24] GuiltyDolphin commented on #2847
@zachthompson How would you suggest allowing them to select one? Currently all the date(between) Goodies are pure-Perl AFAIK, and we have no control over what user preferences exist.

Would it be possible for the Role to embed additional JS in a standard manner that would allow for selection menus?

[2016-04-08 19:17] GuiltyDolphin commented on #2828
@mintsoft I'll close this for now then, and refer to the other issue.

[2016-04-08 19:17] #2828 closed

[2016-04-08 19:33] zachthompson commented on #2847
Well, just thinking out loud, there are only like four major workweeks specified in that link.  Maybe the layout looks roughly like:

 |  | | |
---- | ---- | ---- | ----
2016 Aug 01 | | |
__Mon-Fri__ |  Mon-Sat |  Sat-Thu | Sun-Thu

@moollaza actually has some ideas of how to implement something like this with our templates

[2016-04-09 05:38] wheatdog opened #2850 "Calculator modulo operation"
https://duckduckgo.com/?q=(10%5E100)+%25+10&ia=answer

(10^100) % 10 should be 0.
I am not sure why the answer is wrong. Is the symbol % represent the modulo operation?

[2016-04-09 09:25] GuiltyDolphin commented on #2850
@wheatdog Hehe, I imagine it has something to do with the way it handles large numbers :wink:

You'll be pleased to know that on the re-write (#1927) this issue is fixed:

![screenshot from 2016-04-09 10 19 53](https://cloud.githubusercontent.com/assets/8598426/14402966/afc83120-fe3c-11e5-84df-0441e8f0558f.png)

It doesn't support `%` notation atm, though it would be fairly trivial to add in - I'm

[2016-04-09 11:27] philipmiesbauer commented on #2850
Modulo is a quite common function in maths as well. There is 3 main
notations I have come across.

mod(a; b)
a mod b
a % b

I think all of them would be nice to add to the calculator.

On Sat, Apr 9, 2016, 10:26 Ben Moon <notifications@github.com> wrote:

[2016-04-09 19:02] GuiltyDolphin commented on #2850
@philipmiesbauer Thanks for chiming in!

I think the first and third forms are fine, easily doable; the second would work (treating it as an operator) but I'm not sure how well it would play with *other* infix 'functions' (though it should be fine - we use a full grammar). Updates will be on #2848 - so keep an eye out there :dolphin:

[2016-04-10 03:46] gaulrobe opened #2856 "Alternate Calendars: Maintainer Request"
I would like to become the maintainer for this! Thanks!

------
IA Page:  http://duck.co/ia/view/alt_calendars

[2016-04-10 03:47] gaulrobe opened #2857 "Array Sorting Cheat Sheet: Maintainer Request"
I would like to become the maintainer for this! Thanks!

------
IA Page:  http://duck.co/ia/view/array_sorting_cheat_sheet

[2016-04-10 05:34] Mylainos commented on #2767
I will pick Average, Binary and Bitsum please.

[2016-04-10 06:42] Mylainos commented on #2767
I will pick BRT, CalendarConversion and CallingCodes please.

[2016-04-10 07:34] kips12 opened #2861 "Mozilla Thunderbird Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/mozilla_thunderbird_cheat_sheet

[2016-04-10 08:51] GuiltyDolphin commented on #2767
@Mylainos Hehe, thanks for all this! I imagine you're getting a pretty good feel for the available templates and options now, huh?

[2016-04-10 09:30] Mylainos commented on #2767
@GuiltyDolphin Oh yes! Now I know a lot of templates like 'text' and ... all the options that come with... I think I master the templates.

[2016-04-10 10:49] mylainos opened #2863 "BRT: The server doesn't work anymore"
The server http://as777.brt.it is unreachable. Is there an other way to get the tracking information?

---

IA Page:  http://duck.co/ia/view/brt
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @afelicioni

[2016-04-10 11:09] afelicioni commented on #2863
Thanks for opening this issue.

Sorry to see BRT systems are offline: unfortunately the carrier isn't releasing any alternative tracking control endpoints offered to the public. It's the same used on institutional website, so I may rank it as a temporary issue.

Please anyone can leave a comment if found better alternative instructions, so I will able to look into and make necessary IA code improv

[2016-04-10 11:31] Mylainos commented on #2767
I will wait for BRT because of #2863

[2016-04-10 11:33] Mylainos commented on #2767
I will take Chars, CoffeeToWaterRatio and Coin please :)

[2016-04-10 14:08] Mylainos commented on #2767
Apparently CoffeeToWaterRatio have been already done here #2838 by @lamanh.

[2016-04-11 05:29] wheatdog commented on #2850
@GuiltyDolphin Great to hear that! Where can I use the re-write version of calculator? or it is not public right now.

[2016-04-11 09:26] Mylainos commented on #2767
So for using regex when testing templates one should use Test::Deep ? It don't work for me...

[2016-04-11 11:42] mintsoft commented on #2850
@wheatdog it's not in a directly accessible location currently; however we hope it get it merged pretty soon!

[2016-04-11 11:43] mintsoft commented on #2850
@GuiltyDolphin @wheatdog I'm closing this because it's not likely that we'd not merge the rewrite now :)

[2016-04-11 16:40] GuiltyDolphin opened #2868 "Unix Time Format Cheat Sheet: Maintainermanship"
@zekiel I made this one a while back - seems to have been missed out of the 'great assignment'; maintainer status would be dandy, thanks.

------
IA Page:  http://duck.co/ia/view/unix_time_format_cheat_sheet

[2016-04-11 16:42] GuiltyDolphin commented on #2868
@zekiel That's fast!

[2016-04-11 16:49] edgesince84 opened #2869 "Quack"
The "Need a Slack Invitation?" message needs updating after the Slackbot is deployed.

------
IA Page:  http://duck.co/ia/view/quackhack_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @zekiel

[2016-04-11 16:51] GuiltyDolphin commented on #2861
@kips12 Was this left accidentally? Seems a bit blank.

[2016-04-11 16:51] #2861 closed

[2016-04-11 16:53] fzzr- commented on #2850
Oh crazy world!

* [calculator.pro](http://calculator.pro) ![screen shot 2016-04-11 at 19 44 27](https://cloud.githubusercontent.com/assets/888526/14434979/b4fada62-0026-11e6-920d-58325194fabd.png)
* SwiftCalc.app ![screen shot 2016-04-11 at 19 44 04](https://cloud.githubusercontent.com/assets/888526/14435015/d646354a-0026-11e6-9751-3efabe9e1b13.png)
* [Yahoo](https://search.yahoo.com/search?p=(10

[2016-04-11 17:46] GuiltyDolphin commented on #2850
@wheatdog @fzzr- @mintsoft @philipmiesbauer Okay, drum roll... Here's the super complicated code to add the `%` and `mod` forms (:wink:):

![screenshot from 2016-04-11 18 37 13](https://cloud.githubusercontent.com/assets/8598426/14436414/7c6c5b1a-0014-11e6-94e8-4f693b381d53.png)

And now you can do:

![screenshot from 2016-04-11 18 44 26](https://cloud.githubusercontent.com/assets/8598426/14436630

[2016-04-11 17:49] #2850 closed

[2016-04-11 19:06] abhisheksp commented on #2857
I would like to become maintainer/contributer for this.

Thanks

[2016-04-11 19:08] GuiltyDolphin commented on #2857
cc @navneetzz

[2016-04-11 21:37] zekiel commented on #2868
you got it! https://duck.co/ia/view/unix_time_format_cheat_sheet

Thanks!

[2016-04-11 21:37] #2868 closed

[2016-04-12 16:05] abhisheksp opened #2872 "Data Structure Operations Cheat Sheet:"
I would like to maintain this instant answer.

------
IA Page:  http://duck.co/ia/view/data_structure_operations_cheat_sheet

[2016-04-12 16:13] Roysten commented on #2820
Could you post the query you used? When I enter `Stefan-Boltzmann` or `Stefan-Boltzmann constant` it does not trigger the constants IA (as expected, because it does not exist in constants.yml).

[2016-04-13 09:54] Spagy opened #2877 "Base Conversion: Allow conversions from arbitrary bases"
It would be useful to be able to convert from any base rather than only from base 10.

Example queries:
2A hex to decimal
1111 in binary to decimal
0x14 to decimal
81 in base 9 to base 3

I'm not sure how easy it would be to parse all of those but I think it would be useful if there were at least one syntax that could be used.

Note this would slightly overlap with the HexToDec IA.

------
IA Page

[2016-04-13 12:31] zekiel commented on #2869
done

[2016-04-13 12:31] #2869 closed

[2016-04-13 14:05] mnp opened #2879 "Calculator: exponential not always triggered"
- `1 * 1e1` triggers correctly into calculator and evaluates to 10.
- `1 * 1.0e1` does not trigger calculator.  For some reason, tabs for Steve Miller's Joker are the first search hit :-)

Test cases should probably include
- all combinations of sign and no sign on exponent and mantissa
- all combinations of float and int exponent and mantissa
## Thanks.

IA Page:  http://duck.co/ia/view/calculato

[2016-04-13 14:27] GuiltyDolphin commented on #2879
@mnp Thanks for pointing this out - it appears to be fixed in #1927, see:

![screenshot from 2016-04-13 15 18 30](https://cloud.githubusercontent.com/assets/8598426/14496433/112ca814-018b-11e6-8dea-38e55a74f0e3.png)

and

![screenshot from 2016-04-13 15 18 49](https://cloud.githubusercontent.com/assets/8598426/14496742/150cc5d0-018c-11e6-8cb1-4187929523a5.png)

Which should hopefully be merged soo

[2016-04-13 14:38] jdorweiler commented on #402
This is it? https://duckduckgo.com/?q=meiji+1&ia=answer

[2016-04-13 20:09] kevinSuttle opened #2882 "Color: Help Schema.org standardize!"
Wrote this up awhile back, but after seeing search results come back from https://duck.co/ia/view/color_codes, I'm super excited at the possibilities. It would be fantastic to contribute the work you've done already to standardize colors.

https://github.com/schemaorg/schemaorg/issues/938

[2016-04-14 19:59] moollaza commented on #2882
@kevinSuttle hey there, thanks for posting this and welcome to DuckDuckHack!

I had a look at your linked message but I'm a little unclear how you think we can help?

What exactly are you looking for?

/cc @mintsoft

[2016-04-14 20:36] mintsoft commented on #2882
@moollaza Agreed; I don't really understand what's going on here!

[2016-04-15 09:23] tagawa commented on #2787
Looks like this can be fixed in the Dates file:
 zeroclickinfo-goodies/lib/DDG/GoodieRole/Dates.pm

[2016-04-15 13:06] markmckenna opened #2885 "Vim Cheat Sheet: put exit commands at the top :)"
...for classic reasons.

------
IA Page:  http://duck.co/ia/view/vim_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @kablamo

[2016-04-15 13:16] GuiltyDolphin commented on #2885
@markmckenna Why would you want to leave Vim?

[2016-04-15 13:24] GuiltyDolphin commented on #2787
@tagawa If you check out #2810 I've got an open PR for any modifications to the Dates Role. It looks like the offset is already at +0300 over there, I don't think this is an issue with the Role.

@moollaza @GlitchMr looking at the TimezoneConverter Goodie, I think it is producing *way* too much date parsing logic (I imagine the defined logic is where the bug originates), it should definitely be re

[2016-04-15 13:27] GuiltyDolphin opened #2886 "TimezoneConverter: Make better use of the Dates GoodieRole"
There is a lot of superfluous date parsing and manipulation logic within the TimezoneConverter Goodie, we should be making better use of the features that the Dates Role provides.

We should already be able to replace a bunch of the logic with helpers provided by the Dates Role, but additional features may be accessible after #2810 is integrated.

---

IA Page:  http://duck.co/ia/view/timezone_con

[2016-04-15 15:56] kevinSuttle commented on #2882
Ok, so, first-off, apologies for the vague description. Let me attempt to explain.

The issue I linked to is a proposal to Schema.org, which I'm sure you're familiar with.
Right now, there is a schema for `Color`, but it's literally just an arbitrary string value.

The proposal I put forth is much more robust, and actually codifies the various values and formats of a given Color object inside the

[2016-04-15 17:18] gautamkrishnar commented on #2809
oops really sorry for the late reply @AlexanderShapiro this is already fixed in #2822

[2016-04-15 17:40] swapagarwal commented on #2885
![](http://i.imgur.com/VOe71EA.png)

[2016-04-15 21:41] mRse7enNIT commented on #2831
what I need to do? @GuiltyDolphin

[2016-04-16 08:23] GuiltyDolphin commented on #2831
@mRse7enNIT Just remove the `multisim help` alias from the cheat sheet.

[2016-04-17 21:13] milmazz opened #2899 "IEx Cheat Sheet: Duplicate entry for import_file/1"
The current [iex.json](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/92f315692e4a5739cd2d4b5ba41a140ae43c5708/share/goodie/cheat_sheets/json/iex.json) have a duplicate entry for `import_file/1` IEx helper.

![iex-cheatsheet](https://cloud.githubusercontent.com/assets/34700/14590058/02b1f80a-04b7-11e6-92f0-337e48de0891.png)

Also, It would we awesome if you can sort alphabetically all th

[2016-04-17 21:24] pjhampton commented on #2899
Hey @milmazz,

Thanks so much! Well spotted.
Would you like me to take care of this, or would you like to take it?

p

[2016-04-17 21:25] milmazz commented on #2899
@pjhampton I'm taking care of this :)

[2016-04-18 14:59] #2899 closed

[2016-04-18 20:57] jdorweiler opened #2904 "test issue"
------
IA Page:  http://duck.co/ia/view/latex
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jdorweiler

[2016-04-18 20:57] #2904 closed

[2016-04-19 16:55] #2831 closed

[2016-04-19 18:15] zekiel commented on #2856
@mintsoft  ok?

[2016-04-19 18:36] #2658 closed

[2016-04-19 18:37] mintsoft commented on #2856
@zekiel That's fine

[2016-04-19 20:52] zekiel commented on #2856
thanks @mintsoft

@gaulrobe you are now the maintainer!

[2016-04-19 20:52] #2856 closed

[2016-04-21 15:13] jdorweiler opened #2912 "Latex: test issue - ignoreme"
------
IA Page:  http://duck.co/ia/view/latex
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jdorweiler

[2016-04-21 15:13] #2912 closed

[2016-04-21 15:14] jdorweiler opened #2913 "Atbash: test - ignore me"
------
IA Page:  http://duck.co/ia/view/atbash
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @tagawa

[2016-04-21 15:15] #2913 closed

[2016-04-21 16:35] AlterationBrick opened #2915 "New IA: FIRST Robotics Competition rules"
(Not for the 2016 game because it's almost over)
Idea: When the rules for the FIRST Robotics Competition are released/decrypted next January, make a cheat sheet with things we constantly look up, like:
- Robot dimensions and weight limits
- Distance to elements of the field
- Dimensions of field elements like goals, obstacles, etc.
- Scoring for everything: balls, hoisting, autonomous, etc.
- Matc

[2016-04-21 16:48] GuiltyDolphin commented on #2915
@AlterationBrick We don't usually have cheat sheets that are based on a time-based event (that can cause the contents to be invalidated).

Do you know if there are any APIs that could be used to provide accurate information across time? Or any pages we could scrape?

[2016-04-21 16:54] AlterationBrick commented on #2915
I haven't seen any APIs for that info. It's all in a very large PDF on FIRST's website.

http://www.firstinspires.org/resource-library/frc/competition-manual-qa-system

But I agree that maintaining it would be a struggle without some automation.

[2016-04-21 17:10] alohaas commented on #2915
@GuiltyDolphin brings up a good point, we typically want to use data or information that isn't updated frequently for cheat sheets. Since this information is updated annually, I could see making an exception. It would be up to the maintainer of this IA to keep it up to date.

@AlterationBrick correct me if I'm wrong, but the keys for this cheat sheet could be reused every year, making maintenance

[2016-04-21 18:04] #2809 closed

[2016-04-21 22:26] lemueldsouza opened #2917 "Improvement/suggestion for Curl cheat sheet"
This is for https://duck.co/ia/view/curl_cheat_sheet

The page looks fine to me, I just have few small improvements/suggestions
I guess it would be better to
1. Have a -v (verbose) and --connect-timeout (or -m/--max-time) since they're used frequently
2. Instead of having https://www.cheatography.com/ankushagarwal11/cheat-sheets/curl-cheat-sheet/ as the reference, would it be a good idea to have a

[2016-04-22 00:40] AlterationBrick commented on #2915
@alohaas @GuiltyDolphin Unfortuantely, all the keys except robot weight are subject to change. The way robots score points is always different year-to-year, but this year also differed in that the dimensions of the robots were determined by a maximum perimeter, instead of maximum width and length. This year they required bumpers on robots because there was more contact, and they specified dimensio

[2016-04-22 11:54] tagawa commented on #2872
Hi @abhisheksp
Sorry for the delay in getting back to you. That's very kind of you. We'd love to accept your offer!
I've just added your name to the IA page as maintainer. Note that there are no outstanding issues for this cheat sheet at the moment.

[2016-04-22 11:54] #2872 closed

[2016-04-22 12:00] tagawa commented on #2829
Judging by [these comments on Stack Overflow](https://stackoverflow.com/questions/7604320/converting-pantone-colors-to-rgb) it could be tricky. The info is only available under license and in any case, values can vary depending on viewing environment.

[2016-04-22 15:33] GuiltyDolphin commented on #2915
@AlterationBrick Not AFAIK (without making exceptions), we've not had need of it before.

It sounds like it would be pretty bad if it went out of date and people used it (a warning probably wouldn't help); we'd be giving them incorrect information that they might act upon!

[2016-04-22 20:53] mintsoft commented on #2829
Hmm smells proprietary to me!

[2016-04-23 03:46] vikashvverma opened #2918 "Emberjs Cheat Sheet: Maintainer request"
I would like to become the maintainer for this!

Thanks!

IA Page:  http://duck.co/ia/view/emberjs_cheat_sheet

[2016-04-23 03:48] vikashvverma opened #2919 "Foundation 6 Cheat Sheet: Maintainer request"
I would like to become the maintainer for this!

Thanks!

IA Page:  http://duck.co/ia/view/foundation_cheat_sheet

[2016-04-23 08:03] arwk commented on #1762
How is the status of this feature?

[2016-04-23 14:12] gautamkrishnar commented on #1762
Sorry its not implemented yet...  @arwk can you work on it?
@GuiltyDolphin  what's your thought on this?

[2016-04-23 15:38] edgesince84 opened #2920 "Convert Latitude/Longitude: Feedback from user"
A user on DDG complained about the format of the Instant Answer.  After converting and returning the correct answer, the lat/long is displayed with a "dash" (−) in front of it, instead of a hyphen (-).  Most mapping services use hyphens in this case, so copying and pasting the returned answer doesn't fit the format for most other mapping sites.

------
IA Page:  http://duck.co/ia/view/convert_lat_

[2016-04-23 16:01] GuiltyDolphin commented on #1762
@gautamkrishnar Hmm... We could probably include a button to export the cheat sheet as a PDF, but I'm not 100% sure about the formatting.

@zachthompson Any thoughts?

[2016-04-23 16:24] GuiltyDolphin opened #2921 "Hex To Ascii: Improve triggering"
We should support forms like `0x1F hex to ascii`, `0x1F to ascii` etc.

------
IA Page:  http://duck.co/ia/view/hex_to_ascii
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @koosha--

[2016-04-24 11:30] GuiltyDolphin opened #2922 "Calculator: Support context-sensitive constants"
It might be useful to have constants that can vary based on a specified context.

For example, the query `(2G * 1.7e3) / c^2` doesn't yield a result as there are 'undefined' constants; but if you did `(2G * 1.7e3) / c^2 (astrophysics)` we could yield a result informing the user that the calculator interpreted: `G` as the gravitational constant, and `c` as the speed of light in a vacuum.

So, as a

[2016-04-24 12:20] EpicWolverine commented on #2922
I think this would be very useful. Perhaps we could even go so far as to try to guess at the constant but have an option to switch to an alternate meaning in a similar manner to the way WolframAlpha handles it.
![image](https://cloud.githubusercontent.com/assets/2897970/14767524/5ee6ed72-09f5-11e6-8fad-5981512d4963.png)

[2016-04-24 12:34] GuiltyDolphin commented on #2922
@EpicWolverine I'm currently working on the interactive version (#2848); so I was thinking we could perhaps have it automatically switch to the appropriate constants page (I wish to have a modular constant/function layout); that or have a context automatically set to that inferred, allowing the user to easily switch to another context if desired.

[2016-04-24 19:25] mintsoft commented on #2922
@GuiltyDolphin sounds cool

[2016-04-24 19:56] #2790 closed

[2016-04-24 20:08] #1863 closed

[2016-04-25 01:17] tagawa commented on #2829
Yeah, I think I'll close this because of:
1. proprietary data
2. colour values different according to viewing environment

[2016-04-25 01:17] #2829 closed

[2016-04-25 04:58] wilkox commented on #2920
Currently, negative lat/lon is indicated with a Unicode minus sign (−, U+2212) rather than a dash or a hyphen. To me this seems like the typographically correct way to display a negative value, but I can understand it would be annoying if it doesn't work for copy-pasting. I've opened a pull request #2926 with this change.

[2016-04-25 06:09] preemeijer opened #2927 "FTP cheat sheet"
Hello,

I'm opening a issue regarding the making a FTP cheat sheet.
I wanted to make this one but when I tried to make the IA page it already existed.
https://duck.co/ia/view/ftp_cheat_sheet and is made by https://github.com/jnshrz

@jnshrz are going to make this? Or can I do it?

Paul

[2016-04-25 08:12] koosha-- commented on #2921
Good idea. Anybody is welcome to make these changes.

[2016-04-25 12:06] rwbogl opened #2929 "Logarithms Cheat Sheet: Notation is wrong"
The logarithms cheatsheet has that f'(a^x) = a^x * ln(a) (or something close). This may be a mixup of notation.
The formula says that applying the derivative of some function f to a^x gives the derivative of a^x. What was probably meant is (a^x)' = a^x * ln(x). That is, the derivative of exponential function. In general,  f'(g(x)) != g'(x).

------
IA Page:  http://duck.co/ia/view/logarithms_cheat

[2016-04-25 12:54] jdorweiler commented on #2919
done!

[2016-04-25 12:54] #2919 closed

[2016-04-26 11:16] preemeijer commented on #2927
https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2930

[2016-04-26 11:16] #2927 closed

[2016-04-26 11:37] vikashvverma opened #2932 "Binary Logic: Does not support capital alphabet"
This IA does not give answer for  `3 AND 5` .

I was wondering if we can support capital letters as well.

IA Page:  http://duck.co/ia/view/binary_logic

[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Sloff

[2016-04-26 17:30] moollaza commented on #2915
If we know that it's likely to change and will potentially become outdated I would suggest we don't make a cheat sheet for it.

However, maybe a link-based cheat sheet would help? We could provide links to various info, assuming the links are consistent

[2016-04-26 22:27] edgesince84 opened #2934 "AngularJS Cheat Sheet: Add extra services/directives"
A Reddit user provided us with feedback for your IA, via https://www.reddit.com/r/angularjs/comments/4gedzp/help_improve_duckduckgos_angularjsrelated_searches/

Here is the comment:

---

IA Page: http://duck.co/ia/view/angularjs_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @SibuStephen

[2016-04-26 23:40] AlterationBrick commented on #2915
@moollaza A link-based cheat sheet would work better if the info wasn't so centralized. Right now, all the info we need is in a game manual PDF, which I just checked and is 111 pages long...

They don't ever post the simple dimensions of things directly on their website, probably in case there is a rules change and that info becomes obsolete.

It's okay, we have 8 months to figure this out.

[2016-04-27 02:57] vikashvverma opened #2935 "AngularJS Cheat Sheet: Developer attribution not present"
This IA is not displaying developer attribution.

<img width="1439" alt="screen shot 2016-04-27 at 8 26 34 am" src="https://cloud.githubusercontent.com/assets/915277/14840427/e5e43628-0c51-11e6-8ac6-7a46426ff60d.png">

IA Page:  http://duck.co/ia/view/angular_js_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @SibuStephen

[2016-04-27 14:23] SibuStephen commented on #2934
@edgesince84  i will surely take a look into it and embedd the directive, filter, provider etc, into the angular cheatsheet as such.

[2016-04-27 14:25] SibuStephen commented on #2935
@vikashvverma  will add Developer Attribution for the same as such.

[2016-04-27 15:04] jdorweiler commented on #2935
That tab name makes me thing something is not right with the IA page data.  I'll take a look at it.

[2016-04-27 15:19] jdorweiler commented on #2935
IA page ID didn't match the ID in the cheatsheet json file https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/angularjs.json#L2.  `angularjs_cheat_sheet` vs `angular_js_cheat_sheet`.  I updated the ID in the IA page and put it on beta
https://beta.duckduckgo.com/?q=angularjs+cheatsheet&ia=answer&iax=1

[2016-04-27 15:19] #2935 closed

[2016-04-27 15:52] edgesince84 opened #2936 "Visual Studio C#: Add valid location of snippets"
Would it be possible to include the "Valid locations to insert snippet" section of the table from the source to the cheat sheet?

---
https://duck.co/ia/view/c_sharp_snippets_cheat_sheet

[2016-04-27 20:53] VitorVRS opened #2937 "CSS Language Cheat Sheet: Fix typo on description"
This description: "Specifies the stack order of an elemen"
Should be: "Specifies the stack order of an element"

:ok_hand:

------
IA Page:  http://duck.co/ia/view/css_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @ethanchewy

[2016-04-27 23:09] ecounysis commented on #1988
@jagtalon I can look at this.

[2016-04-28 07:12] tagawa opened #2938 "C Cheat Sheet: Operators should be ordered by precedence"
This reference page may help: http://en.cppreference.com/w/c/language/operator_precedence

(Originally reported in the [C subreddit](https://www.reddit.com/r/C_Programming/comments/4gp2xt/help_improve_duckduckgos_crelated_searches/))

------
IA Page:  http://duck.co/ia/view/c_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @harisphnx

[2016-04-28 07:27] engvik commented on #1988
I didn't know this was still open. Please do, @ecounysis :)

[2016-04-28 13:57] nickrsan opened #2940 "Django Instant answer suggestions"
Hi there,

I was just testing the Django Instant Answers, and saw that it only seems to come up when you search for "Django Model Cheat Sheet" - which won't get new users to find it. I think it'd be great if it also comes up when the user searches:

- Django model reference
- Django model
- Django model field
- Django model fields
- Django model Relationships (maybe not this one, not sure)
- and p

[2016-04-28 14:37] pjhampton commented on #2940
Hey @nickrsan

Thanks for your feedback. There is actually another one in the pipes somewhere.
I think this is a good idea. Would you like to take this enhancement forward? Otherwise I can do it at some stage.

[2016-04-28 15:35] nickrsan commented on #2940
Probably not right for me in this instance - I *want* to, but I'm sure I'd find myself not making it a priority right now. I'll keep following this, and might try it, but don't count on it! Thank you

[2016-04-28 16:02] brson opened #2941 "Rust Language Object Types Cheat Sheet: Show syntax"
This would probably be improved by showing the syntax. For example, if I'm a newbie I probably don't know exactly that `FnOnce`es are written like `FnOnce() -> ()` with parens for the type arguments.

With syntax examples the size of the cheat sheet could get pretty big.

---

IA Page:  http://duck.co/ia/view/rust_types_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.h

[2016-04-28 16:08] sebastiw opened #2942 "Erlang Cheat Sheet: Add f/1 to shell commands"
I think a good addition is the following shell command (which IMO is more usable than f/0):

- f(V) forget variable binding <V>

------
IA Page:  http://duck.co/ia/view/erlang_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pjhampton

[2016-04-28 17:03] joshlemer opened #2944 "Scala Cheat Sheet:"
The first example in the cheatsheet is how to compile a Scala program but instructs:
`scalac Hello.java`
Shouldn't this be `scalac Hello.scala` ?

------
IA Page:  http://duck.co/ia/view/scala_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @amitdev

[2016-04-28 17:04] edgesince84 opened #2945 "Perl Cheat Sheet: Fix shift() syntax"
A Reddit user gave us feeback on the perl cheat sheet here: https://www.reddit.com/r/perl/comments/4gr3si/help_improve_duckduckgos_perlrelated_searches/d2kw2vl

------
IA Page:  http://duck.co/ia/view/perl_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pratik-nagelia

[2016-04-28 17:09] pjhampton commented on #2942
Hey @sebastiw,

Thanks for the feedback - really appreciated! 😃
Sure, feel free to submit a PR and I'll take a look.

[2016-04-28 17:19] pjhampton commented on #2940
@duckduckgo/duckduckhack-contributors

Some seriously low hanging fruit if anyone wants it. Would be ideal for a first time contributor. All that is needed is to add the values

- Django model reference
- Django model
- Django model field
- Django model fields

to the alias key on the [Django Models File](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/jso

[2016-04-28 17:31] prasadram commented on #2940
I am interested. Can I handle it?

[2016-04-28 17:32] hchienjo commented on #2940
I am interested.

[2016-04-28 17:34] pjhampton commented on #2940
@prasadram it's yours :)

Sorry @hchienjo, just a little too late. If I have another I will ping you first - promise :smile:

[2016-04-28 17:36] hchienjo commented on #2940
@pjhampton, sure, no problem at all.

[2016-04-28 17:44] GuiltyDolphin commented on #2940
@hchienjo If you're interested in *other* LHF issues there's [plenty](https://github.com/duckduckgo/zeroclickinfo-goodies/labels/Low-Hanging%20Fruit).

[2016-04-28 17:47] #2920 closed

[2016-04-28 17:49] hchienjo commented on #2940
@GuiltyDolphin definitely interested. Thanks.

[2016-04-28 17:51] rasikapohankar commented on #2940
@pjhampton I was wondering, to trigger a cheat sheet we have to search with the cheat sheet name or an alias and a trigger word. So after adding aliases we would still have to search with alias + trigger word. Is that right? Please correct me if I am wrong.

[2016-04-28 17:57] GuiltyDolphin commented on #2940
@rasikapohankar I've been working on additional trigger mechanisms - allowing additional 'fluff' words, additional trigger words etc. But yes - in essence both a trigger phrase + alias/name will be used to trigger a cheat sheet.

[2016-04-28 18:01] rasikapohankar commented on #2940
@GuiltyDolphin I was not able to quote the sentence, sorry! I was referring to this,

[2016-04-28 18:08] GuiltyDolphin commented on #2940
@rasikapohankar Yes - at the moment most of those won't trigger on their own due to the way triggering is handled (and will be handled for the foreseeable future - the system works); one way to allow the triggering would be to add

[code]
to the `triggers.yaml` file - but I'm not sure the use case warrants a full trigger spec; @zachthompson what do you think?

[2016-04-28 18:25] cosi1 opened #2947 "R Cheat Sheet:"
Small remark: `<<-` isn't actually a global assignment operator. What it does is assign a value to a variable *in the parent environment* (one level up). Usually it's the global environment, but not always.

------
IA Page:  http://duck.co/ia/view/r_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @laurenancona

[2016-04-28 18:28] rasikapohankar commented on #2940
@GuiltyDolphin Thanks!

[2016-04-28 19:08] edgesince84 commented on #2820
A DuckDuckGo user reported the wrong value for this same query.  They reported the constant should be

[2016-04-28 19:11] edgesince84 opened #2950 "Conversions: including degree symbol in query returns no results"
A DDG user reported that including the "°" symbol in the query will not trigger the conversions IA.

example: "90°C in f" does not work, but "90c in f" does.

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-04-28 19:20] edgesince84 opened #2951 "Conversions: show full answer when converting megabytes"
A DuckDuckGo user sent in feedback regarding the conversions IA.  Searching for an example -- "100 megabytes in bytes" only returns "1 \* 108 bytes" and not the desired answer:  "104857600."

---

IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-04-28 19:29] GuiltyDolphin commented on #2950
@duckduckgo/duckduckhack-contributors This should be as simple as adding `°c` to the aliases for `celsius`, anyone interested?

[2016-04-28 19:51] xaviervalarino commented on #2950
I am not really familiar with with Perl. Is it this line?

https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Conversions.pm#L75
[code]

[2016-04-28 19:54] lambda opened #2952 "Rust Language Object Types Cheat Sheet: Add float types"
Under "machine types", the floating point types, `f32` and `f64` should probably be listed.

------
IA Page:  http://duck.co/ia/view/rust_types_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @NateBrune

[2016-04-28 20:01] laurenancona commented on #2947
[Hadley agrees](http://adv-r.had.co.nz/Environments.html).
Thanks @cosi1

[2016-04-28 20:03] GuiltyDolphin commented on #2950
@xaviervalarino There's a separate file, [`ratios.yaml`](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/conversions/ratios.yml#L988) which contains the aliases - you'll want to add it there.

[2016-04-28 20:06] xaviervalarino commented on #2950
Thanks @GuiltyDolphin. I'll make a PR for this

[2016-04-29 02:13] tsimonq2 opened #2955 "OS10 no longer refers to OS X but to Dell's Networking OS"
http://www.networkworld.com/article/3024722/data-center/dell-serves-up-its-own-disaggregated-os.html

The search result needs tweaking for this.

[2016-04-29 12:20] #2944 closed

[2016-04-29 13:49] laurenancona commented on #2947
PR forthcoming

[2016-04-29 15:09] lisabscheibner opened #2960 "German Phrases Cheat Sheet: One small mistranslation/One small addition"
Change to "Going out for dinner" section:
- Appetizer
- Vorspeise

Suggested addition to "Basics" section:
- Goodbye!
- Tschüss!

------
IA Page:  http://duck.co/ia/view/german_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @AdamSC1-ddg

[2016-04-29 15:10] vikashvverma commented on #2917
@lemueldsouza LGTM
Thanks!

[2016-04-29 19:32] #2950 closed

[2016-04-29 20:36] mintsoft commented on #2820
@Roysten @edgesince84 It's definitely wrong here: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/constants/constants.yml#L82

[2016-04-29 21:01] #2917 closed

[2016-04-29 21:01] mintsoft commented on #2917
Closed in: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2894#issuecomment-215748443

[2016-04-30 02:37] tagawa commented on #2936
Note: The info is already available in the [source table](https://msdn.microsoft.com/en-us/library/z41h7fat.aspx) and could perhaps be added in parentheses to the existing keys/values.

[2016-04-30 02:46] tagawa commented on #2646
Hi @pecey. It looks like the PR for this is no longer being worked on so would you like to take it on after all?

[2016-04-30 05:42] J-tt commented on #2885
Submitted a pull request now, pending approval.

[2016-04-30 07:55] vikashvverma opened #2964 "Graph Operations Cheat Sheet: Maintainer request"
I would like to become the maintainer for this!

Thanks!

IA Page:  http://duck.co/ia/view/graph_operations_cheat_sheet

[2016-04-30 10:37] GuiltyDolphin opened #2967 "Various Cheat Sheets: Update aliases"
@duckduckgo/duckduckhack-contributors Some very low-hanging-fruit here; we need some aliases updated for a pending PR (#2777):

- [x] https://duck.co/ia/view/dothraki_cheat_sheet (@varundey) - remove `dothraki language`
- [ ] https://duck.co/ia/view/finnish_cheat_sheet (@riqpe) - remove `english to finnish` and `basic finnish`
- [x] https://duck.co/ia/view/greek_cheat_sheet (@synbit) - remove `eng

[2016-04-30 12:39] chrissherlock opened #2970 "Git Cheat Sheet:"
Under "Redo Commits" it shows as:

Note the backslashes before the square brackets. Can't understand why they are there though...

------
IA Page:  http://duck.co/ia/view/git_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @zekiel

[2016-04-30 14:20] hchienjo commented on #2945
I am interested in fixing this.

[2016-04-30 15:03] tagawa commented on #2964
Hi @vikashvverma. Thank you for offering! I've just added you as maintainer on the IA page. Just to let you know that there are no other issues open for this IA at the moment.

[2016-04-30 15:03] #2964 closed

[2016-04-30 16:50] stevenmg commented on #2803
This is mostly fixed by #2822, but for loop syntax is still using the C style loops which are now deprecated as of Swift 2.2.

I'll take a look at that myself.

[2016-04-30 16:52] gautamkrishnar commented on #2803
Sure @stevenmg thanks :+1: :smile:

[2016-04-30 17:27] synbit commented on #2967
@GuiltyDolphin this will leave ```aliases``` empty (if I amend according to this: https://travis-ci.org/duckduckgo/zeroclickinfo-goodies/builds/126863668#L551).

Is that going to be a problem? Should I delete ```aliases``` altogether? Sorry if I misunderstood...

[2016-04-30 18:47] GuiltyDolphin commented on #2967
@synbit It is fine to have no aliases! Just make sure to remove the field if the array is empty.

[2016-04-30 20:15] mintsoft commented on #2951
I think certain `physical quantities` need to be highlighted with a preference for integers; especially the `information` type

[2016-05-01 07:00] GuiltyDolphin commented on #2750
@laurenancona We've got one now! Feel free to make suggestions/improvements! :cat:

[2016-05-01 07:01] #2947 closed

[2016-05-01 07:15] GuiltyDolphin opened #2985 "GreatestCommonFactor: Use Math::BigInt"
Instead of using a custom function, we should use `Math::BigInt::bgcd` to get the common divisors; additionally this will allow us to have an arbitrary amount of numbers (easily - in one go).

Remember to use `use Math::BigInt try => 'GMP';` for speed!

Also, if you're up for it, we need to update GreatestCommonFactor to use the new templates! The `text` template should be fine.

------
IA Page:

[2016-05-01 11:35] fzzr- commented on #1917
Also mb. support `√` Square Root symbol?
(`U+221A` / `E2 88 9A`)

[2016-05-01 11:38] fzzr- opened #2988 "Calculator: Square Root symbol"
Maybe support `√` symbol[?](http://unicode-table.com/en/221A/)
(`U+221A` / `E2 88 9A`)

---

IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-05-01 12:00] swapagarwal commented on #2967
@GuiltyDolphin `minion language` is an alias for `minionese` and both should trigger the cheatsheet.

[2016-05-01 12:03] GuiltyDolphin commented on #2988
@fzzr- :+1: Sure; Dev version:

![screenshot-2016-05-01-12 59 24_303_50](https://cloud.githubusercontent.com/assets/8598426/14941688/974d9e5c-0f9c-11e6-913d-d184cb8aa758.png)

![screenshot-2016-05-01-13 02 00_949_233](https://cloud.githubusercontent.com/assets/8598426/14941695/f3ffd28c-0f9c-11e6-93af-57d9a6c7cb49.png)

[2016-05-01 12:13] GuiltyDolphin commented on #2967
@swapagarwal If you update the alias to `minion` then it will still trigger after changes are implemented.

[2016-05-01 13:23] Nghia11 opened #2989 "Italian Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/italian_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @marcostudios

[2016-05-01 13:34] swapagarwal commented on #2967
Cool, will `minions` be handled automatically too?

[2016-05-01 13:37] GuiltyDolphin commented on #2967
@swapagarwal No - I'm not sure why you'd want it to though?

[2016-05-01 13:44] swapagarwal commented on #2967
like `minion phrases` and `minions phrases` both should trigger the cheatsheet

[2016-05-01 13:47] GuiltyDolphin commented on #2967
@swapagarwal Then you'd want to add `minions` to the aliases.

[2016-05-01 15:26] dbech commented on #2767
Hey, I've done HexToASCII.pm in the pull above

[2016-05-01 18:51] GuiltyDolphin commented on #2989
@Nghia11 Was this accidental?

[2016-05-01 18:51] #2989 closed

[2016-05-01 22:29] ecounysis commented on #1988
I committed a change to my copy of the repo.  Here is a link to the
changeset:
https://github.com/ecounysis/zeroclickinfo-goodies/commit/f4636a5d5edea696670c2cc0fbd474c3557ef6ab

Please look at it and see if it is a reasonable approach. Also, if it is a
reasonable approach, should I submit a pull request now, or wait until all
the recipes have had a regex added?

started adding a regex value to so

[2016-05-02 09:26] harisphnx commented on #2938
There is the order of precedence given separately. Is it about the precedence in each sub section?

[2016-05-02 12:21] tagawa commented on #2938
@harisphnx Yes, I think so, if it's possible. I may only be relevant for one or two sub-sections.

[2016-05-02 13:36] dbech commented on #2767
I'll take Coin.pm as well if that's cool.

[2016-05-02 13:43] harisphnx commented on #2938
@tagawa, Ok. That can be done. The problem with that is, the ones with the same precedence will also come is separate lines. Like the product * and the division / operation.

[2016-05-02 18:40] tagawa commented on #2938
@harisphnx I think that's fine. In those cases the order can stay the same (or whatever you like).

[2016-05-02 18:42] harisphnx commented on #2938
@tagawa, Ok then. I would keep the original order for those cases.

[2016-05-02 18:43] tagawa commented on #2767
Thank you @dbech - that sounds great!

[2016-05-02 20:01] zekiel commented on #2970
fixed via #2971

[2016-05-02 20:01] #2970 closed

[2016-05-02 22:16] NaveenKarippai commented on #2767
I'm highly interested to work on FlipText.

[2016-05-04 04:18] marti1125 commented on #2936
Hi @tagawa please review my PR thanks!!

[2016-05-04 07:10] #2921 closed

[2016-05-04 10:23] fzzr- commented on #2988
Thx! Okay :)

[2016-05-04 11:39] #2750 closed

[2016-05-04 23:37] NaveenKarippai commented on #2767
I'd like to pick CoffeeToWaterRatio

[2016-05-05 17:37] javathunderman commented on #402
@marianosimone any update on this?

[2016-05-06 09:59] engvik commented on #1988
Sorry for the late reply!

This seems like an reasonable approach to me :smile: Wait with opening a PR until all of them are added.

Thanks and let me know if there's anything!

[2016-05-06 13:23] zekiel opened #3004 "Conversions: Plural for feet shows as "foots""
reported on twitter for "acre square feet" e.g. https://twitter.com/ralphscenic/status/728388908824690688
also impacting others like: https://duckduckgo.com/?q=hectare+square+feet&ia=answer

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-05-06 14:29] NaveenKarippai commented on #2967
@GuiltyDolphin If still open, can I pick finnish_cheat_sheet , spanish_cheat_sheet

[2016-05-06 19:53] mintsoft commented on #3004
ffs dunno how I missed that!

[2016-05-06 20:45] tagawa commented on #2827
@GuiltyDolphin I did the same thing a while ago - looked for an English source but couldn't find anything.

[2016-05-06 20:49] tagawa commented on #2945
Thank you @hchienjo. Feel free to ask for help if you need any support.

[2016-05-06 20:56] tagawa commented on #2934
Thank you @SibuStephen. Feel free to let us know if need any help with this.

[2016-05-06 21:07] tagawa commented on #2715
Hi @vikashvverma. Are you still happy to work on this or would you like somebody else to help out?

[2016-05-07 02:30] gaulrobe commented on #2002
@moollaza I'd like to take a shot at this one!

[2016-05-07 03:16] gaulrobe commented on #2002
PR submitted!

[2016-05-07 04:22] Zacqary opened #3008 "Conversions: No teaspoon/tablespoon support"
Queries like `teaspoons in a tablespoon` or `6 tsp in tbsp` return no Instant Answer.

I'm not sure where in `Conversions.pm` the possible units of measurement are defined, except for temperatures in `sub convert_temperatures`. Would be glad to help implement this if someone could help me follow the breadcrumbs.

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduck

[2016-05-07 08:33] NaveenKarippai commented on #2799
@stevenmg [noob question]: Is using regex triggers the workaround?

[2016-05-07 12:18] GuiltyDolphin commented on #2827
@tagawa Odd - @duckduckgo/duckduckhack-contributors anyone know any English references for Interactive Java?

[2016-05-07 16:11] NaveenKarippai commented on #2767
hm, CoffeeToWaterRatio seems to be already done on open PR #2819.

[double-check]:  SolarSystem looks like to be already running a full-template.

Please assign CountryCodes, EmailValidator, and RandomNumber to me.

[2016-05-07 16:37] GuiltyDolphin opened #3010 "Markdown Cheat Sheet: Update Perl Module"
Currently the metadata states that `DDG::Goodie::MarkdownCheatSheet` is the `perl_module`, we should change this to `DDG::Goodie::CheatSheets`.

/cc @moollaza @zekiel

------
IA Page:  http://duck.co/ia/view/markdown_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @marianosimone

[2016-05-07 16:44] gautamkrishnar commented on #2827
@GuiltyDolphin http://introcs.cs.princeton.edu/java/11cheatsheet/
this looks like java cheatsheet. Is there a language named "interactive java"?
cc:@oscarMZ

[2016-05-07 16:46] GuiltyDolphin commented on #2799
@NaveenKarippai Nawp. We rarely need regex triggers; this case would best be handled by the word `prime` then filter with a guard regex in the handler.

[2016-05-07 17:41] rasikapohankar commented on #2767
I'm working on ZappBrannigan.pm.
@NaveenKarippai I guess EmailValidator is being worked on, https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2767#issuecomment-203883344

[2016-05-07 18:01] NaveenKarippai commented on #2767
@rasikapohankar Thanks for the heads up! I'm bumping into duplicates/already-taken tasks pretty often.

[2016-05-07 18:46] GuiltyDolphin commented on #2767
@NaveenKarippai Yup, looks like SolarSystem doesn't need updating; thanks for pointing that out!

[2016-05-07 18:51] mintsoft commented on #3008
@Zacqary Sounds good; they're defined here: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/conversions/ratios.yml

[2016-05-07 22:32] ethanchewy commented on #2827
@gautamkrishnar That's a good find. That's what I used when I was learning Java!

@GuiltyDolphin I've never heard of "interactive java" as a programming langauge. I thought that it was just a more interactive style of learning java.

If you are looking for java cheat sheets, here are a few others:
- http://www.dummies.com/how-to/content/java-for-dummies-cheat-sheet.html
- http://mindprod.com/jglos

[2016-05-08 00:24] cngarrison commented on #1231
I made some progress on this, but haven't had time to get back to complete it. Incomplete fix has been pushed to https://github.com/cngarrison/zeroclickinfo-goodies/tree/dice-multi-roll. Not creating a PR for unfinished changes. Feel free to continue with my changes, or start over again. :-)

[2016-05-08 10:25] #3004 closed

[2016-05-08 11:39] hchienjo commented on #2945
I had already submitted a [pull request](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2972) a couple of days ago.

[2016-05-08 17:14] GuiltyDolphin commented on #2827
@ethanchewy @gautamkrishnar My first thoughts were the same, "Isn't this just a *program* for Java?", but alas, the description is "A small cheatsheet about the main functions of Interactive Java, a java-based language" and I cannot read French (nor find any other resources for it) so... *shrug*

[2016-05-08 19:41] Nghia11 commented on #2827
https://www.w88.com
buitrungnghia09@gmail.com

[2016-05-08 20:04] EpicWolverine commented on #2827
I've never heard of Interactive Java either, and, while I can't read much Spanish (that's Spanish by the way, not French), I can read the code. All of the functions mentioned look suspiciously like [Processing functions](https://processing.org/reference/), though Processing doesn't use main() (it uses setup() and draw()). The source also refers to the language as iJava, which may help us find more

[2016-05-08 20:24] GuiltyDolphin commented on #2827
@EpicWolverine Haha, so it is! My bad :wink: Hmm... Yeah, there do seem to be some similarities, but that happens across most languages :/ There are plenty of results for `ijava` and `interactive java`... but none of them are anything like this!

@OscarMZ Can you give us any info on this?

[2016-05-08 20:27] #2820 closed

[2016-05-08 20:34] #3008 closed

[2016-05-08 20:45] mintsoft commented on #2945
Fixed in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2972

[2016-05-08 20:46] #2945 closed

[2016-05-09 05:06] harisphnx commented on #2827
On Mon, May 9, 2016 at 1:54 AM, Ben Moon <notifications@github.com> wrote:

True, most of the results are pointing at something else. There
doesn't seem to be a universal language called IJava (or Interactive
Java). I feel this cheatsheet is for something quite specific.

--

With regards,

Md Haris Iqbal,
Placement Coordinator, MTech IT
NITK Surathkal,
Contact: +91 8861996962

[2016-05-09 14:45] jdorweiler opened #3016 "Cheat Sheets (Controller): Verify Metadata"
Could the cheatsheet test check that there is an IA page using the ID from the cheatsheet json file?

------
IA Page:  http://duck.co/ia/view/cheat_sheets
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @zachthompson

[2016-05-09 14:45] tagawa commented on #2945
Sorry @hchienjo, I missed that. Thanks very much for fixing this.

[2016-05-09 14:47] hchienjo commented on #2945
You're welcome.

[2016-05-09 14:51] jdorweiler commented on #402
Looks like it works now.

[2016-05-09 14:51] #402 closed

[2016-05-09 15:00] zachthompson commented on #3016
Yeah, I actually thought it *might* be there already.  We probably want a way to verify arbitrary metadata fields from anywhere.  For example:
[code]
We can always do this by just getting all of the metadata and DIY.  However, there's no reason to write the logic repeatedly, also some subtleties, e.g. id or module is required and module returns an array.

@GuiltyDolphin you interested?

[2016-05-09 15:56] GuiltyDolphin commented on #3016
@zachthompson @jdorweiler Sure, should be pretty easy - just make sure an IA page exists via DDG::Meta::Data.

[2016-05-09 16:13] GuiltyDolphin commented on #3016
@zachthompson @jdorweiler Oh boy... The failures!

Looks like people don't like to keep descriptions consistent between metadata and JSON!

[2016-05-09 16:27] jdorweiler commented on #3016
I'm mostly worried about things like this
https://beta.duckduckgo.com/?q=cash+cheat+sheet&ia=cheatsheetscontroller

[2016-05-09 16:28] jdorweiler commented on #3016
Is there a test we could do to catch these? I've found and fixed a live one last week with the same "cheatsheet controller" tab name.

[2016-05-09 16:38] GuiltyDolphin commented on #3016
@jdorweiler What's the cause? It looks like it is using 'name' as 'CheatSheets (Controller)'...

We can easily check for the presence of an IA page, but I'm not sure what's causing that?

[2016-05-09 16:59] GuiltyDolphin commented on #3016
@zachthompson @jdorweiler What do you think? https://github.com/duckduckgo/zeroclickinfo-goodies/tree/gd/cheat-sheets-use-meta

There's no clashes with the existing infrastructure as we override any JSON definitions with metadata... So we could just 'phase' the JSON out without issue (more focus on correct metadata).

[2016-05-09 17:15] jdorweiler commented on #3016
I think it's the case where the id in the cheatsheet json doesn't match an existing IA page.

[2016-05-09 17:33] GuiltyDolphin commented on #3016
@jdorweiler Yeah, you're right: the tests picked up a few, and I tried a couple - the name was wrong (for example, `backbonejs cheat sheet`).

[2016-05-09 17:38] #2967 closed

[2016-05-09 20:01] s7nio opened #3020 "Add zfs cheat sheet"
###### What does your Pull Request do (check all that apply)?

- [x] New Instant Answer
    - [x] Cheat Sheets: **`New zfs Cheat Sheet`**

###### Description of changes

Provide an overview of common zfs commands.

---

Instant Answer Page: https://duck.co/ia/view/zfs_cheat_sheet

[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @s7nio

[2016-05-09 20:47] #3020 closed

[2016-05-09 22:11] #2885 closed

[2016-05-09 22:49] sils1297 opened #3022 "Broken Link"
As part of https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2289 I have tried a bit more code analysis on your project, among that our invalid link detection. (I won't make a PR because there's a high false positive rate - so far but this one's true:)

[code]

You might want to check that.

[2016-05-10 16:46] GuiltyDolphin opened #3023 "CheatSheets: Use metadata in place of some fields"
@zachthompson I mentioned this briefly on #3016, but in summary:
- We have several fields on cheat sheets (such as description, name, source etc.) that are already in the metadata.
- Preferring metadata over the JSON fields is trivial, and does not cause conflicts; it deprecates the use of the fields in the JSON.
- We could potentially greatly simplify the tests (depending on whether or not we wan

[2016-05-10 18:36] GuiltyDolphin opened #3024 "Backbone.js Cheat Sheet: Update ID"
1. Update the ID in the JSON to `backbone_js_cheat_sheet`.
2. Remove the `backbone js` alias.
3. Add `backbonejs` as an alias.

------
IA Page:  http://duck.co/ia/view/backbone_js_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @vikashvverma

[2016-05-10 18:38] GuiltyDolphin opened #3025 "Kotlin Cheat Sheet: Update ID on IA Page"
@zekiel @moollaza @zachthompson We should update the IA Page to `kotlin_cheat_sheet`.

------
IA Page:  https://duck.co/ia/view/kotlin_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @max-vogler

[2016-05-10 18:40] GuiltyDolphin opened #3026 "Facebook React Cheat Sheet: Update IA Page ID to reactjs_cheat_sheet"
@zekiel @moollaza @zachthompson We should update the IA Page to `reactjs_cheat_sheet`.

------
IA Page:  https://duck.co/ia/view/reactjs_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @vikashvverma

[2016-05-10 18:41] max-vogler commented on #3025
👍 If I see this correctly, there's no way for me as maintainer to update it?

[2016-05-10 18:45] GuiltyDolphin opened #3027 "UnderscoreJS Cheat Sheet: Dev stage needs bumping up"
@zekiel @moollaza @zachthompson This is currently only in planning? I think it needs bumping up (and we should provide planning IAs in the metadata); the tests are unable to fetch the metadata for this cheat sheet even though the ID is correct.

IA Page: https://duck.co/ia/view/underscore_js_cheat_sheet
Maintainer: @pecey

[2016-05-10 18:47] zachthompson commented on #3027
Yeah, I agree.  We've discussed this a bit.  You could bump it up to dev to get it in the feed for now.

[2016-05-10 18:49] GuiltyDolphin commented on #3025
@max-vogler Unfortunately not, but thanks for responding so quickly!

[2016-05-10 18:52] GuiltyDolphin commented on #3027
@zachthompson I'm unable to do that (unless you mean by a PR); any news on Community Platform perms for CLs?

[2016-05-10 18:53] zachthompson commented on #3027
Argh, that's a good question.  I have to imagine we have that listed somewhere.  Updated.

[2016-05-10 18:54] #3027 closed

[2016-05-10 19:31] Zacqary opened #3028 "ES6/Babel in Frontend Code?"
I'm wondering if there are any plans to enable ES6 syntax (at the very least) or modules (at best) in frontend JS for instant answers? I'm looking to contribute more, but I've grown pretty used to stuff like destructuring and `import`-able code.

Not sure what specific challenges the wider DDG codebase has to overcome in order to build with Babel (which is basically required if you want ES6 to wor

[2016-05-10 19:53] zachthompson commented on #3027
FYI, you can update IAs to which you've contributed but not all atm.  We have a task to look into it.

[2016-05-10 20:39] GuiltyDolphin commented on #3027
@zachthompson Yeah - though I believe it has to go through a review process, and you can't update *everything*?

[2016-05-11 03:40] vikashvverma commented on #3024
@GuiltyDolphin The file name is `backbonejs.json` so the id should be `backbonejs_cheat_sheet` not `backbone_js_cheat_sheet`.

[2016-05-11 13:14] GuiltyDolphin commented on #3024
@vikashvverma Then update the file name too.

[2016-05-11 16:20] LudoBike opened #3036 "SQL Cheat Sheet: the 'FOREIGN KEY' statement appear 2 times"
Hi,

I was read sql cheat sheet when I note that the 'FOREIGN KEY' appear 2 times. For information I use firefox 49.0.1 on updated Archlinux.

------
IA Page:  http://duck.co/ia/view/sql_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jophab

[2016-05-12 08:42] NaveenKarippai commented on #2767
Please assign DaysBetween, Password, PercentOf and Pi to me.

[2016-05-12 12:23] jophab commented on #3036
@LudoBike Corrected :+1:

[2016-05-12 12:34] #3036 closed

[2016-05-12 12:40] lnalex commented on #2879
@GuiltyDolphin : Not for my part (beta/non-beta)

![capture d ecran_2016-05-12_14-38-15](https://cloud.githubusercontent.com/assets/1835726/15214775/4df5c2b4-184f-11e6-841d-045cd7524307.png)

[2016-05-12 13:12] GuiltyDolphin commented on #2879
@lnalex I don't believe the Calculator is on beta right now. You can try the changes out locally by checking out the branch on #1927 (let me know if it works).

[2016-05-12 13:51] lnalex commented on #2879
@GuiltyDolphin Fixed with #1927 :+1:

[2016-05-12 17:22] tagawa commented on #2936
Thanks for making this change @marti1125 - I'm taking a look now.

[2016-05-12 21:15] moollaza commented on #3025
done 👍

https://duck.co/ia/view/kotlin_cheat_sheet

[2016-05-12 21:15] #3025 closed

[2016-05-12 21:18] moollaza commented on #3026
Done 👍

https://duck.co/ia/view/reactjs_cheat_sheet

[2016-05-12 21:18] #3026 closed

[2016-05-12 22:51] #2771 closed

[2016-05-13 11:51] GuiltyDolphin opened #3044 "Cheat Sheets (Controller): Add global ignores"
We recently merged #2777 - which added the 'ignore' attribute to triggers. This allows use to specify that for a particular set of trigger words (for example `phrases`), there are some associated words that can be ignored (for example, `english to` and `basic`); this allows us to do things like `basic english to X phrases` to trigger the cheat sheet.

The downside to this is that it does not allow

[2016-05-13 12:00] #3024 closed

[2016-05-13 16:53] #2938 closed

[2016-05-13 20:01] #3016 closed

[2016-05-14 12:41] NaveenKarippai commented on #2840
@moollaza could you please assign this issue to me. I'm interested to work on it.

[2016-05-14 14:51] GuiltyDolphin commented on #2840
@NaveenKarippai It looks like you aren't in the contributors group? @moollaza I think an invite is in order.

[2016-05-14 15:56] NaveenKarippai commented on #2840
@GuiltyDolphin Thanks. I'd be glad to get an invite in contributors group.

[2016-05-14 16:35] GuiltyDolphin commented on #2840
@NaveenKarippai Seems fine for me https://duckduckgo.com/?q=suicide+hotline&t=ffab&ia=answer

[2016-05-14 16:37] NaveenKarippai commented on #2840
@GuiltyDolphin

**SECOND_UPDATE:** I used **vpn** and it's triggered fine.

[2016-05-14 17:22] GuiltyDolphin commented on #3023
Ping @zachthompson @jdorweiler @moollaza @mintsoft What do you guys think? It'd definitely help with reducing the number of minor edit PRs we get, and we can create an issue for people to ensure their IA pages are up-to-date and remove the redundant metadata from the JSON.

As a reminder, this would *not* conflict with the existing JSON, it would instead *supersede* it and only the fields directly

[2016-05-14 17:28] #2985 closed

[2016-05-14 17:30] GuiltyDolphin opened #3047 "GreatestCommonFactor: Don't trigger on single numbers"
For example, don't trigger on https://duckduckgo.com/?q=gcd+2&t=ffab&ia=answer - it doesn't provide any useful info.

------
IA Page:  http://duck.co/ia/view/greatest_common_factor
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @austinheimark

[2016-05-14 18:23] #2942 closed

[2016-05-15 05:16] procommand commented on #3047
I do see that as an issues but what can be done, it that you could just display gcd of 2 = gcd 2,2 =2 or gcd 2,0 = 2..... so basically what i mean is, when the user does not provide the second value then assume that the second value is zero or two....because in reality the gcd of a single number is its self.

[2016-05-15 05:36] ethanchewy commented on #2937
Good catch @VitorVRS !

[2016-05-15 10:04] GuiltyDolphin commented on #3047
@procommand We can just return if there is only one input number - I.e., `return unless @numbers > 1`. I see your point, and I guess some people might actually be trying to find out the gcd of a single number, @duckduckgo/duckduckhack-contributors any thoughts?

[2016-05-15 11:17] #2937 closed

[2016-05-15 11:17] mintsoft commented on #2937
closed by https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3046

[2016-05-15 11:18] mintsoft commented on #3047
@GuiltyDolphin Agreed; if theres only 1 number in the input it should just `return`

[2016-05-15 13:05] harisphnx commented on #3047
@GuiltyDolphin @procommand, When 2 numbers are entered (let's say x and y), a message saying "Greatest common factor: x and y" comes along with the answer. What we can do is, if one number is entered we can give a message "Greatest common factor: x and 0", along with the answer x.

[2016-05-15 13:17] GuiltyDolphin commented on #3047
@harisphnx Both @mintsoft and I believe we shouldn't trigger on a single number - I'd like to get @austinheimark's opinion as maintainer.

[2016-05-15 15:16] AlterationBrick commented on #1163
I'll tackle Dewey if no one else is working on it.

[2016-05-15 17:17] GuiltyDolphin opened #3065 "Tips: Ensure a currency is always specified"
Currently the Tips IA can handle queries such as `25% of 500`, which it shouldn't.

We should make sure that a currency is always present so we are only doing tip calculations, not arbitrary percentages. If the word 'tip' is present we can probably assume this is what they want.

---

IA Page:  http://duck.co/ia/view/tips
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mat

[2016-05-15 17:42] GuiltyDolphin opened #3068 "Fibonacci: Use perl package for generating sequence"
Instead of rolling our own, we could use a package like [Math::NumSeq::Fibonacci](https://metacpan.org/pod/Math::NumSeq::Fibonacci) to generate the Fibonacci numbers.

------
IA Page:  http://duck.co/ia/view/fibonacci
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @koosha--

[2016-05-15 18:11] procommand commented on #3047
yeah, i guess you are right about just returning. But we could give users info about why we returned, and it could be like "Cannot compute GCD for a single number, please provide a second number followed by a comma...Example: (GCD 2,6)".... but it all matter what we all think together

[2016-05-15 18:20] koosha-- commented on #3068
The current code is working fine and concise and I don't see any point in this switch.

[2016-05-15 18:35] mintsoft commented on #3068
@GuiltyDolphin Is there any specific benefit to switching? (Performance perhaps?)

[2016-05-15 18:36] mintsoft commented on #3065
@GuiltyDolphin Would these queries be handled by another IA?

[2016-05-15 18:40] zachthompson commented on #3047
By definition it requires [two or more numbers](https://en.wikipedia.org/wiki/Greatest_common_divisor).  We don't typically provide usage messages either for the wrong syntax.

[2016-05-15 18:47] GuiltyDolphin commented on #3065
@mintsoft Possibly - it would open it up for another IA at least; the queries aren't relevant to this IA and I would consider it *major* over triggering.

[2016-05-15 18:52] mintsoft commented on #3065
Hmm; I see where you're coming from, however if a user searches for "25% of 500" they get the answer; with this removed they wouldn't?

[2016-05-15 18:55] GuiltyDolphin commented on #3068
@mintsoft The package is faster, has more features (if we wish to expand) and more robust; is it not one of the Perl sayings "Don't re-invent the wheel"?

Anyway, some cool things this package provides:

* `ith` - the `ith` Fibonacci number (can do very large numbers *very* quickly).

* `pred` - check if a number is in the Fibonacci sequence `is 71 a fibonacci number`

Also there's a bunch of othe

[2016-05-15 18:59] GuiltyDolphin commented on #3065
@mintsoft No - but I think we should open this up to someone else for a new IA; this Goodie is trying to do too much.

[2016-05-15 20:51] mintsoft commented on #3065
Yeah OK; if the functionality is replaced by another IA then :+1:

[2016-05-15 21:01] mintsoft commented on #3068
Well that's cool; if we want to extend the functionality of the IA then I agree it makes sense to switch it out at that time

[2016-05-16 08:02] sach2211 commented on #3065
Probably, user already knows which currency he is paying in, so not letting him know what he wants to  know might be a bad ux.

[2016-05-16 10:02] koosha-- commented on #3068
Unless you have a concrete utilization of its "more features" for extending, I would still not see any particular point in switching and yet having the same functionality as we do now. In other words, the switch should be made only if you have added a new feature to the code that comes from the proposed module.

[2016-05-16 10:50] GuiltyDolphin commented on #3068
@koosha-- I quite like the idea of being able to ask `is X a fibonacci number` - I'll make an issue for it.

[2016-05-16 10:52] GuiltyDolphin opened #3070 "Fibonacci: Support assertion queries"
It'd be great if we could do `is X a fibonacci number?`, `is X in the fibonacci sequence?`.

See #3068 - but in summary there is the `Math::NumSeq::Fibonacci` package that can do this already.

/cc @mintsoft

------
IA Page:  http://duck.co/ia/view/fibonacci
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @koosha--

[2016-05-16 10:56] GuiltyDolphin commented on #3065
@sach2211 Ux? I'm referring to cases where there is no currency involved (or tips); such as `25% of 100`. If they say `25% tip of 100` or `25% of $100` it should still trigger.

[2016-05-16 18:37] GuiltyDolphin commented on #3023
@zachthompson Ping - I think catching this earlier than later is probably best if we wish to get people to keep the metadata up-to-date.

Any thoughts on this?

[2016-05-17 03:47] bsinger98 opened #3080 "query "48 in hex" does not work"
From what I can tell all other numbers work but 48.

[2016-05-17 03:48] #3080 closed

[2016-05-17 03:49] bsinger98 opened #3081 "Base Conversion: Query "48 in hex" does not work"
All other numbers but 48 seem to work correctly.

---

IA Page:  http://duck.co/ia/view/base
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @moritz

[2016-05-17 07:07] mintsoft commented on #3081
@bsinger98 Are you finding that the product search results for hex screwdrivers are taking precedence? If so there should be an answer tab which contains the actual answer?

[2016-05-17 11:39] #2936 closed

[2016-05-17 11:40] tagawa commented on #2936
I just merged your improvements @marti1125 - thanks very much!

[2016-05-17 12:02] tagawa commented on #2840
Sorry for the delay @NaveenKarippai. I sent you an invitation to join the contributor group. If you accept that then we can assign issues to you.

[2016-05-17 12:08] tagawa commented on #1163
Hi @AlterationBrick. That would be great - thank you.

[2016-05-17 12:13] moritz commented on #3081
I don't think the hex plugin fails to convert the value 48, it just that if 48 appears in the search, some other mechanism seems to prefer results from amazon. In fact, the search `48 hex` (without the `in`) works for me.

[2016-05-17 12:19] mintsoft commented on #3081
@moritz That's the behaviour that I've witnessed too; I believe adding `signal => 'high'` into the returned `structured_answer` should make it take precedence. @moollaza Is this true with the amazon product results or just other IAs?

[2016-05-17 12:52] tsimonq2 opened #3085 "Lubuntu website has changed"
The Lubuntu website has changed from Lubuntu.net to Lubuntu.me and the search result needs to be adjusted for that.

[2016-05-17 13:50] marti1125 commented on #2936
Great :D

[2016-05-17 14:14] #2646 closed

[2016-05-17 14:21] GuiltyDolphin commented on #3085
Hey @tsimonq2 - could you include a link to the Instant Answer pages for the Goodies that are affected by this update? There is a `Create Issue` button on the duck.co Instant Answer pages you can use to ensure all the necessary info is filled out!

[2016-05-17 15:13] NaveenKarippai commented on #2840
@tagawa no worries! And, thanks for the invite :+1:

[2016-05-17 18:28] GuiltyDolphin opened #3087 "Remove (or move) old repository Instant Answers"
We have some oldie IAs that, for one reason or another, are in their own, separate repositories.

We should try and move these Goodies into the main repositories, and failing that, delete them. We'll likely need maintainers too (I think whoever ports should be given first dibs - unless the old owner is still around).
- [ ] [Isvalid](https://github.com/duckduckgo/zeroclickinfo-goodie-isvalid)
- [ ]

[2016-05-17 19:21] majuscule commented on #3087
Qrcode is in a separate repository due to its external dependency, libgif-dev (giflib). The same issue may be responsible for the others as well but I do not remember.

[2016-05-17 19:35] GuiltyDolphin commented on #3087
@majuscule Are you sure there's no alternatives? Looks like there's a bunch on [cpan](https://metacpan.org/search?q=qrcode).

If we can't port it as a Goodie, it may be worth moving it to Spice where I'm sure there's a bunch of APIs for QRCodes.

[2016-05-17 19:39] majuscule commented on #3087
No I am not. However most on that page seem to depend on libqrencode.

[2016-05-17 19:59] mintsoft commented on #3087
@GuiltyDolphin there is the privacy argument; I spent ages trying to find somewhere that could generate me a QR code without guarantees that they store it their side until I found that IA :)

[2016-05-17 20:04] GuiltyDolphin commented on #3087
@mintsoft @majuscule Fair dos - there's more pressing issues with the other IAs, some which don't even appear to be live. Seeing as there's actually a *reason* for this one to be separate, we can leave it for now.

[2016-05-18 02:53] tsimonq2 commented on #3085
Whoops, it seems it was changed after I updated the Wikipedia page to what it needs to be. All fixed!

[2016-05-18 02:53] #3085 closed

[2016-05-18 17:19] NaveenKarippai commented on #2840
**ToDo:**

* [ ] refactor /adapt test suite

[2016-05-19 00:49] jonk1993 commented on #2877
I'm looking into this

[2016-05-19 05:31] marti1125 commented on #3087
Hi @GuiltyDolphin how to I can contribute with this?

[2016-05-19 10:31] GuiltyDolphin commented on #3087
@marti1125 Make sure you're familiar with the [docs](http://docs.duckduckhack.com/); then have a quick look over the repos to find one you want to work on. Then pull the code down and move it to your copy of ZCI-goodies (if you are a bit more advanced with Git you should be able to pull the commits in to maintain the history). Then just make sure everything is working fine and update the Goodie to

[2016-05-19 10:34] GuiltyDolphin commented on #2840
@NaveenKarippai Rather than going for a bulleted list, it may be worth doing a KV list seeing as there is more info in the YAML than just the phone number (you may wish to add a name for each as well).

[2016-05-19 18:42] NaveenKarippai commented on #2840
@GuiltyDolphin could you please post an example of KV list (appearance) as I'm not sure about it.
Regarding _more info_ on list view, are you refering to `web` data field on yml file?
And, how would you ask to add names - use _website name_?

[2016-05-19 18:51] GuiltyDolphin commented on #2840
@NaveenKarippai Yeah, I was thinking the website names (/ company names if available) would be best - then you could KV the name with phone number.

Here's a link to a query that shows key values: https://duckduckgo.com/?q=abc+%3D~+%2F%28%3F%3Cfirst%3Ea%29%28%3F%3Csecond%3Eb%29%28%3F%3Cthird%3Ec%29%2F&ia=answer

[2016-05-19 21:40] moollaza commented on #3023
@zachthompson I like the idea of using the Metadata for the Description and Source, I would opt to grab the IA Page Metadata on the Frontend though seeing as we already make it available. That way we can simplify the Perl a little.

[2016-05-20 15:17] marti1125 commented on #3087
Hi @GuiltyDolphin I'm trying to run Spell I copied the content of Spell.pm in a new IA for test
but when the server running I get this message

[NOTICE] \ {
    DDG::Goodie::Spell   "Please install Text::Aspell and any other required dependencies to use this instant answer."
}

I added [Prereqs] sush as https://github.com/duckduckgo/zeroclickinfo-goodie-spell/blob/master/dist.ini

[2016-05-20 15:57] GuiltyDolphin commented on #3087
@marti1125 You can install it locally with cpanm - eg., `cpanm Text::Aspell`.

@mintsoft Looks like this one might be a bad dependency? I can't install it locally without root or errors. Maybe it is external deps (again). There's quite a few [packages for spelling](https://metacpan.org/search?q=spell&search_type=modules) @marti1125 - you could have a look through those and see if any seem suitable

[2016-05-20 16:03] zekiel commented on #3047
@procommand  can I help you get started or involved with anything in the next week or two? I'll make sure to be around Slack and GitHub if so.

[2016-05-20 16:25] koosha-- commented on #3070
It's OK to implement this, but, I think we should be wary of performance issues with large numbers.

[2016-05-20 17:28] GuiltyDolphin commented on #3070
@koosha-- It's seems fine up to approx. `10^22` before I can notice anything - you might want to have a cap though.

[2016-05-20 17:47] edgesince84 commented on #2877
Cool, thanks Jon!

[2016-05-20 17:55] majuscule commented on #3087
[Text::Aspell](http://search.cpan.org/~hank/Text-Aspell/Aspell.pm) requires `libaspell-dev`

[code]

I expect this will be the case with most of the external IA :-)

[2016-05-20 17:57] GuiltyDolphin commented on #3087
@majuscule Maybe - though IsValid and Math don't appear to be triggering - and I couldn't find IA pages for them; so I think porting is really the only good course of action here (and failing that, deletion).

[2016-05-20 19:01] GuiltyDolphin commented on #3081
@mintsoft @moritz It's working fine for me https://duckduckgo.com/?q=48+hex&ia=answer

Have you got a region set?

[2016-05-20 23:19] mintsoft commented on #3081
@GuiltyDolphin Works fine for me now

[2016-05-20 23:26] bsinger98 commented on #3081
@GuiltyDolphin @mintsoft Remember, it only occurs when you search "48 in hex". It works fine when the query is "48 hex" as shown in the link @GuiltyDolphin posted. Here is an example: https://duckduckgo.com/?q=48+in+hex&atb=v12&ia=products.

[2016-05-20 23:31] mintsoft commented on #3081
@bsinger98 It works for me at the moment with the query "48 in hex"; I'm not seeing the amazon results I saw previously

[2016-05-21 04:17] appleiphonegodfather opened #3112 "Facebook Cheat Sheet: https://www.facebook.com/hieu.nguyentrong.10441?pnref=story#"
[@]([url](

-

- [ ] [url](url)

))

------
IA Page:  http://duck.co/ia/view/facebook_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @saifakhan

[2016-05-21 07:38] tagawa commented on #2918
Hi @vikashvverma. Sorry for the delay in getting back to you and thank you very much for offering to be the maintainer. I've just added your name to the IA page.

[2016-05-21 07:38] #2918 closed

[2016-05-21 11:53] GuiltyDolphin commented on #3081
@mintsoft @bsinger98 `48 in hex` triggers both Products and Base with no region set, but only Base when UK region is set.

It seems odd that products would trigger at all if there is no region - seeing as it is a region-specific result; @moollaza does it default to an American region or something?

[2016-05-21 14:12] mRse7enNIT opened #3115 "Intel 8085 Cheat Sheet: No Link"
Hello, When I am clicking the IITK website it is redirecting to a page which is giving 404. Please fix it

------
IA Page:  http://duck.co/ia/view/intel_8085_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jophab

[2016-05-21 14:38] tagawa commented on #3115
@mRse7enNIT Thanks for reporting this.

@jophab It looks like the source PDF has been taken down. Maybe we could link to this source instead: http://scanftree.com/microprocessor/Instruction-Set-In-8085

[2016-05-21 16:51] vikas-bansal opened #3116 "Nodejs Cheat Sheet: Doesn't trigger for Node.js"
IA gets triggered for "Nodejs cheatsheet" but not for "Node.js cheatsheet"
------
IA Page:  http://duck.co/ia/view/nodejs_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @stanly-johnson

[2016-05-22 00:31] edgesince84 commented on #3116
Hi Vikas, thanks for opening this issue!  "node.js cheetsheat" should definitely trigger this.  Thanks for your input and welcome to DuckDuckHack!

[2016-05-22 02:33] vikas-bansal commented on #3116
Hey man , thanks for the welcome.

[2016-05-22 05:41] gaulrobe commented on #2767
@moollaza #3119 fixes the Sha Goodie.

[2016-05-22 09:33] NaveenKarippai commented on #2840
@GuiltyDolphin Thanks. It seems that I should ditch custom handlebars template and go for `record` sub-template for KV list.

**double-checking**; Should I be adding website names explicitly on yml dat- For e.g., `web: http://www.lifeline.org.au/Get-Help/I-Need-Help-Now` should have `name: lifeline` data added and show `name`field as `key` on list?

[2016-05-22 11:06] GuiltyDolphin commented on #2840
@NaveenKarippai Yeah, basically - but find out the actual organization name (which may or may not be the same as the website name).

[2016-05-22 16:09] NaveenKarippai commented on #2840
@GuiltyDolphin switched to KV list by using `content` sub-template! Could you please review the changeset.

FYI: The longer names (key-data field) are being wrapped off on list view.

[2016-05-22 16:50] GuiltyDolphin commented on #3112
@appleiphonegodfather Accident?

[2016-05-22 16:50] #3112 closed

[2016-05-22 17:36] GuiltyDolphin opened #3121 "Refactor tests for Goodies using Roles"
### Abstract

Goodies should only be testing their own specific functionality and triggering, they should not be testing the Roles' parsing capabilities.

The Roles should fully cover (with tests) what they can, and cannot, parse; failure to parse (for example) a date on production should be considered an 'issue' with the Role and brought up as one, specifics can be uncovered there.

The Roles nee

[2016-05-22 20:48] Naser88 opened #3129 "Photoshop cheat sheet:"
------
IA Page:  http://duck.co/ia/view/photoshop_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @therealkbhat

[2016-05-22 20:50] Naser88 commented on #3129
Update iPhone

[2016-05-22 20:51] mintsoft commented on #2767
@NaveenKarippai You're currently assigned to: DaysBetween, Password.pm, PercentOf.pm,  Pi.pm

I can see that you're currently working on DaysBetween; do you mind if I unassign Password. PercentOf and Pi so someone else (probably myself) can quickly knock them out?

Thanks

[2016-05-22 20:51] therealkbhat commented on #3129
@Naser88 Sorry, I'm not following. What's the issue here?

[2016-05-22 20:52] mintsoft commented on #2767
@lamanh You're currently assigned to EmailValidator; I can see you started work on it already but hit some issues. Do you still want to be assigned to it?

[2016-05-22 21:21] mintsoft commented on #3121
@GuiltyDolphin It's probably worth mentioning that if the IAs aren't purely using the Dates Role (i.e. they've got their own handling as well) then tests exercising it's custom handling shouldn't be deleted!

[2016-05-23 03:27] edgesince84 commented on #3129
Hey @Naser88, is there something I can help you with here?

[2016-05-23 07:29] NaveenKarippai commented on #2767
@mintsoft no worries! please go ahead.

[2016-05-23 10:24] GuiltyDolphin opened #3135 "New Role for list parsing"
@mintsoft @moollaza We have quite a few Goodies that parse lists of items, I think having a Role that can deal with parsing various formats of lists (`[1, 2, 3]`, `1 and 2, and 3`, `1 2 3` etc.) as well as giving a way to format the lists in a standard way would be quite useful.

This Role would also be quite useful to be *used* in some of the other roles; allowing easy parsing of lists of dates o

[2016-05-23 10:26] GuiltyDolphin opened #3136 "Split Role tests up"
@moollaza @mintsoft @zachthompson Currently we've got all the role tests in `t/00-roles.t`, but in general the tests for each Role are pretty huge; I think it might be beneficial to split the tests into `t/00-roles/00-dates.t`, `t/00-roles/01-numberstyle.t` etc., (or similar; split `00-roles.t` into a directory).

Thoughts? I think this might make it a _bit_ easier to work on the roles.

[2016-05-23 10:28] GuiltyDolphin commented on #3121
@mintsoft Yeah - sorry; I'll update the description to clarify. I was including that in the 'Goodie functionality' section.

[2016-05-23 10:34] GuiltyDolphin opened #3137 "Sort: Update to use NumberStyle Role"
Currently Sort is doing its own number parsing - we should use the NumberStyle Role instead (and update the tests re #3121).

---

IA Page:  http://duck.co/ia/view/sort
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @koosha--

[2016-05-23 10:39] GuiltyDolphin commented on #3065
@mintsoft I think this could be handled by https://duck.co/ia/view/percent_of

/cc @puskin94

[2016-05-23 12:04] mintsoft commented on #3136
@GuiltyDolphin Completely agree; although I think we're best to do with when there are no Role PR's in progress

[2016-05-23 12:04] GuiltyDolphin opened #3139 "Pull Request template (a review)"
@duckduckgo/community-leaders Right, we've had the PR template a while now, just thought I'd ask how you guys have found it (both as reviewers and users).

My only complaint is the checklist, which feels a bit cumbersome (though mostly people are using it correctly). Provided everyone uses good titles for their pull requests, I think the checklist becomes redundant.

Also, as @swapagarwal pointed

[2016-05-23 12:04] mintsoft commented on #3135
Sounds like a plan! Nice and simple too :)

[2016-05-23 12:05] GuiltyDolphin commented on #3023
@zachthompson Any thoughts?

@moollaza have you come up with a solution to the front-end issue (cannot access metadata), or do you think the back-end will be fine?

[2016-05-23 12:06] mintsoft commented on #3139
I think it feels quite .. noisy? When I do a PR the first thing I do is delete most of it; I guess in the ideal world when people hit the "PR" button then they'd be given a set of instructions of what to do but the actual box to be filled in would be empty!

[2016-05-23 12:07] GuiltyDolphin commented on #3136
@mintsoft Meh, shouldn't be too much of an issue - each one can just pull out its own tests (overwriting master - i.e., automatic conflict resolution ^.^).

[2016-05-23 12:07] mintsoft commented on #3136
Yeah true!

[2016-05-23 12:09] GuiltyDolphin commented on #3135
@mintsoft I was thinking of namespacing it as `DDG::GoodieRole::Parse::List` so we could group miscellaneous (mainly) parsing roles together, do you agree?

[2016-05-23 12:12] GuiltyDolphin commented on #3139
@mintsoft Yeah - the fields I think are *required* are the description, and the IA page/maintainer. We could probably expand the description to suggest they should mention any issues it fixes there - and @mentions, thoughts?

[2016-05-23 12:17] gaulrobe commented on #3139
I concur that the checkboxes are a bit noisy. The rest of the PR template is structured in a way that makes sense and is especially helpful in trying to get details about a particular PR... but it is only helpful if people remember to fill it in! That problem is a hard one to fix. 😄

I see the top checkbox part more of a guide on what the expectations of the PR _should_ be (title, what kind of cha

[2016-05-23 12:36] GuiltyDolphin commented on #3139
@gaulrobe Hmm.. Maybe, like a very short summary of what needs to be done before submitting? Perhaps:

Before submitting your pull request, please make sure you have done the following:

- Made sure there are no existing pull requests for the changes.
- Given an appropriate title to the pull request, e.g., `Calculator: Add factorial function`.
- Linked the relevant Instant Answer page and maintain

[2016-05-23 12:43] gaulrobe commented on #3139
@GuiltyDolphin yeah, just some boilerplate like that. Having expectations written down is always helpful, some people will see it and follow the directions, others won't... but at least there won't be anything that inhibits those that leverage the description more heavily.

[2016-05-23 14:57] #2002 closed

[2016-05-23 15:33] edgesince84 commented on #3129
@therealkbhat looks like no problems here, thanks for being responsive, though!

[2016-05-23 15:44] edgesince84 commented on #3112
@appleiphonegodfather is there something I can help you with?  I see you've opened two issues, but both seems to be unclear.

[2016-05-23 15:49] edgesince84 commented on #3081
@bsinger98 are you not getting an "Answer" tab to the left of "Products" too?  Your example query displayed Products first, but there's an Answer tab as well, for me.

[2016-05-23 16:53] #2929 closed

[2016-05-23 18:05] zekiel opened #3141 "DuckDuckGo Shortcuts: Key commands difficult to read when expressing ORs"
Broken syntax making keyboard shortcuts not show properly. Please see http://docs.duckduckhack.com/frontend-reference/cheat-sheet-reference.html#cheat-sheet-json-reference for guidance or feel free to ask!

![screen shot 2016-05-23 at 2 03 34 pm](https://cloud.githubusercontent.com/assets/1846953/15479663/3cdea9b6-20ef-11e6-86b2-d006bf442f98.png)

------
IA Page:  http://duck.co/ia/view/duckduckgo

[2016-05-23 18:07] zekiel commented on #2988
@fzzr-  @GuiltyDolphin  what action is required to move forward with this?

[2016-05-23 18:09] edgesince84 opened #3142 "Constants: possible issue with "electron charge" answer"
A user on DuckDuckGo reported a potential issue with the constant for "electron charge."  They stated that the IA should have a minus.  Is this an incorrect answer?

---

IA Page:  http://duck.co/ia/view/constants
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @hemanth

[2016-05-23 19:52] mintsoft commented on #3142
@edgesince84 Yes; the charge on an electron is -1.6 E-19C; the charge on a proton is +1.6E-19C

[2016-05-23 19:55] mintsoft commented on #2988
@zekiel The calculator rewrite needs merging :)

[2016-05-23 20:59] Qeole commented on #3141
I have not worked on this in a while (it was not even in JSON at that time), but I will fix it.

I agree that it does not show properly, but I fail to see where the syntax is broken? I feel like [the JSON file for this cheat sheet](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/duckduckgo.json) does stick to [the reference](http://docs.duckduckhack.c

[2016-05-24 07:05] sam09 opened #3143 "New Duration Calculator Goodie"
A simple calculator that enables users to enter queries of time like 3 hours 45 minutes + 1 hour 20 minutes and returns the calculated result.

---

IA Page: https://duck.co/ia/view/duration_calculator

[2016-05-24 07:07] sam09 commented on #3143
@GuiltyDolphin We discussed this on slack.

[2016-05-24 09:01] GuiltyDolphin commented on #3143
@sam09 Hey Sam, thanks for this!

First things first, make sure you are familiar with the source https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/DateMath.pm - perhaps have a little play with it.

Okay, here's a some info that may be useful:

#### Packages

I really like [DateTime::Duration](https://metacpan.org/pod/DateTime::Duration) and [DateTime::Format::Human::Du

[2016-05-24 09:09] GuiltyDolphin commented on #2988
@zekiel It's been since December ^.^ - I've also got the interactive version in-progress, but that *also* relies on the Calculator.

[2016-05-24 11:34] mintsoft commented on #2988
@GuiltyDolphin Once it's been live for a bit I'll be comfortable merging small changes in

[2016-05-24 13:05] GuiltyDolphin commented on #3139
@zachthompson @moollaza Any thoughts? Are you happy with the idea of a short, bulleted list rather than the check boxes?

[2016-05-24 15:21] therealkbhat commented on #3129
@Naser88 Please mention what the exact issue is here, we're more than happy to help.

[2016-05-24 15:29] moollaza commented on #3139
Yes, I'd prefer bullets instead of check boxes

Or simply headings + description text.

The template should only aim to clarify the PR, we shouldn't add in other instructions or tell them how to make a PR. As you said, the CONTRIBUTING does that as well as the Docs. First timer's also get a Dax message that can explain things.

This template should just provide the framework for a well formatted P

[2016-05-24 16:12] zachthompson commented on #3044
I don't think we have a big enough need to worry about this atm.

[2016-05-24 16:46] #3129 closed

[2016-05-24 17:13] GuiltyDolphin opened #3144 "Sort: Shouldn't trigger on single numbers"
We shouldn't trigger if there is only one input number, eg., https://duckduckgo.com/?q=sort+1&ia=answer

------
IA Page:  http://duck.co/ia/view/sort
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @koosha--

[2016-05-24 17:29] GuiltyDolphin opened #3145 "Sort: Displaying 'inf' in place of large numbers"
For example https://duckduckgo.com/?q=sort+1e1000%2C1e200&ia=answer

---

IA Page:  http://duck.co/ia/view/sort
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @koosha--

[2016-05-24 20:17] moollaza commented on #3081
Yes it defaults to US. FWIW a lot of searches are made without a region. I personally use the Canada region pretty infrequently. I do flip it on though when I need Canadian Amazon results.

It seems like 48 is a popular number across "hex" related products on Amazon. The Goodie does trigger though and work.

@mintsoft I've learned from the Search team that we need to be more careful about the use

[2016-05-24 21:09] NaveenKarippai commented on #2643
@GuiltyDolphin @jagtalon If there has been no update on this issue so far, I'd be interested to try some CSS magic here.

[2016-05-25 00:08] moollaza commented on #3087
Hey guys, I see no need for anything to change here, if it ain't broke, don't fix it 😉

Chords, Math, and IsValid are not being used. Math looks like it was forked from another dev, but we're not using it and I don't think we ever will given the MathJax dependency. Chords was never used IIRC, but we have a separate Chords Goodie in the repo which is live and still being developed. IsValid doesn't

[2016-05-25 00:10] moollaza commented on #3087
It looks like Spell and QrCode could use code updates to use templates, but I don't think we should bother porting the code because of the dependencies.

[2016-05-25 11:17] mintsoft commented on #3081
@moollaza Is there an argument that a goodie should always 'win' relative to any other form of IA? Given that they're targeted to very specific queries?

[2016-05-25 13:21] GuiltyDolphin commented on #3087
@moollaza Perhaps we should remove the repos of the Goodies we are unlikely to ever use? I don't see any benefit to keeping them around - and they currently add unnecessary clutter to the repos.

[2016-05-25 13:24] GuiltyDolphin commented on #2643
@NaveenKarippai Go for it - I'm in need of a CSS magician.

[2016-05-25 13:31] GuiltyDolphin commented on #3081
@moollaza Why do we default to US? Doesn't that mean we are going to be showing a *lot* of irrelevant results? Even to a point where it is *blocking* the more specific answer (as @mintsoft mentioned); shouldn't 'No Region' *actually* be 'No Region', rather than US? This behavior seems a bit odd to me.

[2016-05-25 17:34] zekiel commented on #2988
Thx all. Gonna try to get some help w/ these internally so there are extra eyes on it and it doesn't get lost in the github fray.

[2016-05-25 19:31] MariagraziaAlastra opened #3147 "SHA 3: end of string gets cut off"
![screenshot-staging duckduckgo com 2016-05-25 19-50-13](https://cloud.githubusercontent.com/assets/3652195/15553576/f28dcc84-22bf-11e6-87fd-6a82ff1be5d3.png)

------
IA Page:  http://duck.co/ia/view/sha3
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rafacas

[2016-05-25 22:08] moollaza commented on #2840
@NaveenKarippai please make a PR so we can review

[2016-05-25 22:11] moollaza commented on #3136
I'm always a fan of sub-directories for organizing things 👍

[2016-05-25 22:48] NaveenKarippai commented on #2840
@GuiltyDolphin I have referenced open PR on issue tracker (if you please scroll up, it should be visible). I still need to refactor/adapt test suite. working on it soon :small_blue_diamond:

[2016-05-25 22:48] NaveenKarippai commented on #2840
@moollaza  I have referenced open PR on issue tracker (if you please scroll up, it should be visible). I still need to refactor/adapt test suite. working on it soon :small_blue_diamond:

[2016-05-25 23:00] laurenancona opened #3148 "R Cheat Sheet: unrelated front-end files listed on IA page"
I think the only file that should appear under **Front End Files** should be `r.json`:
<img width="1010" alt="screen shot 2016-05-25 at 6 53 01 pm" src="https://cloud.githubusercontent.com/assets/2152151/15558717/3908c882-22aa-11e6-9330-3beec13b28cb.png">

Haven't seen this happening in any other cheat sheet goodies.

------
IA Page:  http://duck.co/ia/view/r_cheat_sheet
[Maintainer](http://docs.d

[2016-05-26 11:52] germangb opened #3150 "Calculator: Unable to evaluate some expressions"
Some expressions are not being triggered

`cos(pi) + sin(pi)` works
`cos(pi/2) + sin(pi)` doesn't work
`cos(pi)/2 + sin(pi)` doesn't work

The same thing happens with other functions

---

IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-05-26 12:13] mintsoft commented on #3150
Already fixed in: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1927

[2016-05-26 12:13] mintsoft commented on #3150
@zekiel Another case of an already solved problem!

[2016-05-26 12:15] mintsoft commented on #3148
@alohaas Not sure if this your field of expertise?

[2016-05-26 12:17] mintsoft commented on #3147
@MariagraziaAlastra I've just switched this to the text template (not sure if it's live yet, but on beta: https://beta.duckduckgo.com/?q=sha3+my+awesome+string&ia=answer ) and it still seems to be doing it. I think this is probably a broader problem with the template itself if the `title` is long.

[2016-05-26 13:32] germangb commented on #3150
Okey sorry for the duplicate. I'll make sure to do the research next time

[2016-05-26 13:46] GuiltyDolphin commented on #3136
@mintsoft @moollaza What do you think of [this structure](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/2477d0090a9b4de9e60e94e7b8cf05b36d2b015a/t/00-roles/Parse/List.t)?

[2016-05-26 14:26] MariagraziaAlastra commented on #3147
@mintsoft Yup, it's live and yeah, if you remove overflow:hidden; from .c-base__title in the dev tools, it shows the full string (quite long indeed):
![screenshot-duckduckgo com 2016-05-26 16-19-22](https://cloud.githubusercontent.com/assets/3652195/15577691/d6018c1a-235d-11e6-8d29-a596a473ea91.png)

Adding word-break: break-all; instead keeps the string within the boundaries by breaking it into m

[2016-05-26 14:59] GuiltyDolphin commented on #3150
@germangb Nono, it's a valid issue - we've got a PR that reworks a bunch of the calculator and happens to fix this; when that's merged this will be resolved :+1:

[2016-05-26 15:08] #3115 closed

[2016-05-26 16:04] alohaas commented on #3148
@mintsoft @laurenancona very strange! Thank you for alerting us to this issue.
It seems like a front-end issue with our IA Pages on the [Community Platform](https://github.com/duckduckgo/community-platform). I'm going to close this issue and open a new issue in that repo.

[2016-05-26 16:05] alohaas commented on #3148
Found a similar issue here - https://github.com/duckduckgo/community-platform/issues/1248

[2016-05-26 16:08] #3148 closed

[2016-05-26 16:20] mintsoft commented on #3147
@MariagraziaAlastra Hmm I think `word-break: break-all` should probably put onto the text template then? I can't think of a situation in which we'd want to hide that output?

[2016-05-26 16:27] moollaza commented on #3147
`break-all` would break long words in the middle, instead of forcing them to wrap. Seeing as the string has no non-alpha chars there's no good place to break it and we also don't mind wrapping it anywhere in the string. For any other kind of string we would though...

[2016-05-26 16:28] MariagraziaAlastra commented on #3147
@mintsoft It would be better to add a custom CSS file for this IA specifically.

[2016-05-26 16:33] mintsoft commented on #3147
@moollaza @MariagraziaAlastra Makes sense; I'll sort that in a min

[2016-05-26 16:35] swapagarwal commented on #3139
How about something like this? This gives the best of both worlds: no more task list + no more deleting irrelevant text! Just uncomment the relevant item and only that will be rendered.

[code]

This renders as:

###### What does your Pull Request do?

Uncomment the most relevant item and use the following title template to name
your Pull Request.

[//]: # "(New Instant Answer) Cheat Sheets: **`Ne

[2016-05-26 17:09] orzechow commented on #1074
I'd appreciate better triggering too.
Today I've searched for a files sha1 sum to double check my download (`sha1 cm-10.1.1-maguro.zip`).
The instant answer was rather misleading, since my first thought was: "oh nice, how does duckduckgo know that?"
It turned out (as you know) it's the hash of the string, not the file. But that's not what a user would expect it to be.

[2016-05-26 17:10] orzechow commented on #1074
This applies to all hash algorithms of course.

[2016-05-26 18:40] edgesince84 commented on #1074
@orzechow with my little knowledge of this topic, I think you nailed it -- it's the hash of the string, not the file, and that's not what people expect.

[2016-05-26 19:48] GuiltyDolphin commented on #3139
@swapagarwal Huh, didn't know GHFM supported comments (it doesn't support `<>` anyway); awesome.

Yeah, @swapagarwal I think something along those lines is probably best; I think a mixture of short bullets in comments would be good (then we don't get the extra visuals we don't need).

[2016-05-26 20:24] GuiltyDolphin commented on #3142
@mintsoft How about `magnitude of charge on an electron`?

[2016-05-26 20:33] GuiltyDolphin commented on #1074
@edgesince84 @orzechow Perhaps this should be clarified in the answer? `md5 hash of string: X`?

[2016-05-26 22:54] mintsoft commented on #3142
@GuiltyDolphin Sounds good

[2016-05-27 08:40] orzechow commented on #1074
Yes, the answer should be clarified.
Though, I'd prefer an explicit trigger as proposed by @puskin94 :
* `sha1 cm-10.1.1-maguro.zip` does not trigger
* `sha1 "cm-10.1.1-maguro.zip"` does trigger

[2016-05-27 20:44] pjhampton commented on #2940
Super thanks for all your help @rasikapohankar 😃

How are you finding this? Need any help?

[2016-05-28 09:02] tagawa commented on #1816
Seems to be OK now. Can anyone confirm?

[2016-05-28 09:06] tagawa commented on #2960
Hi @platschi. Thank you for those commits. Would you be able to send them as a pull request so it can be merged into our code? If you go this repository's front page you should see a green "Send pull request" button at the top: https://github.com/duckduckgo/zeroclickinfo-goodies

[2016-05-29 13:37] NaveenKarippai commented on #3145
@GuiltyDolphin PR #3157 should fix this issue. The new changeset shows the output result number format same as input format. For example, (.5) is shown as (.5) in output instead of (0.5)

[2016-05-30 12:52] zekiel opened #3160 "Conversions: Inconsistent behavior for space vs. no_space between number and unit"
(from twitter https://twitter.com/ticky/status/737135046251843584 )

e.g.

 [24oz to ml](https://duckduckgo.com/?q=24oz+to+ml&t=ffab&ia=web)   vs. [24 oz to ml](https://duckduckgo.com/?q=24+oz+to+ml&t=ffab&ia=answer)
Seems that other units work fine:

[24ft to in](https://duckduckgo.com/?q=24ft+to+in&t=ffab&ia=answer) vs. [24 ft to in](https://duckduckgo.com/?q=24+ft+to+in&t=ffab&ia=answer)

-----

[2016-05-30 12:59] sam09 commented on #3143
Hi.. I tried the to trigger the regex. However I am unable to figure out the trigger for queries like '2 hours + 1 hour 20 min'

[2016-05-30 13:05] mintsoft commented on #3160
Ah; that would be the `\b` in the word boundary

[2016-05-30 14:27] GuiltyDolphin commented on #3143
@sam09 You'd just want another regex for forms using the existing units; basically you'd want to combine `$action_re` and `$relative_regex` (not sure why it's called that!); something like `$relative_regex $action_re $relative_regex` (with more handling) which should match `5 days + 2 hours` and similar.

[2016-05-30 17:30] moollaza commented on #3139
They _don't_ support comments :) -- This is just confusing/abusing the parser: http://stackoverflow.com/a/20885980/819937

They do support HTML comments which would also work: ie ``

[2016-05-30 17:49] zekiel commented on #3141
@Qeole Sorry for the lack of clarity on this -- I think my first reaction was that it was broken syntax but it's really just that the parentheses are making it difficult to read. We should think about how to improve that and update the [reference](http://docs.duckduckhack.com/frontend-reference/cheat-sheet-reference.html#alternative-keys-eg-pressing-either-a-or-b)

nothing needed here unless you'd

[2016-05-30 18:08] ssaavedra opened #3162 "Unicode: Unicode codepoints in 7.0 are not available"
Unicode codepoints introduced in version 7.0 of Unicode are not detected by the unicode IA currently. Such points can be e.g., U+1F642 (🙂), but the search on http://ddg.gg/U+1F642 does not trigger the unicode instant answer.

---

IA Page:  http://duck.co/ia/view/unicode
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @cosimo

[2016-05-30 18:15] mintsoft commented on #2767
@lamanh Just FYI; I've got a PR in progress for Email Validator: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3163

[2016-05-30 18:39] #2952 closed

[2016-05-30 18:46] zekiel commented on #3160
Solved in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3161

[2016-05-30 18:46] #3160 closed

[2016-05-30 19:17] #2932 closed

[2016-05-30 19:20] GuiltyDolphin commented on #3139
@moollaza Hehe, I read that exact post - not sure how I missed the bit about it being a bit abusive though :wink:

[2016-05-30 19:57] Qeole commented on #3141
@zekiel I may experiment when I got some spare time, which I reckon is not for anytime soon :-) so do not wait for me. I remain available if some nice idea emerges and we need to fix the cheat sheet or the reference.

[2016-05-30 19:58] moollaza commented on #1816
@tagawa uh-oh it looks like it hasn't been fixed!

@duckduckgo/duckduckhack-contributors would someone like to fix this? We need to remove the `<br>` tags in the HTML and replace them with `\n`. Likewise the multiple spaces in the string can be replaced with `\t` which will be converted to `&nbsp;&nbsp;&nbsp;&nbsp;` when the IA is displayed.

This is a super easy, but important fix!

[2016-05-31 01:30] cngarrison opened #3164 "Day of the Week Calculator: Request to be maintainer"
I am willing to take be maintainer for the Day of Week IA.

------
IA Page:  http://duck.co/ia/view/day_of_week

[2016-05-31 01:31] cngarrison opened #3165 "Password: Request to be maintainer"
I am willing to take be maintainer for the Password IA.

------
IA Page:  http://duck.co/ia/view/password

[2016-05-31 05:37] MoriTanosuke commented on #1816
I will try to fix this.

[2016-05-31 06:13] MoriTanosuke commented on #1816
Sorry for the noise, I didn't know that Github would add commits on my repositories branch to this issue...

I tried to fix the issues mentioned by @moollaza, someone please have a look if I got everything right.

[2016-05-31 13:42] moollaza commented on #1816
@MoriTanosuke the fixes look pretty good. Please make a Pull Request so we can test them on Beta!

[2016-05-31 14:37] edgesince84 commented on #3164
@cngarrison hey Charlie!  It's done, you're the maintainer now! 👍

[2016-05-31 14:37] #3164 closed

[2016-05-31 14:38] edgesince84 commented on #3165
Thanks again, Charlie!  all set

[2016-05-31 14:38] #3165 closed

[2016-05-31 16:03] #1816 closed

[2016-05-31 17:06] jmwoliver commented on #3047
@zekiel @GuiltyDolphin @austinheimark I have a fix for this, but it's the way @procommand said it is not usually done. I submitted a pull request (https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3167) if you guys could look it over please!

[2016-06-01 11:04] sam09 commented on #3143
@GuiltyDolphin As you said the regex would be `$relative_regex` `$action_re` `$relative_regex`. That would match queries like `5 hours 3 minutes + 2 hours`.

But the issue would be to extract the quantities and corresponding units from both ends and then perform the `action` required.
The only solutions I could come up with was add two different regex `$relative_regex1` and `$relative_regex2` so t

[2016-06-01 11:11] GuiltyDolphin opened #3168 "Random Number: Prevent triggering on just 'random'"
See ['random'](https://duckduckgo.com/?q=random&ia=answer) - we shouldn't trigger on such a generic query.

---

IA Page:  http://duck.co/ia/view/random_number
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jonk1993

[2016-06-01 11:33] GuiltyDolphin opened #3169 "Random Number: Don't trigger if lower and upper bounds are the same"
For example ['random 7 7'](https://duckduckgo.com/?q=random+7+7&ia=answer) and ['random 1'](https://duckduckgo.com/?q=random+1&ia=answer). We cannot provide a 'random' number when the bounds are the same.

---

IA Page:  http://duck.co/ia/view/random_number
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jonk1993

[2016-06-01 11:41] GuiltyDolphin commented on #3143
@sam09 The existing method should be fine - just use named captures, e.g., `(?<operand_a>$relative_regex)$action_re(?<operand_b>$relative_regex)` then you could pull out `$+{operand_a}`, `$+{operand_b}`, and `$+{action}`; to get the units and numbers from `operand_a` and `operand_b` you could just match on `$relative_regex` and pull out the appropriate data.

[2016-06-01 12:35] mintsoft commented on #3143
Can I suggest that this be renamed to Duration Calculator? It's a slightly pedantic point, but time can mean either an "amount" of time or a "point in time"; whereas duration exclusively means the "amount of time". To me "time calculator" could be adding datetimes together

[2016-06-01 13:09] GuiltyDolphin commented on #3143
@mintsoft Hmm? This is an extension to the [DateMath](https://duck.co/ia/view/date_math) Goodie; expanding the current features to support unit arithmetic.

[2016-06-01 14:43] edgesince84 commented on #3143
@mintsoft I agree that "time calculator" is a little vague.   I think "Duration Calculator" makes sense with the package names.  "Time" could mean 8:45pm + 2.5 hours or something similar.

[2016-06-01 15:52] #3047 closed

[2016-06-01 17:33] jmwoliver commented on #3169
@GuiltyDolphin I can take this one and https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3168 if you would like. They are pretty much identical to the one you just helped me finish.

[2016-06-01 17:33] jmwoliver commented on #3168
@GuiltyDolphin I can take this one and https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3169 if you would like. They are pretty much identical to the one you just helped me finish.

[2016-06-01 17:59] GuiltyDolphin commented on #3168
@jmwoliver Go for it - ping me when you're ready.

[2016-06-01 20:03] jmwoliver commented on #3168
@GuiltyDolphin It should be good to go.

[2016-06-02 18:32] #2257 closed

[2016-06-02 20:31] GuiltyDolphin commented on #3143
Ahk, bummer - @sam09 I forgot about https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2897#issuecomment-214031394 - that'll make this pretty incompatible with DateMath (unless we have a very dynamic front end).

It may be worth implementing this as a separate Goodie after all - though I reckon you could use a decent portion of the DateMath codebase for triggering/handling units.

[2016-06-02 20:48] GuiltyDolphin commented on #3143
@sam09 Here, this should be a decent page for this Goodie https://duck.co/ia/view/duration_calculator

@tagawa Could you set @sam09 as the maintainer on that please?

[2016-06-02 20:51] #2507 closed

[2016-06-02 20:54] GuiltyDolphin commented on #1163
@mintsoft Would you mind just checking to see if any of the conversions in #2767 fix these?

[2016-06-02 20:58] edgesince84 commented on #3143
@GuiltyDolphin I set @sam09 as the maintainer for you 👍

[2016-06-03 05:02] sam09 commented on #3143
@edgesince84 thanks a lot....

[2016-06-03 12:18] GuiltyDolphin commented on #3143
@sam09 Basically everything I've said should still apply - you'll want to use the suggested packages and possibly build upon those regexes in DateMath - the main difference being that you'll be working in separate files; you still happy to do this?

[2016-06-03 12:51] tagawa commented on #1646
Closing, as it looks like @Mailkov's PR fixed this.

[2016-06-03 12:51] #1646 closed

[2016-06-03 13:32] tagawa commented on #946
Closing this - seems to be OK with the current cheat sheet templates

[2016-06-03 13:32] #946 closed

[2016-06-03 13:41] tagawa commented on #3144
Looks like this was fixed - thank you 🍰

[2016-06-03 13:42] #3144 closed

[2016-06-03 14:40] NaveenKarippai opened #3175 "i3 Window Manager Cheat Sheet: trigger for more queries and refactor json data"
The i3 window manager cheatsheet should be triggered for more queries like:

Description of the cheatsheet and other basic json data needs to be refactored. For example, `Mod1 <number>` should follow docs guidelines.

---

IA Page:  http://duck.co/ia/view/i3_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @goromlagche

Dev to notify: @moollaza , @GuiltyDolphin ,

[2016-06-03 17:11] sam09 commented on #3143
@GuiltyDolphin  sure... Except that I am going to trouble you with even more questions now

[2016-06-04 02:55] tagawa commented on #3010
Fixed: https://duck.co/ia/view/markdown_cheat_sheet

[2016-06-04 02:55] #3010 closed

[2016-06-04 06:19] shahbaz17 opened #3183 "PHP Cheat Sheet: Need improvement"
There is lot of functions in this cheat sheet which nobody uses in day to day life. I guess cheat sheet are meant to be useful for quick summarizing the concept. There is no MySQL functions which is used in daily basis. And why we need Regular expression in this cheat sheet.

Need improvement

------
IA Page:  http://duck.co/ia/view/php_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintai

[2016-06-04 15:37] p512 opened #3186 "URL Decode: Fails for character '"
Decoding `%27` should result in `'` but returns `&#39;` instead.
Example: https://duckduckgo.com/?q=urldecode+%2527test%2527&ia=answer

------
IA Page:  http://duck.co/ia/view/urldecode
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-06-04 16:18] mintsoft commented on #3186
@p512 Thanks for raising the issue; sadly we've had to html encode the output in order to protect us from XSS. I agree that is looks crap though; I'm going to have a look around and see if we can use the template system to protect us without requiring this bodgery

[2016-06-04 17:26] GuiltyDolphin commented on #3186
@moollaza What's the priority for output encoding? It's *really* obvious when you see it, and yes, as @mintsoft says, it just looks horrible.

I've not heard many complaints - but I do wonder what newcomers must think when the output shows these apparently random strings of characters!

/cc @duckduckgo/community-leaders

[2016-06-04 18:16] rasikapohankar opened #3188 "Dates Goodie Role: Include handling for time queries"
Update Dates Goodie Role to add handling for time queries.

Following queries currently don't give an answer and should be handled:
1. Date along with time
For example 6th June 3 pm or 3 pm 6th June. Currently only the date is parsed, the time should also be parsed and hours, minutes, seconds for that date be changed accordingly.
2. Time of the form hours[:minutes][:seconds] am/pm, that is time on

[2016-06-04 18:21] GuiltyDolphin commented on #3188
@rasikapohankar Thanks!

I'll incorporate date+time, time and days of the week into #2810.

[2016-06-04 18:28] rasikapohankar commented on #3188
@GuiltyDolphin :+1: How can I help?

[2016-06-04 18:30] GuiltyDolphin commented on #3188
@rasikapohankar If you can give me some more examples of dates you think should match that'd be great - I've pretty much got standard format (time) working now :)

[2016-06-04 18:48] rasikapohankar commented on #3188
@GuiltyDolphin I could only think of the ones I had included in #2808 for now, I'll add if I remember more.

[2016-06-05 14:20] rasikapohankar commented on #3188
@GuiltyDolphin One more: Queries with relative dates, i.e. tomorrow 10 am, today 10 am, next week 10 am, etc

[2016-06-05 14:43] GuiltyDolphin commented on #3188
@rasikapohankar Ah, yeah - sure (that should be fairly automatic).

[2016-06-05 16:15] rasikapohankar commented on #3188
Yes :+1: I assumed if we say `next week 10 am` it will move to the same day of week as the current one only in the next week and the time will be 10 am. I hadn't thought about `next month` but I guess it will move to the same date in the next month and change to the time specified? But a month is long so maybe we won't ask `next month 10 am`?

[2016-06-05 16:20] Asternitix opened #3193 "Morse: Bad example queries"
The translation from morse does not trigger when I type in "morse ... --- ..."

IA Page:  http://duck.co/ia/view/morse
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @und3f

[2016-06-05 17:03] GuiltyDolphin commented on #3188
@rasikapohankar Lets say you are on `January 31`, then Feburary will never have a `31st`, it doesn't really make sense to say `10 am next month` as a month is not a fixed unit.

Maybe, regarding the week form, we can always remove it if it has issues.

[2016-06-05 20:36] NaveenKarippai opened #3194 "DaysBetween: add option to exclude weekends from calculated days"
could add an option to exclude weekends from calculated days between IA (apparently by the use of additional query trigger words).

------
IA Page:  http://duck.co/ia/view/days_between
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @JetFault

[2016-06-05 21:26] GuiltyDolphin commented on #3194
@NaveenKarippai We already have a Goodie for this, [WeekdaysBetween](https://duck.co/ia/view/weekdays_between).

[2016-06-05 21:31] NaveenKarippai commented on #3194
@GuiltyDolphin ah,cool!

[2016-06-05 21:31] #3194 closed

[2016-06-05 22:16] p512 opened #3195 "Sha: SHA-256 hash too large to display"
Example query: https://duckduckgo.com/?q=sha-256+this&ia=answer
See these screenshots: [Imgur (Desktop)](http://i.imgur.com/G7zn1TE.png), [Imgur (Android)](http://i.imgur.com/XughgKu.png)

------
IA Page:  http://duck.co/ia/view/sha
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-06-05 22:50] p512 commented on #3186
@mintsoft Sure thing!
I guess it's obvious but the error also exists with url encode which for `'` returns `&#39;` instead of `%27`.

[2016-06-06 00:01] mintsoft commented on #3195
@p512 I'll fix that!

[2016-06-06 00:07] p512 commented on #3195
@mintsoft Ah, cool!

[2016-06-06 15:13] nunukhalay opened #3199 "Calculato:2654"
---Issue---
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-06-06 15:14] nunukhalay commented on #3199
Thank you

[2016-06-06 15:15] GuiltyDolphin commented on #3199
@nunukhalay Is this regarding #2654? Are you in favor of adding octal notation?

[2016-06-06 15:31] nunukhalay commented on #3199
May.20.2017

[2016-06-06 15:32] nunukhalay commented on #3199
On

[2016-06-06 15:33] nunukhalay commented on #3199
Thank you

[2016-06-06 15:34] nunukhalay commented on #2654
#3199 Calculato:2654

[2016-06-06 16:01] #1282 closed

[2016-06-06 16:57] zekiel commented on #3199
closing/reporting.

[2016-06-06 16:57] #3199 closed

[2016-06-06 17:06] alohaas commented on #3193
Hi @Asternitix thanks for discovering this triggering bug. From what I can see, even though the IA page for this lists "Morse SOS" or "Morse ...---..." as queries that would trigger this IA, the actual triggering does or reflect this.

If you look in the `morse.pm` file you'll notice that it should trigger on
`triggers start => "morse code for", "morse for";`
`triggers end => "to morse code", "to

[2016-06-06 20:15] zachthompson opened #3201 "URLEncode: Trigger on "uri" as well"
Should probably trigger on `uri` in addition to `url`.

------
IA Page:  http://duck.co/ia/view/urlencode
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @nishanths

[2016-06-06 20:17] zachthompson opened #3202 "URL Decode: trigger on "uri" as well"
As with the encode counterpart, this could probably trigger on `uri` as well.

------
IA Page:  http://duck.co/ia/view/urldecode
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-06-06 20:23] zachthompson opened #3203 "Ascii to Binary: handle phrase/sentences"
What about handling longer input so we can essentially reverse answers like [01001101 01110101 01100011 01101000 01100001 01110011 00100000 01000111 01110010 01100001 01100011 01101001 01100001 01110011 00100000 01000011 01101111 01101101 01110000 01100001 01110011 0100110111110000](https://duckduckgo.com/?q=01001101+01110101+01100011+01101000+01100001+01110011+00100000+01000111+01110010+01100001+

[2016-06-07 15:11] edgesince84 commented on #3143
@sam09 don't be afraid to hit us up in Slack if you have any questions!

[2016-06-07 15:16] edgesince84 commented on #3175
Thanks, Naveen - I agree.  Those should trigger this cheat sheet, for sure.

[2016-06-07 15:33] #3202 closed

[2016-06-07 18:07] alohaas commented on #3183
@shahbaz17 are there other kinds of PHP functions besides MYSQL that you use regularly?

[2016-06-08 01:14] shellhead commented on #3070
Is this (and the associated) issue open to work on? Newbie here looking to help out, looks like this would be a good one to get my feet wet.

[2016-06-08 07:14] mintsoft commented on #3070
@shellhead Indeed it is! We'd be delighted if you take this up. We'd ask you to open a PR as soon you start work on it so we "know" that you're doing it and we can avoid repeated work.

[2016-06-08 13:31] edgesince84 commented on #3070
@shellhead sounds great, Michael!  Let me know if you need any help

[2016-06-08 13:35] edgesince84 commented on #3162
@cosimo will you be able to take a look at this?  thanks for reporting it @ssaavedra

[2016-06-08 13:38] cosimo commented on #3162
Yes, will fix it.

[2016-06-08 19:06] edgesince84 commented on #2269
@moollaza is this still open, or was it addressed by @mayank7's PR?

[2016-06-08 19:20] moollaza commented on #2269
@edgesince84 this was fixed by another PR actually 👍

[2016-06-08 19:20] #2269 closed

[2016-06-08 19:56] mintsoft commented on #2840
FIxed in : https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3096

[2016-06-08 19:56] #2840 closed

[2016-06-08 20:01] #2877 closed

[2016-06-08 21:38] GuiltyDolphin commented on #2767
@moollaza @mintsoft Just two more to go! We need to have a partaay once this is done :tada:

@mintsoft Thanks for doing so many of these - we'd still be a long way off if it weren't for you :heart:

Thanks to everyone else who's done one (or more) too; we really appreciate this community effort :dolphin:

[2016-06-08 23:00] sahildua2305 commented on #3065
@GuiltyDolphin Is there anyone working on this? If no, I would like to get started with this issue.

[2016-06-08 23:05] sahildua2305 commented on #2940
@rasikapohankar Are you still on this one?

@pjhampton I want to get started. Looking for another 'really' low hanging fruit like this one. Please help.

[2016-06-09 02:05] gaulrobe commented on #1044
PR for this in #3208

[2016-06-09 02:43] rasikapohankar commented on #2940
Hey @sahildua2305, I thought @prasadram was taking it up, https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2940#issuecomment-215504344.
I'm sorry for the confusion. But I haven't yet done this yet, so maybe you can take it. :) :+1: @pjhampton is that okay?

[2016-06-09 02:52] prasadram commented on #2940
Hi ,
Sorry I couldn't complete it because of some challenges, if any one can
complete that's OK . Otherwise I'll try to complete by this weekend

Thanks and Regards,
Ram Prasad

On Thu, 9 Jun 2016 08:13 Rasika Pohankar <notifications@github.com> wrote:

[2016-06-09 07:07] pjhampton commented on #2940
That's fine @prasadram & @sahildua2305 😄  Thanks for the update!

Yeah definitely @sahildua2305, this seems like a good opportunity to get more involved! It's yours! 💛

[2016-06-09 12:26] GuiltyDolphin commented on #2767
@duckduckgo/community-leaders Time to partaay!

:tada: :balloon: :cake:

[2016-06-09 12:26] #2767 closed

[2016-06-09 12:46] sahildua2305 commented on #2940
Thanks @rasikapohankar @prasadram and @pjhampton I am on this one right now.

Have some suggestions. I strongly think the template type for this IA should be code so that users are able to trigger this IA using keywords like "code snippets" or "syntax" along with the above mentioned keywords (aliases). What do you think?

[2016-06-09 12:51] pjhampton commented on #2940
If you think that is the way to go @sahildua2305, go for it! I'll be happy to give you some feedback once you submit a PR :smiley_cat:

[2016-06-09 14:10] moollaza commented on #2940
@sahildua2305 I'm worried that changing the type to `code` is going to make it harder to read. Adding an additional category to the Cheat Sheet in the YAML file is probably a better way to go. It'll add the triggers, but maintain the design.

[2016-06-09 14:31] sahildua2305 commented on #2940
@moollaza Yes, even I realized that `code` won't be a good type for this IA. I have changed it to `reference` because I think it makes more sense.
According to me, users will be searching more for `Django model reference` than `Django model commands` or `Django model code snippets`. Let me know what you think.

[2016-06-09 14:52] sahildua2305 commented on #3183
Also, I feel that many functions under sections PHP array functions and string functions aren't in proper order. That means some of the similar functions should be put together to make it a good reference for users. I'll be submitting a PR soon.

[2016-06-09 15:28] neosilky opened #3212 "C String Formatting Cheat Sheet: Maintainer request"
I'm happy to take over this cheat sheet. Shouldn't need updating too often but I can look after it in the mean time.

~ Neo

------
IA Page:  http://duck.co/ia/view/c_string_formatting_cheat_sheet

[2016-06-09 15:34] neosilky commented on #3201
Seems like a fair change - I can quickly do this if no one else wants to.

[2016-06-09 16:17] moollaza commented on #1163
## Update

We've converted many Goodies that were using our "auto-templates" to use our Full Templates. Excellent job everyone! 💯 🎉

_However_, we still have a few Goodies remaining that return plaintext and HTML (even worse!) that need to be addressed. Some of these may have ongoing PRs that have gone stale, so ping me and I'll try to get it moving along 👍 . Some of these are also not online and

[2016-06-09 16:18] GuiltyDolphin commented on #3065
@sahildua2305 Not yet, we'd be grateful for the contribution!

Would you like to add the functionality to https://duck.co/ia/view/percent_of at the same time?

[2016-06-09 16:21] GuiltyDolphin commented on #1163
-_- Hold the party everyone, looks like there's more to do :sob:

[2016-06-09 16:22] shellhead commented on #3068
I was going to start with this story before adding the functionality in #3070 and had a couple of questions.

1. Based on the context, it seems like the current implementation limits requests to 1470 because of precision. Should we still impose the limit or should I play around with it until performance starts to degrade?

2. I noticed its using `remainder`, rather than `remainder_lc`. Thus, "What

[2016-06-09 16:25] moollaza commented on #1163
I've updated the checklist above accordingly

[2016-06-09 17:59] #2940 closed

[2016-06-09 22:09] sahildua2305 commented on #3065
@GuiltyDolphin I would love to. Though I will need some help in getting started with how Perl package are organized for IAs. Any pointers?

[2016-06-10 07:02] tagawa commented on #3212
Hi @neosilky and welcome! That's very kind of you to offer. I've added your name as maintainer - thanks!

[2016-06-10 07:02] #3212 closed

[2016-06-10 07:04] tagawa commented on #3201
Thank you @neosilky - it's all yours! I agree, it should be a quick update.

[2016-06-10 12:30] shubhamrajput commented on #3183
Also,regex cheat sheet is already there so we can remove the regex part from the php cheat sheet.

[2016-06-10 12:51] sahildua2305 commented on #3183
Point! @shubhamrajput

[2016-06-10 13:49] GuiltyDolphin commented on #3065
@sahildua2305 I'll have to put this on hold for the mo' while we sort #3208 - I'll ping you when that's done.

[2016-06-10 14:50] edgesince84 opened #3221 "Conversions: gallon to cubic iches"
Should 1 US gallon, converted to cubic inches be exactly 231?  The IA shows "231.001 cubic inches"

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-06-10 17:27] mintsoft commented on #3221
@edgesince84 According to Wikipedia (https://en.wikipedia.org/wiki/Gallon); the US gallon is defined as 231 cubic inches so yes. I'll have a look at that when I get home

[2016-06-10 17:33] edgesince84 commented on #3221
Great, thanks Rob!  It was feedback from someone in the community, so that little .001 is nagging some people out there 😆

[2016-06-10 19:08] GuiltyDolphin commented on #3068
@shellhead Thanks.

Yeah, generally we want case-insensitive triggering (unless there is a good reason for it :) ).

Yah, the Fib package is a lot faster so you wont notice much difference until really high queries - I'd imagine a *sensible* limit would be fine.

[2016-06-11 07:11] gautamkrishnar opened #3229 "Microsoft Windows 10 Cheat Sheet:"
I would like to be a maintainer
------
IA Page:  http://duck.co/ia/view/microsoft_windows_ten_cheat_sheet

[2016-06-11 08:00] biscuitNinja opened #3230 "Visual Studio Cheat Sheet: Add more shortcuts"
I think this cheat needs more.

There are literally hundreds of shortcut key combinations for VS 2015 and it would be nice to see some of the more interesting/useful ones featured so this CheatSheet is of interest to more seasoned VS developers as well as beginners.

I'm happy to help.
## Thanks

IA Page:  http://duck.co/ia/view/visual_studio_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/m

[2016-06-11 09:13] gautamkrishnar commented on #3230
Yes!  Waiting for your pull request....  :smile: :+1:

[2016-06-11 09:50] biscuitNinja commented on #3230
I'll crack on with it then! ;)

[2016-06-11 12:39] zekiel commented on #3229
you got it! Thanks @gautamkrishnar

[2016-06-11 12:39] #3229 closed

[2016-06-11 14:45] #2754 closed

[2016-06-11 21:48] kriskielce88 opened #3235 "Photoshop cheat sheet:"
------
IA Page:  http://duck.co/ia/view/photoshop_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @therealkbhat

[2016-06-11 21:59] gaulrobe commented on #3235
@kriskielce88 did you mistakenly open up this issue?

[2016-06-12 18:02] #3235 closed

[2016-06-12 18:17] sahildua2305 commented on #2715
@vikashvverma Are you still on this?
@tagawa @moollaza Can I take this up?

[2016-06-12 18:29] shahbaz17 commented on #3183
Hello @alohaas , @sahildua2305 has taken this opportunity to make this cheat-sheet more useful. His latest commit has all what is needed in regular day to day php functions. Also there is always a room for improvement. And Thanks @himanshu53 , @sahildua2305 and @shubhamrajput for your quick reaction.

[2016-06-12 18:30] #3183 closed

[2016-06-12 18:32] sahildua2305 commented on #3183
@shahbaz17 My pull request isn't yet merged though.

[2016-06-12 18:40] shahbaz17 commented on #3183
Hello @sahildua2305 , I have seen the PR and gone through the conversation. Maintainer input is required and we follow a set of rules . Just be patient , you have done a great job. Your PR will get merged once maintainer reply or after 14 days. Keep contributing :+1:

[2016-06-12 18:41] sahildua2305 commented on #3183
Thank you :smile:

[2016-06-13 03:07] vikashvverma commented on #2715
@sahildua2305 Go ahead, make a PR. I'm busy with other IAs

[2016-06-13 03:11] tagawa commented on #2715
Thanks @vikashvverma

@sahildua2305 That would be great! Let us know if you need any help, or ask questions in the #ask-anything channel in Slack.

[2016-06-13 06:30] tsimonq2 opened #3237 "Add support for setting a timer to a specific time"
In Google, I can type: [set timer for 12:00 PM](https://www.google.com/#q=set+timer+for+12:00+PM) and it will set a countdown timer to that time.

In DuckDuckGo, when I type: [set timer for 12:00 PM](https://duckduckgo.com/?q=set+timer+for+12%3A00+PM&t=canonical&ia=timer), it sets a timer for 12 minutes. Support should be added for this.

[2016-06-13 09:19] tsimonq2 opened #3238 "Add support for the hourly forecast"
It would be very beneficial to support viewing of an hourly forecast instead of the generic weather IA. I typed [hourly forecast green bay wi](https://duckduckgo.com/?q=hourly+forecast+green+bay+wi&t=canonical&ia=weather&iai=0) (the city that I live in) and I got a generic weather IA.

[2016-06-13 13:04] #3221 closed

[2016-06-13 13:28] GuiltyDolphin commented on #3237
@tsimonq2 This should be handled in #2810 hopefully.

[2016-06-13 16:16] #3195 closed

[2016-06-13 16:33] edgesince84 opened #3240 "Tmux Cheat Sheet: "more at openbsd" link broken"
When you click the "more at" button, it leads to a "no results found" page at http://man.openbsd.org/cgi-bin/man.cgi?query=tmux%26sektion=1

------
IA Page:  http://duck.co/ia/view/tmux_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @charles-l