[2016-06-13 17:06] himanshu53 commented on #3183
Thank you
On 13-Jun-2016 12:11 AM, "Sahil Dua" <notifications@github.com> wrote:

[2016-06-13 20:33] GuiltyDolphin opened #3245 "CalcRoots: Reign in Triggering; Merge into calculator later"
For example:

https://beta.duckduckgo.com/?q=3+%2B+square+root+of+5&ia=answer

![screenshot-2016-06-13-21 30 11_381_160](https://cloud.githubusercontent.com/assets/8598426/16022085/0f272f82-31ae-11e6-8129-494eba005064.png)

And https://duckduckgo.com/?q=square+root+of+5+squared+%2B+3&t=ffab&ia=answer

![screenshot-2016-06-13-21 31 14_344_146](https://cloud.githubusercontent.com/assets/8598426/1602

[2016-06-14 12:02] #3240 closed

[2016-06-14 12:24] malbin opened #3247 "Conversions: Display conversion calculation"
This is more of a suggestion--would be cool if the conversions goodie displayed the actual conversion calculation.

---

IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-06-14 12:49] edgesince84 commented on #3245
thanks Ben, I think that's a good plan

[2016-06-14 12:57] GuiltyDolphin commented on #3247
@mintsoft @malbin Hmm, yeah - this might be nice for queries like `how to convert degrees to fahrenheit` or similar.

[2016-06-14 13:43] mintsoft commented on #3247
@malbin so the query `15 metres in feet` should show something like:
[code]
?

[2016-06-14 13:49] edgesince84 commented on #3230
@biscuitNinja sounds like a plan! 😸

[2016-06-14 15:32] GuiltyDolphin commented on #3247
@mintsoft Aren't we going interactive? Perhaps you could hover over the answer to see the calculation? Or some other interactive method?

[2016-06-14 16:26] mintsoft commented on #3247
@GuiltyDolphin That is indeed the plan; not sure how this'd fit into the GUI

[2016-06-14 16:27] GuiltyDolphin commented on #3247
@mintsoft Lets worry about interactivity before we add new visual features then - the sooner we have interactive Conversions the better :)

[2016-06-15 16:10] edgesince84 commented on #3240
thanks, @charles-l 🙇

[2016-06-15 20:58] zachthompson commented on #3201
If we don't hear from @nishanths at [14 days](http://docs.duckduckhack.com/maintaining/guidelines.html) we'll move forward with the PR.

[2016-06-16 04:40] tagawa opened #3252 "Evernote Cheat Sheet: Should include Mac shortcuts"
Perhaps they can be added as new sections to this cheat sheet. Either that or create a new cheat sheet, but that would require more specific triggering.

------
IA Page:  http://duck.co/ia/view/evernote_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @smitche60

[2016-06-16 07:44] biscuitNinja opened #3254 "Notepad_plus_plus Cheat Sheet:"
In producing this CS, I made the mistake of incorrectly specifying single key combinations with square brackets, e.g. "[F7]" instead of "F7"

------
IA Page:  http://duck.co/ia/view/notepad_plus_plus_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @biscuitNinja

[2016-06-16 14:00] #3254 closed

[2016-06-16 14:29] smitche60 commented on #3252
Sounds good, I'll add these as new sections asap

[2016-06-16 14:46] tagawa opened #3260 "Belarusian Cheat Sheet: Should show pronunciation"
For language cheat sheets we have a `trn` property (as well as `key` and `val`) for transliteration/pronunciation. The Belarusian cheat sheet should be updated to include them. See the Chinese cheat sheet for a live example: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/language/chinese.json

[Suggested on Twitter](https://twitter.com/NiklasNisbeth/

[2016-06-16 17:10] #1044 closed

[2016-06-16 18:01] ManrajGrover opened #3263 "C++ Algorithms Cheat Sheet should be verbose like C++ Strings"
[C++ Strings](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/cpp-strings.json) Cheat Sheet provides syntax on how to use the function. This is not the case with [C++ Algorithms](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/cpp-algorithms.json). Is it necessary or should it be fixed? Asking because of

[2016-06-16 18:16] rasikapohankar commented on #3188
Hey @GuiltyDolphin! :) This is the design for the Countdown Goodie:
![coutndown](https://cloud.githubusercontent.com/assets/8025692/16127878/fb58be4c-341b-11e6-8665-f3ccd1b45444.jpg)
The subtitle has the date as: July 26th, 2018, 10:00 am. Could we please add this to `date_output_string` in the Role as `%B %d, %Y, %r %Z`, as a second option along with `%d %b %Y %T %Z`?

[2016-06-16 19:31] GuiltyDolphin commented on #3188
@rasikapohankar I'm not sure what advantage that would add - the current format has all the information required. We prefer to go for 24-hour time rather than 12-hour (more 'standard').

All output dates should be in either `%d %b %Y` or `%d %b %Y %T %Z` format (unless there's a good reason); why have you gone for that format? I'd suggest updating the Goodie to the standard format.

[2016-06-16 19:43] rasikapohankar commented on #3188
@GuiltyDolphin Actually the design was prepared by the design team, I'm trying to stick to it. I thought we could add it in the Role in case it's needed later on as well. Do you feel this format won't be required else where, in that case I can add the format directly only in this Goodie?

[2016-06-16 20:22] GuiltyDolphin commented on #3188
@rasikapohankar I've brought this up in discussion - hopefully we can resolve how to handle _all_ date formats for the foreseeable future.

[2016-06-16 20:31] GuiltyDolphin commented on #3238
@tsimonq2 Is this an issue for https://duck.co/ia/view/forecast? Using the `Create Issue` button on the IA page will PR the correct repository with everything linked :)

[2016-06-16 20:40] tsimonq2 commented on #3238
@GuiltyDolphin yes, thank you

[2016-06-17 07:13] tagawa opened #3266 "Xamarin Cheat Sheet: Added "xamarin studio" alias"
This requires adding the following line to the JSON file, just before the `template_type`:

`"aliases": ["xamarin studio"],

It should be a nice first contribution for a new developer.

------
IA Page:  http://duck.co/ia/view/xamarin_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @gitcodes

[2016-06-17 07:38] 12people opened #3267 "Calculator: Support tau"
It'd be useful if the calculator supported the constant tau (tau = 2 \* pi). Tau is a nicer constant than pi for a number of reasons -- see http://tauday.com/ .
While I realize that tau isn't used very widely yet, it is gaining momentum. Even Google's calculator now supports tau.

---

IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html

[2016-06-17 12:16] mintsoft commented on #3267
:+1: @GuiltyDolphin

[2016-06-17 12:17] #3238 closed

[2016-06-17 13:49] sneetsher opened #3269 "Unicode: Add a link to http://unicode-table.com/en/"
It will be more helpful if it provides  a link to the corresponding page at
http://unicode-table.com/en/

---

IA Page:  http://duck.co/ia/view/unicode
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @cosimo

[2016-06-17 13:51] sam09 opened #3270 "Differentiation cheat sheet"
There is already a cheat sheet in development for Integration. We could have one for differentiation also.

[2016-06-17 15:16] zekiel commented on #3270
Current integral cheat sheet
IA Page = https://duck.co/ia/view/integral_cheat_sheet
Beta Link = https://beta.duckduckgo.com/?q=integral+cheat+sheet&ia=cheatsheet&iax=1

[2016-06-17 15:38] GuiltyDolphin commented on #3267
@12people You don't need to convince me ;) - I'm an advocate of Tau already.

Enjoy!

![screenshot-2016-06-17-16 37 26_463_162](https://cloud.githubusercontent.com/assets/8598426/16155983/dd3e7d3c-34a9-11e6-96e8-c1efda99fc39.png)

[2016-06-17 22:01] ManrajGrover commented on #3270
@zekiel I can pick this one up if no one is already working on it.

Something I would like to know is how to show differential. `df/dx`. Is there a better way? :blush:

[2016-06-18 04:34] nalinbhardwaj commented on #2960
@platschi hasn't responded in a month. Should I make a PR?

[2016-06-18 07:34] 12people commented on #3267
Awesome, thanks! 👍

[2016-06-18 09:02] 122131 commented on #1988
@ecounysis Are you still working on this?
Because if you want I can help! 😄

[2016-06-18 13:57] ManrajGrover commented on #3263
@moollaza Please help me with this. #3271 is related to this and can be fixed if necessary. :blush:

[2016-06-18 15:49] zekiel commented on #2960
@nalinbhardwaj do you think we should get another pass on the language? we could do a "final review" callout in the community channels. Otherwise, ya, that'd be great!

[2016-06-18 16:14] edgesince84 commented on #3269
hey @sneetsher thanks for suggesting this.  I'm sure @cosimo will address it shortly 🎯

[2016-06-19 04:21] gautamkrishnar commented on #3270
Yes implementing this one would be awesome. @ManrajGrover make sure to include all standard derivatives. Really waiting to see this going live :+1:

[2016-06-19 04:25] gautamkrishnar opened #3286 "Special days"
While doing a search for "fathers day" duckduckgo must display the day and month of the father's day celebration as 19th June.

I don't know whether this is implemented already. But doing a quick search didn't triggered anything. **"It is actually triggering the news IA"**
https://duckduckgo.com/?q=fathers+day

I think it should be better if we have one...

cc: @duckduckgo/community-leaders @mooll

[2016-06-19 10:48] ManrajGrover commented on #3270
@gautamkrishnar Yes, I found Wikipedia's [Differentiation rules](https://en.wikipedia.org/wiki/Differentiation_rules) page to be a good source.

Please help me with this.

[2016-06-19 11:54] gautamkrishnar commented on #3270
@ManrajGrover i think the cheatsheet goodie is not  yet programmed to support maths, so it doesn't allow you to display dy/dx like this:
![d36698dfedf3d0c19fa023a43f369be5_400x400](https://cloud.githubusercontent.com/assets/8397274/16177126/1cb705d0-3642-11e6-8a51-0161171938cb.png)

So you can specify equations like: dy/dx(x^2)=2x

take a look at the [Boolean algebra cheatsheet](https://duckduckgo

[2016-06-19 12:05] gautamkrishnar opened #3288 "Add Math Template for Cheat Sheets"
From PR #3270 i found that the cheatsheet goodie require new feature to specify mathematical equations as **val** key so that the goodie will display the specified equations like this (well formatted):
![Maths equation](https://cloud.githubusercontent.com/assets/8397274/16177252/f85bb26a-3643-11e6-9634-62523a26f1b8.jpg)

A new template named maths can be created.
What is your opinion? Anyone like

[2016-06-19 12:07] ManrajGrover commented on #3288
I was just commenting on issue #3270. :smile: We can use [MathJax](https://github.com/mathjax/MathJax) or other similar library for this. :blush:

[2016-06-19 12:08] ManrajGrover commented on #3270
Sounds great @gautamkrishnar. I'll get on with this.

[2016-06-19 14:29] GuiltyDolphin commented on #3288
@gautamkrishnar Indeed - we've been getting quite a lot of mathematically-oriented cheat sheets lately, we should support LaTeX (perhaps through MathJax, as @ManrajGrover suggested) with pretty rendering.

[2016-06-19 14:30] GuiltyDolphin commented on #3288
@gautamkrishnar Indeed - we've been getting quite a lot of mathematically-oriented cheat sheets lately, we should support LaTeX (perhaps through MathJax, as @ManrajGrover suggested) with pretty rendering.

/cc @zachthompson

[2016-06-19 15:39] cosimo commented on #3269
I understand that to add a HTML link, I need to change the plugin type? or at least the type or reply.
Anyway, I'm struggling to setup a functional development environment, so this might take a while more than expected (left some questions in duckduckhack slack in case somebody can help).

[2016-06-19 16:11] GuiltyDolphin commented on #3065
@sahildua2305 We should be good to go now :)

[2016-06-19 16:55] gaulrobe commented on #3288
:+1: for Mathjax! I have helped integrate it before on sites. It'd be cool if we could integrate that into DDG when applicable. It has some really neat features for math aficionados :smile:

[2016-06-19 22:46] gaulrobe opened #3290 "Tips IA maintainer request"
There has been several maintainer timeouts for the Tips IA. If @mattlehning does not have any objections I would like to takeover as maintainer. Thanks!

https://duck.co/ia/view/tips

cc @moollaza @edgesince84 @zekiel

[2016-06-20 10:43] tagawa opened #3291 "Conversions: Result spelling should match query spelling"
For example, searching for "6 feet in metres" (British spelling) should show the result also with British spelling ("metres"): https://duckduckgo.com/?q=6+feet+in+metres&ia=answer

[Reported on Twitter](https://twitter.com/MartijnSaly/status/744824285722718208)

---

IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-06-20 16:14] zekiel commented on #3286
Maybe the Today-In-History IA can be leveraged for this? It's a WIP somewhere

[2016-06-20 17:52] alohaas commented on #3267
Thanks for the suggestion @12people :)

[2016-06-20 19:08] GuiltyDolphin commented on #3291
@mintsoft How do you like locales? ;)

[2016-06-20 19:36] moollaza commented on #3269
@cosimo I replied to you on Slack -- please see https://github.com/duckduckgo/p5-app-duckpan/blob/master/README.md#additional-dependencies for help

That should sort out installing DuckPAN.

@cosimo we only need to update what the IA returns. Right now it's a plaintext response. We need to update it to use our template system which means it needs to return a hash that specifies the template and th

[2016-06-20 20:15] mintsoft commented on #3291
Hmmm; it's doable. I'll probably do the same as the dates formatting stuff we talked about before. Default to correct (metre) and then override for US :laughing:

[2016-06-21 04:48] tagawa commented on #3286
This is actually implemented in the Public Holidays IA, but is currently offline because it was over-triggering. There is a PR being worked on by @sekhavati to fix it: https://github.com/duckduckgo/zeroclickinfo-spice/pull/2678

[2016-06-21 13:40] edgesince84 commented on #3290
Thanks @gaulrobe - I'll keep an eye out for a response or objection from @mattlehning

[2016-06-21 14:30] zekiel commented on #3263
@ManrajGrover good spot -- yes, they should have consistency and it's useful to have the syntax. This should not prevent current or future pull requests from merging but is a best-practice to follow.

Would you like to modify #3257 before merge? Or any others?

[2016-06-21 14:30] #3263 closed

[2016-06-21 14:55] ManrajGrover commented on #3263
I'll make those changes in [C++ Algorithms](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/cpp-algorithms.json) as well as [C++ Complex](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/cpp-complex.json) Cheat Sheet then. Thank you. :blush:

[2016-06-21 16:15] #3141 closed

[2016-06-21 16:43] moollaza commented on #3288
We have support for LaTeX available via [Mathquill](http://mathquill.com/). It's being used in the Symbolab Spice currently.

IIRC when I investigated libs for making Math look nice, the MathJAX lib was very large so I avoided it.

Happy to be proven wrong though.

This looks to be the size of the Mathquill assets:

![calculate_integral_x 5-5_at_duckduckgo](https://cloud.githubusercontent.com/asse

[2016-06-21 17:26] gaulrobe commented on #3288
@moollaza I hadn't heard of Mathquill, but it looks much more lightweight and easier to configure. Mathjax has a LOT of configuration options so maybe there is a way to make it lighter, but I'd say Mathquill works here going forward!

[2016-06-21 17:29] GuiltyDolphin commented on #3288
@moollaza Oooh, that might be nice for the Interactive Calculator... Sweet.

[2016-06-21 17:32] ManrajGrover commented on #3288
Mathquill does look like better option. I have seen equations requiring MathJax taking time to render after page load. :smile:

[2016-06-21 17:35] kammitama5 commented on #3288
Mathquill looks amazing. Thank you for mentioning this.

[2016-06-21 21:03] ecounysis commented on #1988
@122131 that would be great

[2016-06-21 21:48] #3147 closed

[2016-06-21 22:35] #3068 closed

[2016-06-22 12:18] GuiltyDolphin commented on #3070
Implemented in #3215.

[2016-06-22 12:18] #3070 closed

[2016-06-22 14:55] #1431 closed

[2016-06-22 16:08] moollaza opened #3294 "ColorCodes: Triggers on any query ending in "color <name>""
### Description
This IA is triggering for any query that ends in `color <name>` causing some irrelevant results.

e.g. https://duckduckgo.com/?q=symbolism+of+the+color+red&ia=answer

We need to verify that the query doesn't contain other words when the trigger is `color`

## People to notify
/cc @mintsoft

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributi

[2016-06-22 16:18] Mailkov commented on #3294
@moollaza  Ok, I'm working to solve it

[2016-06-22 16:20] moollaza commented on #3294
Here's a visualization of the regex:

![debuggex__online_visual_regex_tester__javascript__python__and_pcre_](https://cloud.githubusercontent.com/assets/873785/16274316/1281bde8-3873-11e6-9010-c5c06f14354b.png)

You can see that it's possible to have any string before "color red" because of the `(.*?)` in the regex...

[2016-06-22 16:45] Mailkov commented on #3294
@moollaza In this moment IA ColorCode is supporting the query "rgb color code for red" or "red color code for html" so I'm not sure I will change the regex ...

[2016-06-22 17:17] #3266 closed

[2016-06-22 19:13] gaulrobe commented on #3294
Maybe we need to be tighter with the regex and enforce "color code" being in the query, code not being optional?

[2016-06-23 18:02] tagawa commented on #3288
I checked with @moollaza and to make this happen, the cheatsheet main JS file "would need to be updated with some logic to determine if MathQuill is required and load it if so". Should be this file:  `zeroclickinfo-goodies/share/goodie/cheat_sheets/cheat_sheets.js`

[2016-06-23 18:25] gautamkrishnar commented on #3288
Yes i think we could use some regexp to detect mats queries and make the MathQuill trigger...

[2016-06-23 19:34] kfrz commented on #2834
Searching for this exact issue -- I don't think it would be necessary to do any API calls, if it was kept simple and "assumed" hours/week. @gvanwaelvelde : you're not wrong the meanings could be amiguous but when used with the converter operator, e.g. "$20/hr in salary" or "$30k in hourly," it should be easily parsed.

Maybe there exists an API with detailed data out there, for more i18n-ness. . I

[2016-06-23 20:34] moollaza commented on #2834
@philipmiesbauer that's a good place to start. Let's see how that looks and then we can adjust it.

If you're comfortable with JS, we can go the more interactive route and provide inputs for the user to adjust. This could help make it more clear what assumptions we've made and let them play around with the numbers.

There are a few "Interactive" IAs in progress and live right now:
- https://github

[2016-06-23 20:55] moollaza commented on #3288
I think that's too unreliable. We'll need a more declarative approach. For example a new "Math" template type, or variable that indicates the section/key/value contain math. We now have a few cheat sheets that contains math so that would be a good starting point.

- https://duck.co/ia/view/laplace_transform_cheat_sheet
- https://duck.co/ia/view/integral_cheat_sheet

[2016-06-23 20:56] sahildua2305 commented on #3288
:+1: for the new `Math` template. Much needed.

[2016-06-23 21:04] moollaza commented on #3294
I think we should break apart that big regex so it's easier to understand and then replace the `(.*?)` with words we actually expect to see.

Or maybe as a heuristic if the string doesn't contain "color code", but contains a named colour **and** other words, we should bail out?

@gaulrobe I'm not sure we want to be so strict as to require "color code" just yet. The IA is just a little too flexible

[2016-06-23 21:10] gaulrobe commented on #3294
@moollaza it might help to require it in cases where "color" is in the query, since that is gonna be very ambiguous. "color code" at least is explicit in what is being asked. But either way, maybe too early to go that far. :smile:

[2016-06-23 22:19] philipmiesbauer commented on #2834
Hi sorry, what is a good idea? I am caught off guard a bit right now.

On Thu, Jun 23, 2016, 21:35 Zaahir Moolla <notifications@github.com> wrote:

[2016-06-23 23:02] moollaza commented on #3294
@gaulrobe ah sorry I misunderstood you!

It looks like there are a few common search forms that just contain `color` though...
![drake_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/16322928/c9119bb2-3974-11e6-8d22-8691a39c2900.png)

![hex_color_dark_brown_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/16322909/9e74654c-3974-11e6-866a-a5da14a17643.png)

An alter

[2016-06-24 14:44] GuiltyDolphin commented on #3288
@moollaza I think we should have a new template type. It would work well with the new trigger system too (custom triggers for all math cheat sheets).

[2016-06-24 15:43] moollaza opened #3299 "Military Rank: Scroll to specified tile, when present"
When the query contains a specific rank, we should ensure that the view automatically scrolls to the specified tile.

The can be achieved by specifying `meta.scrollToSelectedItem` and `meta.selectedItem`

Examples can be seen here: https://github.com/duckduckgo/zeroclickinfo-spice/search?utf8=%E2%9C%93&q=scrollToSelectedItem&type=Code

---

IA Page:  http://duck.co/ia/view/military_rank
[Maintaine

[2016-06-24 15:50] sahildua2305 commented on #3299
I'll fix this one! @moollaza :smile:

[2016-06-24 17:37] sam09 opened #3300 "Handling Negative Duration in Duration Calulator"
Currently the duration calculator just outputs negative duration as positive. https://beta.duckduckgo.com/?q=60+days+-+900+hours&ia=answer
We need a mechanism to handle this.

[2016-06-24 17:38] sam09 commented on #3300
@GuiltyDolphin @moollaza @gaulrobe

[2016-06-24 20:53] moollaza commented on #2834
@philipmiesbauer apologies, I mentioned the wrong person! Meant to mention @kfrz ^^^

[2016-06-24 21:05] moollaza commented on #3300
@sam09 would you like to implement the fix?

[2016-06-24 21:32] philipmiesbauer commented on #2834
Ok, that makes more sense. :D Cheers and best regards

Zaahir Moolla <notifications@github.com> schrieb am Fr., 24. Juni 2016 um
21:53 Uhr:

[2016-06-25 05:42] sam09 commented on #3300
Yeah sure...

[2016-06-25 15:03] lowellosaurus commented on #3299
@moollaza Are you talking about using the $grade_pat to scroll to the enlisted/warrant/officer section of grades as mentioned in the note on line 39? (https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/MilitaryRank.pm#L39)

Or do you mean something more specific, like searching "us army sfc rank" would scroll straight to the E7 rank?

[2016-06-25 15:29] sam09 commented on #3143
https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3205 Fixes the issue

[2016-06-25 15:29] #3143 closed

[2016-06-25 15:38] moollaza opened #3304 "Duration Calculator: Add support for more than 2 inputs and 1 operation"
- We should be able to add or subtract more than 2 inputs: `12 days + 2300 hours + 5 weeks`
- We should also be should be able to combine: `340 days - 70 days + 3 weeks`

---

IA Page:  http://duck.co/ia/view/duration_calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sam09

[2016-06-25 16:22] sam09 commented on #3304
Even I think that it should support multiple inputs. I think this should make pretty simple newcomer issue

[2016-06-25 17:22] stevenmg commented on #2803
This was taking care of by PR #2976. Closing it now :)

[2016-06-25 17:22] #2803 closed

[2016-06-26 16:10] ManrajGrover commented on #3270
This can be closed now that #3301 is merged. :smile:

[2016-06-27 08:17] #3201 closed

[2016-06-27 09:41] #3270 closed

[2016-06-27 10:11] sahildua2305 commented on #3299
The idea is to compare the search query with `title_main` and `title_sub` of each returned rank/position. If search query contains any of both of these, then set the selectedItem to that rank/position.

Is this right? @moollaza
Does this sound good to you? @lowellosaurus

[2016-06-27 17:39] stevenmg opened #3314 "USPS: Triggering on iOS error code: 18446744073709550611"
https://duckduckgo.com/?q=18446744073709550611&t=ffab&ia=answer
## Shows USPS tracking IA which takes you to an invalid tracking number page. The number is an NSURLErrorDomain code for iOS.

IA Page:  http://duck.co/ia/view/usps
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-06-28 07:06] shahbaz17 opened #3316 "AptGet Cheat Sheet:"
Can't we write in the description to use sudo for certain debian platforms.
Eg.
 If you are getting this error Unable to lock the administration directory , are you root?
      Then add sudo in prefix to all the listed commands.
    OR
Note : All these commands except the search commands must be run as root or with superuser privileges.

------
IA Page:  http://duck.co/ia/view/apt_get_cheat_sheet

[2016-06-28 13:43] edgesince84 opened #3317 "Conversions: converting cm to feet and inches"
When trying to convert centimeters to Imperial units, it does not show inches - only feet.

Example: "200 cm = 6.562 feet" instead of the desired feet _and_ inches

---

IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-06-28 16:21] abadojack commented on #3316
I prefixed all the commands with sudo. I hope that solves the problem.

[2016-06-28 16:22] moollaza commented on #3245
@GuiltyDolphin That sounds fine.

For now can we should improve the triggering.

@duckduckgo/duckduckhack-contributors anyone interested in investigating and simplifying the triggering of this IA and fixing it to avoid the types if queries it can't handle?

[2016-06-28 16:44] GuiltyDolphin commented on #3245
@moollaza I notice this doesn't have a maintainer - would you mind setting me as maintainer so we don't upset anyone later on when we merge it?

[2016-06-28 18:32] edgesince84 commented on #3245
@GuiltyDolphin I took care of that for you.  You're now the maintainer 👍

[2016-06-28 19:53] GuiltyDolphin commented on #3317
Yeah, it'd be nice to support this - @mintsoft I *think* we have an issue for multiple-unit answers already?

[2016-06-28 21:05] mintsoft commented on #3317
Yeah there's a variety of unit combo suggestions on the todo list :+1:

[2016-06-28 21:45] moollaza commented on #3299
@lowellosaurus @sahildua2305 I meant that if the user specifies a specific rank in the query, we should be able to scroll to it.

I think this is more along the lines of what @sahildua2305 is describing.

@lowellosaurus I'm unsure what your code comment there refers to -- would that be a more general case? Do multiple ranks belong to a certain grade? If so we can use a topic display approach to gr

[2016-06-29 08:00] lowellosaurus commented on #3299
@moollaza the topic links is exactly what I was thinking! I'll look into implementing this.

[2016-06-29 09:01] shahbaz17 commented on #3316
Hey @abadojack thanks for taking your time to fix this. But prefixing all the commands with sudo will not do the good since not all the debian based OS used explicit sudo. Like in debian OS , we don't have to use sudo, also in kali.
So it would be better to write a Note: on description.

[2016-06-29 10:13] GuiltyDolphin opened #3320 "Tests currently noisy"
We're getting a lot of `add_country_alias(): alias already in use: Laos` and `add_country_alias(): alias already in use: Russia` in the tests at the moment, making it pretty hard to read the test output. We should probably deal with this sooner rather than later.

cc @moollaza @zachthompson @duckduckgo/community-leaders

[2016-06-29 11:47] abadojack commented on #3316
Debian, Kali and other Debian-based distros will require _sudo_ when the user isn't root. Since Ubuntu and Linux Mint are the most popular distros in this category and most of their users ain't root, it makes more sense to prefix all the commands with _sudo_. I will however add a note to the description as you suggested.

[2016-06-29 13:31] tudorsaitoc opened #3321 "Vim Cheat Sheet:"
Heading format seems off (details below):

Was the intention for the title to be displayed on one line?

I'm getting two lines like this:
[code]

------
IA Page:  http://duck.co/ia/view/vim_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @NaveenKarippai

[2016-06-29 14:07] NaveenKarippai commented on #3321
@tudorsaitoc could you please be more specific. Are you referring to subtitle here? If possible, can we have a screenshot of the issue. Thanks!

[2016-06-29 14:41] edgesince84 commented on #3317
thank you, fellas!

[2016-06-29 15:32] zachthompson commented on #3320
It's due to the release of Locale::Codes [v3.39](https://metacpan.org/pod/distribution/Locale-Codes/lib/Locale/Codes/Changes.pod#VERSION-3.39-2016-05-31-sbeck).

[2016-06-29 17:14] edgesince84 commented on #3290
@gaulrobe I made you the maintainer here!  thanks for volunteering to pick this up.

[2016-06-29 17:14] #3290 closed

[2016-06-29 17:41] gaulrobe commented on #3290
Thanks @edgesince84!

[2016-06-29 23:32] moollaza commented on #3299
@lowellosaurus awesome! 💯

I look forward to your Pull Request 👍

[2016-06-30 11:27] GuiltyDolphin opened #3324 "Cheat Sheets (Controller): Incorrectly determining '`end`' triggers"
An issue brought up in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3319 revealed a bug in the triggering process.

Due to the way triggers are handled, the first trigger found (earliest in the query) will be used as the trigger for the IA, regardless of whether or not it is valid.

For example, without `words` as a trigger, `words used in kabaddi cheat sheet` will be treated like so:

[2016-06-30 13:14] zachthompson commented on #3324
This seems like an edge case where we're trying to have category triggers and aliases with the same terms.  I would opt for

1. removing `words used in kabaddi` from the aliases
2. Or, removing it from the category with the `words` trigger

I don't think we want to get into multiple triggers at this point.

[2016-06-30 13:16] tagawa opened #3326 "Unicode: Control characters affect display of character information"
Here's an example:
https://duckduckgo.com/?q=U%2B202E&ia=answer

The U+202E character is a right-to-left conversion character. When our code renders it, it writes the description right-to-left. We should make exceptions for such characters and not render them.

Affected characters, according to a [helpful tweet](https://twitter.com/FakeUnicode/status/748540297861341184), are:
U+202A
U+202B
U+202C

[2016-06-30 13:21] lucaswerkmeister commented on #3326
U+202D LEFT-TO-RIGHT OVERRIDE might be similarly problematic for people in RTL locales.

[2016-06-30 14:17] GuiltyDolphin commented on #3324
@zachthompson Edge case indeed!

We may wish to remove the alias then - more cheat sheets are likely to benefit from the added trigger than that single cheat sheet would from keeping the alias.

We'll want to keep this in mind for the future though.

[2016-06-30 14:17] sahildua2305 commented on #3324
@GuiltyDolphin So should I go ahead and remove that alias from `kabaddi` cheat sheet?

[2016-06-30 14:52] zekiel commented on #3321
@tudorsaitoc  I don't see the same thing but maybe it's browser-specific. Can you confirm where the title is going to two lines?

Another note is that the subtitle is a bit odd as "VI Improved." Maybe that can be updated if someone's tinkering around in there.
![vim cheat sheet subtitle](https://cloud.githubusercontent.com/assets/1846953/16492707/b022920a-3eb0-11e6-88d3-26b0110a0d95.png)

[2016-06-30 15:00] GuiltyDolphin commented on #3324
@sahildua2305 Yes - go ahead and remove the alias.

[2016-06-30 15:01] GuiltyDolphin commented on #3320
Fixed in duckduckgo/duckduckgo#209.

[2016-06-30 15:01] #3320 closed

[2016-06-30 15:11] GuiltyDolphin commented on #2801
:+1: I agree - just had this same thought. It might improve wrapping too.

[2016-06-30 17:48] NaveenKarippai commented on #3321
@zekiel agreed! The (above) description was taken from vim manpage :small_blue_diamond:

[2016-06-30 19:19] tudorsaitoc commented on #3321
I'm on Chrome.  This is how it shows up:

[screenshots 2016-06-30 at 3.15.30 PM.pdf](https://github.com/duckduckgo/zeroclickinfo-goodies/files/342172/screenshots.2016-06-30.at.3.15.30.PM.pdf)

[2016-06-30 19:55] lucaswerkmeister commented on #3326
Instead of not rendering the character, you could also wrap it in a `<div>`, which encapsulates the effect of the direction override. (A `<span>` doesn’t.) I think this would also make sense, semantically – separating the character from its description.

[2016-07-01 00:40] bsstoner opened #3327 "Duration Calculator: Tests are failing"
Tests are currently failing:

[code]

------
IA Page:  http://duck.co/ia/view/duration_calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sam09

[2016-07-01 01:23] tagawa commented on #3326
That's a good idea @lucaswerkmeister - I might try that out.

[2016-07-01 04:43] tagawa commented on #3326
That PR should take care of it. Will try to install it to the beta server for testing.

[2016-07-01 05:08] sam09 commented on #3327
The test are failing because of [this](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/DurationCalculator.pm#L40) line. We currently add  the resulting duration to the current time. So when you add 30 days to June it becomes 1 month but in July you would need 31 days for one month. That is why the tests failed when month changed.

I would suggest we use a fixed time

[2016-07-01 08:23] GuiltyDolphin commented on #3327
@sam09 We should be using `Test::MockTime` in the tests to emulate a fixed time - if you want to go ahead and add that ping me and I'll get it merged ASAP.

[2016-07-01 09:44] sam09 commented on #3327
I think we might need to fix that in the Goodie itself. We would want it to give consistent answers.

[2016-07-01 09:54] sam09 commented on #3327
@GuiltyDolphin Check out #3329

[2016-07-01 09:59] GuiltyDolphin commented on #3327
@sam09 Hmm, yeah, months are a bit of a pain. We can open a new issue for that after this.

[2016-07-01 10:08] GuiltyDolphin commented on #3327
Fixed in #3329.

[2016-07-01 10:08] #3327 closed

[2016-07-01 10:15] GuiltyDolphin opened #3330 "Duration Calculator: Improve handling of ambiguous units"
Some units, such as 'months', don't have a static duration.

We should have a transparent way of handling these types of units, perhaps with a statement such as `assuming 1 month is 30 days`, not accepting them (this would be undesirable), or something very clever!

There are a few cases of the first suggestion (a statement); due to the way a year has a consistent number of months, we wouldn't nee

[2016-07-01 11:57] gaulrobe commented on #3330
@GuiltyDolphin @sam09 just a thought... maybe use the smallest duration as the resolution. So for `1 month + 31 days` queries the answer would be (365/12 + 31) = `61.42 days`. The idea here is to convert down to the smallest duration unit in a statement in order to get better resolution. Could even do something like `61.42 days or ~2 months` as an answer.

[2016-07-01 13:17] zekiel commented on #3321
@tudorsaitoc  ahhh, ok. Thanks for the screenshot! That's the informational page for the Instant Answer which shows the metadata, description, and example queries of that Instant Answer. The actual answer on DuckDuckGo is what we thought you meant!

IA in Action: https://duckduckgo.com/?q=vim+cheat+sheet&ia=cheatsheet&iax=1
IA Page: https://duck.co/ia/view/vim_cheat_sheet

What you pointed out is

[2016-07-01 14:15] GuiltyDolphin commented on #3330
@gaulrobe Would you expect a fractional result when you add days to months? I wouldn't.

For your second point, there may be some value in using approximations - though I think we should avoid it when possible.

It's a bit of a pain because usually when using months you are working relative to some date, in which case months are well defined (we know the length of each month).

@sam09 It might be

[2016-07-01 14:30] gaulrobe commented on #3330
@GuiltyDolphin the problem being day + month queries need to be generalized since you have no point of reference. And given the 1 month = 30.417 days conversion (https://duckduckgo.com/?q=1+month+to+days&bext=mcp&ia=answer) maybe fractional answers are expected here since generalizations need to be made without a point of reference.

[2016-07-01 16:36] #2857 closed

[2016-07-01 16:42] tagawa commented on #1905
Perhaps this can be closed, thanks to #2170 ?

[2016-07-01 16:44] #1013 closed

[2016-07-01 21:42] ArtskydJ opened #3332 "SHA: When I SHA256 or SHA512 something, it gets cut off"
E.g. `sha256 lol` should have `c9c1abc` after what I see below:
![sha256-ddg](https://cloud.githubusercontent.com/assets/1833684/16535089/420d82d4-3faa-11e6-8c7b-8492c78257e8.PNG)

------
IA Page:  http://duck.co/ia/view/sha
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-07-01 22:03] ManrajGrover commented on #3332
This is because of `overflow: hidden` being applied by class `c-base__title`. Removing it fixes the issue.

![screenshot from 2016-07-02 03 31 07](https://cloud.githubusercontent.com/assets/5673050/16535516/9cdafa2e-4005-11e6-8beb-63b77d23b4bb.png)

[2016-07-02 01:34] sam09 commented on #3330
I think a fractional result would be unexpected in cases we are adding two
whole values. Eg: 1 month + 31 days is either 2 months or 2 months + 1 day.
Either one of them is an expected answer.

On Fri, 1 Jul 2016 8:00 pm Robert Gaul, <notifications@github.com> wrote:

[2016-07-02 02:35] gaulrobe commented on #3330
A fairly authoritative source: https://www.wolframalpha.com/input/?i=1+month+%2B+15+days

I'm not saying we can't do things differently, but to support these queries and to ensure users get accurate information, I think we need to standardize what a month means. It might also be more valuable to create an interactive duration calculator where users can input a reference point and add time units to

[2016-07-02 03:40] sahildua2305 opened #3335 "UnderScore.js Cheat Sheet Maintainer Request"
I noticed that underscore.js cheat sheet has no maintainer. I'd like to take over this one, if no one has any issues.

https://duck.co/ia/view/underscore_js_cheat_sheet

/cc @moollaza @edgesince84

[2016-07-02 03:53] tagawa commented on #3335
Hi @sahildua2305 - you're very fast! I've just made you the maintainer. Thanks for being so keen and helping out 😃

[2016-07-02 03:53] #3335 closed

[2016-07-02 03:56] sahildua2305 commented on #3335
:tada: Thanks @tagawa

[2016-07-02 04:06] vikashvverma opened #3336 "Jekyll Cheat Sheet: Maintainer Request!"
------
IA Page:  http://duck.co/ia/view/jekyll_cheat_sheet

[2016-07-02 05:28] tagawa commented on #3336
Hi @vikashvverma - thank you for being so keen! I've just added you as the maintainer for this.

[2016-07-02 05:28] #3336 closed

[2016-07-02 05:38] tagawa commented on #3332
@ArtskydJ @ManrajGrover Thanks for reporting and looking into this. It looks like removing `overflow: hidden` will still truncate the string on smaller screens so may be `overflow: scroll` (or `overflow: auto`) is better. I'll see if the design team can take a look.

[2016-07-02 09:57] GuiltyDolphin commented on #3330
@gaulrobe One way to do that would be to say *which* month we are using - see for example [this section](https://en.wikipedia.org/wiki/Month#Types_of_months_in_astronomy) on Wikipedia.

Your case for fractional results does make sense - it's just whether users would prefer it to integral results.

Gah! Why can't we standardize these things!

[2016-07-02 10:01] GuiltyDolphin commented on #1905
@tagawa I've left this one open for now as I haven't actually added a `list` trigger yet. It's not quite clear *where* it would make sense, and could easily lead to massive overtriggering (`python list` -> `python cheat sheet`). Perhaps this is something we could look into further if we improve the integration of metadata and cheat sheets.

[2016-07-02 10:05] GuiltyDolphin commented on #3023
Ping @zachthompson @moollaza any thoughts? This would be fairly trivial to implement and also easy to remove if things go wrong.

cc @duckduckgo/community-leaders any other thoughts on use of metadata in general?

[2016-07-02 13:25] mintsoft commented on #3332
@tagawa I fixed this already in: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3196 and https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3151 is this not live?

[2016-07-02 13:31] mintsoft commented on #3330
@GuiltyDolphin Because there's a non-integer ratio and when rounded a poorly factorable relationship between the rate of rotation of the earth and the orbital period of the earth!

For the record, conversions defines a year as exactly 365 days and a month as 365/12 ~ 30.417 days.

[2016-07-02 17:16] GuiltyDolphin commented on #3330
@mintsoft Years are a bit easier - we can just use the [common year](https://en.wikipedia.org/wiki/Common_year). I don't think there's a 'common month' though.

[2016-07-02 20:43] mintsoft commented on #3330
Yeah; I think the only sensible thing is to ask the question "what would the user expect if they asked 1day + 12 months"; I think they expect 366 days

[2016-07-03 08:29] GuiltyDolphin commented on #3330
@mintsoft Indeed. In that case we can just treat `12 months` as exactly `1 year` though; making working with days a bit easier.

What about `1 month + 1 day`? `32 days`? `31 days`? `30 days` (please no)?

Hmm, @gaulrobe how about something similar to your idea of fractional results, but for the final result we *round* it to the nearest integer?

`10 months -> 304.166... -> 304 days` (and 1 month w

[2016-07-03 08:47] GuiltyDolphin commented on #1528
On hold pending some discussion on handling this in general.

[2016-07-03 09:07] GuiltyDolphin commented on #3044
Hmm, @zachthompson; something similar to this (though not exactly the same) might be more immediately useful for something like #1528 - where it may be useful to apply some `ignore` phrases to *every* category rather than each individually.

For example:

[code]

To add `for` to each `ignore`; allowing queries like `links for X`, `cheat sheet for X`, `cheat codes for X` etc.

[2016-07-03 10:20] mintsoft commented on #3330
Yeah personally I lean towards the average month; so 1 month + 1 day is 31.417 days. We could just implement that and wait for feedback?

[2016-07-03 12:11] GuiltyDolphin commented on #3330
@mintsoft Hmm, true.

@sam09 Would you be happy with that approach? To use a month as `365/12` days and see if we get any feedback on fractional results?

[2016-07-03 23:18] zekiel commented on #3330
I believe this is how it was handled when Wolfram|Alpha was used as an IA so definitely OK as is but also good to see what people think once live. I do remember some feedback on it being a little odd but that can probably be mitigated by showing multiple interpretations based on the first unit expressed.

https://duckduckgo.com/?q=7+months+%2B+12+weeks&t=ffab&ia=answer
would show as is, **9 months

[2016-07-03 23:21] zekiel commented on #3330
Nm my comment -- leaving it here because it's wrong and just shows how it gets weird when there's a remainder and its expressed as a fraction or written form. At some point, do you show hr/min/sec?

don't mind me.

[2016-07-04 08:51] #3260 closed

[2016-07-04 22:56] sahildua2305 opened #3347 "Use of single and double quotes in templates"
As of now the templates use a mix of double quotes and single quotes. In my opinion, we should make changes to use either of these to bring uniformity.

Example - [Goodie Template](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/template/lib/DDG/Goodie/Example.pm)

/cc @moollaza @GuiltyDolphin

[2016-07-05 12:38] GuiltyDolphin commented on #3347
@sahildua2305 Sure, we should prefer single quotes if there's no interpolation.

TBH we expect the user to completely wipe most of the template strings, oft removing quotes entirely.

But for cases such as `"text"` in `templates` we should definitely be using single quotes.

[2016-07-05 13:05] sahildua2305 commented on #3347
So should I submit a PR to make the changes?

[2016-07-05 15:18] GuiltyDolphin commented on #3347
@sahildua2305 Go for it!

[2016-07-05 17:22] #3316 closed

[2016-07-06 07:30] 122131 opened #3354 "New Goodie(s): Pinout of various microcontrollers"
I was thinking of making a new Goodie for Arduino pinout, but I don't know if it's better to have a single Goodie for all microcontrollers (Raspberry Pi, Teensy...)

What is your opinion? 😄

@moollaza @zekiel

[2016-07-06 12:58] #3347 closed

[2016-07-06 14:07] zekiel commented on #3252
@smitche60 circling back on this in case it slipped :) No rush but good to know if it's a work-in-progress.

[2016-07-06 14:23] smitche60 commented on #3252
Sorry about that- this is still on my radar. I should be able to complete this over the weekend.

[2016-07-06 21:16] GuiltyDolphin commented on #3354
@122131 Are there any APIs that can serve this information? If so, this would make a great Spice. If not, are there any pages that can be scraped for the information? This could be an awesome FatHead.

If the dataset is relatively small, and we can easily retrieve it then sure, we could store it all in some files for use in a (single) Goodie.

[2016-07-07 08:03] tagawa opened #3359 "Local Sunrise/Sunset: Should be given display priority"
Currently the query "sunset" or "sunrise" shows the Meaning tab by default, but I think the Answer tab should have priority.

---

IA Page:  http://duck.co/ia/view/sun_info
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Mailkov

[2016-07-07 12:45] 122131 commented on #3354
@GuiltyDolphin I had a quick look, but I haven't found any API focused on pinouts.
Instead I found [this](https://github.com/Bouni/Arduino-Pinout), but it's only for Arduino.
I don't think the dataset will be too large (an image for each microcontroller, a little description and/or some special notes), even if it will be expandable with other microcontrollers.

[2016-07-07 13:17] GuiltyDolphin commented on #3354
@122131 Hmm, interesting repo. I've done a bit o' searching and haven't found any APIs that provide diagrams.

Perhaps we could use those images along with additional data from an API in an item view? Any thoughts @moollaza ?

[2016-07-07 13:33] 122131 commented on #3354
@GuiltyDolphin I also found [this](http://pinout.xyz/) ([repository](https://github.com/Gadgetoid/Pinout2)) for Raspberry PI...

[2016-07-07 18:28] NaveenKarippai opened #3362 "Calculator: create simple UI"
Can we add a simple JavaScript User Interface (buttons and result field) on calculator IA. This could be highly helpful!

---

IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-07-07 18:43] GuiltyDolphin commented on #3362
@NaveenKarippai Sure, https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2848

Yeah, that quick.

[2016-07-07 19:15] moollaza commented on #3294
BTW I just noticed that "#E0E0E0 color" and  "#E0E0E0 css color" don't trigger this Instant Answer -- they definitely should!

[2016-07-08 10:09] andrey-p opened #3364 "Frequency Spectrum: throws JS error when screen size is < 500"
This is because of this line: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/frequency_spectrum/frequency_spectrum.js#L49 where the `scheme` variable isn't defined.

------

IA Page:  https://duck.co/ia/view/frequency_spectrum

[2016-07-08 17:10] tagawa commented on #3022
Thanks  for reporting this @sils1297. It looks like http://standards-oui.ieee.org/oui/oui.txt might be the correct replacement URL.

[2016-07-08 20:35] mintsoft commented on #3294
@moollaza good catch

@Mailkov Have you got a fork in progress somewhere? I don't mind picking this up if you don't have time

[2016-07-09 10:06] GuiltyDolphin opened #3371 "New Color Role"
We've got a few Goodies ([ColorCodes](https://duck.co/ia/view/color_codes), [RGBColor](https://duck.co/ia/view/rgb_color)) including a port ([ColorPicker](https://duck.co/ia/view/color_picker)) that use similar methods for parsing and working with Colors; I think this presents an ideal opportunity to refactor the common logic out into a Role.

@duckduckgo/community-leaders Any thoughts? Good idea?

[2016-07-09 10:28] GuiltyDolphin opened #3372 "Test issue"
This is for testing correct identification of GH issues on the platform.

See #1397 for more information.

IA Page: https://duck.co/ia/view/fake_ia_test

[2016-07-09 10:34] #3372 closed

[2016-07-11 00:00] smitche60 commented on #3252
This is a work in progress, but I'll need to push back another week

[2016-07-11 03:28] tagawa commented on #3252
No worries @smitche60 - thanks for the update. If you feel you have too much on your plate, we may be able to get the community to help out. Just let us know!

[2016-07-11 05:53] anthonyeden commented on #689
I'd love to do conversions such as "12MB/s in Mbps" or "100Mbps * 1 hour". I do a lot of these every day, so always have to !g those queries :)

(Sorry if these ones have already been mentioned someplace else)

[2016-07-11 11:46] mintsoft commented on #689
@anthonyeden It's on my TODO list; I can probably put something in place to handle queries around information rate this week

[2016-07-12 20:29] platschi commented on #2960
@tagawa @zekiel @nalinbhardwaj  sorry for late reply. pull request had been done already long ago: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3059

[2016-07-12 21:07] #3332 closed

[2016-07-13 03:49] tagawa commented on #2960
Thanks @platschi - I've just added a comment to that pull request.

[2016-07-13 06:07] rasikapohankar commented on #3188
Hey @GuiltyDolphin! Is [this](https://github.com/duckduckgo/duckduckgo-utils/issues/9) the discussion?

[2016-07-13 07:45] aleksen commented on #2002
@gaulrobe Great job!

[2016-07-13 09:03] GuiltyDolphin commented on #3188
@rasikapohankar Part of it (sorry for not getting back).

I think a direction we want to move in is handling dates with locale-awareness (in output) to give a more *natural* feel to results for users.

Consequently, the format you are using at the moment should be fine for the time being - at least until we've sorted how we want to fully handle date results.

[2016-07-13 09:22] GuiltyDolphin commented on #3294
@mintsoft If you do, some of the test queries from #3346 might be useful to ensure it isn't over-triggering.

[2016-07-13 10:01] tagawa opened #3385 "Counter-Strike Go Cheat Sheet: Add aliases"
This could probably benefit from a few aliases, for example:
"counter-strike go", "counter strike go", "cs:go", "counter-strike global offensive", "counter strike global offensive"

------
IA Page:  http://duck.co/ia/view/csgo_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @aiyankovil

[2016-07-13 10:08] tagawa commented on #3385
Actually, the description should be updated as well to something like:
"Describes various abbreviations and chat meanings for Counter-Strike: Global Offensive"

[2016-07-13 12:39] rasikapohankar commented on #3188
Thanks @GuiltyDolphin. I tried to search a little, found this: https://github.com/moment/moment/issues/1044, so I guess moment.js does not detect the user's browser settings for formatting the date?
We want to add a function in the Dates Role such that the output format will depend on the location of the user and similarly for javascript, is that right? I don't know the details but have seen discu

[2016-07-13 14:33] sahildua2305 commented on #3385
I will fix this one @tagawa

[2016-07-13 14:39] edgesince84 opened #3386 "Music Chords Diagrams: a vs a sharp"
A DuckDuckGo user reported that the IA does not distinguish between "a sharp major guitar chord" and "a major guitar chords."

---

IA Page:  http://duck.co/ia/view/chord_diagrams
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @charles-I

[2016-07-13 14:41] edgesince84 opened #3387 "JIRA: source no longer active"
The query for the airplane "DC10" triggers this IA, and the source is closed now.

------
IA Page:  http://duck.co/ia/view/jira
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @arroway

[2016-07-13 15:12] moollaza commented on #3387
@edgesince84 I'm not able to trigger the JIRA Goodie for that query, but for others, everything seems to be fine?

https://duckduckgo.com/?q=SOLR-4530&ia=answer

https://issues.apache.org/jira/browse/SOLR-4530

[2016-07-13 16:18] moollaza commented on #3354
Sounds like this could work similarly to our Minecraft Goodie -- a collection of images and descriptions used by a Goodie 👍

[2016-07-13 16:38] #3387 closed

[2016-07-13 18:42] moollaza opened #3388 "Create CSS Colours List Goodie"
### Background

We do not have and Instant Answer to display all the named CSS colours. We should!

### Objective

Build a Goodie that displays a list of all names CSS colours, along with their colour codes and a sample of the colour.

Essentially we should re-create [this CSS-Tricks table](https://css-tricks.com/snippets/css/named-colors-and-hex-equivalents/). w3Schools has a [similar table](http

[2016-07-13 18:46] moollaza commented on #3388
@duckduckgo/duckduckhack-contributors would anyone be interested in making this CSS Colors List Goodies?

It will require Perl coding and should be fairly easy to build using the List template.

[2016-07-13 18:48] moollaza opened #3389 "Create CSS Animations Goodie"
### Background

CSS Animations are very popular and we can very easily display a tile view of CSS Animation demos, that show what the effect of the animation is.

Ideally we can link to a live demo of the CSS where the user can copy and modify the CSS we've demonstrated.

For example, CSS-Tricks has a great post with embedded samples: https://css-tricks.com/css-animation-tricks/
### Objective

Bui

[2016-07-13 18:53] moollaza commented on #3389
@duckduckgo/duckduckhack-contributors would anyone be interested in making this CSS Animations Goodie?

It will require Perl and/or JS (depending on implementation) and definitely some advanced CSS skills. The will likely warrant the use of a custom tile template and plenty of CSS to create the various animations.

This has the potential to be one of the coolest looking Instant Answers if built we

[2016-07-13 18:57] sahildua2305 commented on #3388
@moollaza I'd like to take this up.

[2016-07-13 19:48] edgesince84 commented on #1074
hey @orzechow I wanted to see if you wanted to work on addressing this issue - I'd love to see a fix go live!

If you'd rather work on something new, we'd like to invite you to our [new forum](https://forum.duckduckhack.com/) to preview how we're improving programming-related searches. There are a lot of important tasks up for grabs that we'd like your help with, so feel free to and [jump in](http

[2016-07-13 19:56] edgesince84 commented on #3116
@moollaza @tagawa was this issue fixed by #3118?  Can we close this out?

Thanks again @vikas-bansal.  If you're interested in working on something, we'd like to invite you to our [new forum](https://forum.duckduckhack.com/) to preview how we're improving programming-related searches. There are a lot of important tasks up for grabs that we'd like your help with, so feel free to and [jump in](https

[2016-07-13 20:01] #1742 closed

[2016-07-13 20:02] edgesince84 commented on #2719
It looks like this was addressed by #1982

[2016-07-13 20:02] #2719 closed

[2016-07-13 20:22] edgesince84 commented on #3193
hey @und3f, I wanted to ping you again and see if you are able to address this.

@Asternitix thank you again for finding this, we really appreciate it! I also wanted to let you know that we recently launched a new forum with the initiative of improving programming-related searches, and I hope you'll [join us](https://forum.duckduckhack.com/)!

There are a lot of important tasks up for grabs that w

[2016-07-14 09:19] GuiltyDolphin commented on #3188
@rasikapohankar It's a one-liner (ish) I'll stick in #2810 - the PR already adds locale-support for other functionality, so formatting isn't an issue.

I'm not 100% sure the situation with `moment.js` - it definitely *supports* locale-based formatting, though I'm not sure if it *will* detect browser settings.

Another alternative might be to return a format string (either transparently or hidden)

[2016-07-14 10:51] tagawa opened #3391 "Parcelforce: Should not trigger for "luhn 1234554651""
Direct link: https://duckduckgo.com/?q=luhn+1234554651

------
IA Page:  http://duck.co/ia/view/parcelforce
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-07-14 11:49] tagawa opened #3392 "UnixTime: Convert human-readable datetime to unix timestamp"
For example, the query "Fri Feb 13 23:31:30 2009 UTC timestamp" (or similar) would convert to "1234567890".
Not sure if this should be an update to this IA or a new IA.

[Suggested on Twitter](https://twitter.com/ashishwt/status/753549227595182080)

---

IA Page:  http://duck.co/ia/view/unix_time
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @codejoust

[2016-07-14 14:26] prasadram commented on #2940
Hi @bill,
Thanks for inviting me , and I am interested in python or Perl any one will
be ok for me.

On Thu, 14 Jul 2016, 00:49 Bill <notifications@github.com> wrote:

[2016-07-14 16:54] stanly-johnson commented on #3116
:+1:
Guess I'm a little late :)

[2016-07-14 23:30] ManrajGrover commented on #3389
@moollaza I can take this one up if it isn't on High Priority. :smile:

[2016-07-15 01:45] #3385 closed

[2016-07-15 02:22] tagawa commented on #3116
@stanly-johnson No problem - thanks for the thumbs up!

@edgesince84 Yes, this works for the extra triggers now: https://duckduckgo.com?q=node.js+cheatsheet&ia=cheatsheet Thanks @vikas-bansal and @NaveenKarippai for reporting and fixing.

[2016-07-15 02:22] #3116 closed

[2016-07-15 09:51] suryansh-tibarewal opened #3395 "URL Decode: Trigger is capitalization dependent"
Does not trigger when trigger word URL is written in caps
eg. "url decode <link>" triggers the IA but "URL decode <link>" does not.
------
IA Page:  http://duck.co/ia/view/urldecode
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-07-15 09:58] GuiltyDolphin commented on #3371
@moollaza Any thoughts? We've got 2 new Goodies in the works, plus one port - all of which could benefit from this Role.

[2016-07-15 14:47] moollaza opened #3396 "Luhn Algorithm: Reduce subtitle redundancy"
The subtitle currently repeats the result displayed in the `$title` -- it should rather provide context for the title.

The result should look like:

https://duckduckgo.com/?q=luhn+12345&ia=answer

------
IA Page:  http://duck.co/ia/view/luhn_algorithm
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @regagain

[2016-07-15 17:57] GuiltyDolphin commented on #3392
@tagawa I've got a Goodie in planning that would provide something of an interface to the Dates Role - mostly for parsing dates of various formats to a canonical (possibly user decided) form. I'm waiting on #2810 before I do anything with that though.

Potentially the 'reverse' of this, I guess :wink:

[2016-07-15 20:41] mintsoft commented on #3395
Thanks for the report @suryansh-tibarewal I have a fix incoming: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3397

[2016-07-15 21:02] mintsoft commented on #3391
Fix: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3398

[2016-07-15 23:44] sahildua2305 commented on #3371
@GuiltyDolphin how does a `Role` work?

[2016-07-16 02:56] tagawa commented on #3203
This seems to be working for me - can anyone confirm?

[2016-07-16 08:08] iambibhas commented on #2844
Same with `days since`. e.g. `days since march 28`. right now its `days between march 29 and today`

[2016-07-16 17:11] GuiltyDolphin commented on #3371
@sahildua2305 For a description (and some references) check out `perldoc Moo::Role`. For the Roles we use check out http://docs.duckduckhack.com/backend-reference/goodie-helpers.html

I'm not *100%* sure why we use Roles rather than just packages in some of the circumstances (Role functionality not used), but we generally use Roles for any features we want any Goodies to be able to access (which n

[2016-07-16 18:48] gautamkrishnar commented on #3230
@biscuitNinja  any update on this one??

[2016-07-16 22:35] smitche60 commented on #3252
#3401

[2016-07-18 17:04] edgesince84 commented on #2940
sounds great @prasadram! 👍

[2016-07-18 17:12] edgesince84 commented on #3362
sorry for the delay here - I'll get that prodding done!

[2016-07-19 06:35] tagawa opened #3407 "Random Date: Allow some customization"
For example, it'd be good to be able to restrict the date to certain years or time periods, e.g.:
`random date (in) 2016`
`random date (in the) past`
`random date (in the) future`

------
IA Page:  http://duck.co/ia/view/random_date
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-07-19 10:31] GuiltyDolphin commented on #3407
@tagawa Hmm, interesting idea.

I'll have a quick poke and see what this'd require.

[2016-07-19 15:13] GuiltyDolphin commented on #3407
Partially solved in #3409 - though once #2810 is merged we should be able to handle the rest of the cases.

[2016-07-19 20:05] MariagraziaAlastra opened #3413 "JS Minifier - minify CSS as well"
The library used for JS Minifier IA, [prettydiff](https://github.com/prettydiff/prettydiff) can handle CSS too, shouldn't be too hard to add that functionality.

//cc @moollaza

---

IA Page: https://duck.co/ia/view/js_minify
Maintainer: @sahildua2305

[2016-07-19 20:13] ManrajGrover commented on #3413
@MariagraziaAlastra I can take this one up. :smile:

[2016-07-19 20:22] MariagraziaAlastra opened #3414 "JS Minifier - add option to beautify JS"
## Background

The library used for JS Minifier IA, [prettydiff](https://github.com/prettydiff/prettydiff) can perform JS beautifying too; it would be a nice feature to heave.
## Forum

See the topic [Improve JavaScript Minifier Goodie](https://forum.duckduckhack.com/t/improve-javascript-minifier-goodie/175)

This issue is part of the [Programming Mission](https://forum.duckduckhack.com/t/duckduck

[2016-07-19 20:42] moollaza opened #3415 "JavaScript Minifier: Code refactor + Design Adjustments"
Lot's of improvements to be made:

### Perl
- Better query validation
  - Use `startend` trigger + add more triggers, or keep with `any` but use regex to evaluate the query is valid. We should ignore certain queries like "gulp minify js"
- Add triggers for 'JSON'
- Use `title` property to render Title instead of using `<h5>` in template
- Add a `subtitle` explaining how to use this?

### JS
- Refa

[2016-07-19 21:15] sahildua2305 commented on #3413
@ManrajGrover Actually, I discussed with Maria that it will require just checking whether the query contains `CSS` or `JS` and set the language accordingly for the library. I have the fix for this ready. I'll push in a while. Thanks for offering help however :smile:

[2016-07-19 21:28] sahildua2305 commented on #3415
@moollaza I just got to know from @MariagraziaAlastra that you two discussed the loading of the library. So, should I leave it as it is? Loading library only when we are sure that we need it?

[2016-07-19 22:56] Mav7 opened #3418 "duckpan test CheatSheets failure"
I'm creating a code cheat sheet for a Ruby Gem called *webcomics*. This is my first ever cheat sheet and I've been following along with the steps provided in the doc [Make a Cheat Sheet](http://docs.duckduckhack.com/walkthroughs/programming-syntax.html) I got to the part where I had to validate my cheat sheet. I validated my [json](JSONLint.com) then I went to go validate my cheat sheet and I got

[2016-07-19 23:17] sahildua2305 opened #3419 "Question: Cheat sheet for Facebook / Twitter REST API endpoints"
Inspired from #3375, can we have similar cheat sheet for Twitter / Facebook Rest API endpoints? It will act as a quick reference for those working on Twitter / Facebook API extensively.

If yes, I will take this up and submit the PR for Twitter and Facebook.

/cc @moollaza @GuiltyDolphin @tagawa

[2016-07-20 10:53] SudShekhar opened #3420 "Timezone Converter: IST to CST conversion bug"
I tried : 16:18 ist to cst

Got 4:48:55 CST whereas it should be 5:58.

------
IA Page:  http://duck.co/ia/view/timezone_converter
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GlitchMr

[2016-07-20 14:31] moollaza commented on #3418
@Mav7 your IA Page was not yet public, because there was no associated Pull Request.

I've now made the IA Page public so your tests should now pass. Please open a Pull Request and paste the link to you IA Page (even if your code isn't finished yet).

[2016-07-20 15:10] moollaza commented on #3419
I don't love the idea of CheatSheets for APIs because it seems very fragile and prone to requiring updates. A Spice might be better, if we could get a JSON map of the endpoints.

Also, I imagine the FB and Twitter APIs are going to be very large, I'm worried about how large and easy to navigate the Cheat Sheet will be...

Give it a try with one of them and let's see how it looks.

[2016-07-20 17:49] alohaas commented on #3420
@SudShekharth I'm not sure this is wrong. I just checked another time zone converter and it looks like the conversion is correct. Take a look at the link below. I think you may have misread something?

http://www.timeanddate.com/worldclock/converted.html?iso=20160720T1615&p1=54&p2=94

[2016-07-20 17:51] Mav7 commented on #3418
@moollaza I think I found the issue.  I'm trying to just get the results of my cheat sheet locally so the 2nd error:  ``-> FAIL: No Instant Answer page found with ID 'ruby_webcomics_reference_documentation_cheat_sheet_cheat_sheet'``
Isn't an issue yet. When I run ``duckpan server`` and test my cheat sheet for some reason when it's a name with spaces like ``ruby_webcomics_reference_documentation_ch

[2016-07-20 18:33] SudShekhar commented on #3420
I might be wrong here (timezone's confuse the hell out of me anyhow).

But right now, it's `23:54` in IST.
DuckDuckGo shows `12:24 CST` (when I put in as ist to cst converter)
Google shows the conversion as `01:25PM`.

`
I actually caught this issue when comparing the output in java

    Calendar cal = Calendar.getInstance(TimeZone.getTimeZone("UTC+05:30"));
    Date now = cal.getTime()
    DateFo

[2016-07-20 19:17] GuiltyDolphin commented on #3418
@mav Could you run `duckpan upgrade` and ensure your branch is up to date with the `master` branch then try again? We had a couple of issues with the cheat sheet template a while back.

[2016-07-20 20:26] Mav7 commented on #3418
@GuiltyDolphin I ran ``duckpan upgrade`` but the problem still persists, unfortunately. Perhaps I did something wrong. Do I just run ``duckpan upgrade`` in my codio environment? Or might there be more steps?

[2016-07-20 21:14] sahildua2305 opened #3422 "Prove Cheat Sheet - Maintainer Request"
I'd like to volunteer for this cheat sheet.

/cc @moollaza @tagawa @GuiltyDolphin

---

IA Page: https://duck.co/ia/view/prove_cheat_sheet

[2016-07-21 02:38] tagawa commented on #3422
That's very kind - thank you @sahildua2305. Done!

[2016-07-21 02:38] #3422 closed

[2016-07-21 02:40] #3396 closed

[2016-07-21 09:29] GuiltyDolphin commented on #3418
@Mav7 So you run `duckpan new --template cheatsheet` then you type `ruby webcomics reference documentation`, right? And you're up-to-date with the `master` branch? `git checkout master && git fetch upstream && git merge upstream/master master && git checkout my-other-branch && git rebase master`?

[2016-07-21 11:53] MariagraziaAlastra commented on #3415
@moollaza As discussed, the library is quite heavy and we agreed internally that it should load on textarea change, so that we're fairly sure the user intends to use it.
Otherwise we'd load it even if the user intends to click on organics instead of using the IA.

[2016-07-21 12:17] #3415 closed

[2016-07-21 15:02] alohaas commented on #3420
Time zones are super confusing! I agree.

Thanks for going more in depth with your explanation and background. It looks like you are definitely on to something here...maybe daylight savings? maybe a bug?

In any case, I've flagged this as needing a DuckDuckHack developer.

[2016-07-21 15:03] #3395 closed

[2016-07-21 15:10] #3252 closed

[2016-07-21 15:19] #3391 closed

[2016-07-21 16:20] #1988 closed

[2016-07-21 20:11] sahildua2305 opened #3431 "Suggestion: Add JSON Validator"
_(Bringing this from forum as an issue)_

I will work on this. I have found this [pretty neat snippet](http://stackoverflow.com/a/12217209) to check if the json is valid or not. Please correct me, if I am wrong with this one.

EDIT: [Alternative solution](http://stackoverflow.com/a/20392392) (Without using jQuery)

/cc @MariagraziaAlastra @moollaza

[2016-07-21 20:32] MariagraziaAlastra commented on #3431
Thanks @sahildua2305!
What about using a library like [jsonlint](https://cdnjs.com/libraries/jsonlint)? This also provides a specific error for invalid JSON. Try it [here](http://zaa.ch/jsonlint/)

[2016-07-21 20:35] sahildua2305 commented on #3431
Yeah! This library seems pretty good. I was just testing it locally. Looks good to me. :smile:

[2016-07-21 20:45] MariagraziaAlastra commented on #3431
Or we could go pro and have the whole JSON visualizer + validator using [jsoneditor](https://cdnjs.com/libraries/jsoneditor) - GitHub repo [here](https://github.com/josdejong/jsoneditor/)

[2016-07-21 20:49] sahildua2305 commented on #3431
Looks good. I think we can have two separated IAs for visualizer and validator.  What say?

[2016-07-21 22:06] edgesince84 commented on #2940
hey @prasadram did you join our forum yet?  Would love to see you help out with Python or Perl!

[2016-07-22 02:04] Klesus opened #3433 "Conversions: feet + inches to metric"
I'm European and basically the only times I see imperial height measurements they most often come in the format of x' y'' which (to my knowledge) DDG cannot convert. To do this I have to do 2 queries and then sum. One for feet and one for inches.
My request is that this get patched to be able to handle feet and inches in a single query, meaning being able to handle ft + in postfixes as well as ' a

[2016-07-22 03:38] Mav7 commented on #3418
@GuiltyDolphin @moollaza  Thanks for all the help but the problem still persists. I'm fine though I'm just using the name *webcomics* for the cheat sheet and the cheat was merged earlier.

[2016-07-22 03:38] #3418 closed

[2016-07-22 08:21] #2960 closed

[2016-07-22 18:31] GuiltyDolphin commented on #2844
Sounds like some special cases we could just map to their 'normal form'!

[2016-07-23 02:25] moollaza commented on #3418
@Mav7 to clarify, you're saying you provide names with spaces to duckpan new, instead of a filename generated with `-` you're getting `_`.

Meaning this is not the result you get:

[code]

----

Note I just found there's a bug with names containing single letter words. They get bunched together with the next word instead of fully separated:

[code]

[2016-07-23 02:28] moollaza commented on #3418
Providing a name with `-` already separating the words should be considered valid. Likewise we can also accept names with `_` by simply replacing any "-" or "_" with a space first.

[2016-07-23 08:26] Mav7 commented on #3418
@moollaza Ah I see! I did it exactly how the documentation laid it out like this:
``duckpan new --template cheatsheet``
``Please enter a name for your Instant Answer:``
I would type the name of the IA after this part ``Please enter a name for your Instant Answer:``
Now when I do it the way you just pointed out here it works! This is wonderful thank you!

[2016-07-23 11:19] shadabk opened #3437 "Dice: "Roll a dice" search doesn't trigger Instant Answer"
Even though 'Dice' is the plural of 'Die' and "roll 'a' dice" is not entirely valid, 'roll a dice' should return the result of "roll a die".
------
IA Page:  http://duck.co/ia/view/dice
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @loganom

[2016-07-23 11:31] moollaza commented on #3418
@Mav7 entering the name when prompted should have the same effect:

[code]

Are you not getting those ^ results?

[2016-07-23 11:46] loganom commented on #3437
I completely agree.

[2016-07-23 12:25] akanshgulati commented on #2732
I would like to work on this. Give me more suggestions and I will create a new IA layout adding my ideas too.

[2016-07-23 12:35] jumpball opened #3438 "Day of the Week Calculator: wrong date in result"
When I search for "what day of week was 8.7.2016", it doesn't show the day of week for 8th Juli 2016, but the day of week for 7th August 2016. However, it works correctly for day numbers bigger than 12.

---

IA Page:  http://duck.co/ia/view/day_of_week

[2016-07-23 17:59] GuiltyDolphin commented on #2732
@akanshgulati All that needs to be done is to re-write the current cheat sheet to give a syntax overview rather than a BNF-style reference; i.e., an overview of the structures allowed in the language.

[2016-07-24 11:23] mintsoft commented on #3433
@Klesus Thanks for the report; as a fellow european I share your frustration. This feature is next on my todo list!

[2016-07-24 11:36] mintsoft commented on #3420
@SudShekhar @alohaas I've had a quick look this morning; our answer isn't wrong per-se and google isn't wrong per-se either.

The conversion that Google is doing is for the query `23:54 IST in CST` is actually applying daylight savings time (hence why it says Central Time not CST or CDT); personally I think that's the wrong answer as it's answered a different question!

Our query: https://duckduck

[2016-07-24 12:23] mintsoft commented on #3438
@jumpball Thanks for the report; we have a system that guesses what format is meant by the user that currently isn't location aware and it defaults to US handling. We know this isn't ideal for the rest of the work (personally I'm British so mm/dd/yyyy is utter nonsense to me). Until we implement locale awareness into the role you can ensure consistent handling using other formats:

https://duckduc

[2016-07-24 14:43] orzechow commented on #1074
Hey edgesince84,

I might have a look at this, though I'm not familiar with the duckduckgo code, API or anything yet.
But I'm on holidays until end of August, so don't expect changes until then ;)

Cheers!

[2016-07-24 14:57] zekiel commented on #3437
@loganom  I've added the Needs a Developer label but please remove if you're going to tackle.

[2016-07-24 20:02] DPAUTHe opened #3442 "Chess Cheat Sheet:"
The chess cheat sheet is really useful for someone who does not how to play chess, but I believe that it would become even more useful if you put a chess emoji next to the pieces. ex. Knight -♘. With the chess emojis the user will be able to understand to what piece you are reffering to. Here is a useful source to add emojis https://www.emojibase.com/emojilist/chess
------
IA Page:  http://duck.co

[2016-07-24 22:45] samskeller commented on #3442
@DPAUTHe cool idea! I'll get started on it

[2016-07-25 01:23] edgesince84 commented on #1074
thanks for letting me know, @orzechow --  enjoy your holiday!  When you're back, feel free to ask any questions you might have on the forum or [Slack](https://quackslack.herokuapp.com/).

[2016-07-25 13:18] #2715 closed

[2016-07-25 14:34] rushsteve1 opened #3446 "UnixTime: Time does not update"
The time does not update on the page, and requires a refresh to do so.
This can lead to the page displaying a completely inaccurate time.

---

IA Page:  http://duck.co/ia/view/unix_time
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @codejoust

[2016-07-25 20:08] edgesince84 commented on #3022
can this be closed by #3370?

[2016-07-25 20:23] zekiel commented on #3446
@rushsteve1 it sounds like the unixtime answer should be rendered as a live counter, if I'm reading your issue/suggestion correctly.

If someone were to tackle this, you might be able to leverage some of the timer IAs front-end: https://duck.co/ia/view/timer

Looking forward to codejoust's thoughts as well.

[2016-07-25 20:46] rushsteve1 commented on #3446
Yes that is what I meant. It seems a bit pointless that a clock does not update without reloading.

[2016-07-25 23:47] #3442 closed

[2016-07-26 14:41] Vietnam1965 opened #3447 "Onion Address: mphtadhci5mrdlju.onion/7A83910B698B6C21c"
------
IA Page:  http://duck.co/ia/view/onion_address
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @ilv

[2016-07-27 16:15] fzzr- opened #3450 "Calculator: -A + B not works"
Expr. [`-2 + 2 =`](https://duckduckgo.com/?q=-2+%2B+2+=) isn't works because starts with `-`.

---

IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-07-27 16:18] fzzr- commented on #1880
issue #3450 about expressions starting with `-`.

[2016-07-27 17:27] prasadram commented on #2940
hi bill,

just now i have joined  in the new forum <https://forum.duckduckhack.com/>
and sorry for late, please let me know how can i contribute ?

Thanks and Regards,
Ram Prasad.

Thanks and Regards,
Ram Prasad.

On 22 July 2016 at 03:36, Bill <notifications@github.com> wrote:

[2016-07-27 18:14] edgesince84 commented on #3450
good find, @fzzr!

[2016-07-27 18:16] Fzzr commented on #3450
@edgesince84 you probably meant "good find, @fzzr-!" Don't worry about it, we have this happen a lot ^_^'

[2016-07-27 19:18] edgesince84 commented on #3450
😆 - sorry for the noise @fzzr!

[2016-07-27 19:53] GuiltyDolphin commented on #3450
@fzzr- @edgesince84 This is working in the new version: https://beta.duckduckgo.com/?q=-2+%2B+2&ia=answer

[2016-07-27 20:31] GuiltyDolphin commented on #3438
@mintsoft @jumpball This should be handled in #2810 - assuming you have your language set up correctly then it should detect your locale preferences for parsing the date.

Using `DDG_TEST_LANGUAGE=de duckpan query DayOfWeek` with #2810 then doing `what day of the week was 8.7.2016` I get `Day of the week for: 08 Juli 2016` and `Freitag`.

[2016-07-27 20:34] GuiltyDolphin commented on #3420
@SudShekhar I've just checked another TZ converter and it agrees with our answer, you're working with IST = Indian Standard Time, correct?

[2016-07-27 21:09] mrshu opened #3452 "President of the United States (POTUS): Add support for specific dates"
It seems that this IA returns a wrong answer for [this query](https://duckduckgo.com/?q=president+of+the+united+states+of+america+in+1863).

[code]

I am not exactly sure what the answer ought to be, but `Barack Obama` seems to be incorrect.

---

IA Page:  http://duck.co/ia/view/potus
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @numbertheory

[2016-07-27 23:03] mintsoft commented on #3446
@rushsteve1 Something you may have missed here, is that the IA can take in a unix time: https://duckduckgo.com/?q=1469160580+unixtime&t=ffab&ia=answer it's not just for seeing the current time in seconds since the epoch

[2016-07-28 00:03] rushsteve1 commented on #3446
Regardless of its extra features such as this, all I'm saying is that a clock that you have to reload the page to have update is problematic, as it only shows the correct time at the instant the page loads. By the time someone gets the chance to actually look at it, the actual time is different from the one displayed.

[2016-07-28 03:41] SudShekhar commented on #3420
Yes. The output given by DDG is correct in terms of `CST`.

 Whether the answer should account for daylight savings or not is debatable :) not because Google does it but because Java standard libraries (and I am assuming maybe others languages too) might've implemented it under the hood. It's pretty confusing to get a different answer from the web and the standard library unless you know why.

Any

[2016-07-28 03:43] tagawa commented on #2940
Hi @prasadram. Thanks for joining the forum. We're concentrating on improving Instant Answers for five langauges: CSS, JavaScript, Perl, Python, Swift.

You can see the discussions for all five languages here: https://forum.duckduckhack.com/c/programming

I recommend choosing the one you're most familiar with. Then go to the "Brainstorming" topic for discussion of ideas, or the "Overview" topic fo

[2016-07-28 06:56] tagawa opened #3454 "DaysBetween: Add "days since" feature"
For example, the search query "days since 12/03/1989" would calculate the days between 12/03/1989 and today's date (depending on my location).

------
IA Page:  http://duck.co/ia/view/days_between
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @JetFault

[2016-07-28 08:35] #3407 closed

[2016-07-28 08:42] tagawa commented on #3420
Thanks for the investigation everyone. As @SudShekhar suggests, I'll close this for now but we can re-open if we feel it needs to be tackled after all.

[2016-07-28 08:42] #3420 closed

[2016-07-28 09:13] kriman commented on #3452
the problem is that this IA does not support this format. if you look at the IA's page you can see it says the correct query is  _"who was the 16th president of the united states"_ or _"potus 16"_.
but if no one's working on it i can take a look at it

[2016-07-28 09:59] GuiltyDolphin commented on #3446
@rushsteve1 I don't think this leads to it displaying an incorrect time - it shows the exact times it is considering in the list fields.

Could you give an example of when it actually displays an *incorrect* result?

[2016-07-28 10:16] kriman commented on #3452
i made a list of presidents [potus_list.txt](https://gist.github.com/kriman/441fd72514c1b2877c521ed6a808e0e6)
and a python file which do the trick [potus.py](https://gist.github.com/kriman/349eacde86009e60bd8afb9af57f1814)
(i know the ddg written in perl but i don't speak perl, someone should write it as perl)
((and i should learn perl))

[2016-07-28 12:31] rushsteve1 commented on #3446
@GuiltyDolphin Many of us, myself included, leave a browser window open while we are programming for various reasons.
If you knew that you were going to need to know the UNIX time, to say compare with a running timestamp to determine if it was synced correctly, then if you open IA first then it would always be behind the running timestamp, even if you reloaded the page.
This could lead some to bel

[2016-07-28 20:21] zekiel commented on #3446
There's a bunch of good feedback in here that would probably be useful in a variety of current/future Instant Answer scenarios.

This particular issue seems correctly stated and labeled as an "Improvement" but I've also added "Suggestion" because there's no real issue or bug with the IA. It's assumed that most people read the output as the time of their query execution, not the moment in time they

[2016-07-28 21:18] #3431 closed

[2016-07-28 23:21] rushsteve1 commented on #3446
A proposed solution:
Add a toggle button that gets the new current time and causes the clocks (UNIX, UTC, and Local) to start updating in real time while the button is pressed and stopping again when depressed.
At the moment I don't know enough about IA to do this myself, but maybe I'll do some reading and submit a PR.
If anyone else more more familiar would like to take this on, feel free.

[2016-07-29 12:55] MariagraziaAlastra opened #3459 "JSON Validator: prettyprint JSON when it's valid"
## Background
The library used for the JSON Validator, [jsonlint](https://github.com/zaach/jsonlint), seems to also allow JSON prettyprinting when it's valid, in addition to outputting useful errors in case it isn't.

## To Do
- Broaden the trigger space (use triggers  like "json prettyprint", "json beautify", etc
- Edit the description to make it clear this IA doesn't just validate JSON, but beau

[2016-07-29 13:13] sahildua2305 commented on #3459
On it, @MariagraziaAlastra :+1:

[2016-07-29 13:36] MariagraziaAlastra commented on #3459
Thanks @sahildua2305!

[2016-07-29 19:43] GuiltyDolphin commented on #3452
@kriman It should be easy enough to add dates to [the YAML file](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/potus/presidents.yml) - then if a specific year is requested just do a quick search for the president with a start/end date in which the desired date lies.

[2016-07-31 21:44] mintsoft commented on #3438
Good point @GuiltyDolphin I forgot about that!

[2016-07-31 22:05] ishan1604 commented on #3446
@rushsteve1 If you have not started working on this, I'd like to take this up.
@zekiel Thoughts ?
Thanks

[2016-08-01 00:49] gustavohmsilva opened #3466 "Bjcp:"
---

IA Page:  http://duck.co/ia/view/bjcp

[2016-08-01 01:18] tagawa commented on #3466
@gustavohmsilva Thanks for creating this issue and the IA page. I guess you're considering using the BJCP data available here? https://github.com/brewpuppy/bjcp-style-data

Or is there another source you're considering?

[2016-08-01 01:27] gustavohmsilva commented on #3466
Hi tagawa, this data from github is 10 years obsolete... I was thinking in using the last version approved by the BJCP: http://www.bjcp.org/docs/2015_Guidelines_Beer.pdf
I'm still trying to understand how to put together the info to be reacheable by DuckDuckGo. I'm already helping the search engine in the translation but would really like to help with the zeroclick

[2016-08-01 02:22] tagawa commented on #3466
@gustavohmsilva Oh, I thought the JSON update was only two years ago (Aug 2014). It's much easier to make an Instant Answer by pulling external JSON data rather than manually entering it.

How about making this as a Spice using the JSON data from the brewpuppy repository first, and then updating the data later (if necessary) by sending a separate pull request to brewpuppy? There's a walkthrough tu

[2016-08-01 12:36] rushsteve1 commented on #3446
@ishan1604 Nope I haven't started (got dragged away for various reasons)
It's all yours, have fun.

[2016-08-01 14:32] zekiel commented on #3446
@ishan1604  I've invited you to the Contributors' Team: https://github.com/orgs/duckduckgo/teams/duckduckhack-contributors  If you accept the invite, I can assign you to this issue.

[2016-08-01 14:47] ishan1604 commented on #3446
@zekiel Thanks for the invite, you can now assign me the issue ☺️

[2016-08-01 17:53] shadabk commented on #3437
@loganom @zekiel https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3467

[2016-08-01 22:23] shubh1m commented on #3454
I would like to work on this issue.

[2016-08-02 00:00] #3459 closed

[2016-08-02 01:10] yamboanael01 opened #3469 "MySQL Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/mysql_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @navneetzz

[2016-08-02 01:25] #3437 closed

[2016-08-02 01:26] tagawa commented on #3437
Thanks to @shadabk for implementing this. It's working here on beta: https://beta.duckduckgo.com/?q=roll+a+dice&ia=answer
and should go live in the next few days.

[2016-08-02 06:02] mdshohagmiah opened #3470 "Music5.Tk:"
------
IA Page:  http://duck.co/ia/view/music5_tk

[2016-08-02 06:02] mdshohagmiah commented on #3470
http://music5.tk

[2016-08-02 13:05] edgesince84 commented on #3469
hi @yamboanael01 - what was the issue you wanted to report here?

[2016-08-02 13:11] #3470 closed

[2016-08-02 13:26] moollaza commented on #1696
@vikashvverma this will require a new template, that displays icons, and will require internal changes to allow you to load the FontAwesome CSS

I would suggest you start with a new template that allows for an image to be defined, or a css class to be given, for an icon to be displayed. Let's see where that lands us and we can go from there.

[2016-08-02 13:37] edgesince84 opened #3472 "Microsoft Powershell Cheat Sheet: typo"
Relaying some feedback from a DuckDuckGo user:

---

IA Page:  http://duck.co/ia/view/powershell_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @AnthonyNeace

[2016-08-02 18:46] moollaza opened #3474 "Json Validator: Implement design tweaks"
There are some minor design changes that should be made:

### CSS
- `<textarea>` should have `monospace` font family -- remove quotes around `'monospace'` in CSS
- Only enable validate button once the `<textarea>` has content
- Add `whole` class to `<textarea>` and `<pre>`
- Use proper CSS comment syntax `/* */` for `overflow: auto`

Should look like:

[code]

### HTML
- Remove "gw" wraps from `<t

[2016-08-02 22:31] shubh1m opened #3475 "Goodie for current date and time"
Create a goodie for current date and time according to user's current location.

[2016-08-03 07:55] pjhampton opened #3479 "Ruby on Rails 4 Cheat Sheet:"
Maybe we should update this to Rails 5 now? Alternatively we can change the trigger to `Rails 4 cheatsheet` instead of `Rails cheatsheet`

---

IA Page:  http://duck.co/ia/view/rails_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Sayanc93

[2016-08-03 10:59] GuiltyDolphin commented on #3475
@shubh1m We already have a Spice that does this (though it is a bit dodgy at times): https://duckduckgo.com/?q=time&ia=time (https://duck.co/ia/view/time)

[2016-08-03 10:59] #3475 closed

[2016-08-03 11:36] GuiltyDolphin opened #3484 "Roman: Trigger on 'X in roman numerals' (+ cleanup)"
This IA should trigger on queries like '72 in roman numerals'.

The back-end and tests could do with a lil' clean up too.

------
IA Page:  http://duck.co/ia/view/roman
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): **NONE**

[2016-08-03 13:07] #3469 closed

[2016-08-03 14:47] mrshu commented on #3484
@GuiltyDolphin ugh, it's been years since I saw this IA.

If there is anyone who would like to take the mintainer's position (and therefore do something with the backend and tests as you noted), I would gladly let them have the honors.

@moollaza sorry for bothering you, what is the process of changing the IAs maintainer these days? I would hate to run the process due to my lack of knowledge =)

[2016-08-03 15:06] MariagraziaAlastra commented on #3474
It would also be cool to have a "Clear" button next to the "Validate JSON" one. What do you guys think?

[2016-08-03 16:44] edgesince84 opened #3487 "Countdown: "countdown to tomorrow""
Should "countdown to tomorrow" be a 24-hour countdown?  It's near noon here, so I was expecting  ~twelve-hour countdown.  I don't know if that's possible, but it's one of the example queries, and it's confusing.

---

IA Page:  http://duck.co/ia/view/countdown
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rasikapohankar

[2016-08-03 20:13] kingballer29 opened #3489 "Indian Languages Cheat Sheet: Create Spacing Between States With Multi Part Names?"
It seems that states with multi part names are treated as one. For example, **Andhra Pradesh** on the cheat sheet is listed as **AndhraPradesh** with no space in between.

------
IA Page:  http://duck.co/ia/view/indian_languages_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sinwar

[2016-08-03 20:15] sinwar commented on #3489
okk I'll solve the issue @kingballer29

[2016-08-03 20:21] sinwar commented on #3489
I've made PR for this issue
Please check out [here](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3490)

[2016-08-03 20:46] sahildua2305 opened #3491 "Docs: Mention JSON Validator in Cheat Sheets guide"
We can mention [this](https://duckduckgo.com/?q=json+validator&ia=answer) interactive JSON Validator in cheat sheets guide (docs) to facilitate the new developers working on cheat sheets.

I'll take this up.

/cc @edgesince84 @tagawa

IA Page
---
https://duck.co/ia/view/json_validator

[2016-08-03 21:58] kingballer29 commented on #3489
Thanks @sinwar !

[2016-08-03 21:58] #3489 closed

[2016-08-04 01:37] tagawa commented on #3479
@pjhampton Is Rails 5 sufficiently different to warrant a new cheatsheet, or can the two versions be combined in a single one?

[2016-08-04 02:14] tagawa commented on #3491
Good idea - thanks @sahildua2305

[2016-08-04 10:04] Nikitaw99 opened #3494 "Icon Sizes:"
Icon sizes for various Operating Systems.
Windows: 16x16, 24x24, 32x32, 48x48, 256x256
Mac OS X: 16x16, 32x32, 64x64, 128x128, 256x256, 512x512, 1024x1024
Linux: 16x16, 24x24, 48x48, and 96x96
iOS 6: 29x29, 50x50, 57x57, 58x58, 72x72, 100x100, 114x114, 144x144, 1024x1024
iOS 8: 29x29, 40x40, 58x58, 60x60, 76x76, 80x80, 120x120, 152x152, 180x180, 1024x1024
Android L: 24x24, 48x48, 192x192, 512x512

[2016-08-04 18:39] moollaza commented on #3418
@Mav7 I've realized that the `--template cheatsheet` does incorrectly use `_` instead of `-` to separate the words in the JSON filename.

I've updated the documentation to use the `duckpan new --cheatsheet` method which does work. I made an issue to fix the incorrect filename generation as well

[2016-08-04 19:12] moollaza opened #3500 "Countdown: Needs to load alarm sound using versioned asset path"
In production, all paths for `/share` are versioned based on the current repo release number.

For Goodies, we need to manually build the `/share` path by passing the current Goodie Repo version to the JS and construction the path.

An example of grabbing the Perl version number can be seen in the [SolarSystem](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/SolarSys

[2016-08-04 19:32] rasikapohankar commented on #3500
Thanks @moollaza, this clears my doubt about what the path generated by
`get_asset_path()` means :+1:
I'll make the changes
On 5 Aug 2016 00:42, "Zaahir Moolla" <notifications@github.com> wrote:

[2016-08-04 19:43] shubh1m opened #3501 "New Cheat Sheet: Permutations and Combinations"
Permutations and combinations cheat sheet is not implemented yet. If yes, I would like to take this up.

[2016-08-04 20:23] Mav7 commented on #3418
@moollaza Thank you so much for your help! I actually have PR for my cheatsheet here and it's still up for review [#3483](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3483#issuecomment-237457942).

[2016-08-05 01:55] edgesince84 commented on #3491
Please do!

[2016-08-05 15:25] moollaza commented on #3474
@MariagraziaAlastra yes! That'd be good

[2016-08-05 21:48] slinnufra opened #3502 "url encode/decode "URL percent-encode:"/answer (respectively) getting double html entities encoded"
https://duckduckgo.com/?q=url+encode+%22instant+answers%22&t=h_&ia=answer

The output looks like:
`URL percent-encode: &quot;instant answers&quot;`
The HTML is:
`URL percent-encode: &amp;quot;instant answers&amp;quot;`
The HTML should be:
`URL percent-encode: &quot;instant answers&quot;`

https://duckduckgo.com/?q=url+decode+%2522instant%2520answers%2522&t=h_&ia=answer

The output looks like:
`&qu

[2016-08-06 06:48] #3447 closed

[2016-08-06 06:51] tagawa commented on #3203
Thanks @ManrajGrover. I'll close this and we can re-open if it's still a problem.

[2016-08-06 06:53] tagawa commented on #3022
I reckon so @edgesince84 - thanks.

[2016-08-06 06:53] #3022 closed

[2016-08-06 06:56] shubh1m commented on #3501
@tagawa should I start?

[2016-08-06 06:57] tagawa commented on #3501
Hi @shubh1m. Sounds interesting - do you have a link to the data source (or something similar) so I can see what kind of think you have in mind?

[2016-08-06 09:09] vikashvverma opened #3504 "Heap Operations Cheat Sheet: Maintainer Requuest"
------
IA Page:  http://duck.co/ia/view/heap_operations_cheat_sheet

[2016-08-06 12:55] zachthompson commented on #3203
I don't think the *ascii* to *binary* has been done yet.  If you're just clicking on the link I posted above that's Bin2Unicode.  I was suggesting being able to *reverse* that query, i.e. [M u c h a s G r a c i a s C o m p a s ䷰](https://duckduckgo.com/?q=M+u+c+h+a+s+G+r+a+c+i+a+s+C+o+m+p+a+s+%E4%B7%B0&ia=web)

[2016-08-06 14:23] tagawa commented on #3203
Ah, I misunderstood. Thanks for the clarification.

[2016-08-06 14:25] moollaza commented on #3500
Unfortunately we don't have support for Goodies yet in out `get_asset_path()` function, but it's on our to-do list!

[2016-08-06 14:50] moollaza commented on #3484
@mrshu we can just remove you as the maintainer for now. I'll ask if anyone is interested in taking it over 👍

[2016-08-06 14:50] moollaza commented on #3484
@duckduckgo/duckduckhack-contributors would anyone like to take over the Roman Numerals IA?

It looks like it's in need of a little Perl work currently, but shouldn't be a huge commitment moving forward...

[2016-08-06 14:53] hchienjo commented on #3484
I am willing to take this up... in case no one else does.

[2016-08-06 19:29] GuiltyDolphin commented on #3502
@slinnufra This could be something to do with one of our internal result issues - @moollaza what do you think (the encoding issue we had with output from Goodies)?

[2016-08-07 13:47] rasikapohankar commented on #3500
Should we add to the docs that the number in the generated path is the current repository release number? I'm not sure if anyone else has wondered what the number was, but it wasn't evident to me and I was curious :smile:

[2016-08-08 04:30] #3491 closed

[2016-08-08 14:29] tagawa commented on #3484
Hi @hchienjo. That's very kind of you - thank you!
I've just assigned this issue to you and set you as the maintainer in the [IA page](https://duck.co/ia/view/roman). If you'd prefer not to be the maintainer, just let me know.
Thanks again.

[2016-08-08 14:32] hchienjo commented on #3484
@tagawa Thanks! Let me have a look.

[2016-08-08 16:28] jagtalon opened #3509 "Random Passphrase: Need to seed random number generator in `handle` function"
It looks like it gives the same output each time: https://v.usetapes.com/0CPjlCD0Lo

Is this something that can be fixed by `srand()` like in https://github.com/duckduckgo/zeroclickinfo-goodies/blob/3cc434822c56407779d8cc07b0fa6be7cc6b96e9/lib/DDG/Goodie/Password.pm?

CC @moollaza

------

IA Page: https://duck.co/ia/view/passphrase

[2016-08-08 16:30] jagtalon opened #3510 "Random Passphrase: Can we improve our wordlists?"
I recently ran into https://www.eff.org/deeplinks/2016/07/new-wordlists-random-passphrases, and I was wondering if it will benefit this IA in any way. If it does, we should use it.

------

IA Page:   https://duck.co/ia/view/passphrase

[2016-08-08 16:39] pjhampton commented on #3479
Sorry @tagawa. I forgot to reply.

Based on this _basic_ cheatsheet, there is no difference (I think). I think we should take two actions here:

1) Removed the '4' from the title
2) Expand it. What do you think?

cc. @duckduckgo/duckduckhack-contributors

[2016-08-08 17:12] kotoshenya commented on #3479
[`bin/rails <command>` can run all commands in Rails 5](http://weblog.rubyonrails.org/2015/12/18/Rails-5-0-beta1/#one-rails-command-to-rule-them-all), though all of the old `rake` commands still exist so everything on this cheat sheet should work in a Rails 5 project.

The test runner has also had some `rspec`-like features added, which may be useful to document:

[code]

Could we do something lik

[2016-08-08 19:05] edgesince84 opened #3512 "Youtube Cheat Sheet:"
"K" is a better shortcut to pause the video, since a lot of browsers use the space bar to page down.

------
IA Page:  http://duck.co/ia/view/youtube_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @benabrahamson

[2016-08-09 07:34] shubh1m commented on #3501
@tagawa Sorry for being late, I was sick. Although I am unable to find a single source having all formulas at one place.

But I would be taking help from http://aieee.examcrazy.com/maths/formula-tips/PERMUTATION-and-COMBINATION.asp and https://cracku.in/banking/quant/banking-permutation-combination-probability/cheatsheet

[2016-08-09 07:41] tagawa commented on #3501
Hi @shubh1m. Oh dear, I hope you're feeling better now.

Thanks for the source links. The first one in particular looks like it would work really well for a cheat sheet, with a bit of extra data from the second one perhaps. We already have a [permutations Instant Answer](https://duck.co/ia/view/combination) but it computes answers, so I think your cheat sheet would complement it nicely. Feel free

[2016-08-09 07:52] tagawa commented on #3479
@pjhampton @kotoshenya Having it relevant for both and including a note for Rails 5-only entries sounds good to me!
And I've updated the IA page to be more generic: https://duck.co/ia/view/rails_cheat_sheet

[2016-08-09 08:53] benabrahamson commented on #3512
@edgesince84 Thanks for letting me know - I forgot about that! I've now changed it. 👍

[2016-08-09 15:54] edgesince84 opened #3515 "PHP Cheat Sheet: missing functions"
Some feedback from a DDG user:

What else can be added to make this more useful?

------
IA Page:  http://duck.co/ia/view/php_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sahildua2305

[2016-08-09 15:58] edgesince84 opened #3516 "Arch Linux Cheat Sheet: just for pacman package manager?"
Some feedback from a DDG user:

Should this cheat sheet + triggers be narrowed specifically for the pacman package manager?

---

IA Page:  http://duck.co/ia/view/arch_linux_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @direwolf424

[2016-08-09 16:26] Jab2870 opened #3517 "Cheat Sheet Controller: Shows Ace editor for the query "cheat sheet""
When you search for cheat sheet in duck duck go, this shows.

------
IA Page:  http://duck.co/ia/view/cheat_sheets

[2016-08-09 19:30] edgesince84 commented on #3517
thanks @Jab2870 - I don't see why this would trigger, but I'll relay it to the staff.  thanks!

[2016-08-09 19:39] edgesince84 commented on #3512
I was going to just respond with "K" but I wanted to say thanks! 😄

[2016-08-09 19:39] #3512 closed

[2016-08-09 19:41] benabrahamson commented on #3512
@edgesince84 Haha! Lol

[2016-08-09 21:04] moollaza commented on #3502
@GuiltyDolphin yes this is a result of the encoding we're doing -- I'll bring it up again internally.

For now I'm to mark as tolerated because there's no immediate solution that I'm aware of.

[2016-08-09 21:19] sahildua2305 commented on #3515
Thanks @edgesince84

I will look into it.

[2016-08-09 22:02] moollaza commented on #3509
@jagtalon yes, we need to call `srand()` in the `handle` function.

@duckduckgo/duckduckhack-contributors would anyone be interested in fixing this IA? The solution is very simple.

We just need to add `srand()` to the `handle` function like we do in Password.pm

As well, this IA needs a maintainer so it would be best if the volunteer would be willing to become the maintainer for this IA.

[2016-08-09 22:13] cngarrison commented on #3509
On 10 Aug 2016, at 8:02, Zaahir Moolla wrote:

I’ll take it.

Except it’s not done properly there either; based on previous
conversation about use of `srand`, unless it’s been changed recently.

I’ll go back and re-red the conversation about seeding random
generator; memory says differing opinions weren’t resolved. I’ll
find the issue and link it here.

I’m happy to take maintainership as well.

C

[2016-08-09 23:42] davidofferman commented on #3509
The perldoc's says that `srand` doesn't need to be called explicitly since it's called when `rand` is called.

With the passphrase script, I get around 3-4 unique passphrases that end up then repeating between reloads. So there is some varying entropy, but I'm not sure why it ends up repeating itself eventually.

I don't get duplicate results running these scripts from duckpan.

[2016-08-10 00:22] cngarrison commented on #3509
On 10 Aug 2016, at 9:42, David wrote:

Hitting different processes with different requests. If you send two
requests which get handled by two different processes which are both
being seeded for the first time; there is good possibility of getting
same response.

Which is why something other than `srand()` is needed to seed `rand`.
But don’t want to seed with each request either.

Here is an exampl

[2016-08-10 01:33] tagawa commented on #3517
I don't think it's the cheat sheet that's the problem, I think our IA platform is handling the query "cheat sheet" wrong - it looks for a cheat sheet with a blank name, can't find one so picks the first one it finds (Ace Editor).

I've submitted this as an issue in the platform repository so closing here. Thanks for noticing and reporting @Jab2870!

[2016-08-10 17:38] moollaza commented on #3517
@tagawa this is actually all controlled by the Cheat Sheet Goodie so this repo is appropriate 👍

[2016-08-10 17:44] moollaza commented on #3517
@tagawa @Jab2870 looks like the issue is actually with the Ace Editor JSON. It specifies `""` as an alias, which is technically valid...

[2016-08-10 17:47] moollaza commented on #3517
Made a PR: #3520

[2016-08-10 22:37] sahildua2305 commented on #3419
@moollaza I tried and planned a cheat sheet around GitHub Rest API but realized you were right. It's beyond the scope of cheat sheets to include all necessary information about ever-changing APIs. Hence, closing this issue.

[2016-08-10 22:37] #3419 closed

[2016-08-11 17:25] #3388 closed

[2016-08-12 08:58] tagawa commented on #3517
@moollaza Ah, my mistake. Thanks.

[2016-08-12 11:58] kinitrupti opened #3529 "Binary Logic: Increase scope"
Support for `true` and `false` and output trigger on symbolic queries as well.

---

IA Page:  http://duck.co/ia/view/binary_logic
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Sloff

[2016-08-12 21:30] iah commented on #3516
@edgesince84 is correct. The cheat applies to all distributions that uses pacman. For example, Manjaro, Antergos.

[2016-08-13 05:23] tagawa commented on #3504
Hi @vikashvverma. Sorry, I missed this last weekend. I've just add you as maintainer and thank you very much for offering (again)!

[2016-08-13 05:23] #3504 closed

[2016-08-13 05:35] tagawa commented on #3516
Thanks for the clarification @iah. Sounds like this cheat sheet's name, filename and ID should be changed to pacman package manager, and then we can add Arch Linux, Manjaro and Antergos as aliases.

[2016-08-13 07:04] iah commented on #3516
Absolutely @tagawa. Do you want me to fix this or does the maintainer need to?

[2016-08-13 14:44] pjhampton opened #3532 "Microsoft Visual Basic Cheat Sheet Adoption"
As of **Weekly Update 114: The importance of IA pages** - I'm happy to adopt this cheat sheet.

p

[2016-08-15 02:09] tagawa commented on #3532
@pjhampton Thanks very much for offering. I've actually just tried to make the change but it turns out the IA page is a duplicate of an existing IA which already has a maintainer. My mistake - I'll get that IA page removed and sorry for the hassle.

[2016-08-15 02:09] #3532 closed

[2016-08-15 14:58] Zekario opened #3534 "Conversions: Can't convert various metric measurements"
I can't convert to or from Hecto-, Deka-, Deci-, and get an instant answer. Also, Mega- gets counted as Milli- (Mega uses M and Milli uses m). There may be more.

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-08-16 16:44] moollaza commented on #3502
We should be able to fix this once https://github.com/duckduckgo/p5-app-duckpan/pull/372 is merged 👍

[2016-08-16 16:55] #3515 closed

[2016-08-16 16:56] #3517 closed

[2016-08-16 21:00] mintsoft commented on #3534
@Zekario Thanks for the report; I am aware of these issues I've got an issue raised to tackle them but I'll add this as an explicit thing to my backlog

[2016-08-17 08:07] #3454 closed

[2016-08-17 19:21] #2732 closed

[2016-08-18 03:45] ibbitt opened #3536 "Raspberry Pi Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/raspberrypi_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mohan08p

[2016-08-18 03:48] ibbitt opened #3537 "Raspberry Pi Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/raspberrypi_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mohan08p

[2016-08-18 17:42] #3536 closed

[2016-08-18 17:42] #3537 closed

[2016-08-18 18:48] mohan08p commented on #3537
@edgesince84 : thanks

[2016-08-19 01:47] #3484 closed

[2016-08-19 06:34] lotsathought opened #3540 "Photoshop cheat sheet:"
------
IA Page:  http://duck.co/ia/view/photoshop_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @therealkbhat

[2016-08-19 13:39] edgesince84 commented on #3537
@mohan08p no problem 👍

[2016-08-19 15:44] jagtalon opened #3541 "CSS Colors: Lacking "rebeccapurple" in the list"
https://css-tricks.com/rebbeccapurple-663399/

---

IA Pages: https://duck.co/ia/view/css_colors

[2016-08-19 16:41] chrismorast opened #3542 "CSS Colors: Remove vertical divider after 'Show more'"
<img width="494" alt="screen shot 2016-08-19 at 9 13 03 am" src="https://cloud.githubusercontent.com/assets/7061920/17816311/72fdefaa-65ed-11e6-8f18-e5e7e142f67e.png">

------
IA Page:  http://duck.co/ia/view/css_colors
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sahildua2305

[2016-08-19 20:09] holtjohnson commented on #3534
If you don't mind I took the liberty of adding the additional conversions. I didn't add all [16 prefixes](https://en.wikipedia.org/wiki/Metric_prefix), just the ones that seemed reasonable for people to search for. I don't have that much extra time.
I would also note the alias's for decameter (dam & dams) might cause issues being accidentally called when people just search for dam. I don't know ho

[2016-08-19 20:44] holtjohnson opened #3544 "Conversions: Add digital speeds (Mbit/s to MB/s)"
In the USA many internet providers advertise their speeds in megabit per second. This is a deceitful way of advertising, because megabits are eight times smaller than megabytes (which most everything else is measured by). Those in IT often end up having to convert the two for comparison. I'll do the work if you can point the way.

https://en.wikipedia.org/wiki/Data_rate_units#Conversion_table

---

[2016-08-20 12:53] atilacamurca opened #3547 "Netbeans IDE Cheat Sheet:"
I’d like to maintain this.

I use netbeans almost everyday and use a lot of its shortcuts.

------
IA Page:  http://duck.co/ia/view/netbeans_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @gautamkrishnar

[2016-08-20 17:07] gautamkrishnar commented on #3547
Really sorry for that. i am a maintainer for this ia.... please check out any other orphaned ia...

[2016-08-20 17:25] atilacamurca commented on #3547
great man, still I will submit a pull request about some great shortcuts, see you soon.

[2016-08-20 20:07] akanshgulati commented on #3474
@moollaza any update on this? @sahildua2305

[2016-08-21 00:34] mintsoft commented on #3534
@holtjohnson Not at all; that's awesome!

[2016-08-21 00:45] mintsoft commented on #3544
@holtjohnson it might be worth doing a separate IA for that all together (a cheatsheet would be an easy to implement option): http://docs.duckduckhack.com/walkthroughs/programming-syntax.html

[2016-08-21 18:30] theniels17 opened #3548 "Youtube Cheat Sheet:"
other usefull hotkeys in youtube are
J  for going back 10s
L  for going forward 10s
M to mute

------
IA Page:  http://duck.co/ia/view/youtube_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @benabrahamson

[2016-08-21 19:24] benabrahamson commented on #3548
@theniels17 Thanks for the suggestions. I've created a PR (#3549) with them. :+1:

[2016-08-22 18:29] moollaza commented on #3474
PR needs some work before it can be merged: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3503

[2016-08-22 18:32] moollaza commented on #3541
I believe this would need to be added to the CPAN module that Instant Answer uses to get the colours from?

[2016-08-22 18:37] edgesince84 opened #3551 "Uppercase: breaks on accented letters"
This doesn't work for queries such as "uppercase é"

this is what it shows:
<img width="934" alt="screen shot 2016-08-22 at 2 36 13 pm" src="https://cloud.githubusercontent.com/assets/9668802/17866793/e654004a-6875-11e6-9074-fa8160b384f6.png">

------
IA Page:  http://duck.co/ia/view/uppercase
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @gdrooid

[2016-08-22 20:01] #3534 closed

[2016-08-22 20:05] mintsoft commented on #3534
@Zekario More units have been added by @holtjohnson which should help close the gap somewhat!

[2016-08-22 21:53] edgesince84 commented on #3548
fixed with #3549!  thanks

[2016-08-22 21:53] #3548 closed

[2016-08-23 13:05] sadhanakesavan opened #3554 "Least Common Multiple:"
For some reason. The web search doesnt display the least common multiple IA page.
https://duckduckgo.com/?q=lcm+8+4&t=hi&ia=web
------
IA Page:  http://duck.co/ia/view/least_common_multiple
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rpatel3001

[2016-08-23 17:57] holtjohnson commented on #2643
Bumping this issue.

Is there anything else that needs to be done for this to be finished? I'm very adept at CSS, should it need any finishing touches.
@GuiltyDolphin, @jagtalon, & @NaveenKarippai

[2016-08-23 22:35] JasonCFisher commented on #3230
Do you still need work done on this?

[2016-08-24 04:35] leesdolphin opened #3557 "Help Line: Add links to HelpLine entries"
For New Zealand there is just one helpline listed (Lifeline NZ); however there is no way to access their website given it doesn't appear in the search results.

I would like to make one or more of the following changes:
- Make the name link to the organisation's website.
- Add a (i) icon to the name or phone number.
- Display the url underneath each entry.

---

IA Page:  http://duck.co/ia/view/he

[2016-08-24 05:04] leesdolphin opened #3558 "Help Line: Adding support for multiple means of contact"
Can this instant answer add support for text, email and webchat. For example, New Zealand has [YouthLine](https://www.youthline.co.nz/) which has a phone number and a text number. IT also has email and live chat. All of which would be great to provide as an instant answer to someone in need.

I'm guessing that this could be extended to other countries.

---

IA Page:  http://duck.co/ia/view/help_l

[2016-08-24 05:29] tagawa commented on #3509
https://github.com/duckduckgo/duckduckgo/pull/179 was closed in March. @cngarrison, do you think it should be re-opened?

[2016-08-24 09:28] GuiltyDolphin commented on #2643
@holtjohnson The PR is over on https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3154 if you wanted to take a look.

@moollaza What's the status with the PR? Are there any outstanding issues?

[2016-08-24 10:27] biscuitNinja commented on #3230
Apologies for absence, some work done. I'll make a fresh effort to get my changes finished in the next week or so.

[2016-08-24 16:08] JasonCFisher opened #3559 "Poker Hands Cheat Sheet:"
I'd like to make a minor change to the Three of a Kind description to specify that the two remaining cards do not match.

Also, I noticed that there are nearly identical cheat sheets for both "Poker" and "Poker Hands", the only difference being that the Poker Cheat Sheet does not list probabilities.  Would it make sense to combine the two cheat sheets somehow?

Thanks

---

IA Page:  http://duck.c

[2016-08-24 16:41] gameFace22 opened #3561 "Http Status Codes"
Hi,

Is the IA live?
I have a small suggestion to improve it :)

For example, searching for an error code could possibly definition of the same in the IA.

------
IA Page:  http://duck.co/ia/view/http_status_codes
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @tobyaherbert

[2016-08-24 16:56] moollaza opened #3563 "Remove `html_enc` from Goodies. No longer needed :)"
for fixing bug #3563

[2016-08-24 16:59] tobyaherbert commented on #3561
Hi gameFace22,

Nope, the IA isn't live.

I'm just testing duckduckhack at the moment and won't be releasing this IA as duckduckgo maintain this one: https://duck.co/ia/view/httpstatus

[2016-08-24 17:09] moollaza opened #3564 "CSS Colors: Triggering too broad -- Need to check remainder is empty"
This IA is triggering on any query that starts or ends with the trigger words.

We need to ensure that the remainder is empty, so that the query is just the trigger word.

------
IA Page:  http://duck.co/ia/view/css_colors
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sahildua2305

[2016-08-24 17:12] moollaza commented on #3564
We should switch to `handle remainder` then `return if $_;`. We can get the original query via `$req->query_lc` if needed.

[code]

[2016-08-24 19:04] sahildua2305 commented on #3541
Yes! I agree with @moollaza. We are using `Color::Library` to fetch list of colors.

[2016-08-24 19:13] sahildua2305 commented on #3542
@moollaza Do you have any idea why do we get this vertical bar?

[2016-08-24 19:22] sahildua2305 commented on #3474
@tagawa Please add `PR Received` label as well :smile:

[2016-08-24 19:31] sahildua2305 commented on #3563
@moollaza I'll take up last 8 Goodies from the list. Should I push changes to all 8 goodies in one PR?

[2016-08-24 20:16] edgesince84 commented on #3561
I couldn't have said it better, @tobyaherbert!  Thanks.

[2016-08-24 20:16] #3561 closed

[2016-08-24 21:28] #3564 closed

[2016-08-24 21:38] moollaza commented on #2643
Yes, the PR should not add any media queries. If we simply remove the set width, this should mostly be fixed. There's a separate issue that needs to be fixed internally with our `chomp()` function

[2016-08-24 22:35] moollaza commented on #3563
That should be OK

[2016-08-25 05:59] JSSaini07 commented on #3563
@moollaza removed html_enc from ABC,ANAGRAM,AVERAGE,BASE64,BITSUM,CHARS

[2016-08-25 08:00] ManrajGrover commented on #3563
@moollaza Fixed CurrencyIn, EmailValidator, HexToASCII, Lowercase, MacAddress, MagicEightBall, Morse, NoteFrequency, PaleoIngredientCheck, Reverse, Rc4, PigLatin and PhoneAlphabet

[2016-08-25 10:27] GuiltyDolphin commented on #3554
@sadhanakesavan The IA is currently only in testing (it is on beta though: https://beta.duckduckgo.com/?q=lcm+5+7&ia=answer).

[2016-08-25 15:03] sadhanakesavan commented on #3554
oh cool !

[2016-08-25 15:04] #3554 closed

[2016-08-25 17:24] GuiltyDolphin opened #3570 "Cusip: Condense tests"
It looks like a lot of the test cases are repeating the same information, we should move the repeated data out into a helper so we have less work to do when updating tests in the future.

------
IA Page:  http://duck.co/ia/view/cusip
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @tommytommytommy

[2016-08-25 18:24] holtjohnson commented on #2643
@moollaza I'll make the changes and create a new PR.

[2016-08-25 21:56] moollaza commented on #2643
@holtjohnson thans a lot!

[2016-08-25 22:29] sahildua2305 commented on #3563
Fixed MD4, MD5, NameDays, RandomDate and Regexp as well (except last 8 in the list). @moollaza

[2016-08-26 19:05] GuiltyDolphin commented on #3563
@sahildua2305 What do you need help with?

[2016-08-27 12:45] GuiltyDolphin opened #3572 "RGB Color: Add names to colors"
The names are already available in the response (for many, many colors), so when available we should display the color name.

It'd be nice to have the names for the input colors, but we may be a bit pressed for space.

------
IA Page:  http://duck.co/ia/view/rgb_color
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-08-27 14:02] aardvark opened #3573 "Timezone Converter: CEST to MSK correct, but CEST to default msk is wrong"
I have getting stange interaction with default time zone when i am entering '3pm cest' i am getting:
5:00 PM MSK
Convert Timezone: 3:00 PM CEST (UTC+2) to MSK (UTC+4)

But if i inputing '3pm cest to msk' i am getting correct one:
4:00 PM MSK
Convert Timezone: 3:00 PM CEST (UTC+2) to MSK (UTC+3)
## This is highly misleading and i think maybe due to some defaults of summer non summer chages in defau

[2016-08-27 14:41] sahildua2305 commented on #3563
@GuiltyDolphin The use of `html_enc` in these IAs is very complicated and I couldn't understand how it was working. It will be good to have insight of someone who has worked on these or the maintainers themselves.

[2016-08-27 16:02] gautamkrishnar commented on #3230
@moollaza Pls remove the "Maintainer input requested" tag

[2016-08-27 16:44] stevenmg opened #3575 "Quack and Hack Cheat Sheet - Add forum link"
The new forum at forum.duckduckhack.com should be added to this cheat sheet.

------
IA Page:  http://duck.co/ia/view/quackhack_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @zekiel

[2016-08-27 17:49] stevenmg commented on #2844
I'll take this on. Looking into it initially it looks like the IA is setup to trigger with only one date parameter, and it will default the second to today, but the current triggers only include things like "days between" or "days" which does not read well with only one date ("days between apr 9 2017").

We could either add a few extra triggers or remove the need for the date to be at the beginnin

[2016-08-27 17:54] GuiltyDolphin commented on #2844
@stevenmg If you have a play around with it and it works, add some test cases and do a PR - if it works then awesome!

Just so long as we don't cause it to overtrigger - there's quite a few Date Instant Answers out there.

[2016-08-27 18:46] stevenmg commented on #2844
Ok, so I removed the need for a date to be at the beginning of the remainder. I also modified the trigger list to remove some more general items (days) but also loosened some others. I think this will improve triggering overall, but if you find any over-triggering we may need to tighten in again.

[2016-08-27 18:54] gautamkrishnar commented on #3563
Fixed for Sha3.pm

[2016-08-28 10:16] GuiltyDolphin opened #3580 "Number Sequences: Create Instant Answer"
As disussed with @Hasil-Sharma, this would be an Instant Answer to handle many number-sequence queries.

`Math::NumSeq` provides a common interface through which many number sequences can be accessed (even numbers, prime numbers, happy numbers, to name a few!).

We can use this interface to build a wrapper that can make use of the standard functions (nth, next, predicates etc.) to handle queries f

[2016-08-30 09:06] #3575 closed

[2016-08-30 14:53] DPAUTH opened #3584 "Change the cheatsheet type"
I think it would be better if the cheatsheet had a link template type (ex https://duckduckgo.com/?q=node+tutorials+cheat+sheet&t=osx&ia=cheatsheet). Here is the documentation http://docs.duckduckhack.com/frontend-reference/cheat-sheet-reference.html

------
IA Page:  http://duck.co/ia/view/quackhack_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @zekiel

[2016-09-01 12:53] atoponce opened #3589 "Password: Minimum password generated should be at least 9 characters"
A modest password cracking machine with 6x Nvidia GeForce GTX 970 GPUs can crack an unsalted SHA-1 digest built from every possible 8-character password in the 95 printable characters on the keyboard (includes the space) in 1 week. However, this also means that a 9-character password in that same space would take 95 weeks, or just shy of 2 years on the same hardware.

As such, the minimum length g

[2016-09-01 13:03] viluon opened #3590 "Latex: Wrong Code Colour"
On certain dark themes, the contrast of the LaTeX example is very low.

![](https://i.imgur.com/EXeKNfL.png)

Other IA's on the same theme do not have this issue:

![](https://i.imgur.com/RrilYzS.png)

------
IA Page:  http://duck.co/ia/view/latex
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jdorweiler

[2016-09-01 22:55] #3474 closed

[2016-09-02 19:41] Diymechanics opened #3591 "Best Hacking Os:"
# The Best Hacking Operating  Systems 2016

[2016-09-02 20:25] GuiltyDolphin commented on #3591
@Diymechanics Could you expand on this issue a bit?

Is this a request for a new Instant Answer - do you have any sources we could use (an API, perhaps the GNU recommended OS list?).

[2016-09-03 11:29] DPAUTH opened #3592 "Roman Numerals: Add Trigers"
When I search "15 to roman numerals" or "xv to arabic numerals" the IA does not work and it's pretty frustrating.

------
IA Page:  http://duck.co/ia/view/roman
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @hchienjo

[2016-09-03 11:34] hchienjo commented on #3592
@DPAUTH Working on a fix asap.

[2016-09-03 14:54] #3592 closed

[2016-09-03 19:01] edgesince84 opened #3595 "JSON Syntax Cheat Sheet: "typo" feedback from user"
---

IA Page:  http://duck.co/ia/view/json_syntax_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @vCillusion

[2016-09-03 19:09] ManrajGrover commented on #3595
I can take this one up. Also, can confirm obj[0] will return undefined.

[2016-09-04 12:33] Hasil-Sharma commented on #3580
I'm starting with tackling prime numbers, problems like "Is 5 a prime number?" "5th prime number" etc.

[2016-09-04 14:13] AlterationBrick opened #3598 "Bond enthalpy cheat sheet or fathead"
A quick way to access bond enthalpy/bond disassociation energy from DuckDuckGo would be helpful for chemistry students like me. There are a limited number of common ones, as can be seen in this pdf: http://www4.ncsu.edu/~shultz/Common_Bond_enthalpies.pdf

A fathead that returned results for "bond enthalpy o=o c-o h-h" would be ideal, so one doesn't have to go hunting through the whole list.

I mis

[2016-09-04 15:49] #3540 closed

[2016-09-04 15:50] Hasil-Sharma commented on #3580
So you are asking me to think something along the lines of "nth number of type m" ?

[2016-09-04 15:51] #3591 closed

[2016-09-04 15:54] #3547 closed

[2016-09-04 16:29] GuiltyDolphin commented on #3551
@edgesince84 This doesn't appear to happen any more (likely due to the removal of `html_enc`).

[2016-09-04 16:29] #3551 closed

[2016-09-04 16:33] #3186 closed

[2016-09-04 16:35] #3502 closed

[2016-09-04 16:40] GuiltyDolphin commented on #1761
@mintsoft @hemanth Conversions is fully-local now, so we should re-evaluate the situation, with the likely outcome of being able to implement this locally.

[2016-09-04 16:56] GuiltyDolphin commented on #2105
@askhubchandani I'm not sure these changes would be appropriate in the calculator. After some discussion, it would likely be more useful to have these in a dedicated currency Goodie (https://duck.co/ia/view/currency maybe?) that could *potentially* use some of the calculator's back-end for calculations.

[2016-09-04 17:48] GuiltyDolphin commented on #3580
@Hasil-Sharma Yeah, think more `Nth X number` - as there will be parts of the queries that will need to be auto-generated, not hard-coded.

[2016-09-05 21:56] sahildua2305 opened #3604 "SecurityAddons: Remove vertical divider after 'Show more'"
![selection_165](https://cloud.githubusercontent.com/assets/5206277/18257439/e0047586-73c3-11e6-8e99-7d64ad56ce92.png)

Looks like this is a common problem with `list` type Goodies.

------

IA Page:  https://duck.co/ia/view/security_addons

[2016-09-06 03:21] askhubchandani commented on #2105
@GuiltyDolphin How will these changes not be appropriate? The currency Goodie is for conversions. It does not perform complete calculations. My intention was that the calculator should be able to add/subtract prices of goods in others currencies(one currency at a time) and give the result to the user and not conversions of different currencies.

[2016-09-06 10:09] GuiltyDolphin commented on #2105
@askhubchandani Sorry, yes - that was just an example; we have other currency IAs that may be more appropriate for this use.

One focus for the calculator currently is support for an interactive front-end, rather than extend the back-end functionality further.

An issue that arises with this (and other calculations involving units) is handling them in conjunction with other units (or unitless valu

[2016-09-06 11:19] #3570 closed

[2016-09-08 21:37] Targren opened #3607 "HTMLEntitiesEncode:"
As of 2 minutes before posting this, the HTMLEntitiesEncode function is apparently replacing the entity output rather than displaying it raw.

Example query: "Trademark entity"

Expected Result:  &amp;#8482; (™)

Received result: ™ (™)

Tested on the latest versions of Chrome and Palemoon

------
IA Page:  http://duck.co/ia/view/htmlentities_encode
[Maintainer](http://docs.duckduckhack.com/maintai

[2016-09-09 00:50] nishanths commented on #3607
might be related to https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3601?

[2016-09-09 10:06] GuiltyDolphin commented on #3607
@nishanths Yes - thank you for noticing that.

We should employ the use of `HTML::Entities` (or similar) for the encoding.

[2016-09-10 08:33] gautamkrishnar commented on #3607
:smile:  Stated working on it

[2016-09-10 12:27] #3607 closed

[2016-09-10 12:28] #3563 closed

[2016-09-10 16:51] gautamkrishnar commented on #3230
@biscuitNinja  any update on this one?

[2016-09-10 19:34] mcomella opened #3610 "Conversions: Consider intelligent defaults when only a source unit is provided"
On OS X, spotlight will give you intelligent defaults for unit conversion when only a source unit is provided. For example, typing "68km" will print "42.25 miles" and provide a drop-down with the equivalent meters, yards, feet & inches, and inches (see the attached screenshot).

![screen shot 2016-09-10 at 12 32 54](https://cloud.githubusercontent.com/assets/759372/18413060/c4e4fca2-7752-11e6-8e1d

[2016-09-10 19:57] gautamkrishnar commented on #3598
:+1: yes this one looks cool

[2016-09-10 22:28] biscuitNinja commented on #3230
@gautamkrishnar I will absolutely be cracking on with this it this week. It will be my lunchtime project. (There's a good number of shortcut keys to verify!)

Can we please remove the Needs a Developer label.

[2016-09-11 04:51] gautamkrishnar commented on #3230
@GuiltyDolphin We need to remove the 'Needs a dev' label

[2016-09-11 20:43] mintsoft commented on #3610
@mcomella sounds like a good idea; we're planning a new UI with interactive features which would probably include something similiar by default

[2016-09-12 02:15] marianosimone commented on #3466
@gustavohmsilva any progress on this one? I love the idea and I could help you out

[2016-09-12 21:31] biscuitNinja commented on #3230
No idea where I stashed the original work undertaken, re-started from scratch.
Most recent commit: https://github.com/biscuitNinja/zeroclickinfo-goodies/commit/dd4fe3f7b4d3a699d5a4e688d0d2ffd57a5284a5

Apologies for foot dragging. Will aim to complete by the end of the week.

[2016-09-13 18:08] holtjohnson commented on #2643
Made the changes and created a PR.

[2016-09-13 18:10] holtjohnson commented on #2643
Made the changes and created a PR.
@moollaza & @GuiltyDolphin

[2016-09-14 17:36] KisRock3r opened #3612 "JavaScript (Core) Cheat Sheet:"

[2016-09-15 05:22] gautamkrishnar commented on #3612
@GuiltyDolphin i think this one is just a spam....

[2016-09-15 09:41] #3612 closed

[2016-09-15 20:55] #3135 closed

[2016-09-16 13:32] joudoman commented on #3542
Hi I checked it out and it's due to this. Try removing it.
![image](https://cloud.githubusercontent.com/assets/11301935/18587445/1acae2a2-7bf0-11e6-8980-245ab703384f.png)

[2016-09-17 05:59] ingconti opened #3615 "C Cheat Sheet: Reduce confusion for beginners"
can be very confusing for beginners as is NOT valid for strings.
can I help about it?

---

IA Page:  http://duck.co/ia/view/c_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @harisphnx

[2016-09-17 10:22] mintsoft commented on #3615
@ingconti do you have specific examples that are confusing?

Unfortunately C's behaviour with strings is generally different to most more recently developer languages and uses a lot of functions rather than operators to achieve things. I think if a dedicated string functions section was added to the sheet then it'd probably clarify it?

[2016-09-17 10:26] ingconti commented on #3615
char s[]=“aa”;

if (s == “aa”){
}

comparison is always false (apart from some optimizations that merge constant strings..)

I think we must add at least a notice, to say “be careful” in C you cannot…." or say: == compares pointers NOT vslues.

[2016-09-19 18:14] khanujasunny commented on #3542
Fix:
.sep--before:before, .sep--after:after{
    content: none;
}

[2016-09-20 03:10] joudoman commented on #3542
Noice!

[2016-09-23 15:58] tagawa commented on #3541
There's information on how to submit bugs and feature requests for this module here: http://search.cpan.org/~rkrimen/Color-Library/lib/Color/Library.pm

[2016-09-23 16:19] sahildua2305 commented on #3541
On it, @tagawa! Thanks 😄

[2016-09-23 16:29] sahildua2305 commented on #3542
Good job @khanujasunny!

However, I am thinking that this is just a temporary solution (hack). There has to be something internal that needs fix, @moollaza your views on this?

[2016-09-23 18:34] joudoman commented on #3542
Yeah good job not that someone else pointed out before...Just sayin....

[2016-09-23 18:43] sahildua2305 commented on #3542
@joudoman that was to just acknowledge his proposed solution. Sorry for not acknowledging your comment before which was actually original. I'll go ahead and edit my comment. Thanks for the clever find 😄

[2016-09-23 19:31] joudoman commented on #3542
@sahildua2305  you don't have to I was just being a smart bmbm haha
I don't know how to go back to the list of CSS's .
I can find them really easy if someone can give me the navigation to the list of CSS problems.

[2016-09-26 13:09] AlterationBrick opened #3632 "Physics/Chemistry formula goodie"
Suggestion: Inspired by the "area of a circle" and "volume of a sphere" instant answers, it would be nice to expand these to popular formulae in physics and chemistry. Some I was looking for recently have been:
- "boyle's law"
- "combined gas law"
- the rest of the gas laws (ideal gas law, etc)

Perhaps this already exists, but then the triggering isn't picking up my queries.
As a student taking b

[2016-09-26 16:38] #3572 closed

[2016-09-28 14:01] flipflopsimsommer commented on #2310
seems like somebody fixed it

[2016-09-28 14:01] #2310 closed

[2016-09-28 17:58] surit opened #3637 "Nepali Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/nepali_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @surit

[2016-09-28 17:59] surit commented on #3637
Hi I want to create a Nepali cheat sheet. I dont know if it is the right way to do so. Please help me and forgive me for any wrong doings.

[2016-09-29 19:25] moollaza commented on #3542
We can simply provide a relevant More At link so that developers can visit a website with more related information. Then the divider will serve its purpose 👍

[2016-10-01 12:41] wellkun opened #3642 "Regex Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/regex_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-10-01 12:55] sahildua2305 opened #3643 "JSON Validator: Improve title/subtitle to clarify usage"
Moving here from https://github.com/duckduckgo/zeroclickinfo-fathead/issues/390

It's indeed confusing for users when they see the name JSON Validator while they were trying to search for `prettyprint json`.

I'd propose setting `title` according to the query. Is it's all about `json validation`, we can show `JSON Validator` otherwise `JSON Beautifier`.

\cc @moollaza @MariagraziaAlastra

---
IA P

[2016-10-01 13:41] wellkun opened #3644 "Alt Codes Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/alt_codes_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @ankushg07

[2016-10-01 18:09] gautamkrishnar commented on #3642
@GuiltyDolphin spam

Block these users

[2016-10-02 09:30] #3642 closed

[2016-10-02 09:32] #3644 closed

[2016-10-02 09:40] gautamkrishnar commented on #3637
@surit  it is not possible to accept cheatsheet on places. Please pick up some  another topic

[2016-10-03 14:07] moollaza commented on #3643
@sahildua2305 I suggest we just change the title of the output to something like:

**JSON Beautifier & Validator**

The subtitle should explain that you an use the IA to format JSON and also check for syntax errors

[2016-10-03 14:08] sahildua2305 commented on #3643
I will make the suggested changes @moollaza 👍

[2016-10-03 14:45] amarlearning opened #3646 "should also trigger when someone search ".htaccess Cheat Sheet" .htaccess Cheat Sheet:"
.htaccess cheat sheet is awesome!
But the only thing that should be changed or modified is "when should this cheat sheet trigger"

According to me, the cheat sheet should also trigger when some searches ".httaccess cheat sheet"
because many users might search with that DOT "."

Let me know what you think!

------
IA Page:  http://duck.co/ia/view/htaccess_cheat_sheet
[Maintainer](http://docs.duckdu

[2016-10-03 14:51] sahildua2305 commented on #3646
Makes sense! Should be an easy fix. Would you like to add another entry `.htaccess` in `aliases` for that? @amarlearning

[2016-10-03 14:52] amarlearning commented on #3646
@sahildua2305  ok.

[2016-10-04 20:27] johnfrenchxyz opened #3653 "Design Style Guide: Improve Color Scheme Contrast Ratios"
There are some accessibility issues with the current design style guide and platform itself, particularly related to insufficient contrast ratios.  But before I start listing them I wanted to make sure I was doing so in the best way possible.  I read over the guidelines for contributing but I am still unsure of where suggestions like this should go.  Never-the-less, I think it is an important thin

[2016-10-05 21:08] krikmo opened #3656 "Random Choice: Support multi-word choices"
Hello.

Here is an example: `choose ice cream or apple pie` or maybe `choose 'ice cream' or 'apple pie'`.

I'm aware of [this line](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/ABC.pm#L60), but is there a workaround?

---

IA Page:  https://duck.co/ia/view/abc
[Maintainer](https://docs.duckduckhack.com/maintaining/guidelines.html): @warthurton

[2016-10-05 22:45] #3646 closed

[2016-10-05 22:53] moollaza commented on #3294
Ping! I'm just checking in to see if anyone is still interested in finishing this one up?

[2016-10-05 22:54] #2882 closed

[2016-10-06 12:14] amarlearning opened #3657 "Calculator: Improvement"
calculator is awesome!
But one thing that we can do is, instead of displaying a result. there should be an actual calculator where we can run another mathematical expression as well.

let me know what you think!

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-10-06 12:45] GuiltyDolphin commented on #3657
See https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2848

[2016-10-06 12:45] #3657 closed

[2016-10-06 21:26] akanshgulati commented on #3321
@moollaza I believe some issue came while creating the IA. Any update @jagtalon ?

[2016-10-07 13:23] #3643 closed

[2016-10-07 13:32] #3637 closed

[2016-10-07 13:34] akanshgulati commented on #3637
@surit We are right now focussing on Programming related CheatSheets. You can look at this for more information on contribution.
https://forum.duckduckhack.com/t/how-to-contribute-to-the-programming-mission/881

[2016-10-07 20:42] akanshgulati commented on #3615
It's a good information @ingconti .

[2016-10-08 16:07] amarlearning opened #3664 "Django Cheat Sheet: "Createsuperuser" command not found"
Django Cheat Sheet: "Createsuperuser" command missing under "Django Admin/Manage.py Commands" section.

------
IA Page:  http://duck.co/ia/view/django_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rsunder10

[2016-10-09 07:57] amarlearning opened #3668 "Translate: Is anyone working on this ?"
Is anyone working on this or should I start!

@GuiltyDolphin

---

IA Page:  http://duck.co/ia/view/translate

[2016-10-09 21:03] zekesonxx opened #3673 "JIRA Bug Tracker: Detect and exclude queries relating to Kenwood radios (model number TS-_____)"
[Kenwood](https://en.wikipedia.org/wiki/Kenwood_Corporation) is a Japanese company that makes, among other things, [amateur radio transceivers](https://en.wikipedia.org/wiki/Kenwood_Corporation#Amateur_radio_transceivers). Kenwood's HF transceivers have model numbers that start with `TS-`, which also matches the issue format for Apache Traffic Server JIRA issues.

And this is kinda getting annoyin

[2016-10-10 16:55] ns130291 opened #3678 "Convert Latitude/Longitude: support for more output formats"
I think there should be more output formats when using the lat-long converter. For example the satnav in my car expects the location in degrees, minutes and seconds, and the seconds additionally have a decimal place:
![satnav](https://cloud.githubusercontent.com/assets/1678202/19243165/bef15d28-8f16-11e6-9a20-dee65dd71ef6.jpg)
So if I enter [52.167556° -12.132545° as dms](https://duckduckgo.com/?q

[2016-10-11 18:14] pavkum opened #3682 "Calendar: Should take short hand queries and target year"
I have noticed instant answer pops up only for specific queries.

I tried
- feb calendar - No IA
- February calendar 2017 - No IA
- february calendar - IA

IA should accommodate all these use cases since it is generally expected for people to use short hands for month names and also expect target year.

---

IA Page:  http://duck.co/ia/view/calendar_today
[Maintainer](http://docs.duckduckhack.com/

[2016-10-11 18:31] GuiltyDolphin commented on #3682
I believe this is just an issue with where the trigger words are, for example [calendar for februray 2017](https://duckduckgo.com/?q=calendar+for+february+2017&ia=answer) *does* trigger this IA, so in the case of `februray calendar 2017` we should probably be looking at the remainder `february 2017`.

[2016-10-13 01:16] allonhadaya opened #3686 "Password: Denial of Service Vector?"
Does calling pwgen consume bytes from the entropy pool? If it does, an attacker could very easily hit `https://duckduckgo.com/?q=pwgen` really fast to drain the pool. Could this pose a denial of service risk if the server must wait for the entropy pool to replenish for certain actions?

------
IA Page:  http://duck.co/ia/view/password
[Maintainer](http://docs.duckduckhack.com/maintaining/guideline

[2016-10-13 01:29] tagawa commented on #3686
Hi @allonhadaya. Thanks for raising this. I'm not sure but have forwarded it to the ops team to take a look at and assess the risk.

[2016-10-13 08:26] mintsoft commented on #3686
@allonhadaya @tagawa I don't believe that srand uses the system entropy as it's not a cryptographically secure random generator; this isn't true for `Crypt::Random` which does use `/dev/random`

[2016-10-13 14:15] tagawa commented on #3686
Thanks @mintsoft. I've checked with our ops folks and it does seem this is not a concern.
@allonhadaya Thank you again for raising the issue to make sure.

[2016-10-13 14:15] #3686 closed

[2016-10-13 18:23] allonhadaya commented on #3686
@mintsoft @tagawa Excellent, my pleasure. Thanks for sharing your findings with us!

[2016-10-14 12:09] QVaucher opened #3691 "Feature request: Latex cheat sheet"
I've just noticed that they're no cheat sheet for Latex! Could be useful...

[2016-10-14 17:23] gautamkrishnar commented on #3691
Looking good... @duckduckgo/duckduckhack-contributors please check this out

[2016-10-14 17:25] gautamkrishnar commented on #3691
There's already a goodie on this one https://duck.co/ia/view/latex

[2016-10-14 18:13] QVaucher commented on #3691
Yep I saw the goodie too, but I think the cheat sheet could be helpful when we just forget the name of a common markup!

[2016-10-15 06:00] #3664 closed

[2016-10-15 08:19] tagawa commented on #532
This looks like it's fixed now, as the example queries in the description work for me.

[2016-10-15 08:19] #532 closed

[2016-10-15 08:31] shubh1m opened #3694 "Improvement in Docker Cheat Sheet"
Currently Docker cheat sheet uses information from unofficial resources, also it lacks some information. Idea is to use information from the official site itself.

Official command line reference: [Docker docs](https://docs.docker.com/engine/reference/commandline/)
IA Page: https://duck.co/ia/view/docker_cheat_sheet

cc @moollaza, @GuiltyDolphin

[2016-10-15 19:38] #3584 closed

[2016-10-15 20:22] sahildua2305 commented on #3694
@shubh1m can you please use the default issue template and mention the IA page link for Docker Cheat Sheet so that this issue can be linked to the actual existing IA?

[2016-10-15 20:25] prabhakar267 commented on #3694
If no one is working on this, I'd like to!

[2016-10-15 20:32] sahildua2305 commented on #3694
Thanks for your interest, @prabhakar267. It's all yours. Looking forward to your PR. :+1:

[2016-10-16 16:13] #3694 closed

[2016-10-16 19:16] raj-maurya opened #3702 "duckpan server command is not working on codio."
Hi,

I am trying to test my cheatsheet on codio by running "duckpan server" command on terminal but it is not running.

Please help!

[2016-10-16 19:17] sahildua2305 commented on #3702
Hi @raj-maurya can you please post the error message you get?

[2016-10-16 19:21] raj-maurya commented on #3702
@sahildua2305

It says:

-bash: duckpan: command not found

[2016-10-17 01:17] gautamkrishnar commented on #3702
I think you hadn't cloned the box correctly.  Please delete your current project and close the box in codio as per as the instructions given in the www.docs.duckduckhack.com...

[2016-10-17 06:42] raj-maurya commented on #3702
@gautamkrishnar

I had selected the "Box & Project" clone option during the FORK. I had followed the documentation.

I have tried to restart and reset the box but, duckpan commands are still not working .
ScreenShot:
![screenshot from 2016-10-17 00 00 41](https://cloud.githubusercontent.com/assets/9070249/19427549/4b0dd91c-9462-11e6-80f7-36782f6963f9.png)

[2016-10-18 14:14] gautamkrishnar commented on #3702
@moollaza @guythedolphin any idea why this is happening?

[2016-10-18 14:27] GuiltyDolphin commented on #3702
@gautamkrishnar Sorry, I don't really use the Codio env. There was some discussion about DuckPAN not working on Codio in Slack a bit back though.

[2016-10-18 19:13] moollaza commented on #3702
I spoke with @raj-maurya -- his Codio project is from the old (now deprecated Codio box). Last week I upgraded the box, but unfortunately those changes cannot be applied to all the users who've previously cloned the Codio box.

Everyone will need to re-fork the Codio box by January when the old box architecture goes offline.

@raj-maurya please confirm a new clone of the duckduckhack project solve

[2016-10-18 20:16] sahildua2305 opened #3703 "NumpyCheatSheet Bug: Source URL needs to point to the official documentation"
## Type of Issue

- [X] Bug (incorrect behavior)
    - [ ] Triggering
    - [ ] Relevancy
    - [ ] Internal (issue with code)
- [ ] Feature Request
    - [ ] Triggers (new triggers)
    - [ ] Design Change

## Description

The `More at` link should go to some official documentation. Currently, it points to a `non-official` website where exactly same amount of information is available, hence serve

[2016-10-18 20:37] amarlearning commented on #3703
Yeah! that's right @sahildua2305. that would be an easy fix. would you like to do it or should I do ?

[2016-10-18 20:37] sahildua2305 commented on #3703
I'll push in a couple of hours. 👍

[2016-10-18 20:38] sahildua2305 commented on #3703
@amarlearning as a moderator of this cheat sheet, which documentation link would you like to have in this cheat sheet for reference?

[2016-10-18 20:43] amarlearning commented on #3703
@sahildua2305 https://docs.scipy.org/doc/numpy/reference/

[2016-10-19 17:20] #3703 closed

[2016-10-19 17:23] mintsoft commented on #3702
@moollaza @tagawa can we announce that (on slack or something) ?

[2016-10-19 19:30] AlterationBrick opened #3706 "Suggestion: MLA format goodie"
## Type of Issue

- [ ] Bug (incorrect behavior)
  - [ ] Triggering
  - [ ] Relevancy
  - [ ] Internal (issue with code)
- [x] Feature Request
  - [ ] Triggers (new triggers)
  - [x] Design Change
## Description

Return the correct MLA (or APA, or Chicago) Works Cited format for a certain medium, with placeholder text.

Example query: "mla cite website"

Example answer:

Lastname, Firstname. "Titl

[2016-10-19 20:25] amarlearning commented on #3706
@AlterationBrick Please update your issue with correct **Instant Answer Page** url!

[2016-10-19 20:56] amarlearning commented on #3542
@moollaza @sahildua2305 i think we should now remove this label **"status: Needs a Developer"**

[2016-10-20 07:37] #3542 closed

[2016-10-21 00:42] #3590 closed

[2016-10-21 16:04] AlterationBrick commented on #3706
@amarlearning Thanks, I made one just now and updated the issue accordingly.

[2016-10-21 16:12] AlterationBrick commented on #3682
I can give this a shot, if it's not being worked on yet.  `feb calendar` _does_ work on my end; I don't know if that was just recently fixed.

[2016-10-21 19:06] pavkum commented on #3682
Well `feb calendar` worked for me too. May be search got cached or updated its relevancy. But try
`feb calendar <random_year>` I tried for 2013. It didn't work.

But the exact search string `calendar for <month> <year>` always works

[2016-10-21 20:12] mintsoft commented on #3682
@AlterationBrick @pavkum This should be handled by the dates role so I believe it will essentially take a reasonably flexible input; although you can't separate the triggering "calendar" from the date; they need to be either $date calendar or calendar $date where $date is "feb" or "feb 2013" or whatever

[2016-10-22 01:05] sahildua2305 opened #3708 "Suggestion: Add JSON Lint to Travis for new cheat sheets"
## Type of Issue

- [ ] Bug (incorrect behavior)
  - [ ] Triggering
  - [ ] Relevancy
  - [ ] Internal (issue with code)
- [X] Feature Request
  - [ ] Triggers (new triggers)
  - [ ] Design Change
## Description

Since we have a lot of new cheat sheets coming up daily, it's going to be hard to maintain proper json formatting (indentations, spaces etc). I suggest that we should add some sort of jso

[2016-10-22 05:15] gautamkrishnar commented on #3708
Looking great :+1.

[2016-10-23 10:24] napnac opened #3710 "Suggestion: Add a "Hello World!" example for programming cheat sheets"
## Type of Issue
- [ ] Bug (incorrect behavior)
  - [ ] Triggering
  - [ ] Relevancy
  - [ ] Internal (issue with code)
- [X] Feature Request
  - [ ] Triggers (new triggers)
  - [ ] Design Change
## Description

Why don't we add an example for each programming languages to display the famous "Hello world!" as part of the cheat sheet ? This will be a small and concrete example that could be useful

[2016-10-23 17:09] sahildua2305 opened #3713 "JSONValidator Suggestion: Provide options to select preferred indentation in formatted json"
## Type of Issue

- [ ] Bug (incorrect behavior)
  - [ ] Triggering
  - [ ] Relevancy
  - [ ] Internal (issue with code)
- [X] Feature Request
  - [ ] Triggers (new triggers)
  - [X] Design Change
## Description

There should be an option so that users can choose from 2 or 4 spaces indentation options that they want to have in their final formatted json.
**Hypothesis** - Ideally, our IAs should be

[2016-10-25 14:28] sriranganathan commented on #3516
@akanshgulati Can I take this up?

[2016-10-26 14:02] nalinbhardwaj commented on #3691
Is anyone working on this?

If not, should I take it up?

[2016-10-26 14:20] vikashvverma commented on #3691
@nalinbhardwaj Go ahead man, claim it

[2016-10-26 14:34] nalinbhardwaj commented on #3691
Small question, there is no way to use Latex in the cheat sheets themselves right? I thought it would be a good idea to show the symbols as well.

[2016-10-26 14:41] vikashvverma commented on #3691
I think something like this would be good: https://wch.github.io/latexsheet/

[2016-10-26 20:15] sriranganathan commented on #3487
If no one is working on this, I'd like to!

[2016-10-27 14:20] bfmags opened #3720 "JavaScript: Create New JS Lint Goodie"
## JS Lint : Interactive JS linter
### Description

Use [JSHint](https://cdnjs.com/libraries/jshint) Library to build an interactive JS linter; it also has quite interesting error explanations; try it out online [here](http://jshint.com/).
### Forum

See the topic [Create IA : JS Lint](https://forum.duckduckhack.com/t/create-ia-jslint/177)
## People to notify

@mbad0la
@moollaza

---

Instant Answ

[2016-10-27 18:45] GuiltyDolphin commented on #3487
@edgesince84 I think the new behaviour for the Role deals with this (I believe @mintsoft's preference was for 'tomorrow' to refer to midnight).

[2016-10-29 11:38] sriranganathan commented on #3708
If no one is working on this, I would like to.

[2016-10-29 13:47] ManrajGrover commented on #3708
@sriranganathan Go ahead! 😄

[2016-10-29 19:28] sahildua2305 commented on #3708
@sriranganathan Good to see that you're interested in working on this. However, before you get into this, can you please share how you're going to approach this, so that we can have a discussion about the solution you propose?

[2016-10-29 20:20] mintsoft commented on #3487
@GuiltyDolphin @edgesince84 That is indeed my preference, following the premise that tomorrow starts at midnight

[2016-10-30 10:18] sriranganathan commented on #3708
@sahildua2305 I was thinking of writing another test file which will check all the json files for proper formatting. For each file the we can load the json and prettify it and check it against the contents of that file. For prettifying the json we can use the pretty function of the JSON module(http://search.cpan.org/~makamaka/JSON-2.90/lib/JSON.pm#pretty).

[2016-10-31 16:46] #3691 closed

[2016-11-01 09:39] bsstoner commented on #1828
Here's another example that was just reported where it's USPS tracking number but we're detecting it as FedEx: 9361289681090104850693

[2016-11-01 15:36] moollaza commented on #1828
Our new Package Tracking Spice is able to detect the carrier...but it's triggering requires the word "package", "tracking", etc.

We can replace several of the Package tracking Goodies, such as Fedex and USPS with the Spice if we adjust the triggers to also trigger on any/all of the courier tracking number patterns.

[2016-11-01 18:36] akanshgulati commented on #3702
@raj-maurya Please find the steps here : https://forum.duckduckhack.com/t/how-to-migrate-to-new-ddg-box-on-codio/1023
If the commands are working now, please close the issue.

[2016-11-01 18:40] akanshgulati commented on #3589
@cngarrison, I think we should improve this password generator something like this : http://passwordsgenerator.net/

[2016-11-01 20:20] cngarrison commented on #3589
On 2 Nov 2016, at 5:40, Akansh Gulati wrote:

Do you have ideas for how the search query would be formed to indicate
which options should be included when generating a password?

Since IA’s don’t use an html form (with checkboxes), the options
would need to be part of the query. I’ll consider some different ways
to structure queries to support different options.

Thanks for your suggestion.

Charl

[2016-11-01 21:56] atoponce commented on #3589
I've also created my own password generator. In production, it can be found at https://ae7.st/g/. Source code at https://github.com/atoponce/webpassgen (there is also a nodejs version at https://github.com/atoponce/nodepassgen). If it's helpful.

[2016-11-03 05:44] ambrish61 opened #3727 "Libre Office Writer Cheat Sheet:"
-----
![screenshot 22](https://cloud.githubusercontent.com/assets/13643308/19956678/5132bb90-a1b5-11e6-9e5a-32e43251b2a7.png)
![screenshot 23](https://cloud.githubusercontent.com/assets/13643308/19956679/513a3636-a1b5-11e6-8ce6-d55a21390194.png)
There is error in two lines of Instant Answer as per reference help from LibreOffice
IA Page:  http://duck.co/ia/view/libre_office_writer_cheat_sheet
[Mai

[2016-11-03 16:47] raj-maurya commented on #3702
@moollaza @sahildua2305 @akanshgulati @gautamkrishnar

Thanks for the help! Every thing working fine.
Hence closing this issue.

[2016-11-03 16:47] #3702 closed

[2016-11-03 19:29] DrDub opened #3730 "Sudoku: How to activate?"
## Type of Issue

- [X ] Bug (incorrect behavior)
    - [X ] Triggering
    - [ ] Relevancy
    - [ ] Internal (issue with code)
- [ ] Feature Request
    - [ ] Triggers (new triggers)
    - [ ] Design Change

## Description

From the code, it looks like searching on DDG with "sudoku easy" should produce a sudoku, but it doesn't.

## Steps to recreate

search for: sudoku easy

## People to notify

[2016-11-04 09:44] riqpe commented on #3589
@cngarrison, as I see it, the options could be preceded with plus or minus symbols (e.g. pw 50 +symbols -similar -ambiguous) unless there is a technical reason preventing this. I'm not sure if DDG is pre parsing those symbols or passing them directly to appropriate IAs.

[2016-11-04 21:26] mintsoft commented on #3730
@DrDub Hello; as far as I know this IA never made it live. It is available on beta however: https://beta.duckduckgo.com/?q=sudoku&t=h_&ia=answer

[2016-11-04 21:52] DrDub commented on #3730
Ah, great. Didn't know about the Beta.

Thanks!

[2016-11-04 21:52] #3730 closed

[2016-11-05 09:42] gautamkrishnar opened #3732 ""Roll 2 dice" Query shows 7"
![screenshot 217](https://cloud.githubusercontent.com/assets/8397274/20029124/3b1dfa70-a36a-11e6-9eaf-af6028e1a83a.png)

---

Instant Answer Page: https://duck.co/ia/view/dice

[2016-11-05 14:32] sahildua2305 commented on #3732
@gautamkrishnar what's the expected behaviour or bug? Please mention that as well.

[2016-11-05 17:28] gautamkrishnar commented on #3732
I think it should show two random numbers like in the coin goodie which triggers on typing *toss 2 coins*

Eg: 6,2

[2016-11-05 17:29] gautamkrishnar commented on #3732
It shouldn't display 7. The normal dice have only 6 sides...

[2016-11-05 18:05] DPAUTH commented on #3727
@ambrish61  Sorry it took me so long to see the message working on some pther projects and other IAs. I
will fix the issue ASAP.

[2016-11-07 04:43] logically-untangled commented on #3732
@gautamkrishnar It displays the total outcome of 2 dies being rolled. First dice landed on 5 and the second one on 2, the sum of that is what is being displayed.

[2016-11-07 13:45] loganom commented on #3732
Yes, "roll 2 dice" will roll 2 dice and display the sum, followed by the two dice rolls. I'm going to close this issue.

Thanks for the posting the clarification @logically-untangled.

[2016-11-07 13:45] #3732 closed

[2016-11-08 09:13] gautamkrishnar commented on #3732
Okay...  Good to go :+1:

[2016-11-08 15:06] andrey-p opened #3739 "Password: Longer passwords get cut off"
E.g. https://duckduckgo.com/?q=password+60 - you may need to refresh a bit to see it.

![screenshot from 2016-11-08 15-01-34](https://cloud.githubusercontent.com/assets/1431577/20104171/d9a8f2ba-a5c4-11e6-8a9e-cdea9b66fb16.png)

------
IA Page:  http://duck.co/ia/view/password
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @cngarrison

[2016-11-09 19:00] aviatorpranoy opened #3740 "Bluej Commands Cheatsheet:"
Any errors yet?

------
IA Page:  http://duck.co/ia/view/bluej_commands_cheatsheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @aviatorpranoy

[2016-11-09 19:36] moollaza commented on #3739
@andrey-p this actually affects all Goodies using the `text` templates. Our CSS prevents the overflow from showing, and I think we prevent the text from wrapping.

[code]

[2016-11-09 19:48] moollaza commented on #3668
This isn't an Instant Answer we're currently interested in having.

I've left a comment on the PR explaining more

[2016-11-09 19:48] #3668 closed

[2016-11-10 17:05] aviatorpranoy opened #3743 "IA Idea: Bluej Commands Cheatsheet"
New IA Idea: A cheatsheet to show the basic keyboard commands of a BlueJ

Example Query: BlueJ Commands, BlueJ Cheat Sheet

[2016-11-10 19:37] marti1125 commented on #3743
Hi @aviatorpranoy you have to send a PR with a new IA =D

[2016-11-11 04:32] aviatorpranoy commented on #3743
@marti1125 Sorry I didn't get you. What do you meanby  a PR with a new IA?

[2016-11-11 07:27] kumarankit0411 commented on #3743
@aviatorpranoy If you want to submit a new cheat sheet instant answer, you have to open a pull request for that. Issues is not meant to submit new IA. To know more about how to submit a pull request, follow [this documentation](https://docs.duckduckhack.com/submitting/pull-request.html) step by step.

[2016-11-11 16:37] #3230 closed

[2016-11-11 16:43] gautamkrishnar commented on #3740
Duplicate of #3743

[2016-11-11 16:43] #3740 closed

[2016-11-11 17:16] aviatorpranoy commented on #3743
okay thank you guys :)

[2016-11-11 17:16] #3743 closed

[2016-11-12 14:40] mr-karan commented on #2934
Can I take this up ?

[2016-11-13 16:12] adityasiwan opened #3747 "Currency: Triggers for non-question formats"
### Description

Although this query `currency in/of/for $country` is triggering the [result](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/currency_in/currencies.json). What could be done to trigger the result for some of the queries like `currency $country` or `$country currency`.

## Check This
### What is triggering

https://duckduckgo.com/?q=currency+of+india&ia

[2016-11-14 08:28] mintsoft commented on #3747
@adityasiwan Currently the regex for the query will only return a result if the query contains `in|of|for` in it, which is why `india currency` does not trigger (https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/CurrencyIn.pm#L43).

This can be changed if the maintainer (@Alchymista) agrees

[2016-11-14 12:09] Alchymista commented on #3747
Yes, I absolutely agree.
Logic can be changed in a way, that "query"/"user question" can be "exploded" into array of  words,
and if any word matches "currency|currencies" and another word matches country name in list of countries,
then it will return currencies for that country..
(currency|currencies is already trigger of goodie, so just name of country should be checked)

[2016-11-14 12:52] mintsoft commented on #3747
Thanks @Alchymista do you want to do that or would you prefer someone else made those changes? Either way is fine 👍

[2016-11-14 12:57] Alchymista commented on #3747
I may try to play with that, but its already few years since I used Perl last time ;) ...
I am already refreshing my knowledge, so I will see.... if I will struggle or someone really, really wants to do that, then its fine with me...

[2016-11-14 15:12] 0xbsec opened #3748 "Email validation give unformated response with invalid email address"
### Description

When I search for an invalid email address I get

Screenshot:

<img width="875" alt="screen shot 2016-11-14 at 5 09 04 pm" src="https://cloud.githubusercontent.com/assets/8887221/20269763/42cd4864-aa8d-11e6-8efe-a0cb9142ef7b.png">

## Steps to recreate

`given` goes to  https://duckduckgo.com/
`and` search for: `validate test@tes;t.com`
`then`
**expected**
IA response should be:

[2016-11-14 15:14] sahildua2305 commented on #3748
Thanks for reporting @0xbsec! This is a bug indeed. I will push a fix later today.

[2016-11-14 15:15] 0xbsec commented on #3748
@sahildua2305 I'm sending a PR to fix it now.

[2016-11-14 15:24] sahildua2305 commented on #3748
Cool @0xbsec, go ahead!

[2016-11-14 15:44] 0xbsec commented on #3748
@sahildua2305 done in #3749.

[2016-11-14 21:39] #3748 closed

[2016-11-15 06:19] #2934 closed

[2016-11-15 07:07] #3727 closed

[2016-11-15 11:39] bsstoner opened #3751 "Hex To Ascii: template issue"
<img width="1020" alt="screen shot 2016-11-15 at 6 39 03 am" src="https://cloud.githubusercontent.com/assets/126358/20304450/46b46d6a-aafe-11e6-8008-46c98dccec73.png">

------
IA Page:  http://duck.co/ia/view/hex_to_ascii
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @koosha--

[2016-11-16 04:51] mr-karan opened #3754 "New Cheatsheet: ggplot2 for R"
Create a new cheatsheet for [ggplot2](http://ggplot2.org/).

Source: https://www.rstudio.com/wp-content/uploads/2015/12/ggplot2-cheatsheet-2.0.pdf

---

Instant Answer Page: https://duck.co/ia/view/ggplot2_cheatsheet

[2016-11-16 04:52] mr-karan commented on #3754
I'd like to take this up! :)

[2016-11-16 05:10] tagawa commented on #3754
Hi @mr-karan. This sounds good. Do you know how to get started? Just in case:

1. Create a new IA page here: https://duck.co/ia/new_ia
2. In Codio, create a new Git branch and make the cheatsheet as a JSON file
3. Submit a PR, pasting the link to the IA page in the description (as you did in this issue)

If you need help with any stage, please let me know or ask in the forum or Slack.

[2016-11-16 13:29] mintsoft commented on #3751
@bsstoner Just to clarify: I'm guessing the string of binary passed in represents nothing but unprintable characters? (`SOH,NUL,SOH,SOH,SOH,DLE,DLE,SOH,DLE,SOH,DC1,SOH,DLE,DLE,NUL,SOH,DC1,SOH,NUL,NUL,SLE,NUL,SOH`)

[2016-11-16 13:39] bsstoner commented on #3751
yea, but why is it printing out the markup like that?

[2016-11-16 19:57] #3713 closed

[2016-11-16 21:51] mintsoft commented on #3751
Hmm, it's broken :)

In all seriousness; it looks like when it was converted to use the handlebars templates the HTML wasn't removed in `printable_chr` for unprintable chars (https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/HexToASCII.pm#L102). The handbars then is treating that as unsafe (correctly) and writing out the literals. It's actually a little tricky to get t

[2016-11-17 04:15] #3516 closed

[2016-11-17 08:55] mr-karan opened #3757 "Asciinema cheatsheet Bug"
### Description

The cheatsheet is triggered for search terms [adoc cheatsheet](https://duckduckgo.com/?q=adoc+cheatsheet&t=hq&ia=software) but nothing is loaded.

See the screenshot for more deatils:

![screen shot 2016-11-17 at 2 13 21 pm](https://cloud.githubusercontent.com/assets/5689132/20382333/6d73d916-acd1-11e6-8f3d-3aa18ceea357.png)

## Steps to recreate

https://duckduckgo.com/?q=adoc+ch

[2016-11-17 08:59] tagawa opened #3758 "Color Codes: Triggers for unrelated query"
This IA should not display when searching for [w3 html5.1](https://duckduckgo.com/?q=w3%20html5.1) or [w3c html5.1](https://duckduckgo.com/?q=w3c%20html5.1)

------
IA Page:  http://duck.co/ia/view/color_codes
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Mailkov

[2016-11-17 09:13] mr-karan commented on #3754
Yep, I'm starting with this but have found an alternate source for cheatsheet : http://docs.ggplot2.org/current/

[This] one lacks explanation for commands because the use of images. Should I go ahead with the new source?

[2016-11-17 12:49] bsstoner opened #3760 "President of the United States (POTUS): shouldn't trigger on president-elect"
<img width="697" alt="screen shot 2016-11-17 at 7 48 28 am" src="https://cloud.githubusercontent.com/assets/126358/20389950/511af736-ac9a-11e6-807a-5871190c6d19.png">

------
IA Page:  http://duck.co/ia/view/potus
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @numbertheory

[2016-11-17 16:33] tagawa commented on #3754
@mr-karan I agree, that new cheatsheet looks like a better source, and it's an official ggplot2 one as well. Feel free to use that, and thanks for checking!

[2016-11-17 17:20] enigene opened #3761 "SSH Cheat Sheet: Duplicate entry for "Launch a local x11 session for a given application""
Hi! This section is repeating twice. At lines 72-75 and 84-87.
[code]
https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/ssh.json#L72

------
IA Page:  http://duck.co/ia/view/ssh_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @wilhelm1973

[2016-11-17 21:54] whmountains opened #3762 "Local Sunrise/Sunset: Can we trigger just on sunset?"
I see in the source code that this is supposed to display today's sunset/sunrise for keywords like, "sunset", "what time is sunset", etc.  Right now I can only get it to work with a specific date, like "sunset 171116".

This works: https://duckduckgo.com/?q=sunset+171116
Can we make this work too?: https://duckduckgo.com/?q=sunset
------
IA Page:  http://duck.co/ia/view/sun_info
[Maintainer](http:

[2016-11-17 22:16] sahildua2305 opened #3763 "Question: Can we save some Goodie settings in user session?"
### Description

Is it possible to save some settings that user selects in some Goodie and keep them persistent across the page reloads?

## People to notify

@moollaza @tagawa

[2016-11-17 22:58] mintsoft commented on #3762
@whmountains it's probably worth saying that https://duckduckgo.com/?q=sunset+today&ia=answer works :)

[2016-11-17 22:59] mintsoft commented on #3762
Actually; this is a duplicate of: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3359

The answer is there in the answer tab but the wikipedia fathead has taken priority

[2016-11-17 23:00] #3762 closed

[2016-11-17 23:01] mintsoft commented on #3359
This has just been raised again by a user in the wild (https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3762); I think this is probably worth doing.

[2016-11-18 03:13] whmountains commented on #3762
gotcha, thanks!

[2016-11-18 04:25] tagawa commented on #3757
There are two IAs available for this query so the user has a choice. The GitHub repo is shown by default, but if the user clicks the "Cheat Sheet" tab (next to "Software") then our cheat sheet will be displayed.

[2016-11-18 05:28] mr-karan commented on #3757
Ah my bad. Closing.

[2016-11-18 05:28] #3757 closed

[2016-11-18 05:29] mr-karan commented on #3757
Ah my bad. Closing.

[2016-11-18 05:29] mr-karan commented on #3757
Ah my bad. Closing.

[2016-11-18 05:29] tagawa commented on #3757
No problem - thanks for checking!

[2016-11-18 14:39] zachthompson opened #3764 "HTML Entity Decoder: failing on entities with a digit at end"
\&sup; works but \&sup2; doesn't.  Looks like they are being kicked out here -    https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/HTMLEntitiesDecode.pm#L23.  Not sure if it's intentional but we've received some feedback about it.

------
IA Page:  http://duck.co/ia/view/htmlentities_decode
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @nisha

[2016-11-19 13:46] gautamkrishnar opened #3766 "Name Days: Failing Travis CI tests"
Travis CI tests are failing for Name Days goodie. See the [build log](https://travis-ci.org/duckduckgo/zeroclickinfo-goodies/builds/177245909#L987):
[code]
Failed on #3765
cc: @moollaza @duckduckgo/community-leaders

------
IA Page:  http://duck.co/ia/view/name_days
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @w25

[2016-11-20 12:49] amarlearning commented on #3615
@akanshgulati As you said [here](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3701#issuecomment-256528724) that you are working on [this](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3701#issuecomment-255695200).
If you are not working on this, let me know so that i can submit a PR

[2016-11-20 15:57] hell-sing commented on #3766
https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3765

[2016-11-20 20:21] iExplosive opened #3768 "Calculator: 10+9 returns a false answer"
It has come to my attention that when the search engine
calculates 10 + 9 or 9 + 10, the answer it gives me is 19. That is not true,
as I went on Vine to see the actual answer, which is 21. Please fix this issue.

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-11-20 20:36] sahildua2305 commented on #3768
@iExplosive it looks good to me. Working as expected.

Closing the issue. Let me know if something's still wrong. 🙂

[2016-11-20 20:36] #3768 closed

[2016-11-21 14:25] akanshgulati commented on #3615
@tagawa  I was inactive for many days. I will do it. :)

[2016-11-21 17:52] tagawa commented on #3615
No worries @akanshgulati! And thank you :-)

[2016-11-21 17:57] akanshgulati commented on #3720
@bfmags I would like to take this up.

[2016-11-21 18:02] mbad0la commented on #3720
Hey @akanshgulati

As you can see I was assigned this, so I was hoping to get to do it.

Although, if you're intending to finish it up in a week or two, I'd be happy to let you do this as I'm in between my semester exams this month.

[2016-11-21 18:22] akanshgulati commented on #3720
@mbad0la Hi. It's all yours brother. Take your time and let us know in case you stuck anywhere. :) All the best for exams.

[2016-11-21 22:34] Zoyolin opened #3771 "3d Print Sheat Cheet:"
------
IA Page:  http://duck.co/ia/view/d_print_sheat_cheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Zoyolin

[2016-11-22 12:26] QVaucher opened #3772 "SQL Cheat Sheet: AS (alias) is described two times"
Description
------
I've just noticed that the AS (alias) appears two times in the cheat sheet

Link
-----
IA Page:  http://duck.co/ia/view/sql_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jophab

[2016-11-22 12:28] QVaucher commented on #3772
As well as the UNION description actually...

[2016-11-23 08:51] gautamkrishnar commented on #3771
Irrelevant

[2016-11-23 08:51] #3771 closed

[2016-11-23 08:52] gautamkrishnar commented on #3772
@jophab please issue a quick fix

[2016-11-23 09:09] jll66 opened #3773 "Bitwise Ops Cheat Sheet:"
### Description

## Steps to recreate

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2016-11-23 09:20] #3773 closed

[2016-11-23 14:12] rwsender commented on #3772
I can work on this, I am working at the Ulster meetup.

[2016-11-23 14:25] thereg0 commented on #3559
Id like to work on your suggestion

[2016-11-23 14:53] gautamkrishnar commented on #3772
@rwsender You can take this up this since @jophab  is busy with his exams.
Please notify me once you had finished it, so that we can get it merged soon.

[2016-11-23 15:20] thereg0 commented on #3472
I would like to correct this error

[2016-11-23 15:24] rwsender commented on #3772
@gautamkrishnar issue should now be fixed!

[2016-11-23 15:38] #3772 closed

[2016-11-23 15:49] rwsender commented on #3321
@zekiel I have fixed the issue with the subtitle, it seems the title issue is no longer occurring but?
![image](https://cloud.githubusercontent.com/assets/9061301/20568411/630ec798-b194-11e6-999d-82127f4c69ea.png)

[2016-11-23 16:17] AnthonyNeace commented on #3472
@thereg0 No concerns here, feel free to go ahead.

Here is the offending line: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/ba2760f03485f32f10de1e85c19b11415cb8528b/share/goodie/cheat_sheets/json/powershell.json#L205

[2016-11-23 17:49] akanshgulati commented on #3766
@gautamkrishnar it's coming because recently changes are made to the IA and it's working fine but developer forgot to update the test file.

[2016-11-24 18:00] akanshgulati commented on #3766
@moollaza @tagawa I think it is a gating error.

[2016-11-24 18:19] akanshgulati opened #3781 "Emmet CheatSheet : Add Examples and Improve cheatsheet"
SUGGESTION

{Emmet CheatSheet} Suggestion: The cheatsheet is not that effective for a new user. It covers less cases and should have different layout to incorporate examples for users. It will give better idea about shortcuts.

### Description

The present cheatsheet is less effective for users and it should be improved so that even a newbie can pick things from the cheatsheet. Adding examples wil

[2016-11-26 08:49] rdebath opened #3784 "Ascii to Binary: WRONG (and dubious) answers"
https://duckduckgo.com/?q=0.2+in+binary

I would not expect `0.2` to be converted as an ascii string, it's a valid number and so "should be" converted as such ie:
[code]

Also in this answer, the "string to binary" does NOT say what character set it's using, this is obviously not relevant in provinces such as "america" that only use "ASCII" but something like
[code]
gives a completely wrong answer

[2016-11-26 19:11] mintsoft commented on #3784
@rdebath To clarify; what exactly would you expect 0.2 to be converted to? I was expecting the IEEE 754 representation personally. I don't understand what `0.0011001100110011001100110011001100110011001100110011001100110011001` is; could you clarify?

Thanks,

[2016-11-26 19:25] mintsoft commented on #3766
I'll fix this

[2016-11-26 19:43] rdebath commented on #3784
If you're working in binary and have the binary number `10` (two in English) and divide it by `1010` (ten in English) you get a repeating binary number `0.001100110011 ... etc` (two tenths in English)

So that's a binary point giving the shorthand for the decimal sum.
[code]
Which gets closer to `0.2` decimal as you add terms.

Obviously, that only works well for numbers that don't need too many z

[2016-11-26 20:54] mintsoft commented on #3784
@rdebath Ah! I understand now, thanks for clarifying. @Mylainos are you interested in looking at this perhaps?

[2016-11-27 11:20] rwsender commented on #3761
I can fix this.

[2016-11-27 14:09] mintsoft commented on #3761
Closed in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3786

[2016-11-27 14:09] #3761 closed

[2016-11-28 08:07] Sayan98 commented on #3766
#3752

[2016-11-29 09:04] tagawa commented on #3758
Possibly related to #3294, or at least could probably be fixed in the same PR.

[2016-11-30 10:04] iammrigank commented on #3392
Is anyone working on this @tagawa? Is this dependent yet on #2810 or can we proceed with this?
This would complete the Unixtime IA I think and will be of great help to the users.
:)

[2016-11-30 11:01] tagawa commented on #3392
Hi @iammrigank. I don't think anyone's working on this at the moment because we're currently focusing on the programming mission and only reviewing pull requests for our targeted languages - see this post for more details: https://forum.duckduckhack.com/t/duckduckhack-getting-started/53

I still think this would be a good IA to improve but it probably wouldn't be merged until after the programming

[2016-11-30 11:14] mintsoft opened #3788 "Color Picker: Triggers on any query starting with "Colour Picker"
E.g. https://duckduckgo.com/?q=color+picker+download

We should verify any remainders match the name of a color, or the pattern of a color (e.g. #e0e0e0)

If the remainder _is_ a colour, then we should definitely set the color picker to that colour. Right now we pick a random colour so you get funny results like this:

![color_picker_blue_at_duckduckgo](https://cloud.githubusercontent.com/assets/8

[2016-11-30 11:14] mintsoft commented on #3788
See: https://github.com/duckduckgo/zeroclickinfo-spice/issues/2838 for discussion

[2016-11-30 16:46] iammrigank commented on #3392
Thank you for the update.
And i hope to contribute to the programming mission myself.

Have a good day!

On Wed, Nov 30, 2016 at 4:31 PM, Daniel Davis <notifications@github.com>
wrote:

[2016-12-01 06:08] #3788 closed

[2016-12-01 06:15] #3766 closed

[2016-12-01 11:04] aleksandar-todorovic opened #3791 "PostgreSQL cheat sheet Bug: One column not showing up properly"
### Description

There are seven different categories listed in the cheat sheet, and the most important one (actual PostgreSQL commands) shows the commands, but not their explanation.

## Steps to recreate

1. Open the PostgreSQL cheat sheet.
2. Click on "more".
3. Notice the lack of explanation in the `PosgreSQL` category.

## People to notify

Seems like @gautamkrishnar is the only one who contr

[2016-12-02 03:30] tagawa commented on #3791
Thanks for spotting this @aleksandar-todorovic. Looks like it's because the attributes are named `value` instead of `val` in the code for that section: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/postgresql.json

[2016-12-02 04:57] GeraldNDA opened #3792 "Constants: More Constants"
I think it'd be beneficial if the following constants were added:

- Faraday's Constant
- More values of the Universal Gas Constants
- Potentially Gravity of the Earth (not sure if this falls under constants but it'd be useful if I wanted more digits)

------
IA Page:  http://duck.co/ia/view/constants
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @hemanth

[2016-12-02 12:36] #3791 closed

[2016-12-02 15:20] mr-karan opened #3794 "New Cheatsheet: ohmyzsh for zsh shell"
Create a new cheatsheet for [ohmyzsh](http://ohmyz.sh/).

Source: https://github.com/robbyrussell/oh-my-zsh/wiki/Cheatsheet

## Get Started
- [-] 1) Claim this issue by commenting below
- [-] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/CONTRIBUTING.md)
- [-] 3) [Set up your development environment](https://docs.duckduckhack.com/welcome/setup-d

[2016-12-02 15:21] mr-karan commented on #3794
I'd like to work on this :smile:

[2016-12-05 19:58] moollaza commented on #3763
@sahildua2305 yes -- we do this in the Forecast Instant Answer:

https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast.js#L364

[2016-12-05 19:58] #3763 closed

[2016-12-05 19:59] moollaza commented on #3763
I believe this is the only Instant Answer that currently does this

[2016-12-07 22:51] #3656 closed

[2016-12-08 06:52] tagawa opened #3803 "Calculator: Handle units in calculations"
For example the query [100 meters * 100 meters](https://duckduckgo.com/?q=10+meters+*+10+meters) should return 100 m2

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-12-09 13:56] mintsoft commented on #3803
@tagawa We really need to get https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1927 merged in and live before we start adding new features into Calculator IMO

[2016-12-10 11:51] Hasil-Sharma opened #3807 "Jupyter Notebook Cheat Sheet"
Jypyter and Python Notebook Cheat Sheet

------
IA Page:  http://duck.co/ia/view/jupyter_notebook_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Hasil-Sharma

[2016-12-11 07:12] ahetawal-p commented on #3598
So what exactly is the ask here, the Fathead should just return the parsed value from the pdf (or any other source) mentioned for each bond Or  it should calculate the final bond enthalpy for a given equation ?

[2016-12-11 12:44] GuiltyDolphin commented on #3803
@mintsoft Hehe, yeah.

@tagawa @mintsoft and I have discussed some integration between the calculator and conversions, my plan for the calculator was to provide a back-end that provided basic operations, which could then be used by conversions and the interactive front-end so we could have consistent calculations across IAs.

Not sure what the status on that is though.

[2016-12-12 02:40] stanly-johnson commented on #3710
Good idea. Maybe implement a new cheat sheet for programming languages.

[2016-12-12 15:25] jasonporta commented on #3760
I'm new at contributing on GitHub (I have my own projects, I use GitHub desktop, and I've completed the set up process for Codio and everything). I found potus.pm and this seems like an easy fix (is it even still an issue after 25 days?) Do I discuss it in Slack or add my edits and submit a pull request? Through Codio or GitHub Desktop?

Sorry. Like I said, I'm new at this and I'm trying to get in

[2016-12-12 15:49] AlterationBrick commented on #3598
@ahetawal-p It would be much easier and less error-prone to return the value for each bond, rather than trying to calculate the number and type of bonds in a chemical equation, if that's what you're asking. That would be adequate functionality.

I've also realized that some bonds are triple bonds, which would have to be represented some other way in queries, maybe "---" as in 3 dashes... if someon

[2016-12-12 16:37] ahetawal-p commented on #3598
Thanks @AlterationBrick yes makes much more sense now. For 3 dashes I think that's a good compromise for the lookups.
Also in terms of the source of these enthalpies do have any other source links or the above PDF is the only one ? This will be a pretty small fathead !

[2016-12-12 17:36] gautamkrishnar commented on #3598
@ahetawal-p Please mention me if you are ready to take this one so that i can assign this to you....

[2016-12-12 18:03] Hasil-Sharma opened #3811 "New Cheatsheet: hadoop file system commands"
Create a new cheatsheet for hadoop file system (hdfs)

Source : http://blog.matthewrathbone.com/img/hdfs-cheatsheet.pdf

IA Page:  http://duck.co/ia/view/hdfs_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Hasil-Sharma

[2016-12-12 18:29] #3811 closed

[2016-12-12 18:30] Hasil-Sharma commented on #3811
Cheatsheet already in place, sorry for creating unnecessary issues.

[2016-12-12 21:47] mintsoft commented on #3760
This is actually really strange; with the query `who is the president-elect of the us` the value of `$rem` on https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/POTUS.pm#L22 is `who is the` whereas I wouldn't expect it to trigger at all because the string `president of the us` isn't present in the query.

Feels like it might be broader than just this IA's interesting tr

[2016-12-12 23:40] ahetawal-p commented on #3598
@gautamkrishnar I would love to, However just need to get all the correct requirements before I commit to. I guess I have these 2 open questions :

1.  In terms of the source of these enthalpies do we have any other source links or the above PDF is the only one ?
2. For the query part, will the query correspond to a single bond enthalpy like ex: "bond enthalpy C=0" or multiple bonds in the same qu

[2016-12-13 00:10] gautamkrishnar commented on #3598
@tagawa please add @ahetawal-p to the organization and assign him to the PR

[2016-12-13 12:14] tagawa commented on #3598
Thanks @gautamkrishnar and @ahetawal-p - done.

[2016-12-13 13:08] #3807 closed

[2016-12-13 15:27] ahetawal-p commented on #3598
@AlterationBrick any ideas for my questions above ?

[2016-12-13 15:50] AlterationBrick commented on #3598
@ahetawal-p It would be good to have multiple bonds in the same query, and more sources can be found at http://www.kentchemistry.com/links/Kinetics/BondEnergy.htm and http://cxp.cengage.com/contentservice/assets/owms01h/references/chemtables/gen_chem/bond.html

[2016-12-13 16:42] ahetawal-p commented on #3598
So i am assuming if we have multiple bonds the IA will contain the total enthalpy (sum of all) of the all bonds mentioned? If yes, this seems to be more leaning towards a goodie than a Fathead.

[2016-12-13 20:39] AlterationBrick commented on #3598
Yes, well the two ways I could see it working would be

1. it just returns each queried bond and its enthalpy in a table or similar construct, or
2. it sums up the enthalpies, taking the number to the left of each bond type to mean the number of that bond to compute (for example, `50 c=o + 24 o---o` for 50 c=o bonds and 24 o---o bonds)

[2016-12-15 17:16] Hasil-Sharma opened #3812 "Linux Cheat Sheet: Suggestion"
I think query "unix cheat sheet" should also trigger this same cheat sheet.

Thoughts ?

------
IA Page:  http://duck.co/ia/view/linux_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @crashrane

[2016-12-15 17:40] Hasil-Sharma opened #3813 "Apache Hadoop Yarn Cheatsheet:"
Apache Hadoop Yarn Cheatsheet
------
IA Page:  http://duck.co/ia/view/apache_hadoop_yarn_cheatsheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Hasil-Sharma

[2016-12-15 20:09] #3389 closed

[2016-12-16 13:35] tagawa opened #3815 "CSS: Create Neww CSS Button Generator Instant Answer"
## Description
We have a nice CSS animations Instant Answer here: https://beta.duckduckgo.com/?q=CSS+Animations&ia=answer
It would be great to have a similar one showing demos of CSS buttons.

The CSS animations backend and frontend files are listed here, for reference: https://duck.co/ia/view/css_animations

The demos themselves can be created on Codepen with a preview for each one shown in the I

[2016-12-16 13:36] tagawa opened #3816 "CSS: Create New CSS Gradients Generator Instant Answer"
## Description
We have a nice CSS animations Instant Answer here: https://beta.duckduckgo.com/?q=CSS+Animations&ia=answer
It would be great to have a similar one showing demos of CSS gradients.

The CSS animations backend and frontend files are listed here, for reference: https://duck.co/ia/view/css_animations

The demos themselves can be created on Codepen with a preview for each one shown in the

[2016-12-16 15:48] ManrajGrover commented on #3815
@tagawa I can take this one up. 😄 Please share as to what exactly needs to be shown in demos.

[2016-12-16 15:50] ManrajGrover commented on #3816
@tagawa I can take this one up too since I'm currently aware of the code. Let's discuss as to what can be shown in the IA. 😄

[2016-12-16 16:03] Hasil-Sharma opened #3818 "Suggestion: New Apache Maven Cheat Sheet"
Cheat Sheet for maven, JVM Build Tool

------
IA Page:  http://duck.co/ia/view/apache_maven_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Hasil-Sharma

[2016-12-16 16:12] tagawa commented on #3815
Cool, thank you @ManrajGrover. We should re-use the format of the CSS animations IA so each box should show a button, and the box links to the source code on Codepen. Because all Codepen public projects are open source ([MIT license](https://blog.codepen.io/legal/licensing/)) we can use them and link to them freely. It's also possible to copy the code into a new Codepen entry if we need to make an

[2016-12-16 17:05] ManrajGrover commented on #3815
@tagawa Works. These buttons look great! Should we shortlist which ones we should show?

[2016-12-16 17:14] tagawa commented on #3815
Yes, just a few - say, less than ten - would be fine. And you don't have to use the ones in those articles, you can create your own if you like.

[2016-12-17 06:20] math2001 opened #3819 "Base64: Encode image"
Hello!

When I tried the base64 URL encoder, I tried `base64 <URL_of_image>`. But, instead of getting the code of the image, I got the URL encoded.

So, here's what I think'd be a good idea:

[code]

And a button `convert my image` to upload an image and convert it'd be cool, too.

What do you guys think about it? If you think it's a good idea, I'd love to develop it, I already done this JS conver

[2016-12-19 19:11] amarlearning opened #3821 "Travis CI failing error"
The command "dzil authordeps | grep -ve '^\W' | xargs -n 5 -P 10 cpanm --quiet --notest --mirror http://www.cpan.org/ --mirror http://duckpan.org" failed and exited with 123 during .

PR #3820

#### People to Notify
@tagawa

<!-- LANGUAGE LEADERS ONLY: REMOVE THIS LINE
## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckg

[2016-12-20 03:37] moollaza commented on #3815
@tagawa @ManrajGrover I don't think we want demos of buttons, but rather a CSS Button generator, like:

- http://css3buttongenerator.com/
- http://www.cssbuttongenerator.com/
- https://css-tricks.com/examples/ButtonMaker/

A tool like this would be much more useful than simply showing demos

[2016-12-20 03:41] moollaza commented on #3816
@tagawa @ManrajGrover the same goes for this issue, we should have a Gradient _generator_, not examples of gradients.

E.g.
- http://www.colorzilla.com/gradient-editor/
- http://www.cssmatic.com/gradient-generator
- http://gradientgenerator.com/

A tool like this would be far more useful than a list of examples -- it would also be much more fun/challenging to implement 👍

[2016-12-21 10:08] vduddu opened #3827 "Suggestion: New Cheat Sheet Wireshark/Tshark"
### Description

It would be very helpful if someone compiles the cheatsheet for various filters in wireshark and commands for using tshark

## Steps to recreate

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2016-12-21 10:38] sahildua2305 opened #3828 "Vim CheatSheet: Should trigger for 'vim beginner cheat sheet' too"
### Description

It should trigger on `vim beginner cheat sheet` too. I found myself (unintentionally) searching for it and couldn't see any cheatsheet.

## Steps to recreate

## People to notify

@NaveenKarippai

---

Instant Answer Page: https://duck.co/ia/view/vim_cheat_sheet

[2016-12-21 10:51] Hasil-Sharma commented on #3812
@crashrane : What do you think ?

[2016-12-21 23:01] sahildua2305 opened #3831 "JSONValidator: Expand triggering"
### Description

Doesn't trigger for these queries -
- `json lint format`
- `json format online`
- `json format check`
- `json lint formatter`

There must be more such keywords where we can expand triggering for this IA.

PS: Search results for all of these queries clearly has 1st/2nd link to some json formatter/validator website.

## Steps to recreate

## People to notify

@MariagraziaAlastra @mo

[2016-12-23 11:08] Hasil-Sharma opened #3832 "New Apache Hive Cheat Sheet"
Cheat Sheet for Apache Hive

------
IA Page:  http://duck.co/ia/view/apache_hive_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Hasil-Sharma

[2016-12-23 14:11] marti1125 commented on #3832
Hi @Hasil-Sharma you could create a PR for this new AI following this doc https://docs.duckduckhack.com/walkthroughs/programming-syntax.html
like this example https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3715

[2016-12-24 20:28] #3818 closed

[2016-12-25 05:54] crashrane commented on #3812
Most of the commands are similar to that of Linux
So it would be great if it triggered the same cheat sheet.

[2016-12-25 17:01] #3812 closed

[2016-12-26 15:55] Hasil-Sharma commented on #3821
I'm facing similar issue today again
PR #3835

Can it be something I'm doing?

[2016-12-27 18:45] laorynas opened #3839 "Conversions:"
**Digital storage inacurate conversions**

[![Screenshot (7).png](https://s28.postimg.org/kzhaly68t/Screenshot_7.png)](https://postimg.org/image/ngt1t7q55/)
1 GB = 1000 MB = (1000 x 1000) KB = (1000 x 1000 x 1000) = 1000000000 Bytes

But in reality
1 GB = 1024 MB = (1024 x 1024) KB = (1024 x 1024 x 1024) = 1073741824 Bytes.

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://d

[2016-12-28 21:25] ezgraphs opened #3841 "Music Chords Diagrams:"
The following two searches return the same results:

**c minor ukulele chord**

**c major ukulele chord**

------
IA Page:  http://duck.co/ia/view/chord_diagrams
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @charles-I

[2016-12-28 23:55] mintsoft commented on #3839
@laorynas Thanks for raising this, due to ambiguity we've decided for now to define mega, kilo, giga etc to be SI definitions (10^3); for binary prefixes we've opted for the SI Mebi/Kibi/Gibi/ (visible here: https://duckduckgo.com/?q=1GiB+to+MiB&t=ffab&ia=answer)

[2016-12-28 23:56] #3839 closed

[2016-12-29 22:03] laorynas opened #3843 "Stopwatch: Add chronometer as a result"
Add chronometer as a result

------
IA Page:  http://duck.co/ia/view/stopwatch
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2016-12-29 22:21] laorynas commented on #3839
Ok thanks

[2016-12-30 14:56] abijith-ka00 commented on #3294
color: "your color";
or
 backgroundbg color: " your color";

[2016-12-30 15:57] gautamkrishnar commented on #3828
@duckduckgo/community-leaders I think we must update triggers.yml to make this trigger available to all cheat sheets.
What's your opinion ?

[2016-12-31 21:47] #3831 closed

[2017-01-01 06:27] wildnwicked opened #3847 "URL Decode:"
https://www.facebook.com/alfonso.bundy.7965?lst=100003940977870%3A100014184700418%3A1483029453

------
IA Page:  http://duck.co/ia/view/urldecode
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2017-01-01 19:59] mintsoft commented on #3847
@wildnwicked Hi, sorry I'm not sure what the problem is here?

[2017-01-01 19:59] #3828 closed

[2017-01-01 20:51] gautamkrishnar commented on #1163
What's the status of this issue?

[2017-01-01 21:42] mintsoft commented on #1163
Still in-progress; this list https://github.com/duckduckgo/zeroclickinfo-goodies/issues/1163#issuecomment-224946724 are goodies that are still using the old output format and need to be converted to use `structured_answer` and a template

[2017-01-04 23:34] almereyda opened #3850 "Public DNS: Add CCC + Wikileaks IPs"
CCC and Wikileaks also maintain lists of IPs, of which some may be good to add.

* https://www.ccc.de/de/censorship/dns-howto
* https://wikileaks.org/wiki/Alternative_DNS

------
IA Page:  http://duck.co/ia/view/public_dns
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mailkov

[2017-01-06 16:43] amarlearning commented on #3413
@sahildua2305 Have you pushed the code for CSS?

[2017-01-06 17:11] amarlearning opened #3851 "JavaScript and JSON Minifier: Better function to minify script"
JavaScirpt File : [this](https://raw.githubusercontent.com/amarlearning/Supreme-Angular/master/Week%20One/Assignment/app.js)
Character Count : 1354

Now I minified the above JavaScript File using these two tools:
1. [JavaScript Minifier DuckDuckGo](https://duckduckgo.com/?q=javascript+minifier&atb=v46-3__&ia=answer)
Character count of minified script is: 1141

2. [Other JavaScript Minifier](https:

[2017-01-06 17:36] amarlearning opened #3852 "JavaScript and JSON Minifier: Add Copy button to copy minified script"
There Should be copy button on the top of the minified script so that user can easily copy the script.

------
IA Page:  http://duck.co/ia/view/js_minify
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sahildua2305

[2017-01-07 13:44] zachthompson opened #3853 "Calculator: trigger performance issues"
The trigger has some serious performance issues that we'd like to resolve asap.  In general it's checking for too many *optional* things, e.g. [here](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Calculator.pm#L18), [here](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Calculator.pm#L20), and again [here](https://github.com/duckduckg

[2017-01-07 20:14] mintsoft commented on #3853
@zachthompson I presume this refers to the currently live calculator as all the triggers have changed etc in the new one (that @GuiltyDolphin wrote) : https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1927