[2017-01-08 14:33] zachthompson commented on #3853
@mintsoft Yeah. We should probably spend some cycles in the near future moving the new calc through.  In the meantime we need to dumb down the triggering in the current version.

[2017-01-09 03:34] #3832 closed

[2017-01-09 14:37] sahildua2305 commented on #3851
@amarlearning thanks a lot for suggesting an apparently better solution. However, one important aspect to consider will be the size of the library. Oh wait, do they even provide a library which you can easily load and do the minify stuff?

If it's just an API, then we can't really have an interactive IA like the one we have right now. Let me know what you find out after digging in deeper. I'd be h

[2017-01-10 05:33] juensiuer opened #3854 "http://megacleanseradvice.com/illuminate-garcinia/"
How For You To Your Fat Loss With Losing Fat 4 Idiots
**Illuminate Garcinia** New year, new you - roughly goes all the the resolutions people endorse as 4 seasons starts. Along with of this principle, of course, could be the ever popular plan to be on diet to lose. Nothing against that, really! In fact, is definitely a good resolution. After all, dropping pounds means lesser chances finding all th

[2017-01-10 05:35] #3854 closed

[2017-01-10 18:18] meunsyachi opened #3855 "http://cluesforhealth.com/satin-youth-cream-reviews/"
**satin youth cream**    The fixings utilized as a part of Satin youth cream are extremely common and innocuous. These fixings really have the quality to achieve the most internal layer of your skin. Subsequently these fixings go through the pores and by cleaning all these skin pores; these are then retained into the inward layers. The greater part of your skin cells get the food. Its principle fi

[2017-01-10 19:30] sahildua2305 commented on #3413
@amarlearning No. Got busy with other stuff. I'll do so next week. Otherwise, if you are interested in tackling this before that, let me know 👍

[2017-01-11 04:57] #3855 closed

[2017-01-11 05:52] agusinftyu opened #3856 "http://yoursbetterhealthsolutions.com/slim-organix-garcinia/"
**Slim Organix garcinia** If can not commit several regular exercise program, attempt to adding more movement in to your daily personal life. For example, if you sit at desk all the time make certain to get up and walk around other two sections of five minutes of every hour while sitting. All you could can do today place a more significant demand for energy in your own body enable you to.
**FOR MO

[2017-01-11 06:12] #3856 closed

[2017-01-13 02:21] amarlearning commented on #3413
I am not sure about this week!
But if you are busy in next week also, then let me know I will try to do this!

[2017-01-13 10:37] TKorr opened #3857 "Tmux Cheat Sheet: add pane resize"
some useful shortcuts I needed but couldn't see on the cheat sheet:

Ctrl + b + up arrow
Ctrl + b + down arrow
Resize current pane height

Ctrl + b + left arrow
Ctrl + b + right arrow
Resize current pane width

------
IA Page:  http://duck.co/ia/view/tmux_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @charles-l

[2017-01-13 13:25] imgulyas opened #3858 "Chrome Cheat Sheet: Opening task manager is listed twice"
Under "Chrome features" , the shortcut shift+Esc to open the Chrome task manager is listed twice.
------
IA Page:  http://duck.co/ia/view/chrome_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @moinism

[2017-01-15 13:24] lemontheme opened #3861 "Calculator: logarithms not detected independently"
Needed to find a quick logarithm and noticed that, whereas it's possible to get a result for, e.g, `2 * log10`, searching for the log on its own (e.g., as `log10` or `log of 10` or `log10 of 10`, etc.) yields no results. Incidentally, natural logarithms (e.g., `ln5`) don't appear to work at all.

No biggie. Just a small addition that might bring the calculator slightly closer to being on par with

[2017-01-15 13:35] GuiltyDolphin commented on #3861
@lemontheme I believe this is fixed in #1880.

[2017-01-15 15:02] lemontheme commented on #3861
Thank you for referring me to that pull request. Using the `F(X)` form described there, e.g., such that `log(20)`, seems to do the trick!

[2017-01-15 19:48] adityatandon007 commented on #3827
Hi vuddu, I would like to work on this cheatsheet.

[2017-01-16 15:58] #3858 closed

[2017-01-17 01:09] crozzy opened #3863 "UnixTime: Local Timezone wrong in north Idaho"
We are on UTC-8, but the epoch tool will interpret as UTC-7, getTimezoneOffset() does return the correct offset, how do you determine the user's timezone?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getTimezoneOffset

------
IA Page:  http://duck.co/ia/view/unix_time
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @codejoust

[2017-01-17 06:30] xrajishx opened #3864 "URLEncode: Long encoded URLs gets stripped off in while displaying"
Attempt to encode a long URL such as the one below:

http://steamcommunity.com/market/search/render/?query=&start=10&count=10&search_descriptions=0&sort_column=popular&sort_dir=desc&appid=753&category_753_Game[]=tag_app_753

Part of the encoded URL gets hidden in the UI. See [here](https://i.imgur.com/KEowY2Q.gifv).

------
IA Page:  http://duck.co/ia/view/urlencode
[Maintainer](http://docs.duckdu

[2017-01-17 21:10] #3857 closed

[2017-01-18 19:10] moollaza commented on #3853
Reopening as we still need to remove the `alarm`

[2017-01-18 19:11] moollaza commented on #3853
Actually I'll move that to a new issue.

[2017-01-18 19:11] #3853 closed

[2017-01-18 19:23] moollaza opened #3867 "Calculator: Remove `alarm`"
### Description
The calculator wraps its evaluation of the input in an `alarm` to keep it from running too long. We've since limited the execution time of Goodies internally the alarm in the IA is no longer needed.

**Note**: The PrimeFactors Goodie also has an alarm that should be removed.

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https

[2017-01-20 09:51] 12people commented on #3267
@GuiltyDolphin Any idea when this will be in the production version of DuckDuckGo? It's not working for me.

[2017-01-21 12:49] bsstoner opened #3870 "Solar System: show in different unit of measure?"
User Feedback:
_Should be in SI units and not in "lbs". Come on get serious it's 2017 now. When I'm looking for the mass of the Earth the last thing I want to know is the number in disgusting imperial units._

------
IA Page:  http://duck.co/ia/view/solar_system
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2017-01-21 13:35] bsstoner opened #3871 "Calculator: Not triggering for some queries"
User Feedback:
**3^6067**
[https://duckduckgo.com/?q=3%5E6067&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=3%5E6067&kp=1&kad=wt_WT&kl=wt-wt)
_Mathematical formulae could be solved by an online solver like wolfram alpha, and the results could be displayed._

**-13/9**
[https://duckduckgo.com/?q=-13%2F9&kp=1&kad=wt_WT&kl=uk-en](https://duckduckgo.com/?q=-13%2F9&kp=1&kad=wt_WT&kl=uk-en)
_Should

[2017-01-21 14:18] GuiltyDolphin commented on #3861
@lemontheme When the calculator gets updated I'll update the example queries - I'm not sure how accurate the existing examples are as the precedence can vary somewhat with the old version.

[2017-01-21 14:19] GuiltyDolphin commented on #3267
@12people No, sorry - the calculator rewrite is low priority at the moment as we are focussed on the programming mission. I'll let you know if there are any updates.

[2017-01-21 14:21] GuiltyDolphin commented on #3871
@bsstoner I believe these are all fixed in #1927. There are several other issues relating to triggering which are also fixed.

[2017-01-21 14:31] bsstoner commented on #3871
Nice, had a feeling that might be the case, but figured more examples might help.

[2017-01-21 14:32] bsstoner commented on #3871
Feel free to merge or close into #1927

[2017-01-21 14:36] bsstoner commented on #1828
There has been A LOT of user complaints about this. What do we need to do to get it fixed?

These are all complaints from the past 2 weeks:

**9361289673090238917898**
[https://duckduckgo.com/?q=9361289673090238917898&kp=1&kad=wt_WT&kl=wt-wt&t=ffab](https://duckduckgo.com/?q=9361289673090238917898&kp=1&kad=wt_WT&kl=wt-wt&t=ffab)
_"Why does DDG return a link to FedEx when a USPS tracking number is

[2017-01-21 14:37] bsstoner commented on #1828
Can we fix the issue now without rebuilding the entire IA?

[2017-01-21 15:00] bsstoner opened #3872 "Conversions: Ability to convert µm to mil"
Example:

**0.1 µm in mil**
[https://duckduckgo.com/?q=0.1%20%C2%B5m%20in%20mil&kp=1&kad=en_US&kl=wt-wt](https://duckduckgo.com/?q=0.1%20%C2%B5m%20in%20mil&kp=1&kad=en_US&kl=wt-wt)

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2017-01-21 15:02] bsstoner opened #3873 "Conversions: Convert Pascals to Megapascals"
Example:

**101300 Pa to MPa**
[https://duckduckgo.com/?q=101300%20Pa%20to%20MPa&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=101300%20Pa%20to%20MPa&kp=1&kad=wt_WT&kl=wt-wt)

<img width="802" alt="screen shot 2017-01-21 at 10 01 44 am" src="https://cloud.githubusercontent.com/assets/126358/22175325/b060c37a-dfc0-11e6-8749-5b01f6269afb.png">

------
IA Page:  http://duck.co/ia/view/conversion

[2017-01-21 15:07] bsstoner opened #3874 "Conversions: Convert centigrade to farenheit"
Example:

**convert 50 centigrade to fahrenheit**
[https://duckduckgo.com/?q=convert+50+centigrade+to+fahrenheit](https://duckduckgo.com/?q=convert+50+centigrade+to+fahrenheit)
_"It would be really helpful if a simple calculation like this could show me the solution right at the top of the search results page, rather than me having to click through to a conversion site to do this conversion."_

<i

[2017-01-21 15:09] bsstoner opened #3875 "Conversions: Convert to inches"
Example:

**5'7" in inches**
[https://duckduckgo.com/?q=5%277%22+in+inches   ](https://duckduckgo.com/?q=5%277%22+in+inches   )
_"Google will display the conversion right at the top, but duckduckgo doesn’t."_

<img width="823" alt="screen shot 2017-01-21 at 10 09 21 am" src="https://cloud.githubusercontent.com/assets/126358/22175386/b29b3746-dfc1-11e6-9e16-ccf32f1eda84.png">

------
IA Page:  http

[2017-01-21 15:10] bsstoner opened #3876 "Conversions: Convert picometers"
Example:

**161 pm to m**
[https://duckduckgo.com/?q=161%20pm%20to%20m&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=161%20pm%20to%20m&kp=1&kad=wt_WT&kl=wt-wt)

<img width="814" alt="screen shot 2017-01-21 at 10 10 11 am" src="https://cloud.githubusercontent.com/assets/126358/22175402/df467a30-dfc1-11e6-9741-169361ba6e8f.png">

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](

[2017-01-21 15:12] bsstoner opened #3877 "Conversions: Trigger mph to kmh conversion"
These don't trigger unless you change it to "kmph":

**55 mph in kmh**
[https://duckduckgo.com/?q=55%20mph%20in%20kmh&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=55%20mph%20in%20kmh&kp=1&kad=wt_WT&kl=wt-wt)

**661 mph to km/h**
[https://duckduckgo.com/?q=661%20mph%20to%20km%2Fh&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=661%20mph%20to%20km%2Fh&kp=1&kad=wt_WT&kl=wt-wt)

------
IA Pag

[2017-01-22 06:04] vduddu commented on #3827
Sure

[2017-01-22 06:49] adityatandon007 commented on #3827
Thanks, but I have one suggestion can we make both Wireshark and Tshark separately. Since one is the GUI and other is CLI it will be better to present them with different templates instead of using one. I would love to know your response

[2017-01-22 12:02] vduddu commented on #3827
I think it's a good idea. For wireshark, include all the filters (as there are no commands as such) and for tshark include the commands.

[2017-01-22 17:56] mintsoft commented on #3874
That should absolutely already work

[2017-01-22 18:36] mintsoft commented on #3877
I'll sort out km/h; but kmh isn't the same thing, that'd be Kilometer-Hours.

[2017-01-22 18:38] mintsoft commented on #3877
Actually km/h already works?

[2017-01-22 18:59] mintsoft commented on #1828
@bsstoner We can probably get away with it, I think what's happening is that there's a path in the FedEx IA which doesn't do any checksumming etc, for queries with a number > 9 digits (https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/FedEx.pm#L37) which is presumably tripping up the USPS IA.

I have no idea why that's there, if you take it out then the tests fail. How

[2017-01-23 21:14] bsstoner opened #3880 "Minecraft: Wrong Recipe"
User Feedback:
**minecraft fence recipe**
[https://duckduckgo.com/?q=minecraft%20fence%20recipe&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=minecraft%20fence%20recipe&kp=1&kad=wt_WT&kl=wt-wt)
_"I search for minecraft fence recipe. The Instant Answer shows the minecraft fence GATE recipe, which is a different item. It should show the fence recipe, not the fence gate recipe."_

------
IA Page

[2017-01-24 01:37] bsstoner commented on #3877
Nice, km/h does seem to work now, strange.

Do you think it's fair to say that most people mean kmph though? Or could we use the presence of mph as a hint?

[2017-01-24 01:39] #3874 closed

[2017-01-24 02:13] bsstoner commented on #1828
I'm on board with trying that.

[2017-01-24 02:28] bsstoner commented on #3870
Another one:
_lbs is not a unit of mass. Slugs or Kilograms are._

[2017-01-24 02:30] MrChrisW commented on #3870
@bsstoner I'll take this. The USA is reason we show imperial units, it was discussed in the original MR 😃

[2017-01-24 02:34] bsstoner commented on #3870
We could tie it to the Unit of Measure setting?
https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast.js#L350

[2017-01-24 02:36] MrChrisW commented on #3870
@bsstoner sure, would we default to SI units (metric) if there's no preference?

[2017-01-24 02:37] bsstoner commented on #3870
yea, that's the problem with that setting, it defaults to USA which probably won't solve the problem for most people...

We could use their locale and just show lbs for US and metric for everyone else? https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Currency.pm#L119

[2017-01-24 02:38] MrChrisW commented on #3870
@bsstoner that's what we do currently 😕  https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/SolarSystem.pm#L51-L58

[2017-01-24 02:39] bsstoner commented on #3870
lol, doh!

[2017-01-24 02:39] MrChrisW commented on #3870
related issue https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2116

[2017-01-24 02:44] bsstoner commented on #3870
Oh interesting, I didn't realize you were already discussing this. Linking to the unit of measure setting makes sense.

FWIW Google, Wikipedia, Wolfram Alpha all use kg (even for me in the US). We could maybe just drop lbs and show kgs to everyone?

[2017-01-24 05:08] nalinbhardwaj commented on #3867
Hi,
Fixed via #3881. Please review.

[2017-01-24 09:32] nalinbhardwaj commented on #3880
Fixed via #3882 . Please review.

[2017-01-24 13:00] #3867 closed

[2017-01-24 18:35] #3880 closed

[2017-01-24 20:15] nalinbhardwaj commented on #3850
Fixed via #3883. Please review.

[2017-01-24 20:20] nalinbhardwaj commented on #3760
@bsstoner @mintsoft I can't seem to be able to trigger the IA. Was it shut down due to the aforementioned issues?

[2017-01-24 22:07] adityatandon007 commented on #3827
Hey, @vduddu I have submitted a Tshark cheat sheet and I have used the terminal template because it is Command line tool. Could you review

[2017-01-24 23:47] nalinbhardwaj commented on #3872
Fixed via #3885. Please review.

[2017-01-24 23:49] nalinbhardwaj commented on #3873
Fixed via #3885. Please review.

[2017-01-24 23:49] nalinbhardwaj commented on #3876
Fixed via #3885. Please review.

[2017-01-25 12:45] mintsoft commented on #3877
Given that kph works I'm inclined to say no. I've never seen anyone use "kmh" to mean km/h or kph and both km/h and kph work.

[2017-01-25 13:17] mintsoft commented on #1828
@jagtalon If I remember correctly you were involved in the very first version of the FedEx/USPS; do you have any recollection as to why the first regex is there?

[2017-01-25 18:09] adityatandon007 opened #3889 "CalcRoots: Triggers Improvement Required"
The query does not trigger when it is typed with **what is the**  phrase:
Example: **what is the square root of 2** does not trigger the query but google's calc does trigger for **what is the square root of 2**
DuckDuckgo screenshot
![screenshot from 2017-01-25 23 35 49](https://cloud.githubusercontent.com/assets/25108385/22302977/354ca8f8-e357-11e6-983e-a98193f884a9.png)

Google screenshot
![scre

[2017-01-25 18:11] adityatandon007 commented on #3889
If you want, I could give it a try

[2017-01-25 19:35] #3872 closed

[2017-01-25 20:02] #3873 closed

[2017-01-25 20:06] #3876 closed

[2017-01-25 21:41] bsstoner commented on #3880
The fix is live in production: https://duckduckgo.com/?q=minecraft%20fence%20recipe&kp=1&kad=wt_WT&kl=wt-wt

Thanks!

[2017-01-25 22:09] bsstoner commented on #3876
This was deployed and is working in production. Thanks!

[2017-01-25 22:10] bsstoner commented on #3874
Deployed and working in production 👍
https://duckduckgo.com/?q=convert+50+centigrade+to+fahrenheit

[2017-01-26 00:48] johnleeamyevie opened #3895 "Blood Type Cheat Sheet:"
### Description

## Steps to recreate

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2017-01-26 00:48] johnleeamyevie commented on #3895
(O
  "€ ê¼ çmÚöÊŸç] Ms ~ € ¥¥ AC QO £ úë¤ÍqÏâgCJh (¢ ¢ Šƒp s3 @ Q @ qs (Š ¢ (N @ bs (Š ¢ (¢ Š (9âYáxœe \ 5AE ÷ Öoay $ <{ŽÆ½0ÖV½¡ ¸ ¸ ¸ ¸ ¸
8ìj: ë <½,Š) € ®èúsjZ "QO ™ Ï ¨ ¬gÔ & Â ... ‰ is {wº> '" l | Ò7.þ|²œÔQÑF ">" Ø¼Š 0) h ¢ ¹ T
(Î ± 2 Î ± Î²)
Q³ <¸t ¥ M {C} * bè
[1ù [ÓØÖPé] © |®  "QqvbÒ`RÑL  ¢ Š (¢ ŠÀ ¥ ¢ -ÑÑÚ €
Eur-lex.europa.eu eur-lex.europa.eu
Pãæ> ƒÐVr- * 6 ¥ MÔ ~ Eë
8ì-c ... Ž¾§Ö¬ÑEqž²Ihƒ

[2017-01-26 00:49] #3895 closed

[2017-01-26 07:41] adityatandon007 commented on #3889
Merging of this IA with calculator is in planning phase.

[2017-01-26 07:41] #3889 closed

[2017-01-26 13:52] #3843 closed

[2017-01-26 14:42] #1118 closed

[2017-01-26 14:42] #3433 closed

[2017-01-26 14:42] #3875 closed

[2017-01-30 11:47] bsstoner opened #3899 "Calculator: Float precision"
https://duckduckgo.com/?q=(4.2-4.1)*6000

<img width="395" alt="screen shot 2017-01-30 at 6 46 08 am" src="https://cloud.githubusercontent.com/assets/126358/22421943/cf4c5f9e-e6b7-11e6-8b9e-bbd57875bdcf.png">

/cc @zachthompson @moollaza

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2017-01-30 13:41] bsstoner opened #3900 "Parcelforce: Incorrectly triggering on lapost numbers"
**cc737873589FR**
[https://duckduckgo.com/?q=cc737873589FR&kp=1](https://duckduckgo.com/?q=cc737873589FR&kp=1)
_"number is actually a laposte number, parcel can only be followed by [http://www.laposte.fr/particulier/outils/suivre-vos-envois](http://www.laposte.fr/particulier/outils/suivre-vos-envois)"_

------
IA Page:  http://duck.co/ia/view/parcelforce
[Maintainer](http://docs.duckduckhack.com/m

[2017-01-30 15:26] bsstoner commented on #3870
We've gotten some more feedback on this:
_"Most people searching for Mars' radius will be doing so for scientific purposes and thus SI units should be used."_

I would say just switch to kgs everywhere? We can see if there's any backlash and re-adjust if so?

[2017-01-30 15:40] GuiltyDolphin commented on #3899
@bsstoner In #1927 the precision is determined a bit more robustly, so that expresion yields the correct result (`600`).

[2017-01-30 15:58] bsstoner opened #3901 "MD5: Ignore searches with filenames"
Passing along user feedback:

**tails-i386-2.10.iso md5**
[https://duckduckgo.com/?q=tails-i386-2.10.iso%20md5&kp=1](https://duckduckgo.com/?q=tails-i386-2.10.iso%20md5&kp=1)
_DDG reports the MD5 hex hash of tails-i386-2.10.iso to be:
54774f463860d40362d3ff9c5220ecc5.
It should be:
ba7fa6db178fb8c8feecd2a200cf5641_

------
IA Page:  http://duck.co/ia/view/md5
[Maintainer](http://docs.duckduckhack.

[2017-01-30 15:59] bsstoner opened #3902 "FedEx: Incorrectly triggering on ISBN numbers"
**9781492143239**
[https://duckduckgo.com/?q=9781492143239&kp=1](https://duckduckgo.com/?q=9781492143239&kp=1)
_"Its an ISBN, not a valid tracking number"_

------
IA Page:  http://duck.co/ia/view/fed_ex
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2017-01-30 19:22] camilosampedro opened #3904 "FIGlet: What are the currently supported fonts?"
Is there any way to know what are the available [read fonts](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/FIGlet.pm#L18)?

Thank you!

------
IA Page:  http://duck.co/ia/view/figlet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @engvik

[2017-01-30 19:30] engvik commented on #3904
Hi!

The fonts available can be found at https://github.com/duckduckgo/zeroclickinfo-goodies/tree/master/share/goodie/figlet

[2017-01-30 19:35] camilosampedro commented on #3904
Thank you very much! 😃

It's an awesome Instant Answer, I think there could be a little reference in the [IA page](https://duck.co/ia/view/figlet)

[2017-01-30 20:40] moollaza commented on #3902
The ideal fix here is to migrate the regex triggers from the remaining Package Tracking Goodies into the new Package Spice: https://duck.co/ia/view/package_tracker

https://duck.co/ia/view/package_tracking

This applies to #3900

[2017-01-30 22:05] moollaza commented on #3901
@bsstoner I think the user thinks we're showing them the MD5 for the actual software package (i.e. `gpg --keyid-format 0xlong --verify tails-i386-2.10.iso.sig tails-i386-2.10.iso`), whereas we're actually showing them the MD5 for the literal string "tails-i386-2.10.iso"

Perhaps we should ignore queries matching file names?

[2017-01-31 00:51] mintsoft commented on #3870
Absolutely! Only damn American's use silly units like lbs!

[2017-01-31 00:53] mintsoft commented on #3900
Hmm if the parcel comes into the UK then parcelforce will be able to track it, I think that's why it'll accept any 2 letters on the end. However 99% of parcels will be `GB$` so I'll make the IA only return for those, I think the false positives are worse than the alternative

[2017-01-31 07:07] goleejjkz opened #3905 "http://menintalk.com/platinum-xt-1000/"
The large Three - should you be at all into Muscle Building you know what the big three are. Or else a simple refresher the top three are squats, deadlifts and the flat bench press. The offer is incredibly different in its approach to these exercises. Most other programs advocate these as the essential workouts which everybody needs to do. While Rusty's program thinks why these aren't as essential

[2017-01-31 07:08] #3905 closed

[2017-01-31 07:37] tagawa opened #3906 "Suggestion: IA showing official diversity page(s)"
Many companies and organisations have a [diversity page](https://duckduckgo.com/?q=diversity+page). This IA would show the official link and perhaps an extract of the content/description, similar to the [duckduckgo blog](https://duckduckgo.com/?q=duckduckgo+blog) result in the screenshot below.

<img width="400" alt="ddg-blog-ia" src="https://cloud.githubusercontent.com/assets/94173/22456045/6f48e

[2017-02-01 10:43] LoveIsGrief commented on #3877
I could not find any reference to "kmh" as a unit of speed. Not on [wikipedia](https://en.wikipedia.org/wiki/Kilometres_per_hour#Kilometres_per_hour_as_an_abbreviation) nor anywhere else listing SI units of speed.

[2017-02-01 11:21] bsstoner commented on #3877
It's not a matter of whether it is an "official" measure of speed, people are typing it into a search engine and expecting an answer. Google gives them the answer, we don't. The example above is from a real user.

[2017-02-02 09:13] rouhzkilz opened #3909 "http://gomusclebuilding.com/nitromenix/"
Your workout routine should be scheduled. On the other hand, you should also set a specific day for every muscle group you would want to improve. If you do that, your Muscle Building Review can recuperate and grow faster.

CLICK HERE>>>>>http://gomusclebuilding.com/nitromenix/

[2017-02-02 13:33] #3909 closed

[2017-02-02 21:51] mintsoft commented on #3877
Hmm, personally I'd say that Google is wrong here. Google tends to substitute its own judgement in place of the users; possibly the biggest reason I switched to DDG is that it didn't. That is, however, a matter of opinion.

It is probably worth noting that google has actually autocorrected "kmh" to "kph", it doesn't 'think' that kmh is a unit of velocity. We don't currently have a way of applying

[2017-02-03 02:26] tagawa opened #3914 "Suggestion: Math fundamentals cheatsheet"
### Description

As suggested by @Owlree in https://github.com/duckduckgo/duckduckgo/issues/176#issuecomment-277138928 :

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2017-02-03 09:08] zaxjzujd opened #3915 "http://reviverxtry.com/tacticlight-360-de/"
The g700 led Flash Light has a superb deal to offer when looking and brightness and transportability. These flashlights certainly deliver power that you can hardly likely imagine. Essentially the most effective deals through these flashlights are certainly on the internet, in the event that you trying to find the best deal then you need to to start making your orders online right away.

CLICK HERE

[2017-02-03 10:24] adityatandon007 commented on #3914
I would like to work on this cheat sheet.

[2017-02-03 10:26] adityatandon007 commented on #3914
@tagawa what about Mathquill, I didn't get it

[2017-02-03 10:43] #3915 closed

[2017-02-03 10:48] tagawa commented on #3914
Hi @adityatandon007 and thank you for offering to take on this. I've not seen [Mathquill](http://mathquill.com/) before but it looks like it might not be appropriate for just a cheat sheat. I suggest you just use a resource that looks reliable, so feel free to choose whatever you prefer.

[2017-02-03 12:11] Owlree commented on #3914
Embedding MathJax is out of the question—too big. MathQuill, on a second thought, is made for inputting math. We do not need input, as we only want a cheat sheet.

Does anybody have anything against pre rendered SVGs? We get the best of both worlds. Crisp looking equations and small files. Plus we don't have to load any external library. To render the equation to SVG server side, we could use Math

[2017-02-03 23:25] mintsoft commented on #1132
Quick update: Google only provides 4 SF these days; so I'll probably switch conversions to return 5 🤣

[2017-02-04 00:25] mintsoft commented on #2951
Solved in #3910

[2017-02-04 00:25] #2951 closed

[2017-02-04 08:38] adityatandon007 commented on #3914
@Owlree How should I start with this IA since I only know simple javascript and after going through MathJax documentation, I thought that I can use their cdn library link in my cheat sheet html but since you suggested that embedding MathJax would be too big, I don't know where should I start with.

I haven't used nodejs before and I have no knowledge about nodejs. As you suggested I read the readm

[2017-02-06 09:37] Owlree commented on #3914
@adityatandon007 Sure. _node.js_ is just JavaScript on the server. Nowadays it is used as a general purpose scripting language. I gave you and example of a node.js library that uses MathJax to transform TeX equations into SVG.

After you install node, run `npm install tex-equation-to-svg` to install the library, then look at [the readme](https://github.com/kgryte/tex-equation-to-svg/blob/master/RE

[2017-02-06 10:36] Owlree commented on #1046
I noticed that the IA can't event display the current 400 digits.

![Screenshot of pi IA](http://i.imgur.com/Vi6UeQc.jpg)

[2017-02-06 15:39] jarmokivekas commented on #3901
I agree this should not trigger the IA. Probably keeping trigger the same way, but check the end of the the string for certain extensions.

I'd suggest to check against a regex like `\w\.(iso|img|dmg|deb|rpm|snap|sqlite|hex|gzip|gz|zip|bzip|bzip2|tar|hdf|dsk)$` and return early if it matches. These are just file formats from the top of my head that someone may want check fingerprints for.

[2017-02-06 22:33] bsstoner opened #3918 "Conversions: Not triggering temperature conversion on "<num> degrees c to f""
User Feedback:
**65 degrees c to f**
https://duckduckgo.com/?q=65%20degrees%20c%20to%20f&kp=1
_Comment: It would be nice to have simple conversions and calculations done. Just like google or other search engine_

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2017-02-07 06:07] adityatandon007 commented on #3914
@Owlree I get it what you're saying. In either case, this cannot come under cheat sheet. The cheat sheet just have a static json file (key val pairs). So first of all we have to change the label of this issue to spice if we want to use external library of MathJax or change it to Goodie if we just want to use MathQuill.
Then we can decide which to choose on. One more thing, I want to say if we use

[2017-02-07 09:46] #3850 closed

[2017-02-07 11:09] ajakzkick opened #3920 "http://www.mylaviveeyeserum.com/pure-vitamen-vigor-excel/"
Meals being enhanced by eat blood - there are certain meals that could Male Enhancement Supplements improve your blood circulation. This really is vital that will help you acquire the maximum results possible. Meals like cherries, trout and bananas are just a number of which will help.

CLICK HERE>>>>http://www.mylaviveeyeserum.com/pure-vitamen-vigor-excel/

[2017-02-07 18:13] mintsoft commented on #3918
Amusingly https://duckduckgo.com?q=65+c+to+f&kp=1&ia=answer works; it's only with the degrees that it doesn't

[2017-02-07 21:35] mintsoft commented on #3918
I'll fix this after https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3917 is merged; I find it easier to only have 1 PR/IA in flight at a time

[2017-02-08 03:59] moollaza commented on #1828
If we just port the regex triggers to the package tracking spice, the API will take care of figuring out the courier, and providing the correct information.

We just need to give the API the tracking number, it will do the rest.

I added "package" to each of those urls above to trigger the Spice and it got the right answer for all of them..

![9361289683090130819020_package_at_duckduckgo_and_93612

[2017-02-08 04:04] itsN1X opened #3924 "President of the United States (POTUS):"
Add Donald J trump

----

- [x]  KnowledgeBases Update
------
IA Page:  http://duck.co/ia/view/potus
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @numbertheory

[2017-02-08 07:58] tagawa opened #3925 "Suggestion: Diceware word generator"
### Description
Example query: `diceware 21126`

Output: `cloak`

We already have a [passphrase generator](https://duck.co/ia/view/passphrase) which uses the Diceware list, but some users may want to choose each word individually, either using physical dice or our [dice IA](https://duck.co/ia/view/dice).

Reference: [About Diceware and howto](http://world.std.com/~reinhold/diceware.html)

---

Ins

[2017-02-08 08:16] adityatandon007 commented on #3925
@tagawa It looks like a good idea but how are you going to accept the input from the user in the search bar. I mean what we user type in the ddg search bar that will display the corresponding passphrase. There are things that we will need to keep in mind like (are commas allowed, are tabs allowed or any other special character or any unprintable character characters between the numbers allowed). D

[2017-02-08 08:57] tagawa commented on #3925
Thanks for the comment @adityatandon007. Actually I was thinking of just a number as input (as well as the trigger word `diceware`), and that would correspond to a word in the Diceware word list. The word would be displayed on the screen and the user then repeats that until they have as many words as they want for their passphrase.

We could also have a hint that if they want a passphrase instantl

[2017-02-08 10:46] girkzkikv opened #3926 "http://yoursantiagingserum.com/rejuvenem-review/"
Make use of a concealer using a light-reflecting quality. It creates the eye spot appear new and stimulated even with a late night. Avoid concealers and elegant colors, including green, yellow, or paint. These were created for photography and they are very hard to pull off inside the entire light of day. You most likely only find yourself looking such as you smeared green or yellow goo under your

[2017-02-08 10:50] #3920 closed

[2017-02-08 12:13] bsstoner commented on #1828
Nice, that looks way better too! Can we switch over to that IA? Any blockers that I can help with?

[2017-02-09 08:54] #3926 closed

[2017-02-09 08:55] gautamkrishnar commented on #3926
spam 🔪

[2017-02-09 08:56] gautamkrishnar commented on #3926
Edited everything to null

[2017-02-11 11:58] adityatandon007 opened #3928 "Sublime Text Cheat Sheet: Add alias sublime text2"
**Improvements**

Sublime Text Cheat Sheet : Add the alias sublime text2 so that this IA can trigger for "sublime text2 cheat sheet" Currently it triggers for "sublime text" and "sublime text 2"

Description:
Alias required for this IA

Notify:
@pjhampton @gautamkrishnar

------
IA Page:  http://duck.co/ia/view/sublime_text_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelin

[2017-02-11 12:01] adityatandon007 commented on #3928
@pjhampton thanks a lot

[2017-02-11 12:08] adityatandon007 opened #3929 "Cheat Sheet : Create a sublime text 3 cheat sheet"
New Instant answer : Create sublime text 3 cheat sheet

SUGGESTION
Sublime text 3 cheat sheet: This IA would provide the required shortcuts for sublime text 3

### Description
New sublime text 3 cheat sheet

## People to notify
@pjhampton

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2017-02-11 12:10] adityatandon007 commented on #3929
@pjhampton I would like to take this issue :smile:

[2017-02-11 12:11] pjhampton commented on #3929
Thanks @adityatandon007! We believe it's standard practice to submit unsolicited PRs for cheat sheets. No need to open an issue before hand 😄  Just create the IA page and work away.

[2017-02-11 12:12] adityatandon007 commented on #3929
@pjhampton I didn't know about this My apologizes

[2017-02-11 12:14] pjhampton commented on #3929
No need to apologize!

[2017-02-13 08:53] ikasmathe opened #3932 "http://purelifegreencoffeebeanadvice.com/ciello-skin-care/"
Alternatively, seek out avocado oil-based goggles which you abandon on your own face for some moments. Then all you could do is carefully rub off what does not absorb into the skin. Equally, a deep-washing mask should really be employed every fourteen days to remove hazardous contaminants from your own Skin Care Review. It will help you avoid finding these pimples. A cleansing mask created using K

[2017-02-13 13:45] adityatandon007 commented on #3914
@tagawa please unassign me and assign @Owlree . He would like to work on this. We had discussed this in slack.

[2017-02-13 13:48] bsstoner opened #3933 "Calculator: Not triggering on the word "mod""
**5 mod 13**
[https://duckduckgo.com/?q=5%20mod%2013](https://duckduckgo.com/?q=5%20mod%2013)

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2017-02-13 15:42] bsstoner opened #3935 "Calculator: Not triggering when using pi symbol"
**π * 180**
[https://duckduckgo.com/?q=%CF%80%20%2A%20180](https://duckduckgo.com/?q=%CF%80%20%2A%20180)
_When searching for a calculating term like "π * 180" you won't get a result of calculation. The π symbol is easy to type in macOS, by just pressing and holdin "alt + P", which I often use._

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintainin

[2017-02-13 15:52] nalinbhardwaj commented on #3935
Also needs to be put on hold till #1927 is merged. @GuiltyDolphin

[2017-02-13 15:59] #3928 closed

[2017-02-14 09:13] vikepkidi opened #3937 "http://garciniacambogiavibeadvice.com/slim-zero-garcinia-cambogia/"
Consume plenty of luke-warm water during the day. This can help in cleaning water retention and bloating also lowers indigested food deposit inside the bowel. Water flushes out toxins, hence Weight Loss Tips it's essential that you drink up to 2 liters in one day.

CLICK HERE>>>>http://garciniacambogiavibeadvice.com/slim-zero-garcinia-cambogia/

[2017-02-14 09:38] adityatandon007 commented on #3937
@duckduckgo/duckduckhack-contributors this issue seems to be a spam.

[2017-02-14 09:43] adityatandon007 commented on #3932
@gautamkrishnar this looks like a spam to be don't you think

[2017-02-14 09:48] hchienjo commented on #3937
@vikepidi Please do not post such here.

[2017-02-14 09:48] #3937 closed

[2017-02-14 14:16] #3932 closed

[2017-02-14 14:23] gautamkrishnar commented on #3932
@adityatandon007 please don't mention duckduckhack contributor s in these types of issues.  Instead please mention someone with write access.

[2017-02-14 18:34] moollaza commented on #3760
Yes it was taken offline

@mintsoft that's really odd...possibly a bug in DuckDuckGo Repo.

Either way, one big issues is that the regex inside the `handle` is not anchored. We need to ensure that the query **only** matches the phrases we expect and nothing else.

For example it currently triggers on "who is the worst president of the us" which it should not!

[2017-02-14 21:05] mintsoft commented on #3760
@moollaza is it worth fixing this or has it been replaced by the wikipedia fatheat thingymabob?

[2017-02-14 21:33] bsstoner commented on #3760
It will likely be made irrelevant in the near future.

[2017-02-15 00:28] mintsoft opened #3939 "DaysBetween: Noise in test/build output"
### Description
https://travis-ci.org/duckduckgo/zeroclickinfo-goodies/builds/201711007#L945

[code]

---

Instant Answer Page: https://duck.co/ia/view/days_between

[2017-02-15 08:46] inkalealz opened #3941 "http://garciniacambogiavibeadvice.com/vita-ultimate-garcinia-cambogia/"
If you put together youare diet utilising the right mixture of these foods you'll start slimming down while in the first day or two by burning fat in an all-natural and balanced fashion. You'll however not drop thirty pounds while in the first week just like a lot of ads claim, but slimming down that quickly is neither natural or healthy.

CLICK HERE>>>>>http://garciniacambogiavibeadvice.com/vita-

[2017-02-15 14:50] adityatandon007 commented on #3941
@pjhampton this seems to me a spam don't you think

[2017-02-15 16:10] #3941 closed

[2017-02-15 18:57] bsstoner opened #3942 "Calculator: Expected calculator to trigger with leading ='s"
**=2016 - 44**
[https://duckduckgo.com/?q=%3D2016%20-%2044](https://duckduckgo.com/?q=%3D2016%20-%2044)
_Comment: Expected an integer result as the answer_

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2017-02-15 20:12] bsstoner opened #3943 "Calculator: should log use base e or 10?"
**log(4000)**
[https://duckduckgo.com/?q=log%284000%29](https://duckduckgo.com/?q=log%284000%29)
_Comment: Hi, Your automatic log(x) answer takes log with base e. Shouldn't that be ln(x) instead of log(x)?_

![screen shot 2017-02-15 at 3 11 41 pm](https://cloud.githubusercontent.com/assets/126358/22993453/194e8ce4-f391-11e6-9151-c0af1539fbb2.png)
![screen shot 2017-02-15 at 3 11 50 pm](https://clo

[2017-02-15 21:05] mintsoft commented on #3943
Hmm that's debatable as to whether it should or not. It's effectively ambiguous; ISO 31-11 doesn't define how this should be handled and it's often inferred from context (think this is still true in 80000 but I don't have it to hand). That said `ln` is always base `e` and `lg` is base `10` in 31-11.

For comparison: WolframAlpha always uses `e` as the base of `log` as does `perl`, `php`, `python`,

[2017-02-15 21:31] GuiltyDolphin commented on #3943
Also in https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2351

[2017-02-16 01:25] laurengarcia opened #3944 "Grep Cheat Sheet: missing -r option"
maybe `-r` is implicit? but its not there, just thought I'd flag it.
------
IA Page:  http://duck.co/ia/view/grep_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @adityabhushan

[2017-02-16 09:09] firkzleoj opened #3945 "http://garciniacambogiavibeadvice.com/gold-slim-garcinia-cambogia/"
In summary, water is essential to everybody but particularly essential for people. Water metabolize food more effectively and makes it possible to eat less. Best of all,water is easily obtainable and cheap.

CLICK HERE>>>>http://garciniacambogiavibeadvice.com/gold-slim-garcinia-cambogia/

[2017-02-16 18:17] nalinbhardwaj commented on #3944
Fixed vai #3946. Please review :)

[2017-02-16 20:36] adityatandon007 opened #3947 "Python Language Cheat Sheet: Add aliases (Improvement)"
ADD ALIAS:  Strangely this cheat sheet does not trigger for **python2 cheat sheet** although the cheat sheet is for python2

![screenshot from 2017-02-17 02-05-10](https://cloud.githubusercontent.com/assets/25108385/23039969/95a809b2-f4b5-11e6-8adc-0ced3f6e041b.png)

------
IA Page:  http://duck.co/ia/view/python_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @

[2017-02-16 20:37] adityatandon007 commented on #3947
@sahildua2305 @pjhampton can I submit the PR too :wink:

[2017-02-17 07:16] #3929 closed

[2017-02-17 07:23] #3944 closed

[2017-02-17 09:27] star51911 opened #3949 "null"
null

[2017-02-17 09:55] zikzksk opened #3950 "http://www.tryapext.com/malex-pro-es/"
Don't be pessimistic about using oral Male Enhancement Supplements. They're fundamentally harmful though there are additional methods which you may utilize to improve your manhood. These methods blemish and could disfigure your organ. The sole negative part of ExtenZe is that the effects show after having a few months. Your manhood may increase gradually!

CLICK HERE>>>>http://www.tryapext.com/mal

[2017-02-17 16:01] #3947 closed

[2017-02-17 16:03] gautamkrishnar commented on #3949
Closing.... Looks like spam

[2017-02-17 16:03] #3949 closed

[2017-02-17 16:04] #3950 closed

[2017-02-17 16:04] gautamkrishnar commented on #3950
@moollaza Block this user

[2017-02-17 16:04] gautamkrishnar commented on #3949
@moollaza block

[2017-02-17 23:49] GPhantom opened #3952 "Rails Console Cheat Sheet"
------
IA Page:  http://duck.co/ia/view/rails_console_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GPhantom

[2017-02-18 09:25] quitisigz opened #3953 "http://elevategffacts.com/fungaway-clear-nail-solution/"
ime you want to make sure you are treating the right problem mindful about are several types of infections that might occur right now.

CLICK HERE>>>>http://elevategffacts.com/fungaway-clear-nail-solution/

[2017-02-18 09:52] TommyKat0 opened #3954 "http://elevategffacts.com/fungaway-clear-nail-solution/"
Fungaway Clear Nail Solution The feet is popularly known as the most smelly part of our program. Many people have smelly feet and this is a bad sign your name on. Smelly feet is a manifestation of fungus growing on our toenail. The toes is the most wonderful environment for bacteria to cultivate. A typical person wear shoes for close to half time or 12 hours at one time and rarely take them off at

[2017-02-20 00:43] bsstoner opened #3955 "Conversions: Add support for transfer rate conversions"
**convert 50 Mbps to Kbps**
[https://duckduckgo.com/?q=convert%2050%20Mbps%20to%20Kbps](https://duckduckgo.com/?q=convert%2050%20Mbps%20to%20Kbps)

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2017-02-20 12:41] mintsoft commented on #3955
@bsstoner I'll do this after https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3917 and https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3918

[2017-02-20 12:42] #3953 closed

[2017-02-20 12:42] #3954 closed

[2017-02-20 12:42] mintsoft commented on #3955
Related: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3544

[2017-02-21 09:24] asiqsigz opened #3957 "http://yoursantiagingserum.com/hydralie-cream-with-vella-visage-serum/"
Boost nutritional supplements intake. Minerals and specific vitamins happen to be display to reduce problems. Exclusively, Vitamin E, and vitamin A Zinc in therapeutic doses shows to be in treating acne, effective. About what doses are suitable for the particular acne problem, it's better to consult your personal doctor.

CLICK HERE>>>>http://yoursantiagingserum.com/hydralie-cream-with-vella-visag

[2017-02-21 10:17] #3957 closed

[2017-02-21 12:08] bsstoner opened #3958 "Chars: shouldn't trigger on "length of string in javascript""
**length of string javascript**
[https://duckduckgo.com/?q=length%20of%20string%20javascript](https://duckduckgo.com/?q=length%20of%20string%20javascript)
_Comment: The answer is incorrect._

------
IA Page:  http://duck.co/ia/view/chars
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mahi30795

[2017-02-21 21:02] d-nnis opened #3959 "W3m cheat sheet:"
Not an issue really, rather a THANK YOU!
Anyway, might I suggest to offer a _printable_ button for this splendid overview of shortcuts? Might be difficult with layouting and such things... Along the lines of the attached PDF.
[W3M-Shortcuts.pdf](https://github.com/duckduckgo/zeroclickinfo-goodies/files/791488/W3M-Shortcuts.pdf)

------
IA Page:  http://duck.co/ia/view/w3m_cheat_sheet
[Maintainer](

[2017-02-22 07:12] preemeijer commented on #3959
Hello @d-nnis, thank you for telling us this. Appreciate it.
There has been some talks around IA's and making them printable. Not only this cheat sheet.

This "issue" can be closed. And thanks again for your feedback.
Cheers, Paul

[2017-02-22 09:44] bbkivinesz opened #3961 "http://www.ifirmationantiagingcream.com/testoultra-it/"
One extremely important point that's stored secure in taking these supplements is your wallet. a safety guarantee not just backs Orviax, but additionally a-back guarantee. If the solution doesn't take effect within 60-nights for you, just return what you have left, and receive a complete refund. Their alternative is proudly stood by by this provider, and has completed medical studies by researcher

[2017-02-22 10:02] CherylCom opened #3962 "http://www.ifirmationantiagingcream.com/testoultra-it/"
TestoUltra Though not many men truly suffer with "small penis problem", a larger penis is still wanted by 45 percent of males. The more exactly why you will find so many penis enlargement products online together with cons.

You must make a move of performing that you just haven't thought. Well, I am speaking about rewarding her during sex. Is she truly content with you? How are you going to come

[2017-02-22 14:04] bsstoner opened #3964 "Timezone Converter: EEST issue?"
**7:00 AM CST to EEST**
[https://duckduckgo.com/?q=7%3A00%20AM%20CST%20to%20EEST](https://duckduckgo.com/?q=7%3A00%20AM%20CST%20to%20EEST)
_Comment: It considers EEST as UTC+3 when it's UTC+2_

------
IA Page:  http://duck.co/ia/view/timezone_converter
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GlitchMr

[2017-02-22 14:21] nalinbhardwaj commented on #3958
@bsstoner is it a good idea if we have a regex checking if string is a programming language and exiting in such a case? Or do you have a better(more generic) fix idea?

[2017-02-22 15:05] bsstoner commented on #3958
That's a good question. I'm not sure if we've encountered this elsewhere in any of the open source IA's. @moollaza @pjhampton any ideas?

I know we have this issue with maps (e.g. "perl map"). We were considering ways to solve that internally but maybe there's a general programming false positive solution. Open to ideas here.

[2017-02-22 15:18] pjhampton commented on #3958
@nalinbhardwaj @bsstoner

To be honest, I'm kinda confused what the feedback means.

**length of string** is a trigger sequence for Character Count IA. See https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Chars.pm#L17

"javascript" = 10 chars, so this answer is correct if the trigger sequence `length of string` is reasonable.

If they are referring to https://duck.co/

[2017-02-22 15:20] nalinbhardwaj commented on #3958
@pjhampton I think the user expected the fathead query answer but referenced the _wrong_ goodie answer. I think this is a relevancy issue. The fathead here would have provided a more relevant result than the goodie, which they expected to be the default tab.

[2017-02-22 15:21] bsstoner commented on #3958
@pjhampton yes, they had the answer IA open. You're right, the answer itself is correct. But in terms of serving the user's intent, it is not correct. They were expecting something programming related to be shown by default here.

[2017-02-22 18:01] adityatandon007 commented on #3964
@bsstoner I think its working alright as EEST(Eastern european summer time also known as daylight time) is (UTC+3) though it used by only some countries and they switch back to the standard eastern time in winters.
UTC+2 is for EET(Eastern european time) which is the standard. I think the conversion is working fine.

![screenshot from 2017-02-22 23-30-00](https://cloud.githubusercontent.com/assets

[2017-02-22 21:14] bsstoner commented on #3964
👍  I think you're right, thank you.

[2017-02-22 21:14] #3964 closed

[2017-02-22 21:19] #3939 closed

[2017-02-22 21:28] #3959 closed

[2017-02-23 09:59] kizkaroz opened #3966 "http://garciniacambogiavibeadvice.com/mylyfe-garcinia-cambogia/"
The phrase of the afternoon ought to be caution, while seeking to rapidly lose weight. Please follow all directions on any product you could use and not over-exert yourself when exercising. In case you follow these directions then you may lose weight rapidly but never sacrifice your a healthy body to accomplish aesthetic alterations for your body. Always educate yourself well on what you are tryin

[2017-02-24 09:32] jacbnikz opened #3967 "http://rxtestosteronesite.com/primo-garcinia/"
Whether you have to drop five pounds, 50 pounds, 100 lbs or more, know that it could be done. Though many have a problem with the procedure, the absolute quantity of success reports, demonstrate that it is possible to get rid of the weight and to keep it off. This article includes all of the data that you might want to begin with.

CLICK HERE>>>>http://rxtestosteronesite.com/primo-garcinia/

[2017-02-24 12:28] adityatandon007 commented on #3967
@duckduckgo/duckduckhack-contributors please block this user.

[2017-02-24 12:29] #3967 closed

[2017-02-24 16:53] pjhampton commented on #3958
@moollaza and I chatted about this on our weekly call. I'm not sure handling exceptions with regexs is a scalable/maintainable idea.

@bsstoner Lowering the priority of the Char IA might be the easiest / most effective idea. Does data exist for how many times others IAs have triggered alongside this one (and what they are)?

[2017-02-26 21:47] bsstoner commented on #1828
**9400115901670883620130**
[https://duckduckgo.com/?q=9400115901670883620130](https://duckduckgo.com/?q=9400115901670883620130)
_Comment: This is a USPS shipping code. Only showing link toFedex._

[2017-02-28 10:45] OscarCozz opened #3970 "http://yoursantiagingserum.com/vitalure/"
Vitalure Winter can be quite tough to your skin and it's also essential to know what is occurring for your skin if it is put through the cold. Winter is also some time late celebrations are quite popular and when individuals usually match to observe the vacations, that makes it even more essential for you to focus on the skin.

Much investigation has been completed about vitamin D and skin cancer.

[2017-03-01 18:42] pjhampton opened #3971 "Meta Issue: Meta Issue: IA Improvements from User Feedback"
## IA Improvements from User Feedback (Goodies)

DuckDuckGo has [over 1000 IAs](https://duck.co/ia) in production. Utilizing user feedback, we want to make these IAs even more awesome! Below is a list of tasks that need to be completed for existing IAs.

#### High Priority
  - [ ] [Time Zone: Support "Time in <time_zone>" queries](https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4004)

[2017-03-02 15:33] pjhampton commented on #3942
Placing this on hold due to the calculator rewrite.

[2017-03-02 15:50] pjhampton opened #3973 "Migrate Regex Triggers for Remaining Package Tracking Goodies to Spice"
### Description

Based on [user feedback](https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3902), the Package Tracker is over triggering, for example - ISBNs.

We need to migrate all triggers from the various existing Package Tracker Goodies over to the [Package Tracking Spice](https://duck.co/ia/view/package_tracking) as it is capable of determining the Courier for any valid tracking nu

[2017-03-02 15:52] #3902 closed

[2017-03-02 16:07] pjhampton opened #3974 "MD5: Ignore filenames"
### Description

Based on [feedback](https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3901), one user was confused about the MD5 Instant Answer. They believed the md5 hash was for that file, and not the string "tails-i386-2.10.iso".

![screen shot 2017-03-02 at 4 00 58 pm](https://cloud.githubusercontent.com/assets/8960296/23515335/c72594e4-ff61-11e6-9a9b-3bafa4bf4c8a.png)

We need to up

[2017-03-02 16:08] pjhampton commented on #3901
Closing due to #3971

[2017-03-02 16:08] #3901 closed

[2017-03-03 10:43] Owlree commented on #3288
Is anyone working on this one? I would like to take care of it.

[2017-03-03 14:43] moollaza commented on #3958
@pjhampton I was wrong about changing the priority, it looks like we only have a low priority block for Spice IA's, it's been a while since I used the priorities, so I thought we had that for Goodies as well.

@bsstoner you mentioned we shouldn't set Goodies to `signal: 'high'`, but is it OK to set it to `low`?

[2017-03-03 18:26] pjhampton commented on #3952
Hey @GPhantom,

Thanks for your suggestion! 😄  As cheat sheets trigger for such a small share of the overall query space, your suggestion may or may not be a good direction at the moment. We will close this for the time being and revisit in the future.

If you are looking for something more substantial to work through that will have a big impact for the users of DuckDuckGo, please check out the [D

[2017-03-03 18:26] #3952 closed

[2017-03-03 18:28] pjhampton commented on #3827
Hey @vduddu and @adityatandon007

Thanks for your suggestion! 😄  As cheat sheets trigger for such a small share of the overall query space, your suggestion may or may not be a good direction at the moment. We will close this for the time being and revisit in the future.

If you are looking for something more substantial to work through that will have a big impact for the users of DuckDuckGo, pleas

[2017-03-03 18:28] #3827 closed

[2017-03-03 18:53] pjhampton commented on #3501
Closing this due to inactivity

[2017-03-03 18:53] #3501 closed

[2017-03-03 18:53] pjhampton commented on #2941
Closing due to inactivity

[2017-03-03 18:53] #2941 closed

[2017-03-03 18:55] pjhampton commented on #3821
This has been resolved 👍

[2017-03-03 18:55] #3821 closed

[2017-03-03 18:58] pjhampton commented on #1828
Closing this. Described here: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3973

[2017-03-03 18:58] #1828 closed

[2017-03-03 19:00] pjhampton commented on #3314
Thanks @stevenmg! There has been a couple of issues with this IA. We're going to try and address it here: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3973

[2017-03-03 19:00] #3314 closed

[2017-03-03 19:02] #3479 closed

[2017-03-03 19:03] pjhampton commented on #3615
Closing due to inactivity

[2017-03-03 19:03] #3615 closed

[2017-03-03 20:08] GPhantom commented on #3974
So if the query was "anything.anything" then ignore it or just ignore a specific files format?

[2017-03-03 23:48] pjhampton commented on #3974
I think we can focus on common file extensions for now 😄  https://fileinfo.com/filetypes/common

[2017-03-03 23:56] mintsoft commented on #3924
Fixed in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3921

[2017-03-03 23:56] #3924 closed

[2017-03-04 00:09] GPhantom commented on #3974
No I mean what we are trying to achieve with the regular expressions? if the query contains .commonfileextension then return? @pjhampton

[2017-03-04 08:47] GPhantom commented on #3974
I think I can do this, can you assign me? @pjhampton

[2017-03-06 06:13] #3974 closed

[2017-03-06 11:41] bsstoner commented on #3958
@moollaza set it to low all the time? Or just in specific cases? I think if it's always low it will never open.

[2017-03-06 16:39] bsstoner opened #3980 "Local Sunrise/Sunset: Sunset on a specific date"
**sunset at 7th of march 2017**
[https://duckduckgo.com/?q=sunset%20at%207th%20of%20march%202017](https://duckduckgo.com/?q=sunset%20at%207th%20of%20march%202017)
_Comment: When I type in sunset I get a nice result that at this day the sun will set at a certain time with a nice date-stamp, so I tried to edit this date by typing a specified date, but that yielded no fancy "Answers" result as I expe

[2017-03-06 17:26] Mailkov commented on #3980
@bsstoner
At this moment Sunset works with mm/dd/yyyy type of date
For example:  https://duckduckgo.com/?q=sunset+03%2F07%2F2017

[2017-03-06 17:39] #3813 closed

[2017-03-06 17:43] pjhampton commented on #3794
This looks like it has seized. Closing for now.

If you are looking for something more substantial to work through that will have a big impact for the users of DuckDuckGo, please check out the [DuckDuckHack Issues Table](https://duckduckhack.com/issues). 🚀  😄

[2017-03-06 17:43] #3794 closed

[2017-03-06 17:48] pjhampton commented on #3559
It looks like this has gone stale. Closing as a result 👍

If you are looking for something more substantial to work through that will have a big impact for the users of DuckDuckGo, please check out the [DuckDuckHack Issues Table](https://duckduckhack.com/issues). 🚀  😄

[2017-03-06 17:48] #3559 closed

[2017-03-06 18:14] #3914 closed

[2017-03-06 18:45] pjhampton commented on #3288
This seems to have gone stale. Closing for now.

[2017-03-06 18:45] #3288 closed

[2017-03-06 22:01] mintsoft commented on #3980
@Mailkov @bsstoner Actually it works with anything that the DateRole can parse:
* https://duckduckgo.com/?q=sunset+7th+march+2017&ia=answer
* https://duckduckgo.com/?q=sunset+2017-03-07&ia=answer
* https://duckduckgo.com/?q=sunset+7+march&ia=answer
* https://duckduckgo.com/?q=sunset+7th+march+2017&ia=answer

There are 2 issues described here:
* DateRole should handle: "7th of march 2017" which it

[2017-03-06 22:51] mintsoft commented on #3980
Extension for the role to handle the date: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3982

[2017-03-06 22:58] mintsoft commented on #3980
The PR will make `sunset 7th of march 2017` work; just needs a tweak to sunrise, post-merge.

[2017-03-07 04:20] moollaza commented on #3958
Ah, alright. An internal low-priority Goodie block might help for IA's like these that are capable of producing unexpected results (e.g. md5, reverse, string length)

I don't have a better solution right now aside from a stricter trigger.

We should probably force this IA to a `start` trigger as well to prevent triggering on queries like: "c# trim string with custom chars"

[2017-03-07 04:28] moollaza commented on #3760
Looks like our Wikipedia Instant Answer covers just about all the "Nth president of the US" type queries:

https://duckduckgo.com/?q=23rd+president+of+the+united+states&ia=web

Perhaps we should just remove this IA 👍  -- It's already offline anyways.

[2017-03-07 04:28] #3760 closed

[2017-03-07 04:40] moollaza commented on #3760
We don't seem to handle the "who is/was the nth president" style queries though Wiki is usually the first result. I've merged your PR @mintsoft I suppose we can keep this around a little bit longer if we want.

[2017-03-07 12:55] ThePinger commented on #3747
Can you assign me ? @mintsoft

[2017-03-07 18:42] pjhampton opened #3984 "Conversions: Round to appropriate decimal place"
### Description

User feedback suggests that [rounding to 3 decimal places is confusing](https://duckduckgo.com/?q=cup+to+gallon&ia=answer).

A more appropriate response for this search would be **1 Cup = 0.0625 Gallon**. We could do with a solution to display the appropriate number of decimal places.

## People to notify

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Revie

[2017-03-07 19:13] pjhampton opened #3985 "Base Conversion: Fix Overtriggering"
### Problem

![screen shot 2017-03-07 at 7 06 33 pm](https://cloud.githubusercontent.com/assets/8960296/23673216/468b637a-0369-11e7-9cf5-f671169698ed.png)

The above IA (base) **should not** trigger for this query. This is because of [the handle function on line 34](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/ba2760f03485f32f10de1e85c19b11415cb8528b/lib/DDG/Goodie/Base.pm#L34).

### S

[2017-03-07 19:14] mintsoft commented on #3984
@pjhampton This might be fixed here already: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3917

[2017-03-07 19:15] mintsoft commented on #3747
@ThePinger I can assign you if you join the duckduckhack Team: https://github.com/orgs/duckduckgo/teams/duckduckhack-contributors

[2017-03-07 19:17] mintsoft commented on #3760
@moollaza I say delete it if it's not needed 👍

[2017-03-07 19:18] mintsoft commented on #3985
@pjhampton What *is* the expected result for that query?

[2017-03-07 19:18] pjhampton commented on #3985
@mintsoft it shouldn't trigger this IA.

[2017-03-07 19:27] ThePinger commented on #3747
The link gives 404 so how can I join the duckduckhack Team ? @mintsoft

[2017-03-07 19:47] adityatandon007 commented on #3877
@mintsoft I support your point. This IA do what it is made for and since I am from Asia generally people here use **kmph** or **km/h** instead of _mph_ to refer speed, they don't use **kph** or **kmh** at all.

[2017-03-07 20:19] #1132 closed

[2017-03-07 20:19] #1517 closed

[2017-03-07 20:36] zappe opened #3986 "Parcelforce: Trigger MS KBs"
When search for Microsoft KBs this trigger.

------
IA Page:  http://duck.co/ia/view/parcelforce
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2017-03-07 20:47] pjhampton commented on #3986
Thanks for reporting. I can't reproduce. Can you please give us the precise query, @zappe?

![screen shot 2017-03-07 at 8 46 16 pm](https://cloud.githubusercontent.com/assets/8960296/23677218/2422ae7a-0377-11e7-85a1-a26d806b5dd4.png)

[2017-03-07 20:48] mintsoft commented on #3986
@pjhampton I think he means: https://duckduckgo.com/?q=KB2553549&t=ffab&ia=answer

[2017-03-07 20:58] zappe commented on #3986
Sorry, yes that was what I meant.

[2017-03-07 21:06] mintsoft commented on #3986
I'll workaround this in: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3907

[2017-03-07 21:11] mintsoft commented on #3986
@zappe @pjhampton Fixed in: #3907

[2017-03-07 21:21] #3900 closed

[2017-03-07 21:21] #3986 closed

[2017-03-07 21:54] mintsoft commented on #2643
Fixed in #2643

[2017-03-07 21:54] #2643 closed

[2017-03-07 22:30] #3595 closed

[2017-03-08 12:40] 8084 opened #3989 "Dice: Set upper limit on max dice rolls and number of sides per dice"
## Problem
When the Dice Goodie is given an extremely large number of sides for a dice roll, the DuckDuckGo UI breaks.

Eg. https://duckduckgo.com/?q=roll+6d120000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

[2017-03-08 14:17] pjhampton opened #3990 "Conversions: Mistaking MB for Mb"
### Description

Based on some user feedback, the [Conversions IA](https://duck.co/ia/view/conversions) is not disambiguating between MegaBytes (MB) and MegaBits (Mb). It is, therefore, nessesary to extend this IA to solve this issue

#### Correct 👍

![screen shot 2017-03-08 at 1 49 40 pm](https://cloud.githubusercontent.com/assets/8960296/23706463/33966394-0406-11e7-84e3-20c7004631fd.png)

#### N

[2017-03-08 14:39] nalinbhardwaj commented on #3990
I think it's a better idea idea to make a separate issue to add case sensitivity to the IA. This and [some other units](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3885#issuecomment-275150788) can be sorted out with that.

[2017-03-08 16:51] mintsoft commented on #3990
Basically a duplicate: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3544

[2017-03-08 17:15] pjhampton commented on #3990
Thanks! Yeah, it's quite chaotic at the moment due to the backlog of solicited + unsolicited issues / prs. One thing that we're taking away from the Programming Mission is the success of consistent and descriptive task templates / Meta Issues. The highest priority tasks are coming from the SERP feedback box. The reason for this is that the feedback is internally vetted and search data is analyzed

[2017-03-08 17:16] pjhampton commented on #3544
Thanks @holtjohnson!
We will continue this here: #3990

[2017-03-08 17:16] #3544 closed

[2017-03-08 17:20] nalinbhardwaj commented on #3990
@mintsoft if you're not working on this issue I can take it up. Also I think this issue should be expanded to enable case sensitivity for all units.

[2017-03-08 17:23] mintsoft commented on #3990
@nalinbhardwaj I am already working on it, I'm waiting for https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3988, then case sensitivity is the next step

[2017-03-08 19:28] moollaza commented on #3985
@mintsoft based on https://answers.yahoo.com/question/index?qid=20091203074128AA2UwNK, I think the user might expect to see `0.0001` as the answer?

Anyway, the issue here is more that Base.pm is incorrectly triggering on that query, because it's using `query_clean` which is a little dangerous, as it means we ignore `.` and `%` in the query, which have significant meaning

[2017-03-08 19:31] mintsoft commented on #3985
Ah! It never even occurred to me that the user was asking for 0.01% expressed as a decimal (i.e. 1 is 100%)

[2017-03-08 19:44] pjhampton opened #3991 "Reference: Create ASCII Codes Table"
### Description

#### Problem

Currently, we have an internal ASCII Table that is rendered via an iframe on the SERP (Search Engine Results Page). Users have complained that the table doesn't look great with the Dark theme because of the black text (see Screenshot 2).

#### Screenshot 1 (Default theme)
![white](https://cloud.githubusercontent.com/assets/8960296/23720437/9482a0d4-0436-11e7-9155-6ee

[2017-03-08 20:06] DeltaHeavy opened #3992 "Public DNS: Privacy and security improvements"
Remove "Comodo Secure DNS" as Comodo has a terrible history of security and privacy (promoting use of their Chrome and FF clones with Same Origin-Policy removed), bad Certificate Authority practices, etc.

Remove or put an asterisk or footnote on Google DNS, as one of the major purposes of DuckDuckGo is to avoid the monolithic privacy violation that is Google's data collection machine.

Put a foot

[2017-03-08 20:30] #3984 closed

[2017-03-08 23:13] mintsoft commented on #3990
Actually; I missed one, this is next after https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3993 / https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3918

[2017-03-08 23:22] mintsoft commented on #3990
@pjhampton Having just looked at it, this is *definitely* not low hanging fruit; it's going to be ... interesting getting this to behave as users expect

[2017-03-08 23:26] mintsoft commented on #3991
@pjhampton Not sure there's really perl or skill required for this, it'll just be returning the template. All the work will actually be in the template itself I think?

[2017-03-09 09:46] GaryCozy opened #3995 "SPAM"
<strike>Wrinkle Couture Cream Allow me to just ask you some issue, before we go into acne treatments or just how to cure acne naturally. Have you ever skipped parties or an important capabilities because of horrible skin? To that in addition, are blackheads the trigger you've caged oneself indoors? Anyway, I am sure the inquiries are nothing not used to women who suffer with acne and find it a har

[2017-03-09 10:26] pjhampton commented on #3995
User reported!

[2017-03-09 10:26] #3995 closed

[2017-03-09 11:02] pjhampton commented on #3990
Sure, @mintsoft. Someone labeled it low hanging fruit in the internal pipeline - I didn't look into it enough to dispute this reasoning. Feel free to adjust the labeling as you feel fit.

[2017-03-09 16:03] #1138 closed

[2017-03-09 16:19] pjhampton commented on #1789
We'll continue this here: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3991

[2017-03-09 16:19] #1789 closed

[2017-03-09 16:42] pjhampton commented on #1696
Seems this is being taken forward here: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2256

[2017-03-09 16:42] #1696 closed

[2017-03-09 16:53] pjhampton commented on #2764
Closing. See https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3986

[2017-03-09 16:53] #2764 closed

[2017-03-09 17:02] pjhampton commented on #3139
I'll close this for now. https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3983 was merged earlier. I guess the approach is to alter as the direction changes. Feel free to make unsolicited changes 👍  😄

[2017-03-09 17:02] #3139 closed

[2017-03-09 17:19] pjhampton commented on #3472
Hey @thereg0 / @AnthonyNeace - any update here?

[2017-03-09 17:27] AnthonyNeace commented on #3472
@pjhampton Haven't heard of anything since the last message. If @thereg0 doesn't reply feel free to pass this on to someone looking for some low-hanging fruit, seems well-scoped for a new programmer. If after a while nobody wants it, can take care of it myself.

[2017-03-09 17:34] pjhampton commented on #3847
Hey @wildnwicked,

Feel free to reply and we will reopen this! 😄  👍

[2017-03-09 17:34] #3847 closed

[2017-03-09 17:38] pjhampton commented on #3710
There is actually a really kick-ass Fathead for this. Checkout [Hello World Examples](https://duck.co/ia/view/hello_world). With this, I don't really see the point of a cheat sheet

[2017-03-09 17:38] #3918 closed

[2017-03-09 17:38] #3710 closed

[2017-03-09 20:45] pjhampton opened #3998 "Reference: New HTML Entities Table"
### Problem

Currently, there is an [HTML Entities](https://www.w3schools.com/html/html_entities.asp) table rendered through an iframe by the internal team. It's cool, but:

1. It doesn't look great in one of the darker themes (see Screenshot 2)
2. It's not open source.

**Screenshot 1 (Default theme)**

![screen shot 2017-03-09 at 8 35 02 pm](https://cloud.githubusercontent.com/assets/8960296/237

[2017-03-09 23:15] mintsoft commented on #3990
@pjhampton I just noticed that both of the screenshot examples are wrong! The first query is actually `kilobits to megabytes` and the second is `kilobits to megabits` both mistreat `Kb` as kilobytes

[2017-03-10 02:17] adv16 commented on #3472
Hi guys,

I am a newbie and wanted to start somewhere, hence I have jumped in and fixed the issue . I have tried my best to go through the guide and follow the standards while committing. Please let me know if I need to update anything else . The PR is #4001 . Thank you. @AnthonyNeace , @pjhampton .

[2017-03-10 03:14] Owlree commented on #3998
I would like this. 😄

[2017-03-10 07:03] gutizhaz opened #4002 "http://brainfireadvice.com/nuvella-serum/"
Therefore it is important that you shield them from other environmental components as well as the sunlight your lips do not have the same quantity of melanin as your cases. Lipstick lip balms, and glosses should have a Sun Protection Aspect In them.

CLICK HERE>>>>http://brainfireadvice.com/nuvella-serum/

[2017-03-10 08:16] #4002 closed

[2017-03-10 08:17] mintsoft commented on #3998
Thanks @Owlree Can you open a PR so we can reference it from this issue?

[2017-03-10 08:17] mintsoft commented on #3998
Also, can you apply to join https://github.com/orgs/duckduckgo/teams/duckduckhack-contributors so I can assign this to you? :+1:

[2017-03-10 08:22] #3472 closed

[2017-03-10 10:20] pjhampton commented on #3990
@mintsoft Ah, nice catch! 😄
That's interesting though because that was the user's exact query from the feedback. I believe they were expecting a conversion from Kilobytes. Thanks for pointing this out! I will update the description later on for the sake of clarity 👍

[2017-03-10 14:00] adv16 commented on #3985
Hey guys,

Is anyone working on this? Though at this moment I am unsure about what needs to be done, I would like to try. @mintsoft @pjhampton

[2017-03-10 17:14] pjhampton commented on #3991
Yeah, @mintsoft. You are right. However, the plan is to abstract whatever the contributor creates and turn it into a reusable table template: https://github.com/duckduckgo/duckduckgo-answerbar-templates

Due to this, it would probably be ideal that the data is loaded into the table, rather than hard coded. Opinions?

[2017-03-10 17:15] pjhampton commented on #3973
Anybody interested in this @duckduckgo/duckduckhack-contributors?

[2017-03-10 17:36] Owlree commented on #3998
@mintsoft I am in the organization now, you can assign it to me. I'll open the PR soon enough as well.

[2017-03-10 17:38] Owlree commented on #3973
I could take a look at it, but only beginning with next week.

[2017-03-10 17:41] pjhampton commented on #3973
That would be awesome, @Owlree. However, I think it would be better to focus on the HTML Entities table for now as it's not common practice to reserve issues. If it's still open when you're done, it's all yours 😄

[2017-03-10 20:19] pjhampton opened #4003 "Time Zone: Support "Time in <time_zone>" queries"
### Description

Based on user feedback and anonymized search data, DuckDuckGo isn't supporting queries such as "Time in <time_zone>". To further complicate things, the API that we're using for the [TimeZone Converter](https://duck.co/ia/view/timezone_converter), [Location Sunrise/Sunset](https://duck.co/ia/view/sun_rise_set), and [Holiday](https://duck.co/ia/view/holiday) doesn't support time zon

[2017-03-10 20:34] pjhampton commented on #4003
Closing for now. We will come back to this. Turns out DT:TZ isn't a clear path ahead

[2017-03-10 20:34] #4003 closed

[2017-03-10 21:09] pjhampton opened #4004 "Time Zone: Support "Time in <time_zone>" queries"
### Description

Based on user feedback and anonymized search data, DuckDuckGo isn't supporting queries such as "Time in <time_zone>". To further complicate things, the API that we're using for the [TimeZone Converter](https://duck.co/ia/view/timezone_converter), [Location Sunrise/Sunset](https://duck.co/ia/view/sun_rise_set), and [Holiday](https://duck.co/ia/view/holiday) doesn't support time zon

[2017-03-10 21:25] mintsoft commented on #3985
@adv16 Go for it! Basically the `Base` IA shouldn't return a result for this query. For me the first step is to add a test like : `'0.01 % in decimal' => undef,` into the Base.t and then make the test pass 👍

[2017-03-11 01:47] Owlree commented on #3973
Hey, @pjhampton, totally agree—that's why I mentioned _next week_ the earliest, so if anyone can do it sooner, that would be awesome. Just saying that when I get the time, after I get the HTML entities thing done, I am willing to take a look at this as well, if no one else does it meanwhile.

[2017-03-11 08:29] mumelelozzz opened #4006 "SPAM"
<strike>Something that I've discovered lately will be the importance of specified crucial portions while in the Skin Care range. One such merchandise is really a makeup primer. And Serious Skin Care makes one of the finest primers on the market.

click here>>>> LINK REMOVED </strike>

[2017-03-11 19:19] rubikkk opened #4008 "Radare2 Cheat Sheet:"
hello! I was looking for r2 debug mode commands, and I realized they're not in the CS so I added them :)

------
IA Page:  http://duck.co/ia/view/radare2_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @therealkbhat

[2017-03-12 17:54] adv16 commented on #3985
Thanks for this inputs @mintsoft @pjhampton .. I could make the newly added test case pass just by changing the handle to query_lc so that it allows non alphanumeric characters and the IA does't trigger anymore..
But I am not fully convinced with this..it feels like a lot of hard coding in the IA.. Also this IA somehow assumes that we are never going to get floating point numbers in the query.. so

[2017-03-12 18:33] gautamkrishnar opened #4009 "Can't create a merge commit while merging pull requests"
Recently i noticed that i can't merge a PR using a merge commit or rebasing, only squash and merge is available.  Is it due to some changes made to the settings of the repository?.

Shall i have to squash and merge all the PRs?

![screenshot 319](https://cloud.githubusercontent.com/assets/8397274/23834638/db7b3e78-077f-11e7-9c10-c02bc384e818.png)

cc: @moollaza @duckduckgo/community-leaders

[2017-03-12 18:39] gautamkrishnar commented on #4009
Just saw the @moollaza's message on slack 👍

[2017-03-12 18:39] #4009 closed

[2017-03-12 18:40] #4006 closed

[2017-03-12 18:40] gautamkrishnar commented on #4006
@moollaza ban

[2017-03-12 21:36] mintsoft commented on #3985
@adv16 Can you open a PR for the changes? We'll discuss the solution etc in there

[2017-03-13 03:49] adv16 commented on #3985
PR #4010 opened. Please have a look. Thanks.

[2017-03-13 14:46] #3985 closed

[2017-03-14 20:08] #3510 closed

[2017-03-15 17:12] pjhampton commented on #3971
Hey @duckduckgo/duckduckhack-contributors!

Is anybody interested by any of the above issues? 🚀  😄

[2017-03-16 14:34] nalinbhardwaj opened #4014 "Dice: Footer redundancies"
### Description

Queries like `roll 3d12 and 2d4` have a redundant "Show more" button at bottom which does nothing(disappears on-click). It's useless for only upto 3 rows in table.

Also, the `|` is redundant and seems out of place. The template probably needs modifications for the IA.

I'll try to fix these and make a PR. If not, someone else should take this up.

## Steps to recreate

[roll 3d12

[2017-03-16 14:37] pjhampton commented on #4014
Hmm, I think this may be an issue with [the template](https://github.com/duckduckgo/duckduckgo-answerbar-templates) rather than the IA.

[2017-03-16 14:46] nalinbhardwaj commented on #3989
I'm not sure what the reason is, but it seems to break when rolls or faces are greater than 10^200, if this is of help to anyone. [example](https://duckduckgo.com/?q=roll+1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

[2017-03-16 14:57] nalinbhardwaj commented on #3989
Actually just checked properly, the rolls in the internals of the IA are all `inf` in such queries(overflow). Is it best to just ignore such queries and not return instead of breaking the page?

[2017-03-16 15:19] nalinbhardwaj commented on #3989
I've made a fix for this in [nalinbhardwaj/dice-overflow-fix](https://github.com/nalinbhardwaj/zeroclickinfo-goodies/tree/dice-overflow-fix) and also added a couple tests to check it. If everyone thinks it's best to not return anything in case of overflow, I'll make a PR with those changes. @8084 @pjhampton thoughts?

[2017-03-16 16:47] pjhampton commented on #3989
I just chatted with @moollaza. Rather than try identity infinite numbers, we should enforce a hard limit to the number of die.

[2017-03-16 16:52] nalinbhardwaj commented on #3989
@pjhampton that would still cause breaking of [this query](https://duckduckgo.com/?q=roll+100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000d

[2017-03-16 16:55] moollaza commented on #3989
@nalinbhardwaj let's just set a very sane upper limit on the number of and the max sides for the dice.

I can we can limit to 10 dice, and max of 31 sides according to https://commons.wikimedia.org/wiki/Dice_by_number_of_sides

[2017-03-16 17:00] nalinbhardwaj commented on #3989
@moollaza Personally I don't see a point in limiting the search engine capabilities when we can clearly support the queries easily. Maybe check the traffic data with more than 10 dice or more than 31 sides?

[2017-03-16 17:02] nalinbhardwaj commented on #3989
@moollaza I don't see a very good point in limiting the search engine capabilities when we should be able to support those queries. Maybe look into the traffic data for > 10 dice or > 31 sides?

[2017-03-16 17:24] moollaza commented on #3989
@nalinbhardwaj I checked, but we don't have much info for this IA because it triggers very little. The few queries I saw were related to rolling a single dice a few times. e.g. "roll a dice 4 times"

We'll be OK with using sane limits. I can't see what practical use someone has for rolling a 100+ sided dice, or rolling more than 10 die simultaneously.

Any dice roll result that involves scientific

[2017-03-16 17:32] 8084 commented on #3989
I don't think side count should be limited. Actually I was not aware of the rules saying that each dice must have maximum 31 sides.

Someone would probably call me a strange person, but I like to kill my time rolling a dice until I guess the number. And if there would be no more than 31 sides, ddg roll function will be pretty useless for this purpose.

[2017-03-16 19:22] pjhampton commented on #4008
Thanks @rubikkk,

This reads like a PR, but it's an issue. I think there may have been a mistake. Closing. Reach out if I'm wrong.

[2017-03-16 19:22] #4008 closed

[2017-03-16 19:22] pjhampton commented on #3998
How are you getting on, @Owlree? 😄  Do you have any questions or need some help?

[2017-03-17 00:55] Owlree commented on #3998
@pjhampton No questions for now. Paradoxically, it seems that I have less free time since I quit my job. I'll get it done over the weekend though.

[2017-03-17 02:01] #3754 closed

[2017-03-17 08:50] GPhantom commented on #3958
So what are we trying to achieve here? Ignoring programming languages in the query so the user is not confused when asking about something technical in that programming language? Like: "length of string in javascript" so the user was searching about how to find the length of a string in javascript and not the string "javascript" ?

[2017-03-17 09:35] pjhampton commented on #3998
@Owlree No problem! I'm around over the weekend so just ping me if you need some help 😄

[2017-03-17 12:37] xtaran opened #4016 "Public DNS: More public DNS servers (Freenom World)"
Missing public DNS servers:

* 80.80.80.80 (Freenom World, see http://www.freenom.world/en/index.html)
* 80.80.81.81 (Freenom World, see http://www.freenom.world/en/index.html)

------
IA Page:  http://duck.co/ia/view/public_dns
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mailkov

[2017-03-17 12:57] xtaran opened #4017 "Public DNS: Mention that the well-known Level 3 DNS servers at 4.2.2.[1-6] should no more be used"
It would be nice if there would be a footnote or similar added to the Level 3 entry that the Level 3 DNS servers under 4.2.2.[1-6] (especially 4.2.2.2 and 4.2.2.4) might be working as public DNS servers, but should not be used as they are not meant as public DNS servers.

They're not listed (probably on purpose), but still well-known and such a comment will likely avoid people filing bug reports t

[2017-03-17 17:17] ManrajGrover commented on #3991
@moollaza @pjhampton I can take this one up. I would be needing inputs on the design. 😄

[2017-03-17 17:34] moollaza commented on #3991
Sure thing! We'll be able to give some design feedback once we have something working on Beta. I think for now we can replicate the layout/design of the table. We can probably kill the red text in favour of a darker grey though 👍

[2017-03-17 22:01] nalinbhardwaj commented on #3989
I think the best idea that keeps in account requests such as @8084's might be to limit sides and rolls at much higher constants(something like 10^4). Thoughts @pjhampton @moollaza ?

[2017-03-18 00:03] mintsoft commented on #4016
@xtaran Many thanks for the suggestion, looks good.

If you're at all interested you could add these yourself! We keep these in https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/public_dns/providers.yml feel free to do a PR. If not, someone from the community will pick it up :+1:

[2017-03-18 00:05] mintsoft commented on #4017
I think if they're not meant to be public we might as well just remove them. There's plenty of other actually public DNS servers available on the list

[2017-03-18 14:31] pjhampton opened #4020 "Calculator: [Stage 1] Add Interactive UI to Calculator"
## Problem

A lot of user feedback has requested an interactive calculator. A [Pull Request was created 2 years ago](https://github.com/duckduckgo/zeroclickinfo-spice/pull/1727) to create a JS based interactive calculator... but was unfortunately never finished. It was first implemented as a Spice, but it should now be created as a Goodie. There is now 30 open issues against the calculator IA. We

[2017-03-18 22:57] #4016 closed

[2017-03-19 16:10] xtaran commented on #4017
@mintsoft: No need to remove anything. As I wrote, they're not listed, but well-known due to their easy to remember IP addresses.

[2017-03-19 16:12] mintsoft commented on #4017
Ah sorry, I totally misinterpreted what you meant there

[2017-03-20 20:23] moollaza commented on #1077
Closing.

See https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2763

[2017-03-20 20:23] #1077 closed

[2017-03-20 20:33] moollaza commented on #2763
@duckduckgo/duckduckhack-contributors we need someone with a bit of Perl experience to tackle this super important bug.

We're showing the wrong answer to our users once Daylight Savings comes in effect. This is unacceptable and needs to be fixed ASAP!

**Note:** This problem also affects our [Sunrise Goodie](https://duck.co/ia/view/sun_info)!

[2017-03-21 11:35] agunay commented on #3816
@moollaza it seems like no one is working on this anymore. I would love to give it a try if it's okay.

[2017-03-21 13:36] pjhampton commented on #3816
Hey @agunay,

Yeah, that would be awesome!

[2017-03-21 14:04] agunay commented on #3816
@pjhampton thanks!

I have a question to get started though. I created a base for this new IA and when I tried to test the triggers, either interactively or with "duckpan query", it gives me the warning: DDG::Goodie::CssGradientGenerator   "Could not retrieve metadata - please ensure the Instant Answer page is in development status or later."

As I understand it I first need to create an instant a

[2017-03-21 14:41] pjhampton commented on #3816
Hey @agunay,

Yeah, that makes sense. Can you please create a new IA page with the name CssGradientGenerator here? - https://duck.co/ia/new_ia, then let me know either on Github or on Slack. I can move the development status. That's cool, welcome! 👋  😄

[2017-03-21 15:02] pjhampton commented on #3971
Closing for now. If anybody is following this issue, please check out https://duckduckhack.com/issues instead 👍

[2017-03-21 15:02] #3971 closed

[2017-03-21 19:13] BillyBarbaro commented on #4004
I've already been looking into this one a little in issue [3181](https://github.com/duckduckgo/zeroclickinfo-spice/issues/3181) in the Spice repo.  It seems to me like the work on that should cover this issue.

[2017-03-21 19:55] pjhampton commented on #4020
cc. @zodiac403, @Lord-Lavios

[2017-03-22 21:03] pjhampton opened #4028 "Chars: Fix Overtriggering"
## Problem

From query data, it seems that this IA is overtriggering like crazy. This is down to two things, **poor triggering** and **the position of the trigger words in the query**.

![screen shot 2017-03-22 at 8 59 31 pm](https://cloud.githubusercontent.com/assets/8960296/24220569/9fec0430-0f42-11e7-8df0-a84bd6b7139d.png)

## Solution

The handle setting should be set to start only, and some o

[2017-03-23 13:05] pjhampton commented on #3958
Closed in favour of https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4028

[2017-03-23 13:05] #3958 closed

[2017-03-23 16:46] SophieDurrant commented on #4028
I can claim the issue

[2017-03-23 17:44] SophieDurrant commented on #4028
Should I also remove the leading word 'of' so 'length in characters of foo' shows up 3 instead of 6?

[2017-03-23 17:46] pjhampton commented on #4028
Yeah, that would be a good idea 👍

[2017-03-24 01:20] tagawa opened #4035 "Timer: Always shows 1 minute"
Set the timer for any length of time, it will only countdown from one minute, e.g.:

https://duckduckgo.com/?q=9+minute+timer

https://duckduckgo.com/?q=timer+5+seconds

------
IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2017-03-24 03:26] mattr555 commented on #4035
Can't test for sure at the moment but I'm pretty sure #4034 will fix this.

[2017-03-24 04:39] azhargiri opened #4036 "Awesome Window Manager Cheat Sheet: New Documentation URL"
Awesome window manager documention URL now move to https://awesomewm.org/doc/manpages/awesome.1.html

------
IA Page:  http://duck.co/ia/view/awesome_window_manager_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @kennyballou

[2017-03-24 04:54] kennyballou commented on #4036
I need to update the commit, but this will be fixed shortly.

[2017-03-24 09:58] pjhampton commented on #3991
Hey @ManrajGrover,

How are you getting on? Do you have any questions, etc? 😄

[2017-03-24 13:23] moollaza commented on #4035
This was my mistake. Fixed in #4034

[2017-03-24 13:39] #4035 closed

[2017-03-24 18:54] ManrajGrover commented on #3991
@pjhampton Pretty well. 😄 Expect a PR soon. :)

[2017-03-24 19:07] pjhampton opened #4038 "Timer: Improve triggering"
## Problem

Based on user feedback and unanswered query data, This IA isn't triggering enough. @moollaza just merged a PR that ported this IA from a Spice to a Goodie.

**Triggering** 👍

![screen shot 2017-03-24 at 6 55 21 pm](https://cloud.githubusercontent.com/assets/8960296/24309573/42fd6178-10c4-11e7-8dd2-a184b6692bfb.png)

**Not triggering** 👎

![screen shot 2017-03-24 at 6 55 38 pm](https://

[2017-03-25 19:49] kirkins opened #4045 "Sudoku on complete check if user was correct"
### Description

## Steps to recreate

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2017-03-25 20:29] pjhampton commented on #4045
Thanks, @kirkins.

The way this is written, I'm not sure how we/I can act on this. Please follow best practices when opening Issues in the future, and be as descriptive as possible.

[2017-03-25 20:29] #4045 closed

[2017-03-25 20:40] ManrajGrover commented on #3541
Leaving `Color::Library` issue which would eventually fix this here for further updates.

https://rt.cpan.org/Public/Bug/Display.html?id=118051

[2017-03-25 21:07] kirkins commented on #4045
I'm not sure how one would expand on this.

1.Play Sudoku
2. Be done game
3. Have no way to know if correct without checking manually

**Solution Idea #1:** Add a check button, when clicked check if all columns filled out, if yes check logic for winning sudoku.

**Solution Idea #2:** Use event listener each time column filled out, if all columns filled out return correct or incorrect to user.

[2017-03-26 13:53] kirkins commented on #4020
Anyone working on this right now?

[2017-03-26 14:10] Lord-Lavios commented on #4020
@kirkins I was going to start working on this tomorrow but if you want to work on this, go ahead.

[2017-03-26 14:23] TheSpeedyBlur commented on #4038
Is anyone working on this? I would like to, if it's possible. (I'm new btw, I'm still reading the contrib guide 😝)

[2017-03-26 14:25] ManrajGrover commented on #4038
@TheSpeedyBlur Great! Sure, go ahead with this. If you face any issue, feel free to ping on Slack.

[2017-03-26 14:44] kirkins commented on #4020
In the implementation there is a `math.js` mentioned. I've looked through the file structure of the repo a few times and don't see it.

Would that be a completely new file or am I missing it?

[2017-03-26 16:32] TheSpeedyBlur commented on #4038
Okay, I'm sorry, I was too dumb to look at this issue in detail, and I'm sorry, I would like to cancel my application for this issue. I'm new to the programming language (perl) and this task is too complex for me at the first try. I've been sitting on it for two hours, and again, I'm sorry for dropping this, but I'm afraid I would only be able to accomplish progress if I would rewrite the whole Ti

[2017-03-26 17:31] pjhampton commented on #4020
This is a difficult / high-priority / urgent issue @kirkins. Please only take it if you feel you have the programming expertise to take it forward 👍

As for math.js, this was added by the internal guys last week. To bring it into scope, you would wrap the logic with the following statement.

`DDG.require('math.js', function(){})`

An example would be https://github.com/duckduckgo/zeroclickinfo-goo

[2017-03-26 17:51] kirkins commented on #4020
@pjhampton thanks for the example. I'm still wondering where to see the contents of `math.js` ?

Same for the `moment.js` file in the example you posted. Doing a [search for moment.js ](https://github.com/duckduckgo/zeroclickinfo-goodies/search?utf8=%E2%9C%93&q=moment.js&type=)I only find that single reference.

Are these two files closed source or located in another repo?

[2017-03-26 17:53] kirkins commented on #4020
@pjhampton I will let @Lord-Lavios work on this one since it is high-priority and this would be my first duckduckgo module.

I have another idea to improve a different IA module anyways. Though I'm still curious about my question above.

[2017-03-26 18:01] pjhampton commented on #4020
That's fine 😄  These are external dependencies. See [Math.js](https://github.com/josdejong/mathjs).

Using math.js allows strings to be easily evaluated as mathematical expressions, using the `math.eval()` function. [Moment.js](https://momentjs.com/) is also an external dep but has nothing to do with this project. Hope that helps!

[2017-03-26 19:06] pjhampton commented on #4020
@Lord-Lavios so can I take it you're happy taking this forward? 😄

[2017-03-26 19:12] shubhamkr1 commented on #3065
does this require changing the regular expression used in Tips.pm file?

[2017-03-26 19:27] shubhamkr1 commented on #2780
I can take this up. I still new to Perl and DuckDuckGo so I would need some mentor for help.

[2017-03-27 02:06] BillyBarbaro commented on #4038
@TheSpeedyBlur I know perl can be a bit intimidating (I'm relatively new to it myself), but I don't think this would be too hard with a bit of help.  I'd be willing to point you in the right direction if you still want to take the issue.  Ping me on Slack (my username there is the same as my Github) and let me know.  We could figure out this one together.

[2017-03-27 05:25] TheSpeedyBlur commented on #4038
@BillyBarbaro I'd be happy to do this actually and if you're willing to help me I'd be glad. I will ping you on slack when I'm available.

[2017-03-27 09:52] pjhampton commented on #4038
Thanks very much @TheSpeedyBlur and @BillyBarbaro!! I noticed you're not part of the DDG org on Github @TheSpeedyBlur, so I have only assigned @BillyBarbaro for the time being. 💙  💛  💜  ❤️

[2017-03-27 20:15] Lord-Lavios commented on #4020
@pjhampton I'll take it. I've been looking around and I've got some questions.

Do all the queries(using the calculator) get calculated in the back end or only the initial one(the one that triggers the IA)? If all, then how can I send the query to the server, I wasn't able to find any documentation on this.

How can I detect if the user is using the dark or light mode for the search engine, this i

[2017-03-27 20:22] Lord-Lavios commented on #4020
@pjhampton 👍 Sorry, for the delay. I wasn't able to find time earlier and then it took some time to figure out how to do it and stuff.

[2017-03-28 09:16] pjhampton opened #4052 "Calculator: support equals sign when triggering percentage queries"
## Problem

Based on user feedback, the calculator is not triggering on the query `7970 - 20% =`, but triggers on `7970 - 20%`.

**Triggers** 👍

![screen shot 2017-03-28 at 10 06 24 am](https://cloud.githubusercontent.com/assets/8960296/24397785/304f4dce-139f-11e7-9f4b-3c9be32d2133.png)

**Doesn't Trigger** 👎

![screen shot 2017-03-28 at 10 06 54 am](https://cloud.githubusercontent.com/assets/8960

[2017-03-28 12:41] TheresaWilkin commented on #3815
If this still needs a developer, I'd like to give it a try!

[2017-03-28 15:03] pjhampton commented on #4020
That's cool, @Lord-Lavios 💙  Thanks anyway!

[2017-03-28 16:58] moollaza commented on #3973
I've started working on this in https://github.com/duckduckgo/zeroclickinfo-spice/issues/3211 -- We'll need a volunteer to port the remaining Goodies though!

[2017-03-28 19:20] TheSpeedyBlur commented on #4038
@pjhampton Should we trigger on `hours / hrs`, `seconds / secs` as well.

[2017-03-28 19:22] moollaza commented on #3973
Note: Once we've migrated these, it would be great to add additional regex triggers for the other couriers the API supports that we don't have existing Goodies for.

This website: https://www.trackingex.com/all-couriers.html seems to provide the tracking number format for a large number of couriers. I would imagine most or all of the couriers the PackageTrackr API handles exist on that page 👍

[2017-03-28 22:40] kirkins commented on #1163
I'm attempting to improve the Sudoku app so I will first convert it to use templates.

[2017-03-29 21:14] kirkins commented on #1163
As there hasn't been much activity on this issue for a while I will claim it.

[2017-03-30 09:05] agunay commented on #3816
@pjhampton, this is to let you know that I am still working on this, just had a really busy week. I will create a pull request in couple of days with the first version.

[2017-03-30 10:37] pjhampton commented on #3816
Awesome! Thanks for the update @agunay! 👍

[2017-03-30 19:27] moollaza commented on #3450
This has been addressed.

https://duckduckgo.com/?q=-2+%2B+2+%3D&ia=answer

[2017-03-30 19:27] #3450 closed

[2017-03-30 19:35] kirkins commented on #1163
# Notes:
* Dewey.pm - seems to already be converted
* DHL - to be moved to spice

[2017-03-30 19:37] moollaza commented on #1880
This is now being replaced by #4020

[2017-03-30 19:37] #1880 closed

[2017-03-31 14:56] edcallaghan commented on #4052
Can claim issue. Already submitted pull request,

[2017-03-31 15:40] TheresaWilkin commented on #3815
I would like to give this a try if it's still open! :)

[2017-03-31 17:09] hchienjo commented on #3815
@TheresaWilkin Thanks for offering to take this up. It's all yours.

[2017-04-01 12:58] mintsoft commented on #3065
@shubh1m Yeah but probably in a minor way, taking off the optional flag (`?`) from the capture

[2017-04-02 14:23] #4036 closed

[2017-04-03 15:20] #4052 closed

[2017-04-03 15:29] pjhampton opened #4066 "Calculator: [Stage 2] Add Scientific UI to Calculator"
Continuing from https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4020

## Problem

A lot of user feedback has requested an interactive calculator. A [Pull Request was created 2 years ago](https://github.com/duckduckgo/zeroclickinfo-spice/pull/1727) to create a JS based interactive calculator... but was unfortunately never finished. It was first implemented as a Spice, but it should now b

[2017-04-03 16:38] TheresaWilkin commented on #3815
Does this need to be linked up with https://duck.co/ia/view/css_button_generator here? I'm also not able to get a trigger working on Duckpan Server when I'm trying that out, am I missing some steps?

[2017-04-05 21:54] moollaza commented on #3989
We have a random number Goodie that can be used for what @8084 describes: https://duckduckgo.com/?q=random+number+between+1+and+1000&ia=answer

It only generates a single random number, but I see no reason why it can't be extended to provide multiple random numbers.

I don't see why a dice roll Instant Answer should deal with such large numbers though, especially when it's very unlikely to ever be

[2017-04-05 21:56] moollaza commented on #3989
For now, let's go with my recommendation so we can fix this bug. We can debate if the limits for the dice Goodie should be increased once the bug is fixed 😃

[2017-04-05 22:39] #1396 closed

[2017-04-05 22:39] #3990 closed

[2017-04-06 02:49] #4028 closed

[2017-04-06 20:40] #4020 closed

[2017-04-07 08:56] mintsoft opened #4073 "Conversions: Restore case insensitivity for SI prefixes on information/digital"
### Description
Noticed that the first query my colleague did this morning was `convert 87MB in KB` which doesn't trigger.  and is unambiguous so I'll restore that query pattern.
Same goes for `40 gb to mb`

## Steps to recreate
https://duckduckgo.com/?q=convert+100MB+in+KB&t=ffab&ia=web

## People to notify
@pjhampton

---

Instant Answer Page: https://duck.co/ia/view/conversions

[2017-04-07 20:28] #4038 closed

[2017-04-08 12:32] krihsna opened #4074 "most results in 404 errors on webmd.com"
when i search for anything, if webmd.com is the first result, if i click the webpage, it shows 404 error, i am providing two links with issue.

https://duckduckgo.com/?q=grapes+uses&t=fpas&ia=web

https://duckduckgo.com/?q=Cardamom+uses&t=fpas&iax=1&ia=images

[2017-04-08 12:57] kirkins commented on #4074
When I click the webmd link from the first one the website loads fine for me. Try using another browser/computer and see if you get the same results?

[2017-04-08 13:29] roastchicken opened #4075 "Calculator: Decimal numbers too long for box"
The calculator goodie appears to truncate decimal numbers at 15 places. This sometimes causes the number to be too wide to be displayed, in which case the leading part of the number runs off and can't be seen. I think it would make more sense to left-align the number once it gets too wide for the box, or simply truncate to a shorter length to prevent this from happening.

Note: This does not appea

[2017-04-08 13:49] pjhampton commented on #4075
Thanks for the feedback, @roastchicken!

This will close this because of my PR to implement the scientific calculator next week and add it to my backlog here for mobile devices.

https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4067

[2017-04-08 13:49] #4075 closed

[2017-04-08 18:09] lernae commented on #3989
Hi @moollaza- I'm interested in working on this.

[2017-04-08 19:46] kirkins opened #4076 "Empty 'Full example' field"
### Description

The full example field is shown on this search but is only populated if you press show more.

## Steps to recreate

https://duckduckgo.com/?t=palemoon&q=curl+json&ia=qa

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/stack_overflow

[2017-04-09 09:25] adityatandon007 commented on #4074
Its working fine for me. @krihsna I think the problem seems to be at your end regarding connection.

[2017-04-09 11:41] pjhampton commented on #4074
I can't reproduce either. I think this is probably to do with webmd redirecting you based on your IP data.

[2017-04-09 11:41] #4074 closed

[2017-04-09 11:42] pjhampton commented on #4076
@kirkins this is a longtail, not a goodie. There is nothing we can do in this repo 👍  Please reopen this issue in the longtail repo

[2017-04-09 11:42] #4076 closed

[2017-04-10 16:01] #4073 closed

[2017-04-10 16:09] #3989 closed

[2017-04-10 20:15] moollaza commented on #2845
Being handled in https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3973

[2017-04-10 20:15] #2845 closed

[2017-04-11 03:02] moollaza commented on #3980
The PR by @mintsoft has been merged. Would someone like to update the IA accordingly?

[2017-04-11 11:36] rasikapohankar commented on #1163
@kirkins CrontabCheatSheet.pm was converted to a cheat sheet.

[2017-04-11 17:38] BillyBarbaro commented on #4004
@pjhampton I've got a little bit too much on my plate right now.  Could you release this one to the community?  I'd be more than happy to talk with whoever takes up the issue about how I was planning to go about things.

[2017-04-11 18:36] pjhampton commented on #4004
Yeah, of course. Thanks for making me aware @BillyBarbaro!

[2017-04-11 19:30] #3991 closed

[2017-04-11 21:41] #3998 closed

[2017-04-12 02:28] nalinbhardwaj commented on #3980
@moollaza Done.

[2017-04-12 04:02] nalinbhardwaj commented on #1699
@mintsoft Made a PR: #4083

[2017-04-12 10:21] #1699 closed

[2017-04-12 18:08] moollaza opened #4086 "HTML Entities: Add additional trigger words"
## Background

The current existing hard-coded iframe appears for the following queries:

- html characters
- html chars
- html named characters
- html escape sequences
- html entities
- html named entities
- html entities codes

We should ensure we continue to show the new open source IA for the same set of queries.

## What to do

- Add the above trigger words to the `triggers` in `[HtmlEntities

[2017-04-12 19:31] #4066 closed

[2017-04-12 19:52] Owlree commented on #4086
You can assign me. 😀

[2017-04-12 20:32] ManrajGrover commented on #4086
@Owlree Go ahead! 😄

[2017-04-13 14:37] pjhampton opened #4089 "Timer: Stop triggering on edge cases"
### Problem

We need to update the triggers for the Timer IA so it **doesn't trigger** under ambiguous cases. These are:

1. `20 minutes`
2. `60 minutes`
3. `48 hours`

_These are navigational queries where a user is trying to get to specific news websites_

![screen shot 2017-04-13 at 3 28 59 pm](https://cloud.githubusercontent.com/assets/8960296/25009263/036fb778-205e-11e7-93e0-b2ff818b7964.png)

[2017-04-13 15:27] moollaza commented on #4086
@Owlree thanks! I added one more trigger phase btw 👍

[2017-04-13 20:13] #1128 closed

[2017-04-13 20:14] moollaza commented on #1128
The interactive calculator has been released, this is now resolved.

[2017-04-13 20:19] moollaza commented on #1187
Closing.

The new calculator supports factorials.

nCr can be added to the Combination IA. (Will make a new issues)

Equations are handled by the Symbolab Spice.

[2017-04-13 20:20] #1187 closed

[2017-04-13 20:24] moollaza opened #4091 "Combination: Add support for "nCr" and "nPr" triggers"
### Description
We should add support for queries of the format `\d+ nCr \d+` and `\d+ nPr \d+`

Examples:
- "20 nCr 5"
- "18 nPr 3"

## People to notify
@tagawa

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your development environment](https:/

[2017-04-13 20:26] #1318 closed

[2017-04-13 20:26] moollaza commented on #1318
We've change the UI of the calculator. This is not something we plan to implement for now.

[2017-04-13 20:31] moollaza commented on #1389
We'll be deprecating the Perl backend shortly in favour of the new frontend. This will no longer be an issue.

[2017-04-13 20:31] #1389 closed

[2017-04-13 20:39] moollaza commented on #2105
Something of this nature could probably be added to the new JS calculator using a library like http://openexchangerates.github.io/accounting.js/

[2017-04-13 21:35] moollaza commented on #2351
The new interactive calculator has been implemented which supports log and ln 👍

When the Perl logic is deprecated (next week) queries with `log()` and `ln()` should be supported.

[2017-04-14 10:28] yugecin opened #4092 "ASCII Codes Table Suggestion: more compact table"
### Description

The new ascii table IA is far less compact as opposed to the old one. It requires more user input to find the desired value in the table (clicking on show more, scrolling). With the old one, I usually found what I was seaching for in the blink of an eye. See screenshot below for comparison.

![image](https://cloud.githubusercontent.com/assets/12662260/25040789/cdc340e6-210b-11e7-9

[2017-04-14 12:15] moollaza commented on #4092
@yugecin thanks for bringing this up!

We are planning to find a better overall presentation for this. First we wanted to address the biggest complaint we get, which was the colour of the old result in the dark theme.

Next we'll be working with the design team to develop a better template for information dense Instant Answers like this 👍

[2017-04-14 12:16] moollaza commented on #4092
Marking as "On hold" while we think about this.

[2017-04-14 13:05] #3980 closed

[2017-04-14 21:52] moollaza commented on #3150
This is solved in the new Interactive calculator 👍

[2017-04-14 21:52] #3150 closed

[2017-04-15 06:43] ManrajGrover commented on #4092
@yugecin Hi, thanks for opening this issue. 😄

Currently, there are plans to generalize it as `table` template which other IAs can also use. If you have a design in mind, please do share here and we can discuss the same.

I'll be more than happy to make the required changes.

[2017-04-16 09:16] Louistwee opened #4097 "Content Type Cheat Sheet:"
------
IA Page:  http://duck.co/ia/view/content_type_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Louistwee

[2017-04-16 14:37] DANny321123 opened #4098 "Languages Chang"
### Description

## Steps to recreate

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2017-04-16 19:18] #4098 closed

[2017-04-16 22:23] Owlree commented on #4086
Shall I add all of them in a .txt file and use that as a list of triggers?

[2017-04-17 12:19] #4097 closed

[2017-04-17 15:27] pjhampton commented on #3362
Looks like this has now been resolved!

[2017-04-17 15:27] #3362 closed

[2017-04-17 15:46] moollaza opened #4102 "Calendar: Shouldn't trigger on query for "calendar.google.com""
This IA triggers on the navigational queries for the Google Calendar website. We shouldn't show our calendar here as it's probably not relevant to someone who is trying to get to Google calendar.

https://duckduckgo.com/?q=calendar.google.com&ia=answer

This is partially due the the way the DDG lib handles trigger words. If there is no remainder, we need to verify that the `$query_lc == 'calendar'

[2017-04-17 17:28] ManrajGrover commented on #4086
@Owlree Yes, please do.

[2017-04-18 10:36] lernae commented on #4102
Hi @moollaza  I'd like to take this one.

[2017-04-18 13:52] moollaza opened #4107 "ASCII Codes Table: Add additional trigger words"
# Background

The current existing hard-coded iframe appears for the following queries:

- ascii table
- ascii codes
- char codes
- character codes
- ascii character codes
- ascii codes
- ascii characters

## What to do

- Add the above trigger words to the `triggers` in `[HtmlEntities.pm](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/HtmlEntities.pm#L13)`
- Adjust

[2017-04-18 15:49] moollaza commented on #3973
@Owlree I've taken a first pass at this. Would you be interested in migrating the remaining Goodies?

Basically as you'll see from the current code, you just need to migrate the regular expressions we used to trigger the old Goodies 👍

[2017-04-18 16:49] Owlree commented on #3973
Sure thing 👍

[2017-04-19 09:55] adityatandon007 commented on #4107
@moollaza I'll like to take this up

[2017-04-19 13:31] lernae commented on #4102
Hi @moollaza, @pjhampton-  in addition to not triggering on "calendar.google.com", should it also not trigger on queries containing it such as "today calendar.google.com", "calendar.google.com tomorrow"?

[2017-04-19 15:40] pjhampton opened #4112 "Conversions: Open up triggering"
## Problem

From the anonymized query logs, it seems that the triggering of this IA could be opened up. Below is a dump of these queries to help the contributor improve this instant answer.

### Solved
Solved by: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4118
[code]

**Unanswered Queries**
[code]

## Solution

1. Add a selection of these queries to [Conversions.t](https://github.com

[2017-04-19 16:13] mintsoft commented on #4112
@duckduckgo/duckduckhack-contributors if anyone wants to pick a few of these query patterns and implement them they're welcome to :+1:

[2017-04-19 23:17] Owlree commented on #3973
After a first look, those regexes look like a shot in the dark to me. I personally wouldn't use them. Instead, I would use just one regex that would match a superset of them and let Packagetrackr do the job, and maybe cache the response. I think just hand coding every possible regex for every possible carrier is an effort much too big for its small advantage. There will always be some case you did

[2017-04-20 07:22] adityatandon007 commented on #4112
@pjhampton @mintsoft Should I mention queries here on which I'd like to work or can I go on and send a PR directly or is there any kind of ordered pattern which I should follow ?

Feeling lost on how to go. Can you elaborate? :confused:

[2017-04-20 08:55] pjhampton commented on #4112
I recommend you take them all forward as one PR @adityatandon007

[2017-04-20 14:39] mintsoft commented on #4112
@adityatandon007 I agree with @pjhampton . That said; don't feel you have to solve all of them in one go if you're not able to. If you do a PR for just one of the patterns (for example `1 $unit equals how many $unit` style) then that's fine, I'll cross them off on here or something when I see it.

[2017-04-20 20:52] DGMurdockIII commented on #2059
https://sunrise-sunset.org/api

[2017-04-21 17:12] #3942 closed

[2017-04-21 17:12] #3267 closed

[2017-04-21 17:12] #3935 closed

[2017-04-21 18:22] DGMurdockIII commented on #2763
if have found these  TimezoneConverter code https://github.com/filiph/tmzns   and https://github.com/google/cctz  and https://www.iana.org/time-zones

[2017-04-21 18:37] DGMurdockIII commented on #2059
http://stackoverflow.com/tags/timezone/info

[2017-04-21 21:59] moollaza commented on #2059
@DGMurdockIII thanks for the links, adding some context would be helpful though. I'm not sure what you're getting at with the second link.

Unfortunately, that API isn't going to work for us because the Lat/Long we have for the user is generalized and therefore not very accurate.

[2017-04-21 22:15] #4107 closed

[2017-04-21 22:29] #4102 closed

[2017-04-22 21:04] mintsoft commented on #2763
If no-one else can pick this up, I can take a swing at it. I'm confused as to the actual problem though; for queries such as `11:00 EST` if the regions that use EST are currently using EDT due to daylight savings time we want to assume EDT instead of EST?

Putting it in my timezones if during the summer someone asks for 13:00 GMT we will assume they meant 13:00 BST instead?

[2017-04-23 01:16] x-15a2 opened #4117 "President of the United States (POTUS):"
Using POTUS keyword does not give results (example: https://duckduckgo.com/?q=potus%2016&ia=answer )

------
IA Page:  http://duck.co/ia/view/potus
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @numbertheory

[2017-04-23 08:13] adityatandon007 commented on #4112
@mintsoft @moollaza  please review and travis has failed I think it needs to be restarted. Could you restart it so that my build can pass

[2017-04-23 08:23] adityatandon007 commented on #4112
@mintsoft I restarted the travis and it has build and passed tests successfully. Please review

[2017-04-23 08:25] unhammer commented on #2763
@mintsoft so my timezone is CET/CEST. Currently, if I ask for `11:00 EST`, I see `18:00 CEST` which is very misleading. I'd prefer if I saw something like

**17:00 CEST**

_Convert Timezone: 11:00 EDT (UTC-4) to CEST (UTC+2)_

_Assuming daylight saving – result is 18:00 CEST if you really meant EST_

[2017-04-23 08:47] adityatandon007 commented on #4112
@mintsoft @moollaza some of the above mentioned queries are irrelevant like `convert tbsp to grams`, `convert pounds to newtons`, because these have different types. When I searched through the `yaml` file. I saw `tbsp` has `volume` type whereas `grams` has `mass` type and which makes sense like we can only convert if we have quantities of same type. Similarly is the case with some other queries `

[2017-04-23 09:19] adityatandon007 commented on #4117
@x-15a2 I think this IA is offline for now. @moollaza can you start this IA

[2017-04-23 11:40] mintsoft opened #4120 "Calculator: Can't copy the answer to the clipboard"
### Description
If you highlight answer, the highlight is killed off pretty quickly, so you don't have time to right-click.

If you try and highlight and ctrl+c to copy it, the ctrl+c clears the answer!

This is on Firefox 52+ on Windows; I've not tried a chromium yet.

## People to notify
@pjhampton

---

Instant Answer Page: https://duck.co/ia/view/calculator

[2017-04-23 18:27] mintsoft commented on #4112
@adityatandon007 Thanks for looking into those, I'll add my thoughts to each thing here:

`convert pounds to newtons` is basically showing a limitation of the Imperial number system. The unit pounds is used for both force and mass (unambiguously called pounds-force, pounds-mass). We could add a workaround for pounds force like: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DD

[2017-04-23 18:36] mintsoft commented on #2763
@unhammer to clarify, you're saying that the problem is that the current DST state of the person querying isn't taken in account?

[2017-04-23 18:42] unhammer commented on #2763
@mintsoft "CEST" was auto-guessed by ddg (I only typed `11:00 EST`). So In this case, it was only that the current DST state of the place with the same timezone I typed wasn't taken into account. But if I had typed `11:00 EST in CET` I also would have preferred to see the DST versions (with a comment about the "autocorrect").

[2017-04-23 18:48] mintsoft commented on #2763
@unhammer thanks for the clarification, that makes more sense

[2017-04-24 10:09] adityatandon007 opened #4121 "Calculator: Trigonometric Result Error"
**Calculator**: Degrees/Radian Issue

**Issue:**
The trigonometric expressions doesn't work in degrees.
Ex: `sin(45)+cos(45)` with `degree` as selected gives message `Error`  as result

![imageedit_2_6205813579](https://cloud.githubusercontent.com/assets/25108385/25332361/d4d45bd6-2903-11e7-9ce4-5ce1bdcb4dcf.gif)

**The result**

![imageedit_4_9626783065](https://cloud.githubusercontent.com/assets

[2017-04-24 11:01] pjhampton commented on #4121
Awesome! Thanks @adityatandon007 😄  I will look at this tonight.
We can deprioritize the Calculator tab issue as it's only an issue in duckpan and not in production.

[2017-04-24 13:40] #3500 closed

[2017-04-24 16:09] mintsoft commented on #4112
I've updated the list of queries at the top with the ones that have been solved by @adityatandon007 in #4118

[2017-04-24 18:40] #4120 closed

[2017-04-24 18:55] shivam99aa commented on #4089
Hi, I would like to take ownership of this task.

[2017-04-24 19:36] pjhampton commented on #4089
Awesome! Thanks @shivam99aa! It's all yours 👍

[2017-04-24 19:47] moollaza commented on #4089
@shivam99aa I've invited you to the DDH Org, please accept the invitation and ping us here so we can assign the issue to you 👍

[2017-04-24 20:12] shivam99aa commented on #4089
@moollaza Invitation accepted. You can assign the issue to me.

[2017-04-24 23:01] mintsoft opened #4127 "Calculator: Triggering on "168 EUR in GBP""
### Description
As subject, the currency IA also triggers but it's behind the calculator

![calculatorovertriggering](https://cloud.githubusercontent.com/assets/978048/25362167/4e999f8a-294a-11e7-838e-ad845baefa31.png)

## People to notify
@pjhampton

---

Instant Answer Page: https://duck.co/ia/view/calculator

[2017-04-25 02:46] moollaza commented on #4121
@pjhampton it's actually an issue in production as well. We have the Symbolab Spice that also doesn't calculations via an API. We need to prevent it from triggering on things the updated calc triggers on. It's best at solving expressions with unknowns or doing derivatives

[2017-04-25 02:53] moollaza commented on #2763
This is the big issue IMO. Users assume that "EST" will be adjusted to "EDT" (during daylight savings) and they think we're wrong when we show them the time in EST because they're expecting it to be "EDT"

Google normalizes this, but doesn't really clarify what they've done for the user:

https://encrypted.google.com/search?hl=en&q=current%20time%20in%20EST

In this case, they normalize the result

[2017-04-25 02:58] moollaza commented on #3815
Yes it does. Sorry for the late reply. Your IA Page has been enabled you should now be able to test in DuckPAN 👍

[2017-04-25 03:07] moollaza commented on #3973
@Owlree these regex have been written to match the accepted patterns of the various carriers.

They're not meant to be perfect or exclusive because either way we rely on Packagetrackr to determine which carrier the tracking code actually belongs to. Having the individual regex does help though if we later want to add back the logic that tries to verify beforehand if the potential tracking code is

[2017-04-25 09:43] #4127 closed

[2017-04-25 12:02] mintsoft commented on #2763
OK, so I think maybe we can do something like queries for `EDT` or `EST` (for example) is always answered as "ET" (Eastern Time). Eastern Time, will be EDT or EST depending on which is in effect.

Then, unlike G, we can explain what we've actually done rather than leaving the user guessing as to why they've been given a different answer than the question they've asked.

[2017-04-25 19:48] ianiD commented on #3509
bump

[2017-04-25 20:28] shivam99aa commented on #4089
Do we need to stop Timer IA on only above 3 cases or all such cases?
If it is latter then Timer IA will not come on 15 minutes. Please clarify. @moollaza

[2017-04-25 20:49] pjhampton opened #4132 "npm: Improve the single detail view"
## Problem

In #3257 we added the single detail view back to improve engagement. But we need to make some changes to improve the UX.

![screen_shot_2017-04-25_at_9_37_48_pm](https://cloud.githubusercontent.com/assets/8960296/25406964/799fec00-2a00-11e7-86ae-0e980474854b.png)

## Solution

1. Add the description from the api call
2. Remove the separator beside the _More at_ link
3. Send a PR

## Pe

[2017-04-25 21:16] #4132 closed

[2017-04-25 22:47] mintsoft commented on #4089
@shivam99aa just the cases above, they're basically the name of american news programs

[2017-04-26 00:58] moollaza commented on #3760
A few users have noticed this IA is offline. There are a few queries that the Wikipedia Fathead doesn't handle, e.g. "potus 15"

I suppose we could keep it around with a reduced trigger space?

[2017-04-26 01:02] moollaza commented on #4117
More Details: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3760

[2017-04-26 12:42] shivam99aa commented on #4091
nCr thing is already working at present while nPr is not working.
@tagawa  You can assign this issue to me and I will finish it for nPr too.

[2017-04-26 13:21] tagawa commented on #4091
Hi @shivam99aa - thank you for offering!

[2017-04-26 16:27] moollaza opened #4136 "Color Picker: Should trigger on "rgb to hex" and similar"
## Background
This IA should trigger on the query "rgb to hex", "rgb to hex converter", etc.

## Solution

1. Add these queries (and any similar queries) to [ColorPicker.t](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/t/ColorPicker.t)

2. Update the triggering in [ColorPicker.pm](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/ColorPicker.pm) to ma

[2017-04-26 21:04] shivam99aa commented on #4091
It seems that I was wrong earlier and trigger for `nPr` is also present in the code.
Although the behavior I am seeing while searching for ex `10 nPr 2` is that instead of showing answer it is showing news at the top by default.It is because nPr is also short for `national public radio`.
 If I manually click on `answer` link then it is shown that the IA is present there. I think there is nothing t

[2017-04-26 21:09] shivam99aa commented on #4004
@pjhampton I can look into this issue. If okay then assign it to me.

[2017-04-26 21:16] richardscollin commented on #4091
What are the criteria that it uses to match news articles? Is this code in an instant answer or something else? It appears that for some queries it doesn't match news articles e.g. 2 npr 1 while others it does: 10 npr 5.

[2017-04-26 21:23] shivam99aa commented on #4091
If you check in the search results which are coming. There will be some result present which will match one number present in the search. This might be causing news article to come instead of IA.

[2017-04-27 01:25] x-15a2 commented on #4117
Thanks for the info, I'll update my comments in the subReddit. Can someone update the information on the IA info page: https://duck.co/ia/view/potus ? Thanks!

[2017-04-27 01:25] #4117 closed

[2017-04-27 16:12] #4136 closed

[2017-04-27 16:18] #4089 closed

[2017-04-27 16:32] shivam99aa commented on #4091
Can someone update me how news gets triggered and we actually need to edit that code to not get triggered for this scenario. Combination IA is perfect and nothing needs to be done here.

@tagawa

[2017-04-27 18:09] mintsoft commented on #4091
@moollaza @tagawa  Those queries are already answered : https://duckduckgo.com/?q=10+nPr+4&t=vivaldi&ia=answer
https://duckduckgo.com/?q=10+nCr+4&t=vivaldi&ia=answer

I don't see there's anything to do here at all

[2017-04-27 18:43] richardscollin commented on #4091
@minsoft entering `10 npr 5` in my browser results in the following url: https://duckduckgo.com/?q=10+npr+5&t=fpas&iax=1&ia=news

Note that for `10 npr 4` it seems to work as expected. As @shivam99aa mentioned it looks like it depends if the news article contains one of the given numbers.

Seeing as the answer is still calculated and just in a separate clickable tab I don't think it's a big issue.

[2017-04-27 22:13] bsstoner commented on #4089
This was released to production 🚀

[2017-04-28 07:48] mintsoft commented on #4091
@richardscollin We can return high signal for this IA to take precedence (like: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/ba2760f03485f32f10de1e85c19b11415cb8528b/lib/DDG/Goodie/Constants.pm#L480 @moollaza I presume there's no issue with doing that?

[2017-04-28 10:39] spagy opened #4140 "Base Conversion: Allow fractions"
At the moment only integers can be converted:
22 base 3 to base 12

It would be nice if this IA could also be used to convert fractions in different bases:
3.5 base 7 to decimal

------
IA Page:  http://duck.co/ia/view/base
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @moritz

[2017-04-28 13:09] ezhmd opened #4141 "Conversions: wrong results on dyne prefixes and dyne <-> newton conversion."
Following queries display wrong result :

"1 dyne in newton",
DuckDuckGo answered: 100,000 newtons. It should be 1 * 10^(-5) newtons.

"1 newton in dyne",
DuckDuckGo answered: 1 * 10^(-5) dynes. It should be 100,000 dynes.

"1 dyne in kilodyne",
DuckDuckGo answered: 1,000 kildynes. It should be 1 * 10^(-3) kilodynes.

"1 kilodyne in dyne",
DuckDuckGo answered: 0.00100 dynes. It should be 1000 dyne

[2017-04-28 13:25] adityatandon007 commented on #4141
@pjhamton I am working on it. I think math.js is working fine.

[2017-04-28 13:37] pjhampton commented on #4141
Yeah, it is @adityatandon007 after I rejigged some things.
I'm not sure if this is worth your effort because this is going to be overriden in my UI changes. We won't need the factors any more. Should I move this to on hold?

[2017-04-28 13:40] adityatandon007 commented on #4141
@pjhampton I have the PR ready so if you want I can just push right now

[2017-04-28 14:18] adityatandon007 commented on #4091
@mintsolft @moollaza I don't see any point why news is set to default in this case. I think what @mintsoft said

could be a way to handle this issue.

[2017-04-29 16:53] anewuser opened #4145 "Suggestion: download time calculator"
Sample query: `3.53GB/100KBps`

Snippet given by Google that you could implement, preferably converting it to hours and minutes:

[code]

---

[2017-04-29 18:17] richardscollin commented on #4091
Would it be preferable to always enable high priority or restrict it to the cases with `npr` and `ncr` as the trigger words @mintsoft @moollaza ? Either way I can make a PR with the change once I know which way is preferred.

[2017-04-30 04:46] refola opened #4146 "JavaScript (Core) Cheat Sheet: Broken URL"
Current URL in "More at OverAPI" link: `http://overapi.com/javascript/`
Correct URL to change it to: `http://overapi.com/javascript` (note the lack of trailing slash `/`)

When I searched for "javascript reference" on DuckDuckGo and clicked the link, it gave a "Sorry Something Wrong..." error which links to a bunch of references including the desired on without the trailing slash.

------
IA Page:

[2017-04-30 09:01] 7Emiratte opened #4147 "Need to Fix CSS problem on my Website"
Hay i am facing some alignment issue on my website [http://7Emirate.com](url)
The below part of home page where latest listings are displaying the images and buttons are not coming in line there is some disorder if anyone help me its really appreciated thanks.

[2017-04-30 10:20] adityatandon007 commented on #4147
@duckduckgo/community-leaders is this a spam?. The link directs to [https://github.com/duckduckgo/zeroclickinfo-goodies/issues/url](https://github.com/duckduckgo/zeroclickinfo-goodies/issues/url)

[2017-04-30 10:25] adityatandon007 commented on #4146
@refola thanks for reporting this.
@pjhampton picking this

[2017-04-30 10:58] adityatandon007 commented on #4145
@anewuser yeah! that w'd be awesome feature to implement

[2017-04-30 11:27] #4147 closed

[2017-04-30 11:28] gautamkrishnar commented on #4147
Unrelated issue...

[2017-04-30 11:36] #4146 closed

[2017-04-30 11:38] gautamkrishnar commented on #4145
Yes looking great 👍  @duckduckgo/duckduckhack-contributors anyone like to implement this one?

[2017-04-30 14:44] anewuser commented on #3955
Make sure it's case-sensitive for queries like `10Mbps to MBps` to work.

[2017-05-01 00:01] darsnack commented on #2799
Is this issue now unclaimed again? If so, I'd like to take a whack at it.

[2017-05-01 06:35] namandistro opened #4150 "New Atom Cheat Sheet"
I guess there are 2 cheat sheet with diffrent maintainers
https://duck.co/ia/view/github_atom_mac_cheat_sheet

------
IA Page:  http://duck.co/ia/view/atom_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @typo

[2017-05-02 05:54] adityatandon007 commented on #4145
what are the trigger words going to be for this thing to trigger. :thinking:

[2017-05-02 11:26] pjhampton commented on #4145
You don't need necessarily need words @adityatandon007, you can use patterns.
Think Currency spice, Calculator Goodie that you have worked on before 👍

[2017-05-03 01:34] KO0I opened #4153 "Please Document Font Selection"
### Description
When using figlet on duckduckgo.com, the example, default, case is shown. I noticed that duckduckgo.com also *displays* which font I had used. This implied I had options, so following the info and coming here, I had found that you truly had multiple fonts. Great! I love ASCII art.

However, so far, I have not been able to find or figure out how to actually tell duckduckgo.com to us

[2017-05-03 10:18] shivam99aa commented on #4091
@tagawa @moollaza Can someone comment on this issue on what will be the best approach to proceed on this?

[2017-05-03 11:05] mintsoft commented on #4091
@richardscollin I think so yes; if the IA returns an answer then I'd say the user's intention is probably to calculate the nCr or nPr rather than searching for the terms

[2017-05-04 08:59] samsk opened #4156 "Calculator Suggestion: Support comma in floating numbers"
Calculator should support comma as decimals separator in floating numbers.

Example:
ddg:  2,2 - 3 = 19
google 2,2 - 3 = -0.8

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pjhampton

[2017-05-04 10:11] pjhampton commented on #4156
This is quite tricky because we need to support this logic in the expression builder and the expression normalizer as mathjs doesn't support `,` as decimal. If someone from @duckduckgo/duckduckhack-contributors what's to try take this on, you are more than welcome.

[2017-05-04 11:11] pjhampton opened #4157 "Brainy Quote: Show more than one quote"
## Problem

Currently, we only show one quote on this IA. We should increase this to 3 if the plural `quotes` is contained in the query we should show more than 1.

![screen shot 2017-05-04 at 11 53 37 am](https://cloud.githubusercontent.com/assets/8960296/25700621/6083e7b4-30c0-11e7-88dd-115e3c4af537.png)

## Solution

1. Add a couple of tests to [BrainyQuote.t](https://github.com/duckduckgo/zero

[2017-05-04 11:27] RoryCrispin opened #4158 "Calculator: Does not handle log bases correctly"
log2(2) returns 0
Should be returning 1

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pjhampton

[2017-05-04 12:50] pjhampton commented on #4158
Just to add more context to this issue. The query `log2(2)` fails in the front-end logic, and as a result we bail and show the calculator anyway. We should remove the triggering in the Perl file to stop custom log bases until we can handle that in the expression normalizer.

[2017-05-04 22:08] mintsoft opened #4159 "Conversions: Regressions"
### Description
Yo's; just noticed a few things I missed when I looked over the PR:

The following used to trigger:
* https://duckduckgo.com/?q=1GiB+in+MiB&t=vivaldi&ia=web
* https://duckduckgo.com/?q=1+ping+in+square+feet&t=vivaldi&ia=web (https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2125)
* https://duckduckgo.com/?q=BTU+to+KwH&t=vivaldi&ia=web (https://github.com/duckduckgo/zerocli

[2017-05-05 06:36] pjhampton commented on #4159
Hey @duckduckgo/duckduckhack-contributors

Would anybody like to support these over the weekend?
I have a dump of conversions that had to be dropped in the v2 initially - but can now be added back in.

[2017-05-05 06:51] pjhampton opened #4161 "Conversions: Add further triggering"
### Problem

[In the v2](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4135), we a[dded in some generic triggers](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/54533e63cf1ce810f8c1eefcf31ec7f3c5ab4b38/lib/DDG/Goodie/Conversions.pm#L32) to broaden the triggering of this IA. It [opens up **length** by default](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/54533e63cf1

[2017-05-05 11:00] pjhampton commented on #4159
Now that I've thought about it a bit, maybe we should break this down into many smaller tasks. We're not just regressing here but across all the categories. Further, these are just some examples - we want to be as comprehensive as possible like Bing.

Let's start with closing this and creating an issue to improve Digital Conversions by adding anything that's missing. What do you guys think?

[2017-05-05 11:43] Lord-Lavios commented on #4159
@pjhampton I've already started working on adding more digital conversions.

[2017-05-05 12:04] pjhampton commented on #4159
Ahh, nice @Lord-Lavios. Thanks! I will create an issue later for you and assign it to you so we can keep track of this stuff.

Maybe this is an excuse to leverage Github Projects.

[2017-05-05 12:07] adityatandon007 commented on #4161
@pjhampton I w'd like to try it! I will ask for help in case needed.

[2017-05-05 14:43] pjhampton commented on #4161
Awesome @adityatandon007!!
Sure, always reach out if unsure 👍

[2017-05-05 17:50] jonathancross opened #4163 "Conversions: volume returns no results"
I can't get any volume conversions to work, eg [1 cup in pints](https://duckduckgo.com/?q=1+cup+in+pints&ia=answer) returns no answer.

JS console:
[code]

Browsers: Chrome, Safari and Firefox on Mac.

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2017-05-05 18:26] pjhampton commented on #4163
on it!

[2017-05-05 18:51] pjhampton commented on #4163
Hey @jonathancross!

Thanks so much for catching this one. I have patched it here: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4160
Hopefully, we can get this deployed soon.

[2017-05-05 19:18] #4163 closed

[2017-05-05 20:38] pjhampton commented on #4163
@jonathancross [This should now be fixed](https://duckduckgo.com/?q=1+cup+in+pints&ia=answer). Thanks again 💯

[2017-05-05 21:57] #2799 closed

[2017-05-05 22:05] moollaza commented on #4153
@KO0I if you click the little "i" icon beside the result you'll be able to see the Instant Answer page for Figlet: https://duck.co/ia/view/figlet

Here we have some example queries that should demonstrate the triggering.

In this case, you just need to provide the name of the font to use: "figlet <font name> <text>"

We _could_ supply a dropdown, but because this Goodie is implemented in Perl we'd

[2017-05-05 22:09] moollaza commented on #4091
This was migrated from an older issue, but I'm not sure how I didn't see those results before!

I've adjusted the priority in the backend. Changes should be live in an hour or so 👍

Thanks everyone

[2017-05-05 22:09] #4091 closed

[2017-05-06 01:30] KO0I commented on #4153
Oh. What I was trying to do is literally the second example. I can't believe I didn't figure this out. I just went straight to github :S

The text input is actually my preferred way. I am sorry for bothering you!

[2017-05-06 01:38] darsnack commented on #4157
Am I imagining things or should this issue be for the Spice repo?

[2017-05-06 11:32] sixhobbits opened #4164 "Conversions: JSON format no longer populated"
### Description

Various conversions are no longer accessible in JSON/XML format. Previously one could append `&format=json` to conversion queries sent to DDG and find the answer to the conversion in the `Answer` section of the JSON. Now the JSON largely consists of empty fields. Is this part of https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4159?

## Steps to recreate
Visit https://du

[2017-05-06 14:08] pjhampton commented on #4157
Well spotted @darsnack

[2017-05-06 14:08] #4157 closed

[2017-05-06 14:31] pjhampton commented on #4164
Hi @sixhobbits,

We're no longer calculating conversions on the backend and calculating them off the front-end because of the new interactive UI.

https://duckduckgo.com/?q=unit+converter&t=h_&ia=answer

This improves the search experience for many of users. Sorry it's no longer supported via the API

[2017-05-06 14:31] #4164 closed

[2017-05-07 11:08] Janjoch opened #4166 "Calculator: x^(xy) != x^(x)y"
When I enter in the calculator 2^2 * 2 without writing "*", the Result will be 4,194,304. (Combination: [2] + [x^2] + [2] + [=]) But 4,194,304 is the result of 2^22.

The same mistake is also with 4^(4)4 != 4^(44)  or  1^(2)3 != 1^(23)

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pjhampton

[2017-05-07 16:16] jonathancross commented on #4163
LGTM.  Cheers!

[2017-05-07 16:58] spagy opened #4167 "Timer: Trigger on "count down timer""
It would be nice if searching for "count down timer" triggered this IA

------
IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2017-05-07 17:00] spagy commented on #4167
This seems like a fairly simple change. I'd be happy to have a go at it at some point but I'm pretty busy at the moment.

[2017-05-08 12:04] adityatandon007 commented on #4161
I wasn't clear about the things that I have to add in the conversion.js file. I tried looking for the initialize function but I couldn't find any initialize function.

[2017-05-08 12:34] pjhampton commented on #4161
Initialize isn't a func. See lines [362-367](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/54533e63cf1ce810f8c1eefcf31ec7f3c5ab4b38/share/goodie/conversions/conversions.js#L362). This block is getting the information from the perl backend (the `data` hash).

Lines [381-394](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/54533e63cf1ce810f8c1eefcf31ec7f3c5ab4b38/share/goodie/con

[2017-05-08 18:27] pjhampton opened #4170 "Conversions Suggestion: (ANGLE) - Add Missing Units"
## Problem

We recently migrated the conversions API into an interactive UI. However, some units were ditched for various reasons and the legacy code didn't necessarily support all of the units that were desired from users. This is a good opportunity to take the lead in the search engine conversion game.

![screen shot 2017-05-08 at 6 37 07 pm](https://cloud.githubusercontent.com/assets/8960296/25

[2017-05-08 18:33] pjhampton opened #4171 "Conversions Suggestion: (AREA) - Add Missing Units"
## Problem

We recently migrated the conversions API into an interactive UI. However, some units were ditched for various reasons and the legacy code didn't necessarily support all of the units that were desired from users. This is a good opportunity to take the lead in the search engine conversions game.

![screen shot 2017-05-08 at 6 37 07 pm](https://cloud.githubusercontent.com/assets/8960296/2

[2017-05-08 18:36] pjhampton opened #4172 "Conversions Suggestion: (DURATION) - Add Missing Units"
## Problem

We recently migrated the conversions API into an interactive UI. However, some units were ditched for various reasons and the legacy code didn't necessarily support all of the units that were desired from users. This is a good opportunity to take the lead in the search engine conversions game.

![screen shot 2017-05-08 at 6 37 07 pm](https://cloud.githubusercontent.com/assets/8960296/2

[2017-05-08 18:39] pjhampton opened #4173 "Conversions Suggestion: (ENERGY) - Add Missing Units"
## Problem

We recently migrated the conversions API into an interactive UI. However, some units were ditched for various reasons and the legacy code didn't necessarily support all of the units that were desired from users. This is a good opportunity to take the lead in the search engine conversions game.

![screen shot 2017-05-08 at 6 37 07 pm](https://cloud.githubusercontent.com/assets/8960296/2

[2017-05-08 18:43] pjhampton opened #4174 "Conversions Suggestion: (FORCE) - Add Missing Units"
## Problem

We recently migrated the conversions API into an interactive UI. However, some units were ditched for various reasons and the legacy code didn't necessarily support all of the units that were desired from users. This is a good opportunity to take the lead in the search engine conversions game.

![screen shot 2017-05-08 at 6 37 07 pm](https://cloud.githubusercontent.com/assets/8960296/2

[2017-05-08 18:46] pjhampton opened #4175 "Conversions Suggestion: (LENGTH) - Add Missing Units"
## Problem

We recently migrated the conversions API into an interactive UI. However, some units were ditched for various reasons and the legacy code didn't necessarily support all of the units that were desired from users. This is a good opportunity to take the lead in the search engine conversions game.

![screen shot 2017-05-08 at 6 37 07 pm](https://cloud.githubusercontent.com/assets/8960296/2

[2017-05-08 18:48] pjhampton opened #4176 "Conversions Suggestion: (MASS) - Add Missing Units"
## Problem

We recently migrated the conversions API into an interactive UI. However, some units were ditched for various reasons and the legacy code didn't necessarily support all of the units that were desired from users. This is a good opportunity to take the lead in the search engine conversions game.

![screen shot 2017-05-08 at 6 37 07 pm](https://cloud.githubusercontent.com/assets/8960296/2

[2017-05-08 18:50] pjhampton opened #4177 "Conversions Suggestion: (POWER) - Add Missing Units"
## Problem

We recently migrated the conversions API into an interactive UI. However, some units were ditched for various reasons and the legacy code didn't necessarily support all of the units that were desired from users. This is a good opportunity to take the lead in the search engine conversions game.

![screen shot 2017-05-08 at 6 37 07 pm](https://cloud.githubusercontent.com/assets/8960296/2

[2017-05-08 18:54] pjhampton opened #4178 "Conversions Suggestion: (PRESSURE) - Add Missing Units"
## Problem

We recently migrated the conversions API into an interactive UI. However, some units were ditched for various reasons and the legacy code didn't necessarily support all of the units that were desired from users. This is a good opportunity to take the lead in the search engine conversions game.

![screen shot 2017-05-08 at 6 37 07 pm](https://cloud.githubusercontent.com/assets/8960296/2

[2017-05-08 19:01] pjhampton commented on #4159
Closing. See

- https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4178
- https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4177
- https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4176
- https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4175
- https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4174
- https://github.com/duckduckgo/zeroclickinfo-goodies/is

[2017-05-08 19:01] #4159 closed

[2017-05-08 19:35] pjhampton commented on #4112
Closing this for now

[2017-05-08 19:35] #4112 closed

[2017-05-08 20:21] pjhampton commented on #2654
Closing this for 2 reasons:

1. We can't support with the math.js front-end
2. From the query data, people just aren't searching for this

[2017-05-08 20:21] #2654 closed

[2017-05-08 20:24] pjhampton commented on #906
@jagtalon solved
When it rounds to scientific notation now, it's a side affect of the JavaScript language

![screen shot 2017-05-08 at 9 22 50 pm](https://cloud.githubusercontent.com/assets/8960296/25823641/a0ed573c-3434-11e7-9268-88ffb5937d1b.png)

[2017-05-08 20:24] #906 closed

[2017-05-08 20:25] pjhampton commented on #1418
Closing as this is no longer applicable

[2017-05-08 20:25] #1418 closed

[2017-05-08 20:26] #2351 closed

[2017-05-08 20:30] pjhampton commented on #2879
Seems solved to me 👍  closing...

[2017-05-08 20:30] #2879 closed

[2017-05-08 20:33] pjhampton commented on #3871
Fixed now with the new UI. The first one doesn't trigger but we will capture those in the pixel logs

[2017-05-08 20:33] #3871 closed

[2017-05-08 21:16] TheOdd commented on #4176
I'd love to work on this problem! Just an FYI: I'm super new to this, so I apologize in advance if I make a mistake in the process of fixing it.

[2017-05-08 21:32] pjhampton commented on #4176
Awesome @TheOdd! Thanks so much in advance
If you need any help just ping us (or me) here 😄

[2017-05-08 23:51] DGMurdockIII commented on #4156
https://github.com/sanity/LastCalc

[2017-05-09 02:08] scottwarren commented on #4175
I'm looking to take this on!

[2017-05-09 02:47] nalinbhardwaj commented on #4145
I'll take this up 👍

[2017-05-09 09:11] DGMurdockIII commented on #4170
https://github.com/ben-ng/convert-units

www.npmjs.com/package/convert-units

[2017-05-09 09:20] DGMurdockIII commented on #3973
https://github.com/Digi-Cazter/omniship

[2017-05-09 10:05] pjhampton commented on #4170
@DGMurdockIII While your involvement is appreciated - Please stop spamming the issues with links that 1, have no context, and 2, don't necessarily solve the problem. These links don't help and it will confuse some of our new contributors. I'm going to delete these comments now.

[2017-05-09 10:07] pjhampton commented on #4175
Thanks @scottwarren! You rock 🤘

[2017-05-09 10:11] pjhampton commented on #4145
Sweet @nalinbhardwaj!
Look forward to seeing what you create

[2017-05-09 10:13] scottwarren commented on #4175
Glad to help :-)

[2017-05-09 15:55] DGMurdockIII commented on #4170
Ok where should I share them then

On May 9, 2017 6:05 AM, "PJ Hampton" <notifications@github.com> wrote:

[2017-05-09 17:33] TheOdd commented on #4176
@pjhampton I have a few things I want to ask about:

1. When editing the `conversions.js` file and adding in the additional units to the `Units` variable, there are a couple of them that have abbreviations that are identical to existing ones. Do I exclude these abbreviations in the aliases/symbols in favor of the more common one or add it to both? I'm just making sure as it could create a conflict

[2017-05-09 17:35] pjhampton commented on #3899
This has been addressed 👍
![screen shot 2017-05-09 at 6 34 07 pm](https://cloud.githubusercontent.com/assets/8960296/25864143/452b9398-34e6-11e7-81fc-bb707ad5253f.png)

[2017-05-09 17:35] #3899 closed

[2017-05-09 17:41] pjhampton commented on #4176
Hey @TheOdd

So [Line 45](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/conversions/conversions.js#L45) is where we define our custom unit, and [L166](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/conversions/conversions.js#L166) is where we make it (and the units specified by math.js) to the UI. Does this answer your question?

Yeah, s

[2017-05-09 18:54] J-Speight commented on #4173
I would like to work on this issue.

[2017-05-09 19:04] pjhampton commented on #4173
All yours @J-Speight 🤘

[2017-05-09 20:53] #2988 closed

[2017-05-09 20:56] TheOdd commented on #4176
@pjhampton Thanks for the clarification! Is there a set time limit that I have to do this? Some days I'm just a bit busy with other things and exhausted, so I might not be able to work on it. I don't want to rush a fix, though.

[2017-05-09 21:16] pjhampton commented on #4176
Hey @TheOdd,

That's cool, there is no rush! Do you want to set a provisional merge date so this doesn't drag on... say Thursday (18/May)?

[2017-05-09 21:29] TheOdd commented on #4176
Sure, that sounds good.

[2017-05-09 23:34] Owlree commented on #3973
Alright, I'll just port the existing regexes to the spice then.

[2017-05-09 23:46] J-Speight commented on #4173
@pjhampton (https://docs.duckduckhack.com/submitting/pull-request.html) states "Make sure there's only one Instant Answer per pull request."

Could I get clarification on this?

For example, do I write all the appropriate material (noted in **solutions**) for Foot pound to Decielectron volt conversions and then submit a pull request?

so the code for Foot pound to Centielectron volt would be a sep

[2017-05-10 09:21] pjhampton commented on #4173
Hey @J-Speight

Thanks for reaching out. Ok, so we already have an instant answer for [Conversions](https://duck.co/ia/view/conversions). This issue is to extend that Instant Answer, rather than create a new one. Sorry if that wasn't clear from the original issue.

The files that you will want to edit are:

 - [spec/conversions_spec.js](https://github.com/duckduckgo/zeroclickinfo-goodies/tree/mast

[2017-05-10 14:49] futtetennista commented on #4177
It seems like a good task to work on to start contributing. I'll give it a go.

[2017-05-10 16:20] pjhampton commented on #4177
Thanks @futtetennista! 🤘
Reach out if you have any questions or need someone to bounce ideas off

[2017-05-10 16:59] ZaninAndrea opened #4186 "Timer: Trigger on "Pomodoro timer""
I think it would be a good idea to make the search 'pomodoro timer' trigger a timer of 15 minutes.
If you didn't know: [pomodoro technique](https://en.wikipedia.org/wiki/Pomodoro_Technique)

------
IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2017-05-10 17:02] ZaninAndrea commented on #4186
I'm a new-comer, but I think this should be a pretty easy implementation, so I would be happy to contribute.

[2017-05-10 17:05] pjhampton commented on #4186
Hey @ZaninAndrea  👋  Welcome!

I'm not sure **pomodoro technique** would be a great trigger. We don't want to surprise the user with something that is only semi-relevant. Maybe **pomodoro timer** or **pomodoro clock**. Anybody else have thoughts on this cc/ @duckduckgo/duckduckhack-contributors ?

[2017-05-10 17:24] ZaninAndrea commented on #4186
@pjhampton yes, the search query I was thinking about was **pomodoro timer**, but also **pomodoro clock** would be good. I added pomodoro technique only as a reference, I didn't mean it to be the trigger.

[2017-05-10 20:57] ezhmd commented on #4141
I noticed this problem has been fixed in duckduckgo site. Thanks for the great work!

[2017-05-10 20:57] #4141 closed

[2017-05-10 21:00] pjhampton commented on #4141
Thanks @ezhmd, and thanks for the bugs. If you find any more feel free to open more GH issues 💙  💜  💛

[2017-05-10 21:23] #4167 closed

[2017-05-11 03:12] BillyBarbaro commented on #4156
@pjhapmton I'll give this one a go.  Out of curiosity, how should be handle instances where the user mixes notations?  Like what if the user submits "10,05 + 10.01"?  Should the IA just not trigger?  or should I try and get it to evaluate to 10.06?

[2017-05-11 06:12] samsk commented on #4156
I would prefer to accept mixed notation - when I'm copying numbers from different sources, I always have to unify them now (on google). I (as a human) see both as a float, so IMHO ddg should also :)

[2017-05-11 07:30] mintsoft commented on #4156
It's a little more complex than that @samsk as it depends on culture. In mainland Europe they would write the number 1 million and 1 one-hundredth as  `1.000.000,01` whereas in the UK/US etc it would be written as `1,000,000.01`

You can see how if the number isn't large, mixing them becomes problematic

[2017-05-11 09:57] pjhampton commented on #4156
I see what you guys are saying.

Regardless, we need to evaluate the expression how we are currently. So if `1.000.000,01` is entered we need to rewrite the token to `1,000,000.01` regardless.

I guess we could allow comma by changing [Line 40](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/137f98c31bdb190e42c6d3ef05d7f532d1000ce1/share/goodie/calculator/calculator.js#L40) to a comma and

[2017-05-11 10:56] shivam99aa opened #4188 "Timer: Explicit request for timer not working on ambigious triggers"
### Description
If I try to run `timer for 60 minutes` then it will not work. In issue #4089 I removed trigger for `60 minutes` but it is somehow also stopping when explicitly someone is asking for a timer.

## People to notify
@moollaza @pjhampton

Instant Answer Page: https://duck.co/ia/view/timer

[2017-05-11 11:13] shivam99aa commented on #4188
If there is no issue then I would like to take this up and solve whatever I missed in my previous commit.

[2017-05-11 12:10] adityatandon007 commented on #4174
@pjhampton I would like to pick this!

[2017-05-11 13:42] adityatandon007 opened #4189 "Calculator: Over triggering"
**Issue**: This is one the IA that I use a lot now but for now its over triggering.

For example searching for a website(that ends with `x`) triggers this IA which shouldn't happen. Ex: 1337x is one of the most popular torrent search engine website and its global Alexa rank is under 600 and its Alexa rank in :india: is 112 to be exact. So, the IA should trigger in this case.

**Steps to recreate**

[2017-05-11 14:16] pjhampton commented on #4189
It seems that we're duplicating this one issue quite a bit. I think we will create a master issue for all the issues with calc triggering so we don't create an issue for every edge case. This will make patching them a bit easier.

[2017-05-11 16:04] pjhampton opened #4190 "Molar Mass: Create new Molar Mass IA"
### Description

It seems that quite a lot of molar mass related queries. The user is having to click through into the organics or the wikipedia module to get an answer. It seems we are failing here. We should create a Molar Mass Instant Answer to serve these to the user with zero clicks. Google does this well:

![screen shot 2017-05-11 at 4 50 51 pm](https://cloud.githubusercontent.com/assets/896

[2017-05-11 16:35] ManrajGrover opened #4191 "C++ Algorithms CheatSheet: Fix template and make it consistent with other cheatsheets"
### Description
Currently, `reference` template is being used for the cheatsheet. To make it look better and also consistent with other C++ Cheatsheets, `terminal` template should be used. Also, the keys don't express the syntax well, hence there is a need to fix that too. See [C++ Bitset Cheatsheet](https://duckduckgo.com/?q=c%2B%2B+bitset+cheatsheet&t=h_&ia=cheatsheet&iax=1) for example.

## Ste

[2017-05-11 16:43] J-Speight commented on #4173
Just keeping track of what I've done/what is left to do
https://github.com/J-Speight/zeroclickinfo-goodies/tree/issue-4173

add conversions for:

- [ ] joules to *
- [ ] kilojoules to *
- [ ] gramcalories to *
- [ ] Foot pound to *
- [ ] Decielectron volt to *
- [ ] Centielectron volt to *
- [ ] Millielectron volt to *
- [ ] Microelectron volt to *
- [ ] Nanoelectron volt to *
- [ ] Picoelectron v

[2017-05-11 19:45] pjhampton commented on #4172
On it

[2017-05-11 20:15] BillyBarbaro commented on #4156
@pjhampton As @mintsoft pointed out, the NumberStyler does not currently allow mixed formats.  Since this is used to parse the input, the Goodie is not triggered if the user submits a mixed pair.  This could be fixed, but it would involved changing the NumberStyle (which may break other things) or implementing some sort of substitution upstream of the call to NumberStyle in Calculator.pm.

[2017-05-11 20:22] pjhampton commented on #4156
@BillyBarbaro Sure, but we can still support it in the UI. The engagement rate is up, which suggests that users are hitting a query, and then interacting with the calculator.

[2017-05-11 20:27] pjhampton commented on #4171
on it...

[2017-05-11 20:29] BillyBarbaro commented on #4156
@pjhampton When I interact with the calculator, anytime I try and type a comma, it just gives me a decimal.  So it seems this issue can only occur when the user submits a query in the search bar.

[2017-05-11 20:31] pjhampton commented on #4156
Yeah, but I think what @samsk is saying is that he wants to type `,` and get a `,`. Can you confirm this is correct?

[2017-05-11 20:48] BillyBarbaro commented on #4156
Sounds good.  I've found a way to get the commas working on queries submitted through the search bar by using NumberStyle.  Should I create a PR for that then work on the JS enhancement (if needed) on another branch?  Or is it easier to keep the 2 together?

[2017-05-11 20:53] pjhampton commented on #4156
I actually think this should be 2 separate PRs. But I'll let you use your best judgement 👍

[2017-05-11 21:44] ryr3 commented on #4178
Hey! I'd like to work on this. Please assign me

[2017-05-11 21:48] pjhampton commented on #4178
Awesome! Thanks so much @ryr3
We'll get you added to the DDG github organization soon. In the meantime, feel free to get started and reach out here or on slack if you need help / have questions... 👍

[2017-05-11 21:50] #4171 closed

[2017-05-12 00:10] J-Speight commented on #4173
Interestingly enough - Google's instant result for the query:

10 joules to hectoelectron volts returns the answer: 6.242e+17
(https://www.google.co.uk/?gfe_rd=cr&ei=dfwUWZyIIdPU8gfdmpeQCA&gws_rd=ssl#q=10+joules+to+hectoelectron+volt)

so I've decided to offer more precision. The conversions_spec calculates the same equation to be: `6.24150947961E+17`

[2017-05-12 00:18] pash90 commented on #4170
@pjhampton I would like to work on this.

[2017-05-12 01:18] BillyBarbaro commented on #4156
I'll go ahead and do it as 2 separate ones.

I've been refactoring the tests to reflect the changes I made for the search bar PR.  This test `$3,4+$34,4` is identified by the NumberStyler as already in "perl" form (decimal is . and thousands is ,) as opposed to "euro" form (decimal is , and thousands is .).  Any idea why this might be?

[2017-05-12 05:53] adityatandon007 commented on #4189
@pjhampton thats sounds cool. Like we have done in v2 of the calculator, where we listed all the issues and then cut them off from the list if they gets patched. That way, it will be easy to manage.

**I think we will create a master issue for all the issues with calc triggering**

I agree :+1: with you on this.

[2017-05-12 06:49] samsk commented on #4156
@pjhampton I want to type 2,3-1 and get correct result, how it will displayed is not important (at least for me not).

[2017-05-12 07:26] shivam99aa commented on #4188
@pjhampton Can you please assign this task to me so that i can start working on this task and finish it over this weekend.

[2017-05-12 08:54] pjhampton commented on #4188
No problem, @shivam99aa ❤️  Thanks for your hard work on this IA

[2017-05-12 08:55] pjhampton commented on #4170
Thanks @pash90! It's all yours.
If you need any help or have any questions feel free to ask here or on slack. We'll get you added to the DDG github org soon

[2017-05-12 15:07] adityatandon007 commented on #4191
@ManrajGrover I w'd like to work on this

[2017-05-12 15:10] ManrajGrover commented on #4191
@adityatandon007 This should be an easy fix. Go ahead! 😄

[2017-05-12 18:20] #4174 closed

[2017-05-12 18:45] BillyBarbaro commented on #4156
@pjhampton To clarify my last question, it appears that math with dollar amounts triggers the IA, but does not display in it.  Is it safe to assume I don't have to fix/add this functionality in my PR?

[2017-05-12 18:55] #4172 closed

[2017-05-12 19:10] BillyBarbaro opened #4198 "Calculator Bug: Does not handle Currency calculations"
### Description
When trying to add, subtract, etc on currency amounts, the calculator displays but does load with the amounts.  It just displays 0.  I've got an idea for this and would be willing to take on the issue if it's something that needs fixed.

## Steps to recreate
[$3.40 - $2.89](https://duckduckgo.com/?q=%243.40+-+%242.89&t=h_&ia=calculator)

## People to notify
@pjhampton

---

Instant

[2017-05-12 19:13] pjhampton commented on #4198
Fixed in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4183

[2017-05-12 19:13] #4198 closed

[2017-05-12 19:21] pjhampton commented on #4186
Hey @ZaninAndrea, based on the thumbs up from the maintainer and a staff member I'm happy for you to take this forward 👍  Look forward to checking it out!

[2017-05-12 20:24] pjhampton commented on #4178
Assigned 👍

[2017-05-12 22:04] lernae commented on #4158
@pjhampton  I'll take this one.  So Perl triggering should only allow log base 10.  Is this correct?

[2017-05-12 22:15] pjhampton commented on #4158
Yeah, please @lernae!

[2017-05-13 06:57] joshliu commented on #4190
Hi, I'd be willing to implement the molar mass algorithm in Perl!

[2017-05-13 09:21] pjhampton commented on #4190
Awesome @joshliu! Thanks so much 😄
I have invited you to the DuckDuckGo github organization 👍

[2017-05-13 15:30] jonathancross opened #4202 "Calculator: Add ability to paste values into calculator"
Would be great if we could paste (Ctrl-v) into the calculator.

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pjhampton

[2017-05-13 15:43] pjhampton commented on #4202
Yeah, I like that idea. Will implement next week! 👍

[2017-05-13 19:48] spagy commented on #4186
maybe a 25 min timer rather than 15 min timer? i think 25 mins is the standard

[2017-05-14 00:47] joshliu commented on #4190
After playing around with Google's instant results, it seems that google has a table of common chemical compounds and serves those answers directly instead of parsing the components and calculating the answers.

For instance, many organic compounds do not produce a Google instant answer, while common compounds can trigger an instant answer by name only:

![image](https://cloud.githubusercontent.co

[2017-05-14 03:41] joshliu commented on #4190
Another potential pitfall lies in that a fully accurate parsing algorithm relies heavily on the case of each character to determine chemical compounds. However, duckduckgo autocomplete provides suggested search results in all lowercase letters, which will be harder to parse accurately.

Perhaps for all lowercase and common name input we should use some sort of key-value pair table, and for properl

[2017-05-14 17:35] pjhampton commented on #4202
Assigning @souravbadami based on slack convo 👍

[2017-05-15 12:11] Tutorwaves opened #4205 ".htaccess Cheat Sheet:"
# SPAM REMOVED

------
IA Page:  http://duck.co/ia/view/htaccess_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sahildua2305

[2017-05-15 12:22] pjhampton commented on #4205
@Tutorwaves please don't spam our issues again.

[2017-05-15 12:22] #4205 closed

[2017-05-15 12:42] keeganjk opened #4206 "Factors Suggestion: Layout of factors"
This shows factors in a layout like this:
<pre>1, 2, 5, 10</pre>
when it should be like this:
<pre>1, 10</pre>
<pre>2, 5</pre>
------
IA Page:  http://duck.co/ia/view/factors
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @austinheimark

[2017-05-15 14:07] anohren opened #4207 "Calculator: incorrect results"
I input `8493,11 / 876,6` and get `96.88694957791466`

Correct answer is `9,688694957791466`
------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pjhampton

[2017-05-15 16:05] #4177 closed

[2017-05-15 18:07] pjhampton commented on #4173
Hey @J-Speight

Just to let you know, some of these have come in and have been merged. I'm linking to them just incase you need some inspiration or help 👍

- https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4196
- https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4195
- https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4197

[2017-05-15 18:31] pjhampton commented on #4173
Opps didn't mean to close this

[2017-05-15 18:32] pjhampton commented on #4170
Hey @pash90

Just to let you know, some of these have come in and have been merged. I'm linking to them just incase you need some inspiration or help 👍

- https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4196
- https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4195
- https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4197

[2017-05-15 18:35] pjhampton commented on #4178
Hey @ryr3

Just to let you know, some of these have come in and have been merged. I'm linking to them just incase you need some inspiration or help 👍

- https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4196
- https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4195
- https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4197

[2017-05-15 18:50] subash774 commented on #4176
First time here, I wish to contribute, sorry for any mistakes I'll be making.

[2017-05-15 19:17] pjhampton commented on #4176
Hey @subash774 - This issue is a work in progress and nearing completion.

[2017-05-16 00:23] pash90 commented on #4170
@pjhampton thanks for the heads up! I have actually finished up the issue. Just finishing up some final testing will raise a PR soon 👍

[2017-05-16 09:39] ryr3 commented on #4178
Thanks! I'm done with most of the work, except for the Perl testing. Just wanted to make sure of this, it is enough to test each customUnit once? I mean, for example, there's no need to test barye with all of the other units, just one other customUnit, and it is enough to test only the customUnits that I've added.
Thanks in advance! :smiley:

[2017-05-16 09:47] pjhampton commented on #4178
Hey @ryr3,

Yeah, you definitely don't need to test against every unit. I try to kill two birds with one stone in these cases, such as `10 Kilopascal to metapascal`. Hope that helps!

[2017-05-16 10:35] jc86035 opened #4209 "Timer: Limited to 100 hours"
Searching for "timer 525600 minutes" results in timer for 6000 minutes. I can't think of a use case for this, but I'm sure there's one somewhere.

------
IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2017-05-16 10:40] jc86035 opened #4210 "Timezone Converter: Incorrect and malformed values for NST and NDT"
NST and NDT (according to Wikipedia, Newfoundland Standard Time and Daylight Time) should be UTC−03:30 and UTC−02:30 but display in Timezone Converter as "UTC-1:-49:-60" and "UTC+0:-49:-60".

------
IA Page:  http://duck.co/ia/view/timezone_converter
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GlitchMr

[2017-05-16 10:53] pjhampton commented on #4209
Yeah, there was an upper bound placed for sanity reasons. https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Timer.pm#L26

Are you suggesting we bail from the query if it's above 6000?

[2017-05-16 11:08] jc86035 commented on #4209
There could be good reasons for setting timers for e.g. a week (online-stopwatch.com appears to have this function per search results). Making the maximum cut-off 100 hours seems arbitrary, especially since the +1 button can increase it to above 100h regardless.

It would be a good idea to not show the timer if the value is above the limit (regardless of what the limit is), as it might lead to use

[2017-05-16 11:12] pjhampton commented on #4209
I'm agnostic here.
Does anybody want to add their two cents? @duckduckgo/duckduckhack-contributors

[2017-05-16 11:14] willyb321 commented on #4209
I'd personally say there's not much if any use for it.

[2017-05-16 11:15] jc86035 opened #4211 "Countdown: Should have time input"
Could be useful for "countdown to noon on 20 January 2021", for example.

------
IA Page:  http://duck.co/ia/view/countdown
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rasikapohankar

[2017-05-16 11:17] pjhampton commented on #4211
Hey @jc86035

Feel free to reopen this issue with our required issues template and title formatting.

[2017-05-16 11:17] #4211 closed

[2017-05-16 11:21] jc86035 commented on #4211
@pjhampton Where is the issues template?

[2017-05-16 11:26] pjhampton commented on #4211
It's prepopulated / commented in the textarea when you hit the green **New Issue** button.
Alternatively, you can see it here: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/.github/ISSUE_TEMPLATE.md

[2017-05-16 11:28] adityatandon007 commented on #4209
same here

[2017-05-16 11:38] jc86035 commented on #4211
I used one of the duck.co links, maybe those should be updated then.

[2017-05-16 11:42] jc86035 opened #4212 "Countdown – Suggestion: Allow time input"
### Description

Currently the highest precision for the countdown clock is a day, at 12am. It would be useful to allow time input as well.

## Steps to recreate

Search for "countdown to tomorrow 12pm".

## People to notify

Mentioning @pjhampton and @rasikapohankar, from #4211.

---

Instant Answer Page: https://duck.co/ia/view/countdown

[2017-05-16 14:49] #4161 closed

[2017-05-16 16:30] #4176 closed

[2017-05-16 21:24] mintsoft commented on #4210
According to : https://en.wikipedia.org/wiki/Newfoundland_Time_Zone

NST	UTC−3:30
NDT	UTC−2:30

[2017-05-18 10:42] pjhampton opened #4215 "Geometry Suggestion: Add support for trapezoid and hexagon"
### Description

There seems to be quite a lot of searches for trapezoid and hexagon area but we're not serving it with this IA.

## Solution

We can add support for a trapezoid and Hexagon

## People to notify

@pixunil
@nalinbhardwaj
@adityatandon007
@duckduckgo/duckduckhack-contributors

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https:

[2017-05-18 10:43] pjhampton opened #4216 "Geometry Suggestion: Add support for trapezoid and hexagon"
### Description

There seems to be quite a lot of searches for trapezoid and hexagon area but we're not serving it with this IA.

## Solution

We can add support for a trapezoid and Hexagon

## People to notify

@pixunil
@nalinbhardwaj
@adityatandon007
@duckduckgo/duckduckhack-contributors

## Get Started
- [x] 1) Claim this issue by commenting below
- [x] 2) Review our [Contributing Guide](https:

[2017-05-18 11:35] #4178 closed

[2017-05-18 12:05] linuxuser07 commented on #4216
I want to help with this issue

[2017-05-18 12:17] pjhampton commented on #4216
Awesome @linuxuser07! Thanks so much for stepping up. For these High Priority tasks we try to get them merged within a week fyi 👍

[2017-05-18 12:18] linuxuser07 commented on #4216
I'll do my best to have it ready within a couple of days thank you

[2017-05-18 12:19] ryr3 commented on #4215
Duplicate issue?

[2017-05-18 13:12] pjhampton commented on #4215
Thanks @ryr3. I get failed to post messages from github when I try to mention certain people / groups

[2017-05-18 13:12] #4215 closed

[2017-05-18 15:01] pjhampton commented on #4209
Doesn't look like this has much support behind it. Closing for now...

[2017-05-18 15:01] #4209 closed

[2017-05-18 16:15] JHonaker commented on #4190
Lower case only input will cause a huge problem because of non-unique answers. Note, these aren't valid formulae, just examples of parse errors you could get. Carbon (C) and sulfur (S) together would be CS (cs in lower) and cesium (Cs) would also be cs in lowercase.

[2017-05-18 16:21] pjhampton commented on #4190
Hey @joshliu and @JHonaker

Sorry, I completely overlooked this! My bad!

1. Formatting

We can preserve the formatting of the query. See https://docs.duckduckhack.com/backend-reference/triggers.html#query-formats. This isn't an issue.

2. Serving the IA
@joshliu I think it would be best to implement something like you implemented in rb, but we can scale it down for now if that is your recommendat

[2017-05-18 20:54] #4188 closed

[2017-05-19 00:33] GeraldNDA commented on #3792
Also Permittivity of Free Space constant

[2017-05-19 03:19] joshliu commented on #4190
I just finished implementing the same algorithm in Perl, about to make a pull request now.

[2017-05-19 03:29] shubhamkr1 commented on #4210
I would like to work on this. I am new to Duckduckgo , so please suggest where to search for issues or changes are required.

[2017-05-19 08:28] pjhampton commented on #4210
Sure @shubhamkr1! It's all yours. I have invited you to the org so I can assign you later. 👍  Reach out if any questions / issues

[2017-05-20 21:14] rawrit opened #4221 "Calculator: x / 0 =/= infinity"
The DDG calculator sas, that e. g. 10 divided by 0 equals infinity, but thats wrong. That would mean, that 0 times infinity equals 10 and thats definitly not the case. I suggest to set the answer to "not defined".

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pjhampton

[2017-05-21 06:23] adityatandon007 commented on #4221
@rawrit, though your point is correct (in mathematical view), the answer is still correct. According to IEEE standard every floating point arithmetic operation is well defined, even **division by zero**.  Even google displays the same result:
![screenshot from 2017-05-21 11-50-00](https://cloud.githubusercontent.com/assets/25108385/26281663/d1df05de-3e1b-11e7-8787-76c97d6d71a8.png)

[2017-05-21 19:54] pjhampton commented on #4221
Thanks for bringing this up @rawrit! I will appreciate you input. After doing some [ducking](https://duckduckgo.com/) I agree with @adityatandon007. There isn't much I can do here anyway as we rely on [math.js](http://mathjs.org/) as a backend to the calculator.

[2017-05-21 19:54] #4221 closed

[2017-05-22 15:21] vtodo commented on #4173
I could help on this one.
I see no assignees at the moment, so I'm doing it.

[2017-05-22 15:57] pjhampton commented on #4173
Thanks @vtodo but @J-Speight is working on this

[2017-05-22 15:58] pjhampton commented on #4173
Hey @J-Speight, any update on this?

[2017-05-22 18:40] #4086 closed

[2017-05-22 20:57] vtodo commented on #4173
Yeah I don't want to stop @J-Speight 's inertia.
Thought It was abandoned task.
Anyway, I'd be glad to help

[2017-05-23 06:55] stormwindy commented on #4190
Hey @pjhampton ! I am willing to contribute to this problem. Like I said before my coding skills are not that good but I can contribute in terms of idea, and methodology.

[2017-05-23 09:34] tagawa commented on #4189
Found another example of over-triggering: https://duckduckgo.com/?q=e17+e26

[2017-05-23 18:17] gautamkrishnar opened #4222 "Use server side hooks to prevent commits to the cloned master branch"
I had seen many developers cloning our repo and committing their changes to the master branch of their cloned repo, They are not following the git branched workflow. Developers that are not familiar with using git may get into this problem and may end up with an unclean master branch.

### The solution
* I think adding a pre-commit hook to the repo will solve the problem.

AFAIK we can use git ser

[2017-05-23 19:02] pjhampton commented on #4173
Hey guys! I'm afraidn I've had to time this out. It's a high priority / impact issue. I have created a PR for it here https://github.com/duckduckgo/zeroclickinfo-goodies/issues/4223 if anybody wants to review. Thanks for your input everybody!

[2017-05-24 12:53] moollaza commented on #3245
A user pointed out today that this IA triggers for the query `square root of minus garfield` which is a comic. There is definitely a big bug in the logic here.

@GuiltyDolphin would you be interested in fixing this?

[2017-05-24 16:32] zorbama opened #4225 "Conversions: Suggestion: change name of "mass" to "weight""
I think it would just be easier to find and make more sense to the layman if it was called "weight" instead of "mass". It took me personally a moment to see that it was there.

------
IA Page:  http://duck.co/ia/view/conversions
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2017-05-24 19:42] mattr555 commented on #4222
@gautamkrishnar Unfortunately [Github doesn't let you use server-side hooks](https://stackoverflow.com/a/22100665).

It might be a job for [Danger](http://danger.systems/), I know we've explored using it in the past. We could also start with emphasizing the `git checkout -b` step in the docs more.

[2017-05-24 20:06] ManrajGrover commented on #4222
I remember discussing about introducing [pre-commit](http://pre-commit.com/) hooks in one of the mails. They will surely help avoid accidental errors, linting code, making custom checks and much more before creating a commit. This can be done on client side. Although one can bypass them if they want to, it will help reduce the number of incidents.

This might add a few steps on client side where w

[2017-05-24 20:19] spagy opened #4226 "CalcRoots: simplify 0i to 0"
searching for ```square root of minus zero``` gives an answer of 0i
to me it seems like this would be better if simplified to 0

------
IA Page:  http://duck.co/ia/view/calc_roots
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2017-05-24 21:44] #3943 closed

[2017-05-24 21:44] #4121 closed

[2017-05-24 21:44] #4189 closed

[2017-05-24 22:06] #4173 closed

[2017-05-25 02:30] #4153 closed

[2017-05-25 13:09] adityatandon007 commented on #4225
There is a difference between weight and mass
Weight is the force with which gravity pulls on a mass . Weight is expressed generally in newtons whereas as mass is the matter a body contains, generally expressed in kg.
For example, your mass on earth and moon remains same but your weight changes.

Although, I get your point :slightly_smiling_face:
what generally mean when people say my weight is 65

[2017-05-25 13:14] zorbama commented on #4225
I figured it's probably more correct to call it "mass", however I do feel that changing it will improve clarity, at least for ignorants such as myself. :)

[2017-05-25 14:36] pjhampton commented on #4225
If I could leave my 2 cents...
I think we should keep it as `mass`. All the other search engines do it.

Saying that -> there is a quick win to add triggering support for `weight converter, calculator etc`  to open up at the mass calculator.

[2017-05-27 01:13] Mindraker1 opened #4231 "Calculator: An "Ans" feature."
Example:
2+2=4
Ans * 9=36
Ans * 9=324
Ans + 2=326
------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pjhampton

[2017-05-27 19:20] shivam99aa commented on #4004
I am done writing the code for this IA which is showing the time in above time zones mentioned. But there is a problem, I am not able to understand how to write a test file for this IA. Since for example a query "time in pst" has no definite answer as it is meant to change every time.

https://d1zjcuqflbd5k.cloudfront.net/files/tmp_f00fe0383c7d6f74df1f5ddbc8665b7a/heUVH?response-content-dispositio

[2017-05-27 19:28] shivam99aa commented on #4004
Also apologies for taking so much time to work on this. I got busy with my regular job.

[2017-05-27 21:34] shivam99aa commented on #4004
I went through the documentation and it shows that I might be able to use regex to test for cases where a random answer is generated but after many tries, I am not able to write it properly. Is there any such IA where regex is used in test case file which I can use as reference?

[2017-05-28 07:03] shivam99aa commented on #4004
I have one more doubt. So "time in" is already a trigger word for [time](https://duck.co/ia/view/time) IA. I am not sure how duckduckgo will behave with same trigger words used in 2 IA.

[2017-05-30 10:52] shivam99aa commented on #4004
@pjhampton ^^

[2017-05-31 08:54] pjhampton opened #4233 "Calculator: Keyboard input not working in Firefox browsers"
### Description

It was reported over reddit that the keyboard input is not working for the calculator on Firefox browsers.

## Steps to recreate

## People to notify

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your development environment](ht

[2017-05-31 13:28] s7nio opened #4234 "sbt Cheat Sheet"
### Description
Provide an overview of common sbt commands.

IA Page: http://duck.co/ia/view/sbt_cheat_sheet

[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @s7nio

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your devel

[2017-05-31 18:54] #4233 closed

[2017-05-31 19:13] #4190 closed

[2017-06-01 08:09] tagawa opened #4236 "Calculator: Commas trigger UI but no answer"
## Steps to reproduce:
1. Search for _10,815,772/10,598,799_
https://duckduckgo.com/?q=10%2C815%2C772%2F10%2C598%2C799&ia=calculator
2. Wait for the calculator to appear.

## What should happen:
The calculator should appear showing the result.

## What actually happens:
The calculator UI appears but the result box is empty.

------
IA Page:  http://duck.co/ia/view/calculator
[Maintainer](http://do

[2017-06-01 08:11] tagawa commented on #4236
<img width="348" alt="calculator-empty" src="https://cloud.githubusercontent.com/assets/94173/26670621/4bb7e2b6-46ed-11e7-8c89-7b7528fdd2a7.png">

[2017-06-01 13:28] Throne3d commented on #2763
I agree that it's important to clarify, especially if there's autocorrect behavior – Phoenix, Arizona is in the MST timezone and doesn't have DST, so if someone does write (and mean) "current time in MST" in the context of Arizona (or at least Phoenix, Arizona), it should be clear that their search wasn't interpreted as they wrote it. (Or, well, if they wrote "14:28 BST to MST" and it assumed they

[2017-06-01 18:23] #4236 closed

[2017-06-02 12:41] adityatandon007 opened #4240 "Molar Mass: Conflicting with Periodic table IA (Suggestion)"
**Issue:**
We already have a related IA [periodic table](https://duck.co/ia/view/periodic_table) and some of the triggers of this IA conflicts with that IA

For ex: Screenshots:
![screenshot from 2017-06-02 17-45-03](https://cloud.githubusercontent.com/assets/25108385/26725660/3e86697a-47bd-11e7-8dfe-4b0605b5d39d.png)

![screenshot from 2017-06-02 17-46-22](https://cloud.githubusercontent.com/asse

[2017-06-02 14:18] mintsoft commented on #4225
It absolutely should be mass; weight is force, mass is mass.

[2017-06-02 14:58] pjhampton commented on #4225
Ok, the big guns (@adityatandon007 + @mintsoft) have spoken. **Mass** it stays.

[2017-06-02 14:58] #4225 closed

[2017-06-02 19:03] joshliu commented on #4240
Hmm this is strange, the tab is displayed in the developer environment. Am I forgetting some boilerplate code or something? Also for sure, I'll make a new pr to change the triggers once #4238 is merged.

![image](https://cloud.githubusercontent.com/assets/4336885/26739956/cab6dbda-47a1-11e7-98c8-c74b7cce86a5.png)

[2017-06-02 19:10] pjhampton commented on #4240
Yeah, it's a meta data issue I'm about to look into.
As for priority, do you guys not think this should get the priority? It seems more flexible and will get more coverage?

[2017-06-02 19:20] joshliu commented on #4240
I think because "atomic weight/mass" usually refers to the mass of a single atom (i.e. element), while "molar mass" refers to the mass of a mole of a compound, I think its more appropriate to let "atomic weight/mass" trigger the Periodic Table IA instead.

On another note, I also think that it would be a good idea to add a trigger allowing the compound to come first, so that we can accept queries

[2017-06-02 19:26] pjhampton commented on #4240
TBH, I'm no expert on this topic, so I will let you take the lead @joshliu 👍

[2017-06-02 20:00] pjhampton commented on #4240
It looks like the meta data is fixed now 😄
https://duckduckgo.com/?q=molar+mass+of+h2o&ia=molarmass

[2017-06-02 20:49] pjhampton commented on #4231
It doesn't seem like this suggestion has a lot of weight behind it. Closing for now 👍  Thansk for your suggestion @Mindraker1 💙  💛  💚

[2017-06-02 20:49] #4231 closed

[2017-06-02 20:50] pjhampton commented on #4216
Hey @linuxuser07,

How are you getting on? Are you still working on this or should I release it back to the community?

[2017-06-02 20:52] pjhampton commented on #4206
It doesn't look like this suggestion is getting a lot of traction. I will close this for now and keep an eye out for similar feedback in the future. Thanks for the suggestion nonetheless 💙

[2017-06-02 20:52] #4206 closed

[2017-06-02 20:53] pjhampton commented on #4186
Hey @ZaninAndrea. How are you getting on with this?

[2017-06-03 04:31] adityatandon007 commented on #4240
Yeah :smile: the tab is issue is fixed now.

I agree with @joshliu on this

[2017-06-03 14:35] #4170 closed

[2017-06-03 15:43] linuxuser07 commented on #4216
Im sorry I haven't been able to get it to work.
If you could release it again to the community, what ill do ill just work
on them and when i have something ready ill let you know and submit stuff
if nobody has done it

thank you sorry for the inconvenience

On Fri, Jun 2, 2017 at 3:50 PM, PJ Hampton <notifications@github.com> wrote:

[2017-06-03 15:45] pjhampton commented on #4216
Anybody up for this @duckduckgo/duckduckhack-contributors?

[2017-06-04 00:48] pash90 commented on #4216
@pjhampton I would like to work on this. I understand this needs to be solved asap?!

[2017-06-04 13:40] palash25 opened #4243 "Lolcode cheat sheet"
I would like to contribute a new lolcode cheat sheet.
IA Page: https://duck.co/ia/view/lolcode_cheat_sheet

[2017-06-04 14:31] pjhampton commented on #4243
Thanks @palash25

For your future reference, you don't need to create issues for new cheat sheets 👍

[2017-06-04 14:31] #4243 closed

[2017-06-04 14:32] pjhampton commented on #4216
Thanks @pash90. Yeah, issues with the `High Impract Tasks` we try to move quickly on 👍

[2017-06-04 14:57] palash25 commented on #4243
OK thanks, I'll keep that in mind.

[2017-06-04 15:03] ManrajGrover commented on #4004
@shivam99aa For testing, you can mock the time using `Test::MockTime` and check the output.

We should check the hash and if remainder is not present in it, we should `return` giving other IA the opportunity to return result. We should also add the same check in other IA for the same.

[2017-06-04 23:24] keeganjk opened #4245 "Factors: Negatives will not appear"
If I search `factors of 7`, factors will appear. However, no Instant Answers will appear when I search `factors of -7`.

------
IA Page:  http://duck.co/ia/view/factors
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @austinheimark

[2017-06-05 11:48] mintsoft opened #4246 "Calculator: No result but calculator opens"
### Description

## Steps to recreate
https://duckduckgo.com/?q=log+0.000000000000001&t=vivaldi&ia=calculator

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/calculator

[2017-06-05 12:14] mintsoft commented on #4226
Actually, it kind of depends. In the natural numbers zero is neither negative nor positive so you're correct (https://www.wolframalpha.com/input/?i=square+root+of+-0) however for floating-point representations `-0^0.5` is `-0` (http://speleotrove.com/decimal/daops.html#refsqrt). We can probably ignore the floating point however

[2017-06-05 13:34] adab4d opened #4247 "Elementary OS Cheat Sheet:"
The instant answer is displaying the same *left/right* shortcuts for

    Snap Window to Half of Workspace

and

    Maximize/Unmaximize Window

while the latter should have *up/down* arrows instead.

------
IA Page:  http://duck.co/ia/view/elementary_cheat_sheet
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @typo

[2017-06-05 16:59] AasthaGupta commented on #4210
Is this assigned to someone?Can I issue a pull request?

[2017-06-05 17:18] ManrajGrover commented on #4210
@shubhamkr1 Any progress on this? Please ask if any help or inputs are required.
@AasthaGupta Let's wait for an update on this.

[2017-06-05 18:08] kirkins commented on #4216
@pash90 let me know if you end up not having time for this one.

[2017-06-05 18:28] kirkins commented on #4166
I'm testing this on the live site and it seems to work as expected _(returning 8)_.

Has this been fixed and ready to close?

[2017-06-05 18:55] kirkins commented on #4246
This doesn't relate to the number used by happens anytime log is used without brackets.

E.g.` log 1`, `log 0.1`,` log 9`

But `log(0.0000001) ` does work.

`log x` doesn't always return blank I found the bug is different with `log 10`.

[2017-06-05 19:04] pjhampton commented on #4246
Thanks, guys. We are recording these failures in the backend and aware of all the edge cases. We're currently discussing a v2 of the interactive calculator which should be out in the next 2 months 👍

[2017-06-05 19:23] Janjoch commented on #4166
Hi,

I’m sorry, but it still doesn’t work… I use Firefox Nightly 55 in German (Switzerland). Here is a photo to show:

Greetings form Switzerland,
Janosch Jörg

[2017-06-05 19:24] kirkins commented on #4246
@pjhampton sorry I was already toying around with this before I read your message.

I also noticed that `sqrt X` doesn't trigger an answer so I thought why not just stop triggering `log X` for now if it doesn't work.

[2017-06-05 19:26] kirkins commented on #4166
@Janjoch I'm not seeing the photo.

[2017-06-05 19:32] Janjoch commented on #4166
I just replied to the email and added an image. In this case, GitHub doesn’t support images :/ Here is a link: https://www.dropbox.com/s/bo4s986kq2g1aon/DuckDuckGoBugReport.png?dl=0

[2017-06-05 19:34] kirkins commented on #4166
@Janjoch can you send a duckduckgo.com with the query so that we can reproduce this error?

[2017-06-05 20:02] Janjoch commented on #4166
It isn’t possible to show the error in the text field / url. But I can give you a precise guidance to reproduce the error: Type „2^2*2“ in the field. Now the answer is (as to be expected) 8. But when you hit the Buttons: [2] + [x^2] + [2] + [=], (the same as before but without „*“), the result will be the result of 2 ^ 22  = 4,194,304. But with mathematical correct reading there is squaring before

[2017-06-05 20:09] kirkins commented on #4166
@Janjoch

Sorry can you clarify button order? From what you say I'm thinking:

- 2
- x
- ^
- 2
- 2
- =

This doesn't seem right as it would produce something completely different.

[2017-06-05 20:21] Janjoch commented on #4166
2
x^2
2
=
=> This gives a false result (The problem is the missing multiplication-sign which can be let away in a correct mathematical way)

2
x^2
2
x
2
=> This gives the correct result

I’ve drawn it to visualise it: https://www.dropbox.com/s/dz45xahq19d3wrd/DuckDuckGoBugReport2.png?dl=0 <https://www.dropbox.com/s/dz45xahq19d3wrd/DuckDuckGoBugReport2.png?dl=0>

In the right column, it’s shown cor

[2017-06-05 20:25] kirkins commented on #4166
@Janjoch thanks now I understand!

[2017-06-05 20:29] kirkins commented on #4166
I think we should keep the current behavior, but make it act along the lines of the X^y button.

That is it should be 2^22 with the correct formatting (not 2, small 2, big 2).

I wanted to compare Googles calculator but they only have the X^y button, no ^2, or ^3 buttons.

[2017-06-05 20:50] kirkins commented on #4166
Ignore my last comment, it doesn't make sense. What you originally suggested is the best way to do it.

[2017-06-05 21:23] #3973 closed

[2017-06-06 03:51] pash90 commented on #4216
@kirkins sure will! 💯

[2017-06-06 13:42] adityatandon007 opened #4253 "Calculator: Wrong answer on division for 0/0"
**Issue**:
The calculator is displaying the wrong answer for `0/0` division

**Answer displayed**:   1 (Wrong)
**Correct answer**:  Error (Right)

**Screenshot**
![screenshot from 2017-06-06 19-04-41](https://cloud.githubusercontent.com/assets/25108385/26832020/b67a4df8-4aeb-11e7-9bf7-71f0ee76b594.png)

People to notify
@pjhampton @moollaza

_P.S_: In version 1 it used to display the correct answe

[2017-06-06 15:54] kirkins opened #4257 "Private Network: Triggering"
### Description

I was looking at the Private Network Goodie in order to convert it to a structured answer but I'm not even sure it should exist.

It's completely undynamic, returning the same answer for any triggered query. It triggers for anything which starts with "private network".

For example:

- Private network for dogs
- Private network event
- Private network meaning

## Steps to recreate

[2017-06-06 15:56] kirkins commented on #1163
We might want to skip the PrivateNetwork Goodie and remove it completely #4257

[2017-06-06 21:17] mintsoft commented on #4257
Thanks for the report @kirkins looks easy enough to resolve, do you want to fix it while you convert it?

[2017-06-06 21:27] kirkins commented on #4257
Possibly, I'm not sure what fixed would be for this?

The use case is unclear.

[2017-06-06 21:30] kirkins commented on #4257
Just breaking it into 4 possible results?

Eg private ip4 addresses - > returns said section

[2017-06-06 22:13] mintsoft commented on #4257
I think it should probably only fire for queries like `private network information` `ipv4 private network` `private network` `private network addresses` `private network ranges` `private network range` `private ip range`

[2017-06-06 23:47] kirkins commented on #4257
Sounds good, I can probably do it on the weekend.

[2017-06-07 01:25] kirkins opened #4259 "Sudoku: Broken on Beta"
### Description

The Sudoku goodie is returning results but not properly rendering them.

![screenshot from 2017-06-06 21-42-45](https://user-images.githubusercontent.com/9503662/26858746-1a4c6bda-4b01-11e7-9557-16754a0e2f9d.png)

I can confirm that it was working before because I had started [converting it ](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4058)to a structured answer, bef

[2017-06-07 08:29] Mailkov commented on #4259
Sudoku IA does not work in this moment
I think it's a system problem
I found this error: Template Not Found: DDH.sudoku.content
@moollaza @kirkins

[2017-06-07 19:28] mintsoft commented on #4259
o.0 works on beta: https://beta.duckduckgo.com/?q=sudoku&t=hc&ia=answer

[2017-06-07 19:32] mintsoft commented on #1163
Well not remove it, just reduce the scope of the triggering somewhat :)

[2017-06-07 19:33] mintsoft commented on #4210
@ManrajGrover I'd say let @AasthaGupta go for it, we've not seen any movement on this anywhere else

[2017-06-07 19:35] kirkins commented on #4259
@mintsoft weird that it would be down and then back randomly like that.

It's no surprise I saw this this ad on SO :p

https://stackoverflow.com/jobs/143159/site-reliability-engineer-duckduckgo

[2017-06-07 19:38] mintsoft commented on #4259
Beta's a different environment, I think it's more likely that it's consistently broken on production and consistently working on beta

[2017-06-07 19:39] kirkins commented on #4259
@mintsoft if you look at the logo in the screenshot I posted it is beta where it was broken.

[2017-06-07 19:40] kirkins commented on #4259
@mintsoft I don't think the Sudoku IA has ever been out of beta.

[2017-06-07 19:42] mintsoft commented on #4259
Ah good point, didn't spot that! Yeah in that case I'd guess it was a beta deploy or something but we'd need staff to confirm.

[2017-06-07 19:53] kirkins commented on #4259
I still see a lot of problems with this new javascript version.

Try searching: "Sudoku easy" or "Sudoku medium"

It always seems to return hard:

![untitled](https://user-images.githubusercontent.com/9503662/26898279-43b72986-4b99-11e7-87f1-734653e9d628.png)

The original Sudoku.pm was elegant and it even had tests which would calculate that the sudoku returned was correct and solvable. Now the t

[2017-06-07 19:58] mintsoft commented on #4259
It was also extortionately slow; the tests in the new one are only testing that the IA triggers for the correct queries. In reality the old tests weren't asserting much just that a table was returned, not that the sudoku was valid or anything

[2017-06-07 20:00] kirkins commented on #4259
@mintsoft ah, you're right on the tests. It's the same as now.

[2017-06-07 20:02] mintsoft commented on #4259
I have the advantage of having written them :)

[2017-06-07 20:03] #4247 closed

[2017-06-07 20:28] Mailkov commented on #4259
The sudoku Level is determinated by the complexity of the techniques needed to solve it.
The levels are simple, easy, medium or average and hard.

[2017-06-07 20:31] kirkins commented on #4259
@Mailkov I see, I guess I was expecting easy to contain more numbers from the start.

But I guess the placement of the same amount of given numbers could also change the difficulty. Thanks for clarifying.

Good job on this 👍

[2017-06-07 20:35] Mailkov commented on #4259
@kirkins thanks!

[2017-06-07 20:37] kirkins commented on #4259
Closing as seems to be fixed now

[2017-06-07 20:37] #4259 closed

[2017-06-08 09:00] ceving commented on #2059
@moollaza There is no need to calculate or guess the time zone. The browser sends the time zone in the date header of the request.
https://en.wikipedia.org/wiki/List_of_HTTP_header_fields

[2017-06-08 21:09] afranke opened #4264 "Password: parameters for constraints"
Some websites have stupid requirements. Example I encountered this morning: "at least 2 numbers, at least one uppercase letter, at least 8 total characters, at most 12 characters." Sometimes it can also be "no special character", or "no character from a given set"…

It would be useful to be able to pass those constraints to the generator.

------
IA Page:  http://duck.co/ia/view/password
[Maintain