[2015-08-17 15:06] #1403 closed

[2015-08-17 20:55] moollaza opened #1407 "Cheat Sheets: Add spacing around Parentheses and Slashes in Alternatives"
We decide to add some padding around the alternative keys. We should updated all Goodies so that alternatives like `([A]/[B]/[C])` are spaced out to look like this: `( [A] / [B] / [C] )`.

This can done manually, but a small find+sed script should be able to handle it as well :smile:

Any takers?

[2015-08-18 00:48] jkanarek opened #1410 ""right arrow unicode" doesn't work"
Seems like this is a common issue.

------
IA Page: https://duck.co/ia/view/unicode

[2015-08-18 03:27] cskksc commented on #1407
@moollaza I'd like to get started on this. I'll submit a PR soon.

[2015-08-18 13:57] ahstro opened #1413 "Rankine temperature conversion is incorrect"
As of now, `10 rankine in fahrenheit`  outputs `-441.670 °F`, when, according to this conversion, `[°F] = [°R] − 459.67`, found [here](https://en.wikipedia.org/wiki/Conversion_of_units_of_temperature), it should equal `-449.67`.
I searched through both [`Conversions.pm`](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Conversions.pm) and the imported [`Convert::Plugg

[2015-08-18 14:14] elohmrow commented on #1413
i will look in a bit - thanks!

[2015-08-18 14:24] moollaza opened #1414 "Cheat Sheets: Need to encode angle brackets "<", ">" inside code blocks"
Looks like the Emacs Cheat Sheet is slightly broken now. The "Search and Replace" section contains a key with `[<replace-string>]` in it. The angle brackets aren't being encoded and so a `<replace-string></replace-string>` element is being created on the page.

https://duckduckgo.com/?q=emacs+cheat+sheet&t=ffab&ia=cheatsheet&iax=1

-----
IA Page: https://duck.co/ia/view/cheat_sheets

[2015-08-18 16:50] elohmrow commented on #1413
i've taken a peek - and it seems *very* odd.  F<=>R is actually the *easiest* of the conversions in that set, but it simply is not working.  tracing it out, running new tests, changing the code (it really needs updating, and i had started to, but there does not seem to be much call for it) - nothing.  i'll have to look again, or, perhaps someone else copied on here might see it?

[2015-08-18 20:27] mintsoft commented on #1414
@moollaza Isn't this `html_enc` rather than escape?

[2015-08-19 05:13] moollaza commented on #1396
@Dhekke thanks a lot for submitting this!

Could you list out examples of other assumptions/inferences we should make? That way we can have someone implement them!

[2015-08-19 06:07] #1148 closed

[2015-08-19 06:31] moollaza commented on #1414
@mintsoft whoops. You're totally right. Updated the phrasing :+1: Thanks!

[2015-08-19 08:46] tagawa opened #1416 "Regex Cheat Sheet: Source file links in IA page are wrong"
In the [IA's view page](https://duck.co/ia/view/regex_cheat_sheet) the links to the source files are broken (404). The link should be to the JSON file: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/regex.json

------
IA Page:  http://duck.co/ia/view/regex_cheat_sheet

[2015-08-19 11:51] mintsoft commented on #1416
@tagawa the source URL (`http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/`) works for me?

[2015-08-19 12:42] seisfeld commented on #1416
@mintsoft This is a misunderstanding. @tagawa talks about the Back-End Files and Front-End Files section of the https://duck.co/ia/view/regex_cheat_sheet page. All three links give 404. This probably is because the page was created when the Regex Cheat Sheet was a separate one, vs. now its a generic Cheat Sheet just pulling regex.json. This might not be the only page referring outdated cheat sheet

[2015-08-19 12:47] tagawa commented on #1416
Thanks @seisfeld. Yes, that's what I meant - I should have been clearer so I just added a link to the IA view page in the description. I haven't looked through all other cheat sheet pages either so there may be others that need updating.

[2015-08-19 12:53] seisfeld commented on #1416
The head of the snake (in this case) is https://duck.co/ia/view/cheat_sheets which is the controller serving all the Cheat Sheet json files. For example all json files listed there under Front-End files give 404 because they have been moved. Also the list is by far not complete. So i think the core question is: What is the process (of there is any) that updates the https://duck.co/ia/ pages once t

[2015-08-19 13:02] seisfeld commented on #1413
Dunno if that helps, but Celsius to Rakine also gives wrong answer (-263.150 °C but should give -267.5944444 °C).

Source to double check: https://converterin.com/temperature/rankine-scale-to-celsius-degrees.html

[2015-08-19 13:14] elohmrow commented on #1413
yeah its just rankine ... basically the way I implemented it is fahrenheit is base, every unit turns first to fahrenheit, then gets converted.

so since R<=>F is not working, no rankine conversions will :(

/bda

[2015-08-19 13:28] seisfeld commented on #1413
This looks like a rounding or precision error. The answer is exactly off by -0.8 F per 1 R:

DDG: 1 R -> -457.870 F
Correct: -458.67 F
Difference: -0.8

DDG: 10 R -> -441.670 F
Correct: -449.67 F
Difference: -8

[2015-08-19 13:35] elohmrow commented on #1413
@seisfeld *very nice* catch!<br />
i am very busy for the next 20 hrs or so ... if you would like to submit a patch, i'll fold it in.  either way, i'll try to put up a new version to CPAN within 24 hours.<br />

[2015-08-19 13:53] seisfeld commented on #1413
@elohmrow I'd love to submit a patch but i lack Perl skills. ;) Am glad i could help a little with the search for the issue though. I'm really keen to finally see what it exactly was.

[2015-08-19 14:00] elohmrow commented on #1413
@seisfeld well, i will plug something in as soon as i can ... i didn't even make the comparisons, since it's such a simple calculation.  you found the pattern, and it probably solves the problem.

[2015-08-19 14:45] moollaza commented on #1416
@tagawa thanks for pointing this out!

@tagawa @mintsoft @seisfeld it's actually a known issue, that we're planning to fix.

Right now we haven't been re-building the IA Pages (most IA's don't change once they're live) but in the case of these Cheat Sheets, the pages were made a long time ago and more recently, the CheatSheets.pm file/controller has come along and now all of the source files for "

[2015-08-19 19:29] moollaza opened #1418 "Factorial: Move integration into Calculator.pm; Calculate factorial with Math::BigInt bfac()"
We recently merged a new Factorial Goodie. The current implementation works, but really this functionality should be a part of the existing Calculator Goodie.

As well. the current implementation uses a naive method of calculating the Factorial using recursion via `List::Util::reduce`. This should definitely be switched to use `Math::BigInt`'s `bfac()` method.

This will enable us to calculate con

[2015-08-20 12:58] tagawa opened #1420 "Vim Cheat Sheet: Should be triggered on "vi""
This should be triggered on "vi cheat sheet", not just "vim cheat sheet", etc.

------
IA Page:  http://duck.co/ia/view/vim_cheat_sheet

[2015-08-20 16:03] marzig76 opened #1421 "Conversions:"
Converting bytes to larger orders of magnitude doesn't work properly.  For instance 8,000,000,000 bytes is showing up at 8GB, when in reality, it's 7.45058GB

------
IA Page:  http://duck.co/ia/view/conversions

[2015-08-20 16:06] marzig76 commented on #1421
A gigabyte is really 1,073,741,824 bytes (1024*1024*1024)

[2015-08-20 18:30] mintsoft commented on #1421
@marzig76 thanks for the report; conversion of binary prefixes is also supported currently: https://duckduckgo.com/?q=8000000000+bytes+in+gibibytes&t=debian&ia=answer

[2015-08-20 18:30] mintsoft commented on #1421
Reference: https://en.wikipedia.org/wiki/Binary_prefix

[2015-08-20 18:37] marzig76 commented on #1421
@mintsoft

I guess it's debatable.. The 4th sentence in the link you provided says "gigabyte customarily means 1073741824 bytes."

The wiki page you provided link also links to the JEDEC memory standards which is what I was referring to:

"The specification cites three prefixes as follows:
    kilo (K): A multiplier equal to 1024 (210).
    mega (M): A multiplier equal to 1048576 (220 or K2, where

[2015-08-20 19:21] moollaza commented on #1421
@marzig76 @mintsoft are we agreed then? Shall I close this and mark it as tolerated? I think seeing as we offer the Gibibyte conversion this is OK.

Perhaps we should add a "more at" link to the relevant wiki page for the converted to unit in the future so it's clear what unit we're using?

[2015-08-20 19:27] marzig76 commented on #1421
Yea, that's fine.  You can close it out.

[2015-08-20 19:50] #1421 closed

[2015-08-20 22:57] Dhekke commented on #1396
@moollaza Sure, I could give it a shot. Ideally, all units of volume should make 'oz' be interpreted as 'fl oz' but I think that's a pretty huge goal.

I did some digging and these (I think!) are the units of volume that are already accepted by the script:
- liter (l)
- mililiter (ml)
- gallon
- pint
- quart
- fluid ounce (fl oz)

So 'oz'/'ounces' should be interpreted as fluid ounces for:

- lite

[2015-08-21 04:31] MrChrisW commented on #1396
Something like this should do (untested)
[code]
It also looks like the abbreviations for gallon isn't accepted `gal or gals`, may need to create an issue over at https://github.com/elohmrow/Convert-Pluggable/issues

[2015-08-21 17:28] jagtalon commented on #1418
For the limiting the execution to 1s check out https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Calculator.pm#L121

[2015-08-22 13:49] seisfeld commented on #1420
There is actually a separate Vi Cheat Sheet already. It was merged to master by @moollaza a couple days ago: https://github.com/duckduckgo/zeroclickinfo-goodies/commit/fba090a37a3e6e358d4c84dde6e90724664ca42e It's just not live in production yet.

[2015-08-24 02:21] #1420 closed

[2015-08-24 02:21] tagawa commented on #1420
Thanks @seisfeld, that'll do nicely.

[2015-08-24 19:29] moollaza commented on #1410
I suspect you were looking for https://duckduckgo.com/?q=html+right+arrow&t=ffcm&ia=answer?

We need to re-visit the HTML vs Unicode Goodies and likely should combine them to consolidate the triggering and provide better answers for both.

[2015-08-24 19:30] moollaza commented on #1410
Or potentially https://duckduckgo.com/?q=unicode+rightwards+arrow&t=ffcm&ia=answer

The problem is that the Unicode IA requires exact matches. It may be best to return a tile view of the closest matches.

[2015-08-24 19:47] moollaza opened #1430 "Unicode: Throws an error on the query "unicode girls""
While testing in DuckPAN I noticed that this IA returns an `undef` result for the query "unicode girls". This should be fixed asap!

I suspect this should be fairly easy to diagnose and resolve :)

------
IA Page:  http://duck.co/ia/view/unicode

[2015-08-24 22:04] moollaza commented on #713
Closing and marking as tolerated. We now Codio for new devs, and Travis now plays nicely. Everything seems to be OK for now :+1:

[2015-08-24 22:04] #713 closed

[2015-08-24 22:08] moollaza opened #1431 "Chinese Zodiac: Switch to Icon template, use new Animal icons"
We now have custom animal icons that we can use with the Icon template to really improve this Instant Answer!

The image assets can be found here: http://cl.ly/2Y403l2i253X

------
IA Page:  http://duck.co/ia/view/chinese_zodiac

[2015-08-25 12:18] jagtalon opened #1433 "XCode Cheat Sheet: Use ⌘ instead of "Command""
It might look nicer to use ⌘ instead of "Command" in the cheat sheet.

![screen shot 2015-08-25 at 8 18 17 am](https://cloud.githubusercontent.com/assets/81969/9466307/e7153018-4b01-11e5-948a-1117e77835f8.png)

[2015-08-25 13:14] seisfeld commented on #1433
I implemented this change on #1434 for everyone to review.

[2015-08-25 13:26] jgkamat opened #1435 "IA for converting from binary -> decimal"
Right now, there seems to be the [base goodie](https://duck.co/ia/view/base) for converting decimal -> any base, and the [binary goodie](https://duck.co/ia/view/binary), which converts any base into binary.

I want to work on a goodie to type '1001 in decimal' (or maybe just '1001') and have a IA that gives back 9. I'm not sure if this functionality should be added to the base/binary goodies or cr

[2015-08-25 14:58] jagtalon commented on #1433
Fixed by @seisfeld in #1434

[2015-08-25 14:58] #1433 closed

[2015-08-25 16:58] mintsoft commented on #1435
@jgkamat Sounds good on the whole; I'd probably try and extend the `base` goodie at the moment as it's something which can be easily from the regex inplace.

I would expect the input to be regarded as unsigned, unless I explicitly say signed: `101001 signed in decimal` for example. Although inside the output, it should state this so the user is able to understand how it's been parsed.

If you need

[2015-08-25 17:50] jgkamat commented on #1435
Sure thing, I'll try to find time to work on this over the next couple of weeks. I'll try and modify the base goodie first, but If I can't find a way to do that, I'll create a new goodie.

Thanks! :smile:

[2015-08-26 08:41] #1435 closed

[2015-08-27 14:29] bsstoner commented on #853
@abeyang or @chrismorast do you guys have any guidance here?

[2015-08-27 14:30] bsstoner commented on #853
Maybe we need a different UI for these types of IA's where it's pretty much just navigational.

[2015-08-27 16:08] moollaza opened #1445 "CSS Cleanup: Remove any ie8 Specific CSS (IE8 no longer supported!)"
Now that we no longer support IE8, we can remove any legacy CSS written for backwards compatibility :)

Looks like there's not too much...

[code]

This IA should really be converted to use a builtin template. Given the custom UI, its OK to use the `base` tempate ;)

[2015-08-27 16:59] abeyang commented on #853
@bsstoner I've just pinged you internally re: this.

[2015-08-27 20:16] mintsoft commented on #1445
:tada: !

[2015-08-28 20:52] fardelian opened #1451 "TimezoneConverter: Some results are "too" friendly"
I tried to convert "5 AM EDT" to my time zone and I got "Noon EEST". It took me a while to notice the word because I was looking for a HH:MM time stamp. Please always give the exact time as the main text and use smaller text for the more friendly "noon".

![image](https://cloud.githubusercontent.com/assets/507634/9556739/aaaeb03c-4ddf-11e5-88da-c30c4b53e7b7.png)

---

IA Page:  http://duck.co/ia/v

[2015-08-29 08:20] iambibhas commented on #1278
This is very weird.

[2015-08-29 11:33] moollaza opened #1457 "Cheat Sheets Terminal Template: Long text causes columns to overlap"
Looks like we'll need to adjust our CSS a bit to prevent this.

/cc @alohaas

![duckduckhack](https://cloud.githubusercontent.com/assets/873785/9561731/0df8b6e8-4e20-11e5-9d48-39de028e12e3.png)

[2015-08-29 12:16] moollaza commented on #1451
@fardelian thanks for the feedback! If you're interested in fixing this yourself, the code is all open source!

[2015-08-29 12:29] mintsoft commented on #1451
https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/TimezoneConverter.pm :)

[2015-08-29 13:08] mattr555 commented on #1414
Also observed this on the bash cheat sheet:

![screenshot - 08292015 - 09 08 16 am](https://cloud.githubusercontent.com/assets/4411471/9562014/8299e096-4e2d-11e5-8fc5-0f9e78972059.png)

[2015-08-29 13:58] #1414 closed

[2015-08-29 14:04] alohaas commented on #1457
Yuck! I can take care of this @moollaza

[2015-08-29 14:30] moollaza commented on #1457
@alohaas thanks a lot! :+1:

[2015-08-29 15:57] null-minus-null opened #1466 "RandomNumber: bounds are ignored if lower bound is 0"
When the lower bound is zero, the upper bound is ignored and instead of the expected integer, a float between 0 and 1 is generated.

Example links:
* [random 0 100](http://ddg.gg/?q=random+0+100)
* [random 0 10000](http://ddg.gg/?q=random+0+10000)

------
IA Page:  http://duck.co/ia/view/random_number

[2015-08-29 16:25] anistark opened #1468 "Support for multiple sourceNames in metadata in cheatsheets"
Many a times we take from multiple sources references and yet the cheatsheet format only has space for one alone. It should be able to render multiple sources in metadata object for cheatsheet goodies.

------
IA Page: https://duck.co/ia/view/cheat_sheets

[2015-08-29 16:46] aleksandar-todorovic commented on #1046
Just for the reference, the current IA is limited to 400 digits.

Also, is there any proposition on the new limit?

[2015-08-29 17:33] mintsoft commented on #1046
@aleksandar-todorovic anything that doesn't affect the performance of the IA entirely. I.e; if it was actually computing 1000000 digits then I think we'd probably have an issue :)

[2015-08-29 17:47] aleksandar-todorovic commented on #1046
@mintsoft I have a very basic knowledge in the syntax, so correct me if I'm wrong, but by looking at the `Pi.pm` file, it seems to me like it's not actually computing anything. Instead, this goodie seems to have a pre-made list of 400 digits currently. I think it just outputs the amount of digits specified while triggering the goodie.

[2015-08-29 17:48] mintsoft commented on #1046
@aleksandar-todorovic Exactly; so you can make the number arbitrarily large without any real issue. I was just saying that if the approach was changed to compute rather than essentially just sub-stringing then we'd probably *have* to enforce a timelimit

[2015-08-29 18:34] leowzukw opened #1473 "ColorCodes: Problem with #000000"
We have some trouble with color #000000. See https://duckduckgo.com/?q=%23000000&ia=answer

Complementary and Analogous color are strange.

------
IA Page:  http://duck.co/ia/view/color_codes

[2015-08-29 18:35] mintsoft commented on #1473
@leowzukw is it the complementary and analogous colours?

[2015-08-29 18:36] leowzukw commented on #1473
@mintsoft Yes it is (I updated my issue since that)

[2015-08-29 18:37] mintsoft commented on #1473
Ah Yes, I know about this. It's any colour that's greyscale (i.e. 000 -> fff). Would you prefer the section be hidden?

[2015-08-29 18:38] leowzukw commented on #1473
Yes why not.

[2015-08-29 18:47] #1457 closed

[2015-08-29 19:04] alohaas opened #1476 "Support for active links in cheat sheets"
cc: @bsstoner @sdougbrown @moollaza @mintsoft @abeyang
I was about to dive into creating the [nodejs tutorials cheat sheet](https://duck.co/ideas/idea/6178/getting-started-with-nodejs) when I realized that it would be so nice to be able to add active links to cheat sheets. This functionality currently does not exist.

I can think of two approaches to this:
1. Create a 'links' template where either

[2015-08-29 19:05] jagtalon commented on #1476
:+1: I think this sounds good!

[2015-08-29 19:05] mintsoft commented on #1476
I think 1 is my preference, it's more declarative and means that if we wish to render links differently in the future (i.e. with icons or something) then we can

[2015-08-29 19:05] mintsoft commented on #1476
Also https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1454 will be an awesome fit for this when this is implemented.

[2015-08-29 19:24] moollaza commented on #1476
@alohaas I think that both 1 and 2 could be implemented, but 2 is more difficult.

I think going with a dedicated "Links" template works for now, but ultimately we may want to be able to allow links in the keys/values of other templates (or at least the `vals`)

[2015-08-29 19:53] bsstoner commented on #1476
:+1: Good idea!

[2015-08-29 19:56] alohaas commented on #1476
Thanks for the feedback everyone!
I'd like to take a first pass at this by modifying the reference sheet template a little so that the key will render as a link and we can go from there...

[2015-08-29 20:36] moollaza commented on #1473
@chrismorast @abeyang thoughts? Should we hide the complementary/analogous sections when they're the same as the searched colour?

[2015-08-29 20:49] mintsoft commented on #1473
@moollaza I've implemented it to hide the section whenever there's no hue or saturation. In these situations there's essentially there's no "colour" value to calculate any complements from

[2015-08-29 21:19] alohaas commented on #1476
@moollaza / @mintsoft @bsstoner

See the attached images for an idea of my implementation. I'm ready for a PR if it looks good. Since I've got a new Cheat Sheet as well as an enhancement, I was thinking I could break the PR into two PRs, though maybe that's overkill...what would you prefer? I'll fill out the IA submission either way!

<img width="1312" alt="screen shot 2015-08-29 at 5 14 02 pm" sr

[2015-08-29 22:01] mintsoft commented on #1476
Cool; so this is basically the 'meta-cheatsheet' idea, a kind of table of contents for links. LGTm

[2015-08-29 22:06] alohaas commented on #1476
Yeah! A limitation of the current implementation is that you loose the description text since both the key and val are dedicated to building the link. As a first pass, it works great!

Could make a cheat sheet cheat sheet for sure :)

[2015-08-30 15:54] crazedpsyc commented on #370
Here's an example of the opposite issue: https://duckduckgo.com/?q=9361289877724123423129
This is a USPS tracking number, but it's recognized as FedEx.

Should the goodies just be combined, so that both options are available? e.g. "Track this shipment at FedEx or USPS."

[2015-08-30 19:28] loganom commented on #1466
I'll look at this.

[2015-08-31 09:09] mintsoft commented on #370
thanks @crazedpsyc .Maybe it's worth combining them, I think when I looked through the docs, it should be possible to always tell one from other as long as the checksum is checked.

[2015-08-31 12:26] mintsoft commented on #1466
closed by @loganom in #1490

[2015-08-31 12:26] #1466 closed

[2015-08-31 18:56] moollaza opened #1491 "Chess960: Remove clickable link from result"
Currently the result is being wrapped in an anchor tag, with an `href="#"`. This should be removed.

Really, this Instant Answer should be converted to a JS powered Goodie, that uses Handlebars templates so we're not producing any HTML from the Perl.

---

IA Page:  http://duck.co/ia/view/chess960

[2015-09-01 11:07] moollaza commented on #370
There was an in progress PR which was attempting to combine all the package tracking IAs now that we have a new design. I believe that PR has been abandoned now though, I will try check in on it...

[2015-09-01 14:32] #1407 closed

[2015-09-01 14:47] moollaza opened #1498 "Mac keyboard cheat sheet: Rename to "Apple Mac OS Cheat Sheet""
The following should be changed as well:

- `id`: change to `apple_mac_os_cheat_sheet` (to match or other Operating System Cheat Sheets)
- `name`: change to `Apple OS X`
- `description`: update to specify which versions of Mac OS this applies to
- filename: changed to `apple-mac-os.json`
- `aliases`: add `osx`, `os x`, `mac`, `apple mac`, etc...

------
IA Page:  http://duck.co/ia/view/mac_keyboar

[2015-09-01 20:13] #1473 closed

[2015-09-02 09:27] gautamkrishnar commented on #1498
@moollaza  shall i work on it?

[2015-09-02 18:52] gautamkrishnar commented on #1468
:+1: good suggestion

This can be implemented by giving a '+' icon next to the source link and giving a new link as name "even more",

[2015-09-02 18:56] gautamkrishnar commented on #1476
:+1: a must have feature..

[2015-09-02 23:28] marianosimone commented on #1430
@moollaza what do you expect it to return? If the same result as "unicode girl" is expected, it seems like, besides [Unicode](http://duck.co/ia/view/unicode), there's also code for [UnicodeFuzzySearch](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/UnicodeFuzzySearch.pm) (but I couldn't get any of the [test queries in the test file](https://github.com/duckduckgo/zer

[2015-09-04 04:04] abrahimladha opened #1517 "Conversions: Rounding too generous"
I feel like the rounding is way too generous. For example:
"1.3mm to m" returns "0.001 meters"

---

IA Page:  http://duck.co/ia/view/conversions

[2015-09-05 17:19] SarahTehCat opened #1523 "Conversions: Add support for "microgram" abbreviation"
If you want to convert between `microgram` and another unit, you have to type out "microgram".

So, for example, if you searched `50 μg to mg`, [instant answers wouldn't work](http://i.imgur.com/4TI7VxV.png?1); but if you searched for `50 micrograms to mg`, [it'd work just fine](http://i.imgur.com/99xyBoN.png?1).

------
IA Page:  http://duck.co/ia/view/conversions

[2015-09-05 18:23] iambibhas opened #1524 "Add dns.watch DNS servers to public_dns"
Recently came across https://dns.watch which provides DNS servers/resolvers without any kind of censorship etc. Can we add them to the public_dns goodie?

![screenshot from 2015-09-05 23 52 50](https://cloud.githubusercontent.com/assets/357253/9700679/3c725eb6-5429-11e5-9d2a-fe0690396c9f.png)

[2015-09-05 19:01] mintsoft commented on #1524
@iambibhas Just chuck them into: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/public_dns/providers.yml

Easy as!

[2015-09-05 19:11] iambibhas commented on #1524
@mintsoft will do as soon as I fix this problem with setting up duckpan https://github.com/duckduckgo/p5-app-duckpan/issues/270

[2015-09-06 17:15] #1524 closed

[2015-09-06 17:17] mintsoft commented on #1163
@moollaza I've just added https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/PublicDNS.pm to this list; as it's not immediately obvious from the code, but it's definitely returning HTMl

[2015-09-08 13:14] moollaza opened #1528 "CheatSheets: Support trigger on queries like "Cheat sheet for X""
Currently we only trigger cheat sheets when one of the trigger words comes immediately before or after one of our JSON filenames (or an alias). It would be great to support queries like "cheat sheet for vim" or "shortcuts for emacs".

Let's add some additional triggers! This will require the triggering logic to be adjusted slightly.

[2015-09-08 19:49] bsstoner opened #1531 "Cheat Sheets: "Show More" underline color"
The 'Show More' link has blue underline that shows up on either side of the text after clicking it:

![screen shot 2015-09-08 at 3 48 20 pm](https://cloud.githubusercontent.com/assets/126358/9745644/2feff10c-5641-11e5-8e10-ff6e75bd9c99.png)

------
IA Page:  http://duck.co/ia/view/vim_cheat_sheet

[2015-09-09 08:22] seisfeld commented on #1531
What Browser on what OS do you see this? I'm running Safari 7.1.8 on OS X 10.9.5 and it looks okay:

<img width="725" alt="screenshot" src="https://cloud.githubusercontent.com/assets/9606362/9756735/ad2418e2-56dc-11e5-9e99-f05a6528c625.png">

[2015-09-09 14:45] jdorweiler opened #1538 "W3m cheat sheet: typo in section title"
Has an extra `'` at the end of the section title.
https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/w3m.json#L144

------

IA Page:  http://duck.co/ia/view/w3m_cheat_sheet

[2015-09-09 18:58] jagtalon commented on #1376
Fixed in #1537

[2015-09-09 18:59] #1376 closed

[2015-09-09 19:42] jdorweiler opened #1540 "Ubuntu Unity Cheat Sheet: section order is missing "Dash""
https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/ubuntu-unity.json#L15

------
IA Page:  http://duck.co/ia/view/ubuntu_unity_cheat_sheet

[2015-09-09 19:49] jdorweiler opened #1541 "Colorado 14ers Cheat Sheet: typo "moutain" in section order"
https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/colorado-14ers.json#L17

------
IA Page:  http://duck.co/ia/view/colorado_14ers_cheat_sheet

[2015-09-09 23:52] alohaas commented on #1476
@moollaza I'd like to dig back into this if possible.
Has there been further discussion about implementation, specifically if there should be a third key/val pair in each object for the sections to specify an href?

[2015-09-10 11:09] wongalvis commented on #1393
I don't think it's easy to differentiate searching for a phone number and entering a formula in the query.
There could be a suggestion link above the search results "Looking for a calculation?" (or something like that) and expands to display the Goodie when it's clicked.

[2015-09-10 13:00] #1538 closed

[2015-09-10 13:00] #1540 closed

[2015-09-10 13:00] #1541 closed

[2015-09-10 15:59] jagtalon opened #1545 "Cheat Sheet: angular.json: Add "angularjs" and "angular js" as aliases"
AngularJS cheat sheet doesn't trigger with "angularjs cheat sheet"

[2015-09-10 15:59] jagtalon opened #1546 "Cheat Sheet: brackets.json: Add "adobe brackets" as an alias"
It doesn't trigger with "adobe brackets cheat sheet"

[2015-09-10 16:09] jagtalon opened #1547 "Cheat Sheet: secret-service-codename.json: Add "Secret Service Codenames" alias"
It should trigger with "Secret Service Codenames cheat sheet" as well

[2015-09-10 17:28] jdorweiler opened #1548 "Photoshop cheat sheet: delete selections"
Selections section doesn't exist
https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/photoshop.json#L16

------
IA Page:  http://duck.co/ia/view/photoshop_cheat_sheet

[2015-09-10 20:39] #1545 closed

[2015-09-11 01:38] epik opened #1551 "Relative Cost of Living IA"
If I search "Relative Cost of Living Paoli, PA" (or other places that don't seem to be in Expatistan's database) it shows the Cost of Living index for LA.  The IA seems like it needs a catch if the location is not in the database to not show or something like that.

[2015-09-11 19:12] moollaza commented on #1517
@abrahimladha can you clarify what you'd expect to see instead?

[2015-09-11 19:34] jagtalon commented on #1546
Fixed by #1549

[2015-09-11 19:34] #1546 closed

[2015-09-11 19:34] jagtalon commented on #1547
Fixed by #1549

[2015-09-11 19:34] #1547 closed

[2015-09-11 20:36] moollaza opened #1554 "Zodiac: Should be converted to text template, and should provide More at link to Wikipedia"
It would be good to convert this to use the Text template, and to provide a more at link that gives more info about the given zodiac.

------
IA Page:  http://duck.co/ia/view/zodiac

[2015-09-11 20:41] moollaza commented on #1221
I just noticed that we also don't support "how many days between" as a valid trigger, we should definitely support that as well!

[2015-09-11 22:31] abrahimladha commented on #1517
IMHO 1.3mm should have converted to 0.0013m instead, and Its really all to do with how many significant digits are displayed. I got a physics homework question incorrect because I didn't know my metric conversions eh heh heh.

I found a similiar issue here https://github.com/duckduckgo/zeroclickinfo-goodies/issues/1132 by you about significant digits.

I don't think its that hard. It looks as simp

[2015-09-11 23:36] moollaza commented on #1531
Can confirm I'm seeing it on Chrome, OSX. @bsstoner @sdougbrown any ideas what could be doing this? Seems almost like a browser bug? If you change the CSS for the element, and then switch it back, the problem goes away, like the browser needs to re-draw things.

[2015-09-12 12:08] seisfeld commented on #1548
This is also fixed in #1549 so this one can also be closed.

[2015-09-12 12:14] #1548 closed

[2015-09-12 12:14] mintsoft commented on #1548
Thanks for the fix & reminder @seisfeld

[2015-09-12 12:15] seisfeld commented on #1548
Your're welcome. :)

[2015-09-12 12:16] mintsoft commented on #1551
@epik Thanks for the report, however this is on the wrong repo; however I've mirrored the issue request in the right place:

[2015-09-12 12:16] #1551 closed

[2015-09-12 18:09] seisfeld commented on #1498
@moollaza I dunno what policy is in place when an issue is going to be closed. But i was tempted a couple times now to fix this myself, every time i see this in the overview although its already fixed in #1506 :smile:

[2015-09-12 18:55] gautamkrishnar commented on #1498
@seisfeld Hehehe sorry for that :smile:
@moollaza can you close this issue?

[2015-09-12 20:42] #1498 closed

[2015-09-12 20:43] mintsoft commented on #1498
@seisfeld normally they're closed as soon as the fix is merged into master. Sometimes they get missed  so if you spot any just ping someone and we can close it :)

[2015-09-14 16:43] b1ake opened #1565 "Password: Hard to trigger"
It would great to expand the triggering for this IA. I couldn't figure out how to trigger it until I found the IA page, which a random user probably wouldn't do.

Some queries I tried:

- generate password
- generate strong password
- generate random password
- password generator
- random password generator
- random strong password
- random password 16 characters
- create random password

-----
IA

[2015-09-15 02:12] #1083 closed

[2015-09-15 02:17] moollaza commented on #1393
@wongalvis I think it's OK to bail on queries that match a North American phone number regex like:

[code]

If there's no spaces and 10 digits, its almost certainly a phone number. The user can adjust the query or add "calculate" or `=` to the query to ensure the calculator picks it up.

Not that it matters much, but for comparison, Google and Bing handle it this way. Interestingly Yahoo shows the

[2015-09-15 03:39] moollaza commented on #1565
@b1ake these are great suggestions, and should be fairly easy to handle :+1:

[2015-09-16 00:04] Bujiraso commented on #1221
I'll add that trigger next time I have a few minutes and send a pull request for it.

@mintsoft, have we come to a decision as to the changes on the Dates role? I know you said you were taking a look at it in #1294, so let me know if you have any ideas but since it's less of a quick fix than originally thought, I'll not be forging ahead on it on my own -- at least not until the expected functional

[2015-09-16 18:47] abeyang commented on #1476
@alohaas visually, I think what you have there is fine for now. Internally (and separately), we are working on ways to better display links (both active and visited states), so we'll update this once we figure that out. Thanks!

[2015-09-16 18:47] abeyang commented on #1476
^ cc @moollaza

[2015-09-18 15:25] alohaas commented on #1476
@abeyang thanks for the feedback!

[2015-09-18 18:27] gautamkrishnar commented on #1528
That's a good feature.... We must add this one because most of the users aren't tech savvy. So they will input the search queries in a natural language rather than typing specific trigger words:+1:

[2015-09-19 19:35] Jedidiah commented on #1531
I can see it in Chrome too, I think you're correct about it need to redraw;

If you add `text-shadow: transparent 0 0 0;` to `.chomp--link__mr` and `.chomp--link__ls` makes the issue go away, as does making them inline-block rather than inline.

[2015-09-20 16:13] phylum commented on #1413
@elohmrow I investigated the problem but was only able to figure out that the code tries to convert everything to Kelvin instead of Rankine while stating that it's converted to Rankine.  I'll continue to research the issue and if you have an idea of where in the code to look it'd be greatly appreciated.

[2015-09-20 19:49] mintsoft commented on #1221
@Bujiraso not completely as of yet, the conclusion I came to was that relative statements such as "next $x", "last $x", "tomorrow", "yesterday" should always be relative to today, whereas ambiguous statements like "december" should be relative to the first unambiguous date in the set. Something along those lines anyway.

[2015-09-20 22:10] Bujiraso commented on #1221
@mintsoft, no worries. I also found it needs more pondering than code and just wanted to mention that I'm not actively hacking at it.

[2015-09-21 05:43] elohmrow commented on #1413
@phylum - you'll want to look at 'sub convert_temperatures' and '@temperature' - for temperature conversions, everything is first turned in to a base temperature (Fahrenheit), then from that base temperature to whatever was asked for.  the current calculation looks correct to me - something sinister is happening that hasn't been tracked down yet.

[2015-09-21 08:38] elohmrow commented on #1413
@ahstro @seisfeld @phylum ~ I have a fix for this now.  I will push it up here asap, and notify you all when it's done.

[2015-09-21 08:41] seisfeld commented on #1413
@elohmrow Cool! What was it?

[2015-09-21 08:42] elohmrow commented on #1413
@seisfeld ~ the regex for temperatures was off - some times, when it encountered an alias for 'rankine', it captured on 'kelvin' ... so i made the regex more clear.

[2015-09-21 08:51] elohmrow commented on #1413
@ahstro @seisfeld @phylum fixed in 306c551046b06d6aede637ede8472669ee5d394f

[2015-09-21 09:02] elohmrow commented on #1413
@moollaza ~ if you are still using this, please switch your C::P to v0.030, where this issue is fixed.

[2015-09-21 11:56] bsstoner commented on #1531
Why don't we have the same issue with that link in the other non-cheatsheet IA's? i.e. https://duckduckgo.com/?q=duckduckgo&ia=about

[2015-09-21 13:59] moollaza commented on #772
Closing. This was fixed a while ago :) We now defined all aliases in one place: https://github.com/duckduckgo/duckduckgo/blob/master/lib/DDG/Meta/CountryCodes.pm

[2015-09-21 13:59] #772 closed

[2015-09-21 14:00] #1554 closed

[2015-09-21 14:08] moollaza opened #1595 "Zodiac: Switch to Icon template, use new icons"
Similar to the Chinese Zodiac Goodie, this IA should now be converted to use the Icon template, and should use the new icons we've made:

The icons can be found here: http://cl.ly/0p303X0N1B1k

The icons should use the background colours outlined in the image below.

**Note** Remember to set the background colour using our `elClass` property and the `bg-clr--XXXX` named classes.

**More details he

[2015-09-21 15:45] Jedidiah commented on #1531
Maybe something todo with the animated transition when you expand the cheatsheet. The about DDG pane just opens instantly.

[2015-09-21 18:41] thm commented on #1595
@moollaza sorry, I forgot to include those! That would be:
Water = $blue-light
Earth = $green
Fire = $red
Air = $grey

[2015-09-22 03:07] moollaza commented on #1413
@elohmrow thanks, will do!

[2015-09-23 09:11] arty-name opened #1599 "CurrencyIn: The currency in Poland is the Polish zÅoty (PLN)"
If you search for "[what is the currency of poland](https://duckduckgo.com/?q=what+is+the+currency+of+poland&t=canonical&ia=answer)" the answer will be "The currency in Poland is the Polish zÅoty (PLN)", while it should be "The currency in Poland is the Polish złoty (PLN)"

IA Page:  http://duck.co/ia/view/currency_in

[2015-09-23 09:11] arty-name commented on #1599
![ddg-pln](https://cloud.githubusercontent.com/assets/133055/10041331/d796600a-61e3-11e5-8882-5b4ff92bced6.png)

[2015-09-23 19:14] moollaza commented on #1599
@arty-name thanks a lot for bringing this to our attention!

@Alchymista would you be free to investigate and fix this?

[2015-09-25 15:22] jagtalon commented on #1393
Or you can https://metacpan.org/pod/Number::Phone

[2015-09-27 17:48] #1599 closed

[2015-09-28 00:52] rfdrake commented on #1389
"try" doesn't require a dependency.  If GMP isn't installed it won't use it, but it will use it if it's there.  If anything you might add it to a "recommends" section of your makefile.

You might use Math::BigInt try => 'GMP, Pari' to try both XS modules.  The one drawback being that if there are any bugs in either library then you've increased the chances of hitting them in your library.

You sho

[2015-09-29 14:48] moollaza opened #1616 "CurrencyIn: Cleanup currencies.txt data file"
The CurrencyIn Goodies has now been converted to use a structured answer, however the data file it uses could use some cleanup. Most of the currencies don't have they name of the currency properly capitalized (i.e. `Canadian dollar (CAD)` should be `Canadian Dollar (CAD)`).

IMO we should really switch from a simple text file to something more structured like JSON or YAML which is more common in t

[2015-09-30 21:41] moollaza opened #1621 "USPS: Should be triggering on "9536100030904162000148""
Currently, we're showing the FedEx IA which is incorrect:

https://duckduckgo.com/?q=9536100030904162000148&t=ffab&ia=answer

-----
IA Page: https://duck.co/ia/view/usps

[2015-10-01 00:56] javathunderman commented on #370
Related: #1621

[2015-10-01 00:59] javathunderman commented on #216
Related: #370 and #1621

[2015-10-01 19:37] moollaza opened #1624 "CheatSheets: Remove leading "$ " from Terminal style Cheat Sheets"
It looks like a few Cheat Sheets were accepted during Quack and Hack that have a leading `$ ` before each command to help signify that it's a command being entered at a command prompt.

Based on the styling it should be pretty obvious that these commands are being entered in a terminal. I think we should remove it to make sure all the terminal style cheat sheets maintain the same look. Also, it ta

[2015-10-01 19:56] javathunderman commented on #421
This can be closed @moollaza :+1:

[2015-10-01 20:00] javathunderman opened #1625 "Pull Request Template: Remove XP requirement?"
Seeing as XP has been unsupported for more than a year now, and that Microsoft has ditched IE, I think we should update the PR template to reflect those changes (add Edge rather than IE, delete all XP requirements).

[2015-10-01 20:27] moollaza opened #1626 "Rust Language Object Types Cheat Sheet: Switch to Reference template"
This should look much better with the Reference template!

------
IA Page:  http://duck.co/ia/view/rust_types_cheat_sheet

[2015-10-02 09:21] sagarhani opened #1629 "infomation button is missing"
Information button is missing in [html cheat sheet](https://duckduckgo.com/?q=html+cheat+sheet&ia=cheatsheet&iax=1).

-----
IA Page: https://duck.co/ia/view/html_cheat_sheet

[2015-10-05 15:11] moollaza commented on #1629
@sagarhani thanks -- looks like there's no dev associated with the IA page. I'll update it

[2015-10-05 15:12] #1629 closed

[2015-10-05 15:12] moollaza commented on #1629
Added in the dev. Should update with the next release & deploy.

[2015-10-05 17:05] moollaza opened #1637 "Finish up 2048 Game, implement new design"
A while ago a PR for a new 2048 Game Goodie was started but eventually was abandoned: #1036

We'd love to see this one go live, and we're hoping someone from the community is willing to help complete this Instant Answer.

We have a new design that needs to be implemented, which can be seen here:
![2048 - v2e](https://cloud.githubusercontent.com/assets/873785/13266001/eff40d7c-da43-11e5-8d16-487556

[2015-10-07 17:31] #1565 closed

[2015-10-07 18:35] b1ake commented on #1565
Nice!

[2015-10-08 21:07] bsstoner opened #1646 "Eclipse IDE Cheat Sheet: It's throwing a JS Error"
![screen shot 2015-10-08 at 5 06 25 pm](https://cloud.githubusercontent.com/assets/126358/10379919/fd1b4bc2-6dde-11e5-8a1c-59c21f873e70.png)

------
IA Page:  http://duck.co/ia/view/eclipse_cheat_sheet

[2015-10-09 14:28] moollaza commented on #1646
@bsstoner I'm unable to re-create this, but I don't think anything has changed. All the cheatsheets run the same JS so if there's a bug, we *should* see it for all Cheat Sheets.

Are you still able to produce this?

[2015-10-09 17:08] gautamkrishnar commented on #1626
@moollaza changed :+1:  :smile:

[2015-10-09 17:34] gautamkrishnar commented on #1625
@javathunoderman  I think it need not to be removed. I had added windows 10 in my PR's..

@moollaza @mintsoft  what do you think about this? :smiley:

[2015-10-09 18:21] javathunderman commented on #1625
@gautamkrishnar thanks for the PR!

@moollaza @mintsoft Can you weigh in?

[2015-10-09 18:29] moollaza commented on #1625
We're going to be removing the

[2015-10-09 18:29] moollaza commented on #1625
We're going to be updating these and removing them from the PR Template as it's now covered in the IA Pages, but I guess this is fine for now.

[2015-10-09 18:29] #1625 closed

[2015-10-09 18:30] gautamkrishnar commented on #1625
:+1:

[2015-10-09 19:27] preemeijer commented on #1624
Hello @moollaza, I want to wait for my svn pull request before I do anything else.

Further more I've scripted this change, just wanted to do that... Sorry about that I just wanted to have some fun and not 'just' remove the dollar signs ;)
Anyone can use this script for less manual change, but be aware: Please check before pull request!
[code]
Copy this script in for example you're codio machine a

[2015-10-09 20:03] moollaza commented on #1624
@preemeijer thanks a lot, that script looks great, I see you used it for SVN. How about running it on all the cheat sheets so we fix all of them?

[2015-10-10 08:43] preemeijer commented on #1624
Okay, will have a go at it if I can :)

[2015-10-10 14:57] gautamkrishnar commented on #1626
@mintsoft i think this can be now closed!

[2015-10-10 17:56] gautamkrishnar commented on #756
@moollaza check the PR

[2015-10-10 20:27] preemeijer commented on #1646
I also tried it right now and I also can't reproduce the error...

[2015-10-12 17:47] mintsoft commented on #1646
@bsstoner @moollaza I've just reproduced it here

[2015-10-12 17:58] mintsoft commented on #1646
@bsstoner @moollaza now I've expanded it I think it's that this is commented out and the JSON contains `*/`:
![image](https://cloud.githubusercontent.com/assets/978048/10434724/36550b30-7113-11e5-9c84-ad3103c8ef87.png)

[2015-10-15 19:16] #756 closed

[2015-10-20 12:36] CallMeLaNN opened #1672 "Conversions: Year to Days should be accurate"
Conversion years to days should not simply multiply by 356. We should include the fraction (remember we have leap year).

E.g.
DuckDuckGo: 5years to days = 1825 (365*5)
Manual calc 365.25*5 = 1826.25
More accurate = 1,826.2125
It supposed to show at least 1826 without the decimal place.

------
IA Page:  http://duck.co/ia/view/conversions

[2015-10-20 14:28] #1102 closed

[2015-10-20 14:28] #1385 closed

[2015-10-20 19:49] Roysten commented on #1637
I would like to take a stab at this one. I already started working on it ;)

[2015-10-21 02:58] altern8tif commented on #1531
Is this still a problem?  I'm running Chrome 46 on OSX and the problem seems to have gone away.

[2015-10-21 09:48] bsstoner commented on #1531
@altern8tif Thanks, you're right, this doesn't seem to be an issue anymore, closing.

[2015-10-21 09:48] #1531 closed

[2015-10-21 18:44] mintsoft commented on #1672
@CallMeLaNN Thanks for the report.

We deliberately made the decision to use exactly 12 months and 365 days per year within Conversions (Conversation starts at: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/356#issuecomment-38604913). Essentially this is a for a few reasons:
* 5 years can mean a variety of durations depending on *which* 5 years it is we're discussing. For example 1st Ja

[2015-10-22 06:36] sagarhani opened #1680 "Template type is missing in vi cheat sheet"
```template_type``` : ```terminal``` need to added.

[2015-10-22 14:30] altern8tif commented on #946
Just thinking if this cheat sheet should be ported to JSON instead...

[2015-10-22 16:52] #1680 closed

[2015-10-22 16:54] moollaza commented on #1680
Explained in #1681 that I don't think is is necessary.

[2015-10-22 21:30] #1624 closed

[2015-10-23 18:23] moollaza opened #1685 "Bitsum: Should also accept binary input"
This IA already accepts base10 and hex numbers as input, and converts them to binary. We might as well also accept binary inputs!

------
IA Page:  http://duck.co/ia/view/bitsum

[2015-10-24 08:16] mintsoft commented on #1523
Apologies for the delay @SarahTehCat ! This is absolutely do-able :+1: and should be pretty easy. If you're interested in doing it yourself at all, the code is all open source (https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Conversions.pm)! Although I believe this will probably require alterations in Convert::Pluggable (https://github.com/elohmrow/Convert-Pluggable)

[2015-10-24 22:12] nemeth opened #1690 "Currency Cheat Sheet: Add currency symbols to content"
Because the Cheat Sheet Goodie allows ['symbols'](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/CheatSheets.pm#L23) as a trigger word the search term ['currency symbols'](https://duckduckgo.com/?q=currency+symbols) will display the currency cheat sheet, which - unfortunately- doesn't contain any symbol for the listed currencies. This behaviour might be confusing fo

[2015-10-26 09:26] pafcu opened #1694 "Calculator: Negative explonents are calculated incorrectly"
[1\*1e1](https://duckduckgo.com/?q=1*%281e-1%29&t=ffcm&ia=answer) gives 10, but [1\*1e-1](https://duckduckgo.com/?q=1*%281e-1%29&t=ffcm&ia=answer) gives 1.71828182845905

It seems like in the latter case the "e" is interpreted as the mathematical constant, not exponential notation.

------
IA Page:  http://duck.co/ia/view/calculator

[2015-10-26 14:17] moollaza opened #1695 "CheatSheets: CheatSheets.pm should force lowercasing of aliases to ensure they always work"
We've updated the documentation to tell developers that they should only use lowercase letters, but we should also ensure that the `getAliases` function forces the aliases to be lower-cased so that everything still works and developers don't get frustrated.

We should probably print a warning if an uppercase alias is detected. We already do this in DuckPAN for any Spice/Goodies that have uppercase

[2015-10-26 16:40] SarahTehCat commented on #1523
No worries. I would've preferred a sooner reply, but I know this is a community, and thus volunteer, support thingy, so it happens. :)

Anyway, I would love to do it myself, but I'm only still a beginner in code. I'm still learning. ;)

[2015-10-26 21:45] soleo opened #1696 "FontAwesome CheatSheet"
Would be nice to have a cheatsheet for FontAwesome in DDG as IA.

Search query should be `fontawesome cheatsheet`

Display a list of icon names from fontawesome like https://fortawesome.github.io/Font-Awesome/cheatsheet/

Icon Name can be found in https://github.com/FortAwesome/Font-Awesome/blob/master/src/icons.yml

[2015-10-27 15:01] moollaza commented on #1696
@soleo thanks for posting this. It's best to post new IA ideas on the [Ideas Forum](https://duck.co/ideas) though, as we suggest developers go look there for new/unclaimed ideas.

[2015-10-27 15:45] moollaza commented on #1694
@pafcu thanks for pointing this out! We'll take a look..

[2015-10-27 15:54] #1393 closed

[2015-10-27 16:00] moollaza commented on #1672
@mintsoft I'm with you. If we get more complaints we can change this, but I think this is fair.

For reference Google and WolframAlpha handle it this way as well. Interestingly Bing gives a decimal answer.

[2015-10-27 17:42] mintsoft opened #1699 "Guitar Chords Goodie is suboptimal in dark theme"
Lo,

I thought there was an issue for this already, and I think it's already being fixed:

![image](https://cloud.githubusercontent.com/assets/978048/10767029/1bf1acec-7cd2-11e5-9cd3-fdb8a7a0f88a.png)

Related: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1303

------
IA Page: https://duck.co/ia/view/chord_diagrams

[2015-10-27 18:21] moollaza commented on #1646
@mintsoft great find! I've confirmed this as well. It only happens in Chrome for me. Firefox seems to be OK.

<img width="2047" alt="developer_tools_-_https___duckduckgo_com__q_eclipse_cheat_sheet_ia_cheatsheet_iax_1_and_eclipse_cheat_sheet_at_duckduckgo" src="https://cloud.githubusercontent.com/assets/873785/10768111/e1520328-7cb5-11e5-8246-6011b990df65.png">

@bsstoner I'd say this is an interna

[2015-10-27 18:35] #1626 closed

[2015-10-27 19:02] #421 closed

[2015-10-27 19:47] mintsoft commented on #1646
@moollaza I think the problem is basically "javascript comment injection", it looks like to me like the script tag on the page is commenting out the content of the JSON (for some reason) and https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/eclipse.json#L388 isuncommenting it?

[2015-10-27 20:41] moollaza commented on #1646
@mintsoft what's odd though is that Firefox seems to ignore the `*/` in the JSON. I'm not sure if that's Firefox making a mistake, or being clever. I didn't check Safari yet though...

[2015-10-27 20:42] moollaza commented on #1646
Yup, breaks in Safari as well.

[2015-10-27 22:40] mintsoft commented on #1646
@moollaza hmm yeah, I guess it feels a little like it's a bug in Firefox to me! I don't see why it *wouldn't* break

[2015-10-28 21:10] moollaza commented on #1699
Ugh, this is bad. I don't think I had noticed this before, but once #1303 is finished this should be addressed.

[2015-10-29 09:55] nemeth commented on #1695
I made changes in  #1710.
Is [this the warning](https://github.com/duckduckgo/p5-app-duckpan/blob/master/lib/App/DuckPAN/DDG.pm#L97) what you mean, @moollaza?

[2015-10-29 12:19] moollaza commented on #1695
@nemeth yup, that's the warning I was referring to :+1:

[2015-10-29 12:20] moollaza commented on #1695
I forgot that we were working on https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1668. This is probably the best place to put in a warning for uppercase aliases (also, uppercases in the keys like `metadata`, `sections`, etc.

[2015-10-29 12:28] nemeth commented on #1695
oh, thanks to point that PR! I'll take a look at it

[2015-10-30 08:24] ozdemirburak commented on #1685
@moollaza I guess that this one should be closed.

[2015-10-30 21:42] emilecantin opened #1720 "SunInfo: feature request: change location"
I'd like to add "in MyCity" to search for sunrise / sunset times in a specific city (not my location).

------
IA Page:  http://duck.co/ia/view/sun_info

[2015-10-31 21:56] checkaayush opened #1727 "Locally installing duckpan isn't working"
Platform: Linux Mint Qiana (Based on Ubuntu 14.04)

On running the command `curl http://duckpan.org/install.pl | perl`, I have the following problem, which seems standard according to the error message:

![screenshot from 2015-11-01 03 19 53](https://cloud.githubusercontent.com/assets/4137581/10866087/7de12b4e-8047-11e5-8d45-6e719a07e5e4.png)

But, I have tried installing and activating perlbrew,

[2015-11-01 13:05] mintsoft commented on #1727
@checkaayush I've just tested this is `Ubuntu 14.04` and on the first run, I see that error. However if I close and reopen the terminal, `~/perl5` is created by my profile (due to the install of `local::lib`) and then a second run of `curl http://duckpan.org/install.pl | perl` proceeds on until it hits dependency issues (which is a totally separate problem). Is this consistent with the behaviour t

[2015-11-01 13:32] checkaayush commented on #1727
The problem mentioned above persists for me and I don't seem to reach the state you mentioned. If it helps, I have this line: `export MANPATH=$HOME/perl5/man:$MANPATH` in my bashrc file. I need some cues to look for in order to debug this.

[2015-11-01 14:33] checkaayush commented on #1727
Fixed! Followed the build.log and had to force install a few dependencies using cpanm and --force option.

[2015-11-01 14:33] #1727 closed

[2015-11-01 14:41] mintsoft commented on #1727
@checkaayush good to hear!

[2015-11-01 16:45] Bujiraso opened #1729 "Negative degree conversion to Kelvins do not work"
When converting from degree scales (e.g. `55C in Fahrenheit`), if negative numbers are used while converting **to** Kelvins, no instant answer appears to be triggered, and incorrect results are shown
![negativetokelvin](https://cloud.githubusercontent.com/assets/1975771/10869980/ab253796-8095-11e5-8847-1b8af350e75e.png)

Conversions **from** Kelvins work -- including no answer shown for negative K

[2015-11-01 18:12] mintsoft commented on #1729
@Bujiraso Thanks for the report, I've had a quick look into what's going on here and it looks like there's an issue within Convert::Pluggable that's causing this behaviour. I'll see if I can dig through it again and track it down later on

cc @elohmrow

[2015-11-01 18:33] elohmrow commented on #1729
@mintsoft what version of C::P is currently in use? i recall a (possibly) similar issue recently https://github.com/duckduckgo/zeroclickinfo-goodies/issues/1413#issuecomment-141917103 ...

[2015-11-01 18:50] elohmrow commented on #1729
@mintsoft it seems most problems with C::P come from the temperature conversions ... i think my strategy of first converting Y to F then from F to X has some logical hole(s) somewhere.  it may be better for now to simply re-write that routine in C::P using something like http://search.cpan.org/~mopy/Convert-Temperature-0.03/lib/Convert/Temperature.pm for now.  i will implement that w/n 24 hrs and

[2015-11-01 19:20] mintsoft commented on #1729
@elohmrow I think it's 0.030; I've just upgraded to that on my dev environment and issue still persists.

WRT to temperature conversion, there *shouldn't* be any technical problem with going via another unit. For example Kelvin is the SI unit of temperature and is an absolute measure of temperature (i.e. 0K is 'no kinetic energy of particles'), whilst Celsius & Fahrenheit are standardised around o

[2015-11-01 19:32] elohmrow commented on #1729
@mintsoft yes, the test suite needs work.  i'm actually at the beginning of a pretty substantial re-write anyway, so this is a good start.  let me know what i can do to best help.  thanks!

[2015-11-01 21:50] mintsoft commented on #1729
Related: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1731

[2015-11-02 23:53] #1445 closed

[2015-11-03 01:53] #1616 closed

[2015-11-03 09:17] checkaayush commented on #1279
@moollaza I'd like to take it up. Any cues?

[2015-11-03 10:00] mintsoft commented on #1279
@checkaayush looking at: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/TimezoneConverter.pm it's probably that there's no definition for "ET" or "PT" in the dates role's timezone list: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/GoodieRole/Dates.pm#L64

[2015-11-06 15:01] willhopkins opened #1742 "Dice: Does not roll if "d" comes after math sign"
@loganom: 9+2d6 is not parsed as dice, while 2d6+9 is.

------
IA Page:  http://duck.co/ia/view/dice

[2015-11-06 15:08] loganom commented on #1742
Hi @willhopkins, I'm not sure if 9+2d6 was originally considered.

Would you expect to have seen two separate series of dice rolls? ie. 9d6 and then 2d6? or would you have expected to see 11d6?

[2015-11-06 15:20] willhopkins commented on #1742
Solid question. I would have expected it to be parsed as 2d6+9, but I see why that might be challenging. I guess my assumption here is that I interpret anything not in dice notation as a modifier to be added to the dice total.

[2015-11-06 15:30] loganom commented on #1742
I definitely think that it's an issue that the dice IA is not being triggered. Now i'm just wondering what we should be parsing it as. I think that your expectation is appropriate, but i'm also wondering if others may think that they would be getting two separate dice rolls.

@moollaza ?

[2015-11-06 15:31] loganom commented on #1742
Nice catch @willhopkins

[2015-11-06 19:12] mintsoft commented on #1742
@loganom you're right that it's not triggering Dice.pm for this case. The regex here: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Dice.pm#L103 will prevent it from matching.

It looks pretty trivial to alter the Regex to support this query however.

[2015-11-06 19:25] willhopkins commented on #1742
If you guys want a pull request, happy to contribute it this weekend.

[2015-11-06 19:27] loganom commented on #1742
@willhopkins If you have interest, that sounds good. If no one has picked it up in a week or so, i'll take care of it.

[2015-11-07 04:34] #1685 closed

[2015-11-07 16:57] #1334 closed

[2015-11-07 17:05] #1672 closed

[2015-11-09 19:19] chrismorast opened #1751 "ResistorColors: More at link is broken"
@HackOrQuack

------
IA Page:  http://duck.co/ia/view/resistor_colors

[2015-11-10 03:49] tagawa commented on #853
For low-vision users and users with touch devices, having a permanent underline would be good IMO to indicate text is a link. A similar alternative is possible but underlines are easily understood by any level of user.

![ddg_tor_link](https://cloud.githubusercontent.com/assets/94173/11053894/a377a2f8-87a8-11e5-9deb-b2ded0c87356.png)

[2015-11-11 04:11] tagawa opened #1754 "Conversions: Cups not triggering on production"
For example this query doesn't trigger a conversion:
https://duckduckgo.com/?q=4+cups+in+quarts

Although cups seem to be in the upstream code:
https://github.com/elohmrow/Convert-Pluggable/blob/33c0275e0b358ac841b4a10a3915dc18b1cb6307/lib/Convert/Pluggable.pm

[2015-11-12 17:20] willhopkins commented on #1742
@loganom I'm pursuing it now.

Full disclosure: I work for Google, so I need to make sure I follow any internal rules before submitting code, and make sure the patch will be accepted by DDG as well.

[2015-11-12 17:42] moollaza commented on #1742
@willhopkins hey there! I'd be happy to accept your PR :smiley: Thanks for the interest in DuckDuckHack, and for contributing!

[2015-11-14 06:31] jagtalon commented on #1751
Links to resistor colors seem to be working. @mintsoft @moollaza verify?

<img width="1552" alt="screen shot 2015-11-14 at 1 30 42 am" src="https://cloud.githubusercontent.com/assets/81969/11162433/5e9cc5ea-8a6f-11e5-82b0-0d58694bd87e.png">

[2015-11-14 10:29] mintsoft commented on #1751
@jagtalon works for me too

[2015-11-14 10:29] #1751 closed

[2015-11-14 10:30] mintsoft commented on #1751
@chrismorast any more information you could offer? I've checked a few different values etc and it's working consistently for me

[2015-11-14 14:28] hemanth opened #1761 "goodie proposal: gms of sugar in teaspoons."
@moollaza A new proposal to show gms of sugar in teaspoons.

For example:

![screen shot 2015-11-14 at 19 57 46](https://cloud.githubusercontent.com/assets/18315/11163993/01d10b00-8b0a-11e5-83e9-fbe8382aeee2.png)

What say?

This time I shall do a local setup and be uber fast ;)

Update: the values are from [webmd](http://www.webmd.com/food-recipes/sugar-shockers-foods-surprisingly-high-in-sugar)

[2015-11-14 20:17] arwk opened #1762 "Cheat Sheet export"
It would be cool if you could export or print Cheat Sheets, for example formatted to fit a DIN A4 page.
A possibility to download the Cheat Sheet as pdf would be great either.
I tried to print the vi Cheat Sheet but the design didn't adjust to fit the page.
![vi-print-screenshot](https://cloud.githubusercontent.com/assets/14203899/11165586/cf992ec4-8b13-11e5-8aef-91a59c8a8fe3.png)

---
IA Page: ht

[2015-11-14 22:17] chrismorast commented on #1751
yeah, seems to be working now for me as well. As always, thanks for looking into it @mintsoft !

[2015-11-15 19:34] airon90 opened #1765 "Calculator: Basic functions not recognized"
See the example:

`exp(0) - log(e) + sqrt(9) / tan(45°)`

The result should be 1 - 1 + 3 / 1 = 3

Instead [no answer is returned](https://duckduckgo.com/?q=exp%280%29+-+log%28e%29+%2B+sqrt%289%29+%2F+tan%2845°%29)

The goody lacks of support to the following notations:
- [`exp(x)`](https://duckduckgo.com/?q=exp%283%29) ([`e^x`](https://duckduckgo.com/?q=e^3) is already supported)
- [`Trigonometric

[2015-11-15 23:07] Airon90 opened #1766 "Add support to complex number"
* Multiplication: ```(a + ib)(x + iy)``` → ``ax - by + i(bx + ay)```
* Real part:  ```a + ib``` → ```a```
* Imaginary part:  ```a + ib``` → ```b```
* [Conjugate](https://en.wikipedia.org/wiki/Complex_conjugate):  ```a + ib``` → ```a - ib```
* Division: ```(a + ib)/(c + id)``` = ```(ac - bd)/(c²+d²) + i (bc - ad)/(c²+d²)```

----

IA Page: http://duck.co/ia/view/calculator

[2015-11-15 23:13] Airon90 opened #1767 "Conversion between non SI units not working"
Source: [Reddit](https://www.reddit.com/r/duckduckgo/comments/3sup41/15_reasons_why_i_will_never_use_duckduckgo/) ([img](http://i.imgur.com/AscrDQa.png))

It seems that "[how many ounces in a cup](https://duckduckgo.com/?q=how+many+ounces+in+a+cup)" doesn't show any answer. Instead "[how many meters in a kilometer](https://duckduckgo.com/?q=how+many+meters+in+a+kilometer&ia=answer)" shows the corr

[2015-11-16 14:31] tagawa opened #1770 "Language cheat sheets should be triggered with the keyword "phrases""
In other words, instead of having to type "german phrases cheat sheet", the IA should be triggered with only "german phrases".

[2015-11-16 17:28] mintsoft commented on #1767
Duplicate of: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/1754

[2015-11-16 19:46] mintsoft commented on #1754
@tagawa I've just checked this and the goodie fires correctly, however it doesn't in production!

![image](https://cloud.githubusercontent.com/assets/978048/11192742/ad87bd7c-8c9a-11e5-95d1-568689a8b1e9.png)

@moollaza @jagtalon I can't debug this any further from here; it looks like a live-only problem!

[2015-11-16 21:33] moollaza commented on #1754
@mintsoft I suspect our version of Convert::Pluggable is behind in production. Will make a task

[2015-11-17 03:46] tagawa commented on #1621
Same thing for these numbers, as reported on Twitter:
9361289877758119544505 9361289877737147963793 9361289877737147566833 9361289877724130267143 9361289877737145829022

[2015-11-17 03:48] tekkub commented on #1621
:bear: :heart: :feet:

[2015-11-17 16:11] #1767 closed

[2015-11-17 16:18] moollaza commented on #1766
@Airon90 we have a new "Advanced Calculator" that should be able to handle these queries. The triggering is limited right now while we evaluate it, but if you start a query with `calculate <equation>` it should work!

[2015-11-17 16:25] moollaza commented on #1765
Looks like this is handled properly by the new API backed calculator. However `log` needs to be `ln`:

https://duckduckgo.com/?q=calculate+exp%280%29+-+ln%28e%29+%2B+sqrt%289%29+%2F+tan%2845%C2%B0%29&t=ffab&ia=calculator

I believe all the other functions are also handled by that calculator

[2015-11-17 16:26] moollaza commented on #1765
@Airon90 would you like to try more equations and get back to us? I can let the Symbolab team know if they're missing anything we think is necessary.

[2015-11-17 19:29] Airon90 commented on #1767
Thank you!

[2015-11-17 19:38] Airon90 opened #1774 "Differential needed in example"
Hi,
I saw the [first example of Symbolab](https://duck.co/ia/view/symbolab) and mathematically is incorrect because there isn't its differential in the integral:

[```compute integral of x^2```](https://duckduckgo.com/?q=compute%20integral%20of%20x%5E2&ia=calculator) should be [```compute integral of x^2 dx```](https://duckduckgo.com/?q=compute+integral+of+x^2+dx&ia=calculator) as [```compute inte

[2015-11-17 19:42] Airon90 commented on #1766
Thank you! So I have to type "calculate" to trigger the advanced calculator. Moreover I didn't know about Symbolab. Are you going to merge Symbolab into calculator? Thank you again!

[2015-11-17 19:42] mintsoft commented on #1774
Thanks for the report @Airon90 as this is a spice (uses an API) I've moved this issue to the Spice Repo: https://github.com/duckduckgo/zeroclickinfo-spice/issues/2290

[2015-11-17 19:42] #1774 closed

[2015-11-17 19:48] moollaza commented on #1766
We're working on relaxing the trigger so the Perl calculator can fallback onto the Symbolab calculator. For now it requires the "calculate"  or "solve" trigger words.

We can't merge the code, but I hope to merge the frontend eventually so it looks uniform

[2015-11-17 19:49] #1766 closed

[2015-11-17 20:08] Airon90 commented on #1765
Thank you very much! Now that I know that for advanced calculator I need to type "calculate" before the query I'm happier :)
I will try Symbolab as I just fell in love with it. If something doesn't work on DDG I will report it.
Thank you for your answer!
PS: I study mathematics at the University of Milan and in university we use ```log``` instead of ```ln``` ;) It is just a notation problem :)

[2015-11-18 14:56] sagarhani opened #1776 "Description missing in IRC cheat sheet"
Description is missing in [IRC cheat sheet](https://duckduckgo.com/?q=IRC+cheat+sheet&ia=cheatsheet).
@moollaza Shall I add it ?

[2015-11-18 16:24] codenirvana commented on #1776
@sagarhani There are many cheat sheets without description, This is because the description added at the time of PR is  redundant or not describe about the cheat sheet well.

If you have a better description that describes what the cheat sheet is doing than you must add :smile:

[2015-11-18 17:43] sagarhani commented on #1776
Oh Yes!
Now, I noticed that there are several other cheat sheets which don't have description.

[2015-11-19 21:33] #1476 closed

[2015-11-20 04:28] jophab opened #1783 "Automated screenshot for cheatsheet"
#1758 this cheatsheet I changed the template type to 'keyboard' from 'reference' .But stills the new automated screen shot shows it in reference template.
But when we check the beta its in keyboard template

[2015-11-20 05:19] gautamkrishnar commented on #1783
@moollaza i think this feature need to be limited as daxtheduck is spmming pr with automated screenshots( probably one per commit )

What about changing the trigger as a command by mentioning daxtheduck in pr just like:
' @daxtheduck screenshot '

[2015-11-20 07:13] tagawa commented on #853
For the record, [similar feedback on Twitter](https://twitter.com/burnflare/status/667588004601446401): "I was hovering my pointer all over the place to know where to click here. Underline over link would be :+1:"

[2015-11-20 20:23] moollaza opened #1786 "Frequency Spectrum: Convert to use templates + JS"
Now that Goodies have access to templates, JS and CSS they should no longer generate and return HTML strings.

This IA is particularly bad because it also injects JS into the HTML. It should instead use templates and a separate JS file to handle modifying the DOM. It's also important that the JS fires using our `onShow()` event so that the timing is correct and we know the DOM is ready.

[2015-11-20 21:11] moollaza commented on #1783
@jophab thanks for reporting, we'll look into this
/cc @jdorweiler

@gautamkrishnar right now I think it's OK -- we can remove any extra/unnecessary pictures from the conversation if that's what you're concerned with. The idea is that it gives a picture of the changes as new commits are pushed.

[2015-11-20 21:12] moollaza commented on #1783
I'm going to close this and create an internal task for the team to investigate the photo not showing the actual changes

[2015-11-20 21:12] #1783 closed

[2015-11-20 21:24] jdorweiler commented on #1783
Thanks.  I'll look into the screenshots not being correct.  I could have it remove all the previous screenshot comments too.  That way a PR only has a single one.

[2015-11-20 21:31] moollaza commented on #1776
@sagarhani it would be nice to have descriptions for all the Cheat Sheets.

If you run `t/CheatSheets/CheatSheetsJSON.t` you'll see all the warnings for Cheat Sheets without descriptions

[2015-11-20 21:31] #1776 closed

[2015-11-20 21:42] moollaza commented on #1765
@Airon90 we could update the IA to replace `log` with `ln` in the query so your syntax would work :+1:

[2015-11-20 23:21] moollaza commented on #1761
@hemanth seems like this kind of query should be handled by our existing conversions Instant Answer -- I would suggest you investigate improving that one. Support for kitchen measurement units may need to be added to `Convert::Pluggable` first though

[2015-11-21 01:32] moollaza commented on #1389
@rfdrake thanks for the input!

That's exactly the point I was trying to get across -- I guess I wasn't very clear though?

Good point! I'll check if we're using any other Math::Big libraries.

[2015-11-21 01:34] moollaza commented on #1389
Looks like we're only using `Math::BigInt` in a couple places right now...

[2015-11-21 02:01] moollaza commented on #1430
@marianosimone the Goodie shouldn't `return undef` if it's bailing out, it should `return;`

The difference being that `return` gives an empty list and so we don't recognize the IA as actually triggering or returning an answer. In this case we're seeing that it's actually providing an answer, but the value is simply `undef`:

![1____projects_zeroclickinfo-goodies__perl_](https://cloud.githubuserco

[2015-11-21 04:38] jagtalon opened #1788 "Re-implement HTML Enties Cheat Sheet"
This is a pretty old internal instant answer and it needs to be moved as an open source goodie to match the "modern" look that we have. https://duckduckgo.com/?q=html+entities&t=ffab

[2015-11-21 04:38] jagtalon opened #1789 "Re-implement ASCII Table Cheat Sheet"
This is a pretty old internal instant answer and it needs to be moved as an open source goodie to match the "modern" look that we have. https://duckduckgo.com/?q=ascii+table&t=ffab

[2015-11-21 04:40] jagtalon commented on #1789
Another option for the look, you could use something similar to https://duckduckgo.com/?q=shruggie+and+friends&t=ffab&ia=shruggie

[2015-11-21 04:40] jagtalon commented on #1788
Another option for the look, you could use something similar to https://duckduckgo.com/?q=shruggie+and+friends&t=ffab&ia=shruggie

[2015-11-21 04:57] hemanth commented on #1761
@moollaza Cool, I didn't noticed the [Conversions](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Conversions.pm) goodie, will improve the same.

BTW is there any setup script to set this up locally? Or do I just `cpan App::DuckPAN` clone the repo and do a `duckpan server`? Last time I was stuck with codio that hindered the velocity.

What's with `zeroclickinfo-spic

[2015-11-21 05:02] moollaza commented on #1761
@hemanth yes you can install Duckpan locally: https://github.com/duckduckgo/p5-app-duckpan#installing-duckpan-locally

Spice is for API powered Instant Answers. You can read all about them and walk through tutorials in our docs.

We actually have a beta version of the docs available if you'd like to try them out: https://talsraviv.gitbooks.io/duckduckhackdocs/content/

[2015-11-21 05:03] hemanth commented on #1761
Sweet! Thanks.

[2015-11-21 05:05] moollaza commented on #1788
@jagtalon I think the problem is that this doesn't lend itself well to a cheat sheet because there's multiple columns of data here. We need an easy way to create tables -- we either need a template that allows for tables with headers, or we may benefit from a new cheat sheet template that produces tables

[2015-11-21 05:07] moollaza commented on #1789
I don't think we have a great way of doing this yet...

See my comment in #1788

[2015-11-21 05:19] jagtalon commented on #1788
@moollaza what about something like https://duckduckgo.com/?q=shruggie+and+friends&t=ffsb&ia=shruggie?

[2015-11-21 21:03] Airon90 commented on #1765
I don't think that it should be replaced, as ln(x) equals to log_e(x).
I think that maybe a [calculator cheat sheet](https://duckduckgo.com/?q=calculator+cheat%20sheet) would be useful. Moreover a cheat sheet for every IA would be useful to understand every implemented functions. Don't you? :)

[2015-11-22 18:19] moollaza commented on #1765
I think that'd be overkill. The idea behind the IA Pages is that we should provide quality descriptions and example queries so users will understand how to use Instant Answers. Ideally they shouldn't require too specific a syntax, but in some cases it's a little hard to avoid

[2015-11-23 19:15] marianosimone commented on #1430
@moollaza I'm even more confused now :confused: If I add that test to `t/Unicode.t`:

    'unicode girls' => test_zci(undef)

It passes without trouble. What's more, I don't see any path where `lib/DDG/Goodie/Unicode.pm` returns `undef` while bailing out (but standard `return`s)

I don't know where the answers for this are coming from, but `lib/DDG/Goodie/Unicode.pm` doesn't seem to be the one rep

[2015-11-23 22:11] mintsoft commented on #1430
@marianosimone I think, it must be section: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Unicode.pm#L153 if `unicode_lookup` returns `undef` that'll get returned out by the goodie. The `if/else`

[2015-11-24 02:43] jophab opened #1804 "Why beta.duckduckgo.com didnot shows how the goodies looks?"
when we look the pull requests deployed to beta ,,the beta.duckduckgo.com just shows the list of IAs on testing and their information. Not how the IA looks

[2015-11-24 08:46] jophab opened #1805 "Merged File Missing"
#1750 This PR was merged and it was a cpp cheat sheet. But this is not found in duckduckgo/zeroclickinfo-goodies and also when I checked  the PR 'files changed 'is shown as '0'

[2015-11-24 14:51] amitdev commented on #1690
Submitted pull request #1806.

[2015-11-25 05:04] tagawa opened #1811 "Safari Cheat Sheet: Add tab switching"
Please add the following shortcuts:

Control-tab: Switch tabs (forward)
Shift-control-tab Switch tabs (reverse)

/cc @ankushg07

[2015-11-25 11:25] ankushg07 commented on #1811
@tagawa updated the cheat sheet with requested short cuts

[2015-11-25 15:40] jophab commented on #1805
@moollaza any ideas? What to do to restore?

[2015-11-25 16:06] moollaza commented on #1805
@jophab it looks like these branches shared common commits so the CPP Cheat Sheet PR was automatically closed and considered "merged" when I merged your JIRA Cheat Sheet.

You'll need to open a new pull request for the CPP Cheat Sheet

[2015-11-25 16:06] #1805 closed

[2015-11-25 16:17] andrey-p opened #1816 "CheatSheets: Java cheatsheet overlap on wide screens"
I'm not sure if this is just the Java cheatsheet or not, but I couldn't reproduce with other cheatsheets. I guess something to do with the line length here?

![screenshot_2015-11-25_16-03-02](https://cloud.githubusercontent.com/assets/1431577/11402390/8a7e54de-938f-11e5-80b1-af08ed53bbcc.png)

https://duck.co/ia/view/java_cheat_sheet

[2015-11-26 15:31] Mailkov commented on #1595
@mollaza @thm
In your zip file there are two errors: file named Aquarius is instead Gemini and file named Gemini is not present.

[2015-11-26 20:26] moollaza commented on #1595
@Mailkov apologies! @thm can you send me the Gemini icon?

[2015-11-26 20:34] moollaza commented on #1816
Thanks for pointing this out!

I didn't see all that HTML in there, but it shouldn't be there!

[2015-11-26 20:41] moollaza commented on #1816
My planned parser changes will fix this when the `<br>` are replaced with `/n`

[2015-11-26 20:46] moollaza commented on #1811
@ankushg07 when you make a Pull Request, please add `fixes #1811` for, example. That way the issue will be automatically closed when your PR is merged.

Also, the issue will state that it was mentioned in your PR.

[2015-11-26 22:08] moollaza commented on #1690
@amitdev thanks for making a PR. For future reference, if you put `Fixes #1806` in the description of your PR it will automatically ensure the issue is closed when the PR is merged, and make a note here that the issue was mentioned in your PR :+1:

[2015-11-26 22:13] thm commented on #1595
@moollaza @Mailkov My bad, here's the updated set: http://cl.ly/0p303X0N1B1k

[2015-11-26 22:13] moollaza commented on #1804
@jophab if you click the tile, it should expand to show more information including an example URL. You can click the URL to perform a search and see the actual IA instead of a picture. I think that's OK for now.

@jdorweiler do we cache the images anywhere? Would it be possible to reference a single IMG in the detail pane that would always load the most recent screenshot? I think it might be overk

[2015-11-26 22:49] moollaza commented on #1430
@marianosimone there's a big difference between

[code]

and

[code]

---------

The former ensures that the result from the IA is actually an ZCI Answer Object, that has the `answer` property set to `undef` -- a totally legal, but semantically useless result

The latter ensures that the result from running the handle function is actually `undef` which is equal to `{}` (an empty list)

Some detail

[2015-11-26 23:01] moollaza commented on #1430
@marianosimone it looks like this is the culprit: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Unicode.pm#L44

We return whatever the function returns, and the function `unicode_lookup` will always `return`, meaning it can `return undef` of none of the `if` blocks execute.

We need a check there, like

[code]

[2015-11-27 01:34] jophab commented on #1804
@moollaza Its working now. But when I made this issue i had tried what you said but it didnt showed how the ia looks. Thats why i made this issue. Now its ok.. :+1:

[2015-11-27 14:47] #1690 closed

[2015-11-28 10:05] Mailkov commented on #1595
@moollaza Let me know if it is okay.

[2015-11-29 04:57] atomic1fire opened #1828 "FedEx: Overlap with USPS tracking ID"
https://www.reddit.com/r/duckduckgo/comments/3uheyl/searching_for_usps_tracking_always_suggests_to/

https://duckduckgo.com/?q=9361289879010710383692&ia=answer

   Someone on reddit is having problems with a USPS tracking ID showing up as Fedex.

Seems to work if you include USPS, but it's coming in as a Fedex ID. Maybe it's an overlapping tracking number?

---

IA Page:  http://duck.co/ia/view/fe

[2015-11-29 12:50] mintsoft commented on #1828
Related: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/370 https://github.com/duckduckgo/zeroclickinfo-goodies/issues/1621

[2015-11-29 16:12] maxau commented on #1742
I researched this as my first potential contribution and have an *untested* version working similar to how the current version of Dice behaves when the "d" or "w" are in front of the plus (+).

Based on this [Wikipedia article on dice notation](https://en.wikipedia.org/wiki/Dice_notation), the current behavior is expected:

The article also mentions a **multiplier** which I may add (although I fir

[2015-11-30 02:20] willhopkins commented on #1742
I need to drop this. Good luck to @maxau and the others with the patch!

[2015-11-30 10:53] RainbowCZ opened #1834 "Java Cheat Sheet:Random HTML elements inside the text"
There is huge ammount of HTML elements inside this cheat sheet.

![snimek obrazovky_2015-11-30_11-52-27](https://cloud.githubusercontent.com/assets/7114885/11469745/fe3d2a36-9758-11e5-8ae1-29c66194fd28.png)
------
IA Page:  http://duck.co/ia/view/java_cheat_sheet

[2015-11-30 15:19] RainbowCZ commented on #1834
Duplicate :)

[2015-11-30 15:19] #1834 closed

[2015-11-30 21:18] vanR opened #1836 "LaserShip: Regex trigger needs anchors to limit triggering"
Hi,

A DDG search for a LaserShip Tracking number in the form "1LS12345678999999999", results in a truncated tracking ID link link like so http://lasership.com/track/LS12345678 (no leading "1" truncated to 8 trailing digits).  This shortened URL results in a LaserShip validation error, "So sorry, the tracking number could not be located ...", whereas the full form, http://lasership.com/track/1LS12

[2015-12-01 13:36] moollaza opened #1837 "Sort: Needs to ensure it has a remainder to sort"
Looks like this IA triggers on `array.prototype.sort` (the triggering part is our fault, and I intend to fix that), however the IA goes on to return an answer with no actual sorted output.

The IA should prevent that from happening.

E.g. https://duckduckgo.com/?q=Array.prototype.sort&t=ffcm&ia=answer

cc/ @koosha--

------
IA Page:  http://duck.co/ia/view/sort

[2015-12-02 13:48] jophab opened #1841 "Some triggering words not working for cheatsheet of 8086"
#1794 #1777 The only triggering word that triggers the cheatsheet is "cheat sheet".Others are not working.I am attaching screenshots too.
![4](https://cloud.githubusercontent.com/assets/13940974/11532362/6878ab7e-9929-11e5-8a75-797390a9a70e.png)
![6png](https://cloud.githubusercontent.com/assets/13940974/11532365/68946116-9929-11e5-83b5-6f18009de101.png)
![7](https://cloud.githubusercontent.com/as

[2015-12-02 13:54] jophab commented on #1841
Even 'cheatsheet','help' is not working.
But they are working  for other cheat sheets. Is there some problems ?

[2015-12-02 17:42] moollaza opened #1844 "Cheat Sheets (Controller): Need to ensure aliases don't match existing cheat sheet names, or aliases"
CheatSheets.t (or similar) should test that the aliases for each cheat sheet don't match the name of an existing cheat sheet, or the aliases of an existing cheat sheet.

Names and aliases must be unique across cheat sheets.

For example `ubuntu.json` had `"aliases" : [ "ubuntu unity" ]`, while there was already an `ubuntu-unity.json` cheat sheet.

This caused ambiguity in triggering and so the tes

[2015-12-02 17:53] moollaza commented on #1762
@arwk thanks for the suggestion -- I've never considered printing our IA's before.

Taking a screenshot should work though? Firefox (and I assume most other browsers) have a method of screenshotting the whole page (not just what's visible).

You could crop them -- or build a tool to query the page, and take a screenshot of just the Cheat Sheet's `<div>`

[2015-12-02 18:12] moollaza commented on #1836
@vanR thanks for pointing this out!

It looks like the regex trigger for lasership needs to be adjusted as it's simply capturing the middle portion of the match. It needs to include anchors (`/^...$/`) so it only captures the shorter version, and needs to be adjusted to also capture longer versions.

Are you interested in fixing this?

[2015-12-02 21:16] mrkev opened #1847 "Conversions: floating point error (feet to inches)"
@mintsoft

Hello! I stumbled across this issue.
![screen shot 2015-12-02 at 4 13 40 pm](https://cloud.githubusercontent.com/assets/1285131/11544451/e618d334-990f-11e5-8c2e-d131dbc44e3d.png)

Thought I'd report it here.

------
IA Page:  http://duck.co/ia/view/conversions

[2015-12-03 01:06] #1804 closed

[2015-12-03 05:41] jophab opened #1848 "Beta IA showing incorrect cheatsheet"
#1823 beta is showing c cheatsheet instead of c++ cheat sheet.
There are c and c++ cheatsheets in ia testing.Examples of both are showing c cheat sheet

![err](https://cloud.githubusercontent.com/assets/13940974/11552790/8e1d7cb2-99ae-11e5-9672-999dbd02bfb7.png)

[2015-12-03 08:37] hemanth opened #1849 "Lower case Conversion goodie?"
[code]

[2015-12-03 08:52] jophab commented on #1848
@moollaza

[2015-12-03 18:51] mintsoft commented on #1848
@jophab If the query string is URLEncoded then it works correctly: https://beta.duckduckgo.com/?q=C%2B%2B+cheatsheet&ia=cheatsheet

Did you click a link that took you to that page?

[2015-12-03 18:52] mintsoft commented on #1848
@moollaza @jophab Just seen the link (https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1823#issuecomment-161338947) I'm guessing it's a Dax/Github integration issue. I'm not sure this is the right place for this as an issue but I also don't know where's best to put it!

[2015-12-03 18:54] mintsoft commented on #1847
Thanks for the report @mrkev ! We'll look it into

[2015-12-03 18:54] mrkev commented on #1847
:+1: 😊

[2015-12-04 08:59] hemanth commented on #1761
@moollaza Did a setup on my VM, where can find the source of [this](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Conversions.pm#L29) is it an external deps? (Doesn't seem line, grep could find it for me)

[2015-12-04 09:49] jophab commented on #1841
@mintsoft  @moollaza

[2015-12-04 18:03] arwk commented on #1762
I admit that its not very common to print search results :wink:
Thanks for your hint of screenshotting the whole page, I never used such a function, but I'll give it a try!
Additionally it would be possible to build a small tool to parse the .json Cheat Sheet files to create a .pdf with LaTeX or something similar..

[2015-12-04 19:56] mintsoft commented on #1841
@moollaza Just confirmed this; looks like a similiar problem that we had with the eclipse cheatsheet:

![cheatsheet](https://cloud.githubusercontent.com/assets/978048/11599853/1cce6364-9ac1-11e5-8eaf-230758b405f5.png)

[2015-12-04 19:57] mintsoft commented on #1761
@hemanth It's on cpan: https://metacpan.org/pod/Convert::Pluggable

[2015-12-05 05:01] hemanth commented on #1761
@mintsoft Cool, hmm so I must do a PR to `Convert::Pluggable`.

[2015-12-05 23:07] mintsoft commented on #1849
@hemanth That's due to a slight issue with Conversions and triggers. Technically conversions requires  that the triggers are case sensitive (i.e. S means siemens, whilst s means seconds); there isn't currently a 'good' way of dealing with this however

[2015-12-06 07:26] Mailkov commented on #1847
@mintsoft @mrkev

I think the problem is that the factor is based on  the meter on Convert::Pluggable
I found it on https://github.com/elohmrow/Convert-Pluggable/blob/master/lib/Convert/Pluggable.pm
[code]
probably the only solution is to round the result !!!

@mintsoft a question ... where is the code Convert :: Pluggable on DuckDuck?

[2015-12-06 10:12] hemanth commented on #1849
Hmm, true, there won't be 'good' way unless we can predict what the user meant, say if the query is like: `60S in mins` we need to assume that the user meant second and not siemens.

[2015-12-06 10:17] hemanth commented on #1847
@Mailkov The code is not on DDG, it's an [external](https://github.com/elohmrow/Convert-Pluggable) dependency.

[2015-12-06 11:33] mintsoft commented on #1849
We are currently evaluating new approaches for Conversions including a javascript implementation which would be interactive etc. I'd probably suggest ignoring this for now until we decide on the approach that we'll be taking

[2015-12-06 11:39] #1837 closed

[2015-12-06 11:40] hemanth commented on #1849
:+1:

[2015-12-06 11:40] #1849 closed

[2015-12-06 12:01] hemanth opened #1854 "FR: caniuse goodie."
I am planning for a new goodie, `caniuse` that could be both a spice and a normal on, how do i decide?

It would be nice if we could use node modules for spices

//cc @moollaza @mintsoft

[2015-12-06 12:24] mintsoft commented on #1854
If caniuse has a JSON API then a spice would be the answer. If they don't then another way of getting the information is required. Sometimes people write scrapers to output yaml and then use a goodie to handle the display and triggering of it.

[2015-12-06 12:51] hemanth commented on #1854
There is no JSON API as such but the closest is [this](https://github.com/Fyrd/caniuse/blob/master/data.json) we can't use node module in spices yet?

[2015-12-06 15:04] moollaza commented on #1854
We have an existing CanIUse Fathead which could be updated.

I suppose if you really wanted you could have it use the node module to provide all the info needed instead of scraping the website.

Fathead is ideal for this kind of info.

[2015-12-06 15:08] moollaza commented on #1854
A supplementary Spice could be used if they have a json search endpoint, but there's no way for it to use a node module right now.

[2015-12-06 15:29] hemanth commented on #1854
Was asking because there is this [caniuse](https://www.npmjs.com/package/caniuse-api) which internal uses `caniuse-db` the link I had mentioned [above](https://github.com/Fyrd/caniuse/blob/master/data.json) is there an alternative to have the endpoint available on of the DDG API servers?

I missed looking into FatHead, will check that out.

[2015-12-06 16:11] hemanth commented on #1854
Oh cool, [caniuse](https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/share/fathead/caniuse)!

BTW I tried searching for `caniuse fetch`, before creating that issue, it did not return anything for `caniuse fetch`

 :+1:

[2015-12-06 16:11] #1854 closed

[2015-12-07 20:57] moollaza commented on #1848
@mintsoft @jophab definitely seems like an encoding issue :+1:

/cc @jdorweiler -- feel free to close this if you want to track it elsewhere!

[2015-12-08 01:22] #1848 closed

[2015-12-08 02:03] Pawtiko opened #1863 "POTUS: Should not trigger for "vice president of the united states""
@numbertheory
Searching for "vice president of the united states" triggers this instant answer, giving the incorrect output of Barack Obama

------
IA Page:  http://duck.co/ia/view/potus

[2015-12-08 02:17] jdorweiler commented on #1848
@jophab thanks, I'll get this fixed.

[2015-12-08 02:22] jophab commented on #1848
@jdorweiler can you check #1841 too

[2015-12-08 02:29] jdorweiler commented on #1848
@jophab I'll ask @moollaza.  I think he is working on that.

[2015-12-08 03:23] jophab commented on #1848
Okayy.. :+1:

[2015-12-08 03:26] jophab commented on #1841
@jdorweiler @moollaza
I think this is a problem for cheatsheets with names as numbers.
same problem arises with 8085 cheatsheet
please checkout
https://beta.duckduckgo.com/?q=8085+cheatsheet

[2015-12-08 03:56] jophab commented on #1863
Its because the potus is triggered if the query contain the substrings "president of the united states"
or "president of the us"
![image](https://cloud.githubusercontent.com/assets/13940974/11647415/ae14a68e-9d8d-11e5-9ed1-67bbcbe249a3.png)

[2015-12-08 04:12] hemanth commented on #1863
It would nice to fix the [RE](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/POTUS.pm#L33) to have a beings with check.

[2015-12-08 08:25] mintsoft commented on #1863
@hemanth should be as simple as adding a `^` to the front

[2015-12-08 08:26] hemanth commented on #1863
@mintsoft Yes, I am aware of that, giving a chance to the person who reported to do a PR ;)

[2015-12-08 17:07] moollaza commented on #1841
Thanks guys. Will take a look today

[2015-12-08 23:08] moollaza commented on #1841
Found the bug. Working on a fix right now...

[2015-12-08 23:17] moollaza commented on #1841
Fixed here: https://moollaza.duckduckgo.com/?q=8086+symbols&ia=cheatsheet&iax=1

[2015-12-08 23:56] 37 opened #1867 "Conversions:"
@mintsoft
"300mph to kmh", or even "300 miles per hour to kilometers per hour"

------
IA Page:  http://duck.co/ia/view/conversions

[2015-12-09 01:18] jophab commented on #1841
@moollaza :+1:

[2015-12-09 01:18] #1841 closed

[2015-12-09 02:42] #1595 closed

[2015-12-09 03:25] jophab opened #1869 "One json file is outside the json folder"
bulgarian.json is outside the json folder.
I think it has to be in language folder in json folder

[2015-12-09 12:02] Abledsoul opened #1870 "Cheat Sheets (Controller):"
------
IA Page:  http://duck.co/ia/view/cheat_sheets

[2015-12-09 17:43] moollaza opened #1871 "Lowercase: Should ignore input that's only numerical"
https://duckduckgo.com/?q=lowercase+1235&t=ffab&ia=answer

We should ignore input that only has numbers. We should probably not show a result if the output === input actually?

------
IA Page:  http://duck.co/ia/view/lowercase

[2015-12-09 17:43] #1430 closed

[2015-12-09 18:50] GuiltyDolphin commented on #1694
This should be fixed now (from PR #1866).

[2015-12-09 18:54] #1694 closed

[2015-12-09 18:54] mintsoft commented on #1694
Thanks @GuiltyDolphin

[2015-12-09 19:14] moollaza opened #1873 "Rubiks Cube Patterns: Shouldn't trigger on when query is only "Rubics Cube""
https://duckduckgo.com/?q=rubics+cube&t=ffab&ia=answer -- this shouldn't not display the IA.

Let's fix and add a test to ensure this :+1:

/cc @Mailkov

------
IA Page:  http://duck.co/ia/view/rubiks_cube_patterns

[2015-12-09 19:37] moollaza commented on #1870
@abledsoul did you mean to add something to this? Is there a bug you found?

Please close if not.

[2015-12-09 19:40] moollaza commented on #1869
Yes, it should be moved.

[2015-12-09 22:47] Abledsoul commented on #1870
Sorry, still learning. :)

[2015-12-09 22:47] #1870 closed

[2015-12-10 18:27] GuiltyDolphin opened #1880 "Calculator: re-write"
_(I blabber, scroll down a bit if you want to see some issues and suggestions)_

_Disclamer: I'm not a long-time DuckDuckHack contributer, I have a lot to learn and I'm not as well versed in Perl as many of you will be (I mostly write Haskell), so please, feel free to scream (or politely shout) at me if I've made some horrible error in the way things are supposed to work._

**_Begin**_

I recently

[2015-12-10 18:48] GuiltyDolphin commented on #1871
If someone queried `lowercase 123`, wouldn't that be very indicative that they want the IA to show? I would vote for keeping lowercase for these (especially where result = input), it is a very cheap call afterall - being a single Perl sub-routine. Adding these checks would make the Goodie file more verbose, I feel.

[2015-12-10 19:24] moollaza opened #1881 "Apple Mac OS Cheat Sheet: Errors with missing/defined sections"
Looks like the section names need to be reconciled.  See output from CheatSheets.t for details:

[code]

/cc @AlfonzM

------
IA Page:  http://duck.co/ia/view/apple_mac_os_cheat_sheet

[2015-12-11 02:21] tagawa opened #1882 "UnicodeFuzzySearch: Not triggering on live server"
@konr

https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/UnicodeFuzzySearch.pm seems to be ignored &mdash; the example queries don't work:

https://duckduckgo.com/?q=unicode+2665
https://duckduckgo.com/?q=unicode+black+heart

[2015-12-11 02:31] tagawa commented on #1882
Strange, seems like it's working in DuckPAN server but not the live or beta servers.

[2015-12-11 11:27] mintsoft commented on #1880
@GuiltyDolphin Hi Ben

You're definitely correct that the Calculator is probably the most difficult IA to work on currently. I spent some time looking at other options about a year ago and came to the conclusion that the main problem difficulty stems from us handing the hard-work over to Perl itself (https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/Calculator.pm#L128)

[2015-12-11 12:07] cosimo commented on #1882
Doesn't seem to be related to DDG::Goodie::Unicode, rather DDG::Goodie::UnicodeFuzzySearch.

[2015-12-11 14:35] GuiltyDolphin commented on #1880
@mintsoft Having a fixed grammar would definitely help prevent injection attacks - I've recently spent a fair amount of time working with parsers (in Haskell though). I can see the advantage of just being able to add new terms and the relevant routines when implementing new features.

[This](http://perl-begin.org/uses/text-parsing/#advanced-parsing) page links to a few parser-generators, I'll have

[2015-12-11 14:59] mintsoft commented on #1880
Excellent, I'm on slack and on here if you want to discuss anything, feel free to just ping me with ideas etc!

I don't think triggering should be too hard, we can easily approximate something that 'looks like' something calculable, i.e. contains numbers and operators or functions ; it'll probably end up a fairly sizable regex. However triggers don't have to be exact, just as long as they're not u

[2015-12-11 15:05] mintsoft commented on #1880
Actually this looks pretty straight forward: http://search.cpan.org/~hakanardo/Math-Expr-0.4/Expr.pm

[2015-12-11 15:59] tagawa commented on #1882
Thanks @cosimo - I've updated the title and description. As it's only an issue on the live server it may be a platform bug rather than IA issue.

[2015-12-11 17:19] GuiltyDolphin commented on #1880
Hmm.. Yeah, I saw that, but it doesn't seem to do much. Just parse the basic operations into a tree. It is... Odd. I can't find a way to actually evaluate or even retrieve expressions (the `Simplify` sub?), and it is very lax with its parsing. I'm not sure this'd be the best bet (let me know if you find out how to use it). It mentions using some databases containing terms, but I can't find anythin

[2015-12-11 18:26] mintsoft commented on #1880
I think the intention around that module is that the execution is down to the consumer of the tree, I'd guess that a depth-first traversal would execute in BODMAS order

[2015-12-11 19:47] GuiltyDolphin opened #1887 "Atbash: Showing html encoding in answer"
For example, with the query `"hello"`;

https://duckduckgo.com/?t=lm&q=atbash+%22hello%22&ia=answer

The formatted query is returning as `Atbash: &quot;hello&quot;`, not pretty!

[2015-12-11 21:57] moollaza commented on #1762
@arwk that sounds like something the community should be able to tackle, using the GitHub API on their own!

[2015-12-11 22:00] moollaza commented on #1762
@duckduckgo/community-leaders what do you think of this idea?

I feel it's something anyone in the community would be welcome to build -- DDG doesn't need to own or maintain it.

@tagawa shall we tweet about the idea?

[2015-12-11 22:08] mintsoft commented on #1762
@moollaza sounds like a good idea, definitely feels like a community thing

[2015-12-11 23:30] moollaza commented on #1854
@hemanth no we don't have a way to expose a node module as an API.

If that JSON file covers all the content on CanIUse then making a Fathead out of the JSON should be fairly simple.

---

Alternatively, you could reach out to CanIUse to see if they plan to expose a search API?

[2015-12-12 00:25] javathunderman commented on #1762
@moollaza Yeah, this sounds great. Having an irl copy of a CheatSheet would be really useful.

[2015-12-12 01:03] codenirvana commented on #1762
@moollaza Good idea :+1:

[2015-12-12 02:38] moollaza commented on #1870
@Abledsoul no problem!

If you need anything, the DuckDuckHack community and DDG Staff (including myself!) are available on Slack to answer any questions you may have. If you'd like to join us there please send an email to quackslack@duckduckgo.com.

[2015-12-12 03:35] moollaza commented on #1847
@mrkev thanks for reporting this!

@Mailkov thanks for finding the bug!

Anyone care to submit a fix to C::P?

[2015-12-12 04:04] moollaza commented on #1863
Looks like this still needs fixing @hemanth, care to fix it?

[2015-12-12 04:48] moollaza commented on #1882
@tagawa FuzzySearch isn't live, we disabled it a while ago because there were bugs. It hasn't been deployed to beta either so it only works locally, in DuckPAN right now.

There are some issues that need resolving.

[2015-12-12 04:48] #1882 closed

[2015-12-12 04:59] moollaza commented on #1871
@GuiltyDolphin thanks for chiming in!

Unfortunately just because someone searches `lowercase X` doesn't mean they intended to trigger the IA. We typically don't show anything if we have nothing useful to show, so for this IA, if the result is the same as the input, I would argue it's better to show *nothing*, than show something that's potentially unwanted or unnecessary to show.

In general, thi

[2015-12-12 05:55] cosimo commented on #1410
Doing approximate search on the unicode names might require more computation cycles than allowed in a IA plugin. Is that still a concern? Maybe we could start by having common aliases instead?
Either way, I'd like to work on this.

[2015-12-12 06:30] moollaza commented on #1887
The reason this happens is because we're escaping the content in the template, for the inputL https://github.com/duckduckgo/duckduckgo-answerbar-templates/blob/master/detail/goodie_1_inputs.handlebars#L5

We need to remove `[html_enc(...)]` from the `input` of Goodies so we can rely on Handlebars to escape any HTML

[2015-12-12 06:34] moollaza commented on #1887
This should be all the IA's that need fixing:

- lib/DDG/Goodie/ABC.pm
- lib/DDG/Goodie/Anagram.pm
- lib/DDG/Goodie/Atbash.pm
- lib/DDG/Goodie/Average.pm
- lib/DDG/Goodie/Base64.pm
- lib/DDG/Goodie/Bitsum.pm
- lib/DDG/Goodie/Braille.pm
- lib/DDG/Goodie/Chars.pm
- lib/DDG/Goodie/EmailValidator.pm
- lib/DDG/Goodie/FlipText.pm
- lib/DDG/Goodie/MagicEightBall.pm
- lib/DDG/Goodie/MD4.pm
- lib/DDG/Goodi

[2015-12-12 07:08] hemanth commented on #1863
@moollaza Sure, what the expected triggers here? In the [RE](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/POTUS.pm#L31-L34)
just a beings with for `who\s+(is|was)\s+the\s+` is enough?

[2015-12-12 10:56] GuiltyDolphin commented on #1871
@moollaza Good points! I was thinking of lowercase more as an imperative command than an adjective! With your points in mind I agree with your initial statement of only having lowercase trigger with non-lowercase input.

Brings up an interesting point with the `uppercase` Goodie though, although the searches seem a lot less common:

![screenshot from 2015-12-12 10 49 53](https://cloud.githubuserco

[2015-12-12 11:29] GuiltyDolphin commented on #1887
@moollaza Yeah, I figured it was the `html_enc`, do we have a guide of when exactly things like `html_enc` should be used? And how to make sure we can't get injection attacks (e.g., in the case of `eval`)?

Presumably the tests will need updating too? As the old input text would need to match the `html_enc` text where applicable.

[2015-12-12 11:33] mintsoft commented on #1887
@GuiltyDolphin I think with the templating we'd be moving to a situation where outputting of markup isn't possible from Goodies. So they should never be `html_enc`'d. At least I can't think of a situation in which it's required to output encoded html

[2015-12-12 12:17] sumsted commented on #1828
Saw this on reddit... I noticed this bug as well. The number given in the bug 93.... doesn't appear to be an overlapping fedex tracking number or what would be called smartpost. It doesn't pass the fedex tests but does pass the usps tests. I have a little experience identifying tracking numbers and lend a hand to look over the logic if you need it.

I just read bug 370, it refers to smarpost. You

[2015-12-12 12:20] Mailkov commented on #1847
@moollaza I submitted fix ...

[2015-12-12 12:30] sumsted commented on #370
In my experience smarpost can be tracked by both USPS and FDX. The availability of scans varies between their services. For smartpost use the USPS mod test and check for 92 on the frontend.
I can help with the logic to distinguish between USPS, UPS, FedEx and their various services but would need some help in navigating this project.

[2015-12-12 14:58] moollaza commented on #1863
The triggers are OK, but we shouldn't just be stripping out expected query parts. We need to ensure that the whole query matches our regex:

[code]

Something like that...

We should add tests to ensure this.

[2015-12-12 14:58] moollaza commented on #1863
I would also just use `triggers any => "potus", "president ... ";`

[2015-12-12 15:08] moollaza commented on #1887
@mintsoft is correct -- once we really only need to worry about escaping html for old goodies that don't use templates (few remain), or goodies that use the simple structured answer (i.e. input, output, operation).

Moving forward Goodies should be using the full templates which don't need any escaping, because the Goodie shouldn't be creating any HTML, just passing data to templates.

[2015-12-12 15:34] GuiltyDolphin commented on #1880
Looking at Marpa it seems very promising, and it has thorough documentation. Mind taking a look at [this](https://stackoverflow.com/questions/33630324/is-it-possible-to-use-perls-marpa-parser-for-a-public-network-server) thread on unsafe input? I don't think it will be an issue (or any more of an issue than alternatives) for a well-defined grammar, but better safe than sorry.

[2015-12-12 16:14] mintsoft commented on #1880
I don't perceive it being a problem as long as the grammar is well defined as you say; it is probably worth us testing it with some pathological inputs within the test cases (odd unicode characters, null bytes etc) to ensure that it behaves sensibly. Judging by Jeff's reply (the author of marpa), it's just to essentially cover all possibilities.

[2015-12-12 17:51] hemanth commented on #1863
[code]
Something like ^ and then fetch the required index from `@presidents` ?

[2015-12-13 04:25] gautamkrishnar commented on #1762
Yes! A really useful feature :+1:

[2015-12-13 08:29] preemeijer commented on #1762
:+1:

[2015-12-13 08:48] GuiltyDolphin commented on #1880
The old calculator Goodie went out of it way to normalize the user input for re-display to the user; to what extent will this be required by the new Calculator? Of course removing duplicate whitespace and very easy operations can be done, but I'd rather not have to write a bunch of regexes just to do effectively the same parsing as Marpa.

I'm still looking into whether I can do this easily with M

[2015-12-13 10:33] #1869 closed

[2015-12-13 11:00] mintsoft commented on #1880
I think the output when driven from the parse tree would be sufficient, although it's difficult to say without seeing one obviously.

[2015-12-13 12:00] GuiltyDolphin commented on #1880
Using something similar to [this](https://metacpan.org/pod/distribution/Marpa-R2/pod/Scanless/DSL.pod#Synopsis), I'm able to implement two functions for each action - one that generates a pretty-print syntax, and one that generates the value.

Could then use the pretty-print version for the input display, and the actual value in the result.

[2015-12-13 12:33] gautamkrishnar opened #1896 "Apple Mac OS Cheat Sheet IA page link not working"
@moollaza
IA Page:  http://duck.co/ia/view/apple_mac_os_cheat_sheet
The Front-End Files link in IA Page is not working as the json file is renamed...  its returning  404.
Need to replace that with the new link.
https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/apple-mac-os.json

[2015-12-13 13:09] gautamkrishnar commented on #1881
@moollaza Exams are going on!
I will make any changes if needed, as soon as i can!

[2015-12-13 13:26] mintsoft commented on #1880
That sounds like it could work out; although I guess we'd need to parse the expression twice?

[2015-12-13 13:32] mintsoft commented on #1880
No we wouldn't, the object that represents the operator can just have two methods!

[2015-12-13 13:42] GuiltyDolphin commented on #1880
Yeah, the actual parsing happens once to generate the tree, then the individual methods can be called for generating the input string and output.

[2015-12-13 14:33] GuiltyDolphin commented on #1887
@moollaza @mintsoft Could you point me in the direction of some of these full templates? There seems to be a lot of inconsistency with what types of `structured_answer` are used.

[2015-12-13 16:57] GuiltyDolphin commented on #1880
Yikes... The old calculator gives `256` as the result (and it is even in the tests!) to `2 squared ^ 3`, which is `4 ^ 3 = 64`. I was wondering why that test wasn't passing (new calc)!

[2015-12-13 18:04] mintsoft commented on #1880
Hmm, I don't know about that too much; if it was expressed as `2^2^3` then it's the output I'd expect. What's the difference between expressing it as `2 squared` or `2^2`?

[2015-12-13 18:09] jonk1993 commented on #1836
Hi I included anchors so query "1LS12345678999999999" would not trigger the LaserShip IA, but I'm confused as to what you mean by "needs to be adjust to also capture longer versions." It seems like a typical LaserShip tracking number consists of two alphabet letters followed by eight digits. Is there a longer version this IA should capture?

[2015-12-13 18:10] GuiltyDolphin commented on #1880
I would read it as 2 squared to the power of 3, but the answer it was giving was `2 to the power of (squared) to the power of 3` - it was substituting `2 squared` for `2 ^ 2` rather than `4`, so the precedence was getting mucked up.

[2015-12-13 18:18] GuiltyDolphin commented on #1880
@mintsoft Do you think `squared` should be more or less binding than `^`? More binding: `2 ^ 3 squared = 512`, less binding `2 ^ 3 squared = 64`.

[2015-12-13 18:49] mintsoft commented on #1880
Good question, I guess to me it's ambiguous. Thinking about it, I don't think people would tend to refer to "squared" as an operator being applied to the output of an expression, only to a number directly so I would expect `2 ^ 3 squared` to be the same as `2^(3^2)` as the squared applies only to the 3. That said, neither way around feels 'right'; if it was said to me in a conversation I'd ask for

[2015-12-14 09:10] tagawa commented on #1762
This is a great idea. One approach is to do it as a web app (e.g. using gh-pages), for example:
1. Get the list of cheat sheets using the [GitHub API](https://api.github.com/repos/duckduckgo/zeroclickinfo-goodies/contents/share/goodie/cheat_sheets/json)
2. Get the ```download_url``` from the API feed
3. Use [PDF.js](https://mozilla.github.io/pdf.js/) or similar to convert the JSON to PDF
4. Celebr

[2015-12-14 10:26] gautamkrishnar commented on #1762
@tagawa sounds great! It will be one of our topics for the January hackathon which will be held on January 2016 by duckduckhack community kochi.
http://www.meetup.com/Quack-Hack-Kochi/

[2015-12-14 11:47] tagawa commented on #1882
Ah, got it. Thanks @moollaza

[2015-12-14 13:05] hemanth opened #1899 "`aspect ratio` instant answer is not being triggered?"
^

[2015-12-14 13:11] tagawa commented on #1762
@gautamkrishnar Cool. Shall I assign it to you so that we don't get duplicate PRs?

[2015-12-14 16:41] Mailkov commented on #1138
@abeyang @moollaza the icons on  http://cl.ly/3q1y1x3P0f2V must contain background color because background colors of logos are different  IMHO

[2015-12-14 20:26] moollaza commented on #1847
@Mailkov thanks a lot! Once that's merged this will be fixed :+1:

[2015-12-14 21:30] #1871 closed

[2015-12-15 02:12] tagawa opened #1902 "Bitsum: Hamming weight result is confusing"
@kste

The Hamming weight output is the same as the search query which doesn't seem correct. E.g. the [Hamming weight for 11101 is 4](https://en.wikipedia.org/wiki/Hamming_weight) but the IA says 11101.

------
IA Page:  http://duck.co/ia/view/bitsum

[2015-12-15 02:23] moollaza commented on #1902
@tagawa I'm not seeing that? I'm getting a hamming weight of 9 for 11101 (it defaults to base 10)

https://duckduckgo.com/?q=bitsum+11101&t=ffab&ia=answer

[2015-12-15 02:27] moollaza commented on #1902
We may want to have it accept and default to binary though? And have it indicate the base it used for the input

[2015-12-15 02:52] tagawa commented on #1902
I was looking at the sub-heading. It says "Hamming Weight: 11101" (under the "9"). Maybe it's the layout that's confusing. And yes, indicate the base would be helpful.

[2015-12-15 13:59] jophab opened #1905 "'list' as triggering word for cheat sheet."
Shall we add the word 'list ' as  triggering word for cheat sheet.
It will be helpful in case of IAs which list something.
for eg : #1884

---

IA Page: https://duck.co/ia/view/cheat_sheets

[2015-12-15 14:00] jophab commented on #1905
@moollaza  @jdorweiler  @tagawa

[2015-12-15 15:50] gautamkrishnar commented on #1762
@tagava Yup, sure.... :+1: :Smiley:

[2015-12-15 15:57] tagawa commented on #1762
Hah, looks like I can't assign it anyway! Nevermind, if people see this thread they can see that you plan to work on it. Thanks @gautamkrishnar, and let us know if you (or the devs at the meetup) need any help.

[2015-12-15 16:17] gautamkrishnar commented on #1762
@tagawa Yup... :smile: We will be happy to hack on it :smile:

[2015-12-15 16:54] tagawa commented on #1896
cc @MariagraziaAlastra

[2015-12-15 18:30] moollaza commented on #1905
@jophab thanks for the suggestion. I'd like to hold off on adding more triggers to cheat sheets for now. We'll be revisiting our approach to triggering cheat sheets in the new year to ensure they're triggering as well as possible.

[2015-12-15 18:31] #1881 closed

[2015-12-15 18:48] moollaza opened #1906 "Convert Markdown CheatSheet to new format, add support for GitHub Flavored MD"
We have an existing "Markdown Cheat Sheet" that doesn't actually trigger for the query "Markdown Cheat Sheet" because it is implemented as a Perl Goodie that triggers on specific markdown elements:

https://duckduckgo.com/?q=markdown+header&t=ffab&ia=answer

We should probably have a JSON Cheat Sheet for Markdown. As mentioned in https://github.com/duckduckgo/zeroclickinfo-fathead/issues/167 we sh

[2015-12-15 20:59] gautamkrishnar commented on #1905
@jophab that could be a good idea.

[2015-12-15 21:00] gautamkrishnar commented on #1905
@moollaza I think, We must add some more trigger words like:-
* help
* quickstart
* jumpstart

[2015-12-15 21:09] gautamkrishnar commented on #1906
I will create a cheatsheet for markdown syntax.  :+1:

[2015-12-15 21:59] marianosimone commented on #1899
@hemanth what query is not working for you? I see it working just fine

<img width="724" alt="screen shot 2015-12-15 at 1 58 55 pm" src="https://cloud.githubusercontent.com/assets/104916/11825466/05c72432-a334-11e5-9b53-8615e9e55e3f.png">

[2015-12-16 12:09] gautamkrishnar opened #1909 "Issue with URL display"
When i was working with the #1908 i had encounted an error on parsing the following JSON code:
[code]

Its displayed incorrectly as the below screenshot:
![screenshot 50](https://cloud.githubusercontent.com/assets/8397274/11840364/540d6ccc-a41b-11e5-9e57-3bf21fa804e6.png)

[2015-12-16 12:19] gautamkrishnar commented on #1906
@moollaza shall i have to create separate JSON file for GHFM ?

[2015-12-16 12:50] #1909 closed

[2015-12-16 13:33] Mailkov commented on #1786
@moollaza I'm working on this

[2015-12-16 15:26] GuiltyDolphin commented on #1880
@mintsoft I've managed to get it to pass all the tests now (had to modify some tests that were actually incorrect - old calculator was producing some incorrect values for trig functions). Taken a lot longer than anticipated because of some issues with phone numbers, weird issue with the `Math::Complex` library trying to convert numbers (and a couple of other things). Just need to clean it up and r

[2015-12-16 19:02] moollaza commented on #1906
@gautamkrishnar sure

[2015-12-16 19:44] #1836 closed

[2015-12-16 19:46] mintsoft commented on #1880
Excellent! Just ping me in the PR and I'll take a look!

[2015-12-16 20:26] moollaza commented on #1410
Would there happen to be any CPAN repositories we could leverage? Or an API somewhere we can use to get results?

After a quick look I came across this: http://www.fourmilab.ch/webtools/unum/ -- it looks like we could adapt that code to serve our purpose?

We could pre-buid the data structure using YAML or JSON which should make things a little easier.

[2015-12-16 21:01] moollaza commented on #1863
@hemanth sure -- not sure you need to capture anything besides the index though.

We can derive `is/was` from if it's not the current president.

[2015-12-16 22:04] cosimo commented on #1410
Actually, I took a look at unum, and basically it uses Unicode::CharName.
I think it's very easy to integrate into the Unicode goodie, and it can be made to be reasonably fast too.

Question though: if a query matches tons of symbols, how do we pick a "good" one? Should we just stop a the first one? Can we return multiple results?

[2015-12-16 23:06] cosimo commented on #1410
Proof of concept code:

    use 5.010;
    use strict;
    use warnings;

    use Unicode::CharName;
    binmode STDOUT, ":utf8";

    Unicode::CharName::_init_names();
    my $query = "right arrow";
    for my $uchar (keys %Unicode::CharName::NAMES) {
      if ($Unicode::CharName::NAMES{$uchar} =~ m{^$query}i) {
           say $uchar, " ", $Unicode::CharName::NAMES{$uchar}, " ", chr(hex($uchar));

[2015-12-17 00:05] abeyang commented on #1138
@Mailkov not sure I understand what you mean. The background color in the mockups should be generated from html/css.

[2015-12-17 03:46] hemanth commented on #1863
Well with the modified R.E I see ^ missing something?

[2015-12-17 04:22] moollaza commented on #1863
@hemanth use `warn` -- you'll see it printed in DuckPAN's server output

[2015-12-17 07:03] hemanth commented on #1863
Use `use warn;` but it's not triggering instant answer for any of the valid phrases: `POTUS` et.al

[2015-12-17 08:07] cosimo commented on #1110
Tried to understand which "static hashes" could be moved out, but found none. Can you please clarify?

[2015-12-17 13:23] moollaza opened #1914 "Periodic Table: Provide Atomic Mass for queries containing the name or "periodic table""
Queries for atomic elements by name, e.g. "Helium", "Lathanum" should show the atomic mass instead of repeating the full name.

Suggested on Duck.co here: https://duck.co/ideas/idea/6804/show-all-information-in-periodic-table-goodie

----

Also it looks like "periodic table" isn't a trigger for this IA and I think it should be added. Queries like https://duckduckgo.com/?q=periodic+table+he&t=ffab

[2015-12-17 14:17] Mailkov commented on #1138
@abeyang  This is the result when I use icons on http://cl.ly/3q1y1x3P0f2V (in this case BRT and DHL)
![answerpackagetracking](https://cloud.githubusercontent.com/assets/10259499/11871297/e27ebb74-a4ce-11e5-9dd3-3cf949d06a72.png)
As you can see the logos haven't the correct background color ... for BRT (bg color should be a shade of Red) an for DHL (bg color should be a shade of Yellow ).I don't w

[2015-12-17 14:49] moollaza commented on #1786
Excellent :+1:

[2015-12-17 14:53] moollaza commented on #1896
@gautamkrishnar thanks -- I believe this is a known issue, I'm not sure if the Platform Team has a fix ready yet.

[2015-12-17 16:00] gautamkrishnar commented on #1896
:+1:

[2015-12-17 21:55] nickcolley commented on #946
How about adding a subtle gradient?

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/2445413/11883161/d94d99c8-a508-11e5-989a-47a5bb22a0a2.png)

[2015-12-18 02:01] moollaza opened #1917 "Calculator: Operation for `fact()` should be "factorial""
When computing only the factorial of a number, regardless of the query, we should show the operation as "factorial" instead of "fact"

i.e. it should look like this:

![fact_3__at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/11887351/621092c2-a501-11e5-92f1-c233cc581898.png)

---

IA Page:  http://duck.co/ia/view/calculator

[2015-12-18 08:04] altern8tif commented on #1899
Same here.  Working just fine.

[2015-12-18 10:14] gautamkrishnar opened #1920 "Add support for newline in cheatsheet"
`\n` Must be parsed as a newline in cheatsheet key values

[2015-12-18 10:14] gautamkrishnar commented on #1920
#1908 @moollaza

[2015-12-18 12:07] GuiltyDolphin commented on #1880
@mintsoft Regarding the old triggers, I'm not sure how much these are needed in the new calculator, as if the string cannot be parsed by the grammar then the calculator won't accept the input. Additionally the old trigger regex is quite restrictive on what functions/operators will trigger the response. What would your recommendation be? Is it fine to allow the calculator to attempt to parse each i

[2015-12-18 14:52] hemanth commented on #1899
:+1:

[2015-12-18 14:52] #1899 closed

[2015-12-18 19:40] mintsoft commented on #1880
@GuiltyDolphin I think it would be unwise to have it trigger for every query. Just a very loose regex trigger will suffice, which we can then validate with the grammar

[2015-12-20 08:48] GuiltyDolphin commented on #1765
@moollaza, @Airon90, @mintsoft - see PR #1927 in which I have implemented some of this functionality and aim to add much more soon.

[2015-12-20 23:11] rugk opened #1930 "URLEncode: URL percent-encode shows HTML entities in input field"
@nishanths
Let's take this example:
https://duckduckgo.com/?q=url+encode+https%3A%2F%2Fduckduckgo.com%2F%3Fq%3D%C3%A4&ia=answer
![urlencode](https://cloud.githubusercontent.com/assets/11966684/11920669/0478e214-a776-11e5-83ad-e6f6b5899fae.PNG)

At the bottom you can see this:

However what is "URL percent-encode"? AFAIK the first - big - text shown is [percent encoded](https://en.wikipedia.org/wik

[2015-12-20 23:18] rugk opened #1931 "URLEncode: Does not encode all reserved characters correctly"
@nishanths

These are not encoded:
https://duckduckgo.com/?q=url+encode+*-.&ia=answer

However they [could be](http://www.w3schools.com/tags/ref_urlencode.asp) encoded, but I don't know whether it is required or not. It seems Browsers and other things (like PHPs `urlencode`) handle this differently.

**Edit:** At least `*` is a reservated character which must be encoded [according to Wikipedia](ht

[2015-12-20 23:25] rugk commented on #1931
BTW I've just copied all of the reservated characters from wikipedia (`! # $ & ' ( ) * + , / : ; = ? @ [ ]` and ran them through your [encoding answer](https://duckduckgo.com/?q=url+encode+!+%23+%24+%26+%27+%28+%29+*+%2B+%2C+%2F+%3A+%3B+%3D+%3F+%40+[+]&ia=answer) and there are more which are not encoded correctly - both by Browsers and your answer:

[2015-12-20 23:26] nishanths commented on #1930
@rugk Good point. The result and input are HTML encoded before being rendered—perhaps for security reasons—from this commit onward: https://github.com/duckduckgo/zeroclickinfo-goodies/commit/53ffe0c3b61dbc23e423dd7b3661330b5ec4b243.

cc @mwmiller @jagtalon Thoughts on removing the `html_enc` call?

[2015-12-20 23:31] rugk commented on #1930
Yeah, we don't want XSS attacks either... :laughing:

[2015-12-20 23:46] nishanths commented on #1931
Thanks for noting this! There was a similar discussion during the development of this IA. The encoding module that was picked matched JavaScript's `encodeURIComponent()` function.

However, this behavior may not always be the right one to use all the time. This [SO answer](http://stackoverflow.com/a/3608791/3309046), though JavaScript, explains the difference between encodeURI() and encodeURICompo

[2015-12-20 23:51] rugk opened #1932 "URLDecode: Does not correctly decode German umlauts"
`äöü` [encoded](https://duckduckgo.com/?q=url+encode+%C3%A4%C3%B6%C3%BC&ia=answer) are `%C3%A4%C3%B6%C3%BC`

Try it: https://duckduckgo.com/?q=url+decode+%25C3%25A4%25C3%25B6%25C3%25BC&ia=answer
It returns this: `Ã¤Ã¶Ã¼`

------
IA Page:  http://duck.co/ia/view/urldecode

[2015-12-20 23:59] rugk commented on #1931
BTW I updated my previous replies in case you did not saw.

So okay, encodeURIComponent and encodeURI are different and the answer should look like encodeURIComponent. However the issue here is that it does not encode all reserved characters.

So this is what we have to try:
![reschar](https://cloud.githubusercontent.com/assets/11966684/11920997/ab8ff8ba-a77d-11e5-9b8f-bf81052f609b.PNG)

And inter

[2015-12-21 00:02] rugk commented on #1930
Also `'` is displayed differently: `&#39;`

[2015-12-21 08:06] mintsoft commented on #1930
@nishanths The `html_enc` call can go now that it's templated; previously it was required to prevent XSS, however now the templates do the encoding for us.

[2015-12-21 08:15] mintsoft commented on #1931
According to the documentation for the module that's used (`URI::Escape`) it should encode all characters specified as reserved by RFC 3986: http://search.cpan.org/~ether/URI-1.69/lib/URI/Escape.pm#DESCRIPTION

[2015-12-21 08:17] mintsoft commented on #1932
Looks like when this IA was converted to accept UTF-8 we should have switched to using `uri_escape_utf8` (http://search.cpan.org/~ether/URI-1.69/lib/URI/Escape.pm)

[2015-12-21 08:22] mintsoft commented on #1920
IIRC It is parsed as such, it's just that browsers ignore insignificant whitespace; I'm guessing that the desired behaviour is to actually output `<br/>` or something similar when the cheatsheet engine encounters a newline?

[2015-12-21 08:22] mintsoft commented on #1917
This is being tackled in: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1927

[2015-12-21 10:58] gautamkrishnar commented on #1920
@mintsoft  Ya the `\n` must be parsed as a `<br/>`
It will makes the   writing of programming cheatsheets easier...
for example we can use:
[code]
For real `\n` we can use double escape sequence: `\\n`

[2015-12-21 16:18] #1873 closed

[2015-12-21 16:22] moollaza opened #1934 "Rubiks Cube Patterns: Show all patterns for "rubics cube patterns", add images to results"
I just came across this website: http://ruwix.com/the-rubiks-cube/rubiks-cube-patterns-algorithms/

which showcases visuals for many patterns. We should try and borrow these images (with permission from the website ideally) or find others that are freely available, or make our own (/cc @thm @abeyang thoughts?)

Then, we can show those images along with the results to improve them.

For the query "

[2015-12-21 16:25] moollaza commented on #1934
BTW, this is an archived page of the original source, which seems to have no gone offline: http://archive.is/aHic4

[2015-12-21 17:28] Mailkov commented on #1934
I'm working on this

[2015-12-21 20:07] Mailkov commented on #1934
@moollaza What do you think about this slash pattern of rubik's cube? I make it as SVG too

![rubiks-slash](https://cloud.githubusercontent.com/assets/10259499/11940074/7f688a96-a826-11e5-93f0-0a1631fdae0f.png)

[2015-12-21 21:57] moollaza commented on #1934
@Mailkov that looks awesome, potentially a little too bright/bold, but otherwise looking good

[2015-12-22 13:01] elohmrow commented on #1767
@Airon90 @mintsoft @moollaza ~ #1 - thanks for your patience - I have been *very* busy and now on vacation I have time to look at all the C::P issues.  I have done a total re-write; will post back here when it is on CPAN.

I have added the alias 'cup' for 'US Cups' ... this is an interesting and slightly large problem actually ...
[diff.txt](https://github.com/duckduckgo/zeroclickinfo-goodies/file

[2015-12-22 14:38] elohmrow commented on #1767
@Airon90 @mintsoft @moollaza ~ ok - C::P 0.31 is up2date on CPAN: http://search.cpan.org/~elohmrow/Convert-Pluggable-0.031/lib/Convert/Pluggable.pm ... please read the docs!

[2015-12-22 16:19] moollaza opened #1949 "Minecraft: Need to reign in triggering; any query with "map" & "minecraft" triggers"
We need to ensure that the remainder of the query is only the name of the recipe we're looking up. We can use a regex to ensure the query matches our expectation.

Valid queries
- minecraft cake
- mincraft cake recipe
- minecraft how to make cake

bad
- minecraft cake design
- minecraft map guide

e.g https://duckduckgo.com/?q=minecraft+foo+map&t=ffab&ia=answer

/cc @engvik

------
IA Page:  http:

[2015-12-22 20:18] marnix commented on #1694
Just a note: this bug was closed Dec 9th, but at this moment still shows up on https://duck.co/ia/dev/issues.  No idea where to report that meta-bug... :-)

[2015-12-22 20:48] GuiltyDolphin commented on #1694
@marnix, @moollaza, @mintsoft Yeah, I've noticed this too for many of the IA's how often are the pages updated?

[2015-12-23 15:11] Mailkov commented on #1934
@moollaza What do you think about this?
![rubiks-slash2](https://cloud.githubusercontent.com/assets/10259499/11978950/bb2a6490-a98f-11e5-9aed-6b67e3e91d13.png)

[2015-12-23 15:13] moollaza commented on #1934
:+1: Much better

[2015-12-23 19:32] mintsoft commented on #1934
@moollaza @Mailkov not to be petty, however I think the perspective is off? The cube doesn't look like a cube to me

[2015-12-23 22:34] moollaza commented on #1694
I think there were some bugs that the team is fixing to make sure these update much quicker. They should be fixed soon

[2015-12-24 15:26] moollaza commented on #1920
I already have a PR in progress for this. I need to carefully review what IA's it will affect though which is why I haven't merged it yet.

See #1167

[2015-12-24 15:27] #1906 closed

[2015-12-24 21:55] gautamkrishnar commented on #1920
Yes. As it is a work in progress, i will close this right now

[2015-12-25 19:32] harisphnx commented on #1844
Can't we add this check in the `continuous-integration/travis-ci/pr`. It will check through all the cheatsheets to check if the new one has any conflicting aliases, or there can be a list of all currently being used aliases also to check from.

[2015-12-26 06:16] #1144 closed

[2015-12-26 09:15] cngarrison commented on #1932
I'm writing some failing tests now, and then I'll have a look at implementing a fix, or I'll ask some UTF8 questions if I get stuck.

[2015-12-26 14:24] mintsoft commented on #1932
@rugk I think this is slightly misleading as I think `äöü` is `%E4%F6%FC`

[2015-12-27 05:42] amitdev commented on #1914
This looks easy - does the following format look good? If so, I can raise a PR.
![he](https://cloud.githubusercontent.com/assets/969139/12008978/a718d344-ac8a-11e5-9150-748e39dcc53d.png)

[2015-12-27 10:18] #1932 closed

[2015-12-27 10:19] mintsoft commented on #1930
Also fixed in: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1960

[2015-12-27 10:19] #1930 closed

[2015-12-27 10:29] mintsoft commented on #1914
@amitdev Looks cool

[2015-12-27 11:52] navneetzz commented on #1844
we should ass this check in the continuous-integration/travis-ci/pr . By the way it should the task of developer to check the IA prorperly

[2015-12-27 17:23] GuiltyDolphin opened #1969 "Pig Latin: Triggering on empty input"
See [this query](https://duckduckgo.com/?q=pig+latin&t=lm&ia=answer).

![screenshot from 2015-12-27 17 19 45](https://cloud.githubusercontent.com/assets/8598426/12011267/8af1be04-acbe-11e5-81db-ea8124c2bc11.png)

-----
IA Page: https://duck.co/ia/view/pig_latin

[2015-12-27 23:29] marianosimone commented on #937
@moollaza it's hard to be sure without being to reproduce, but as it says on the link you shared... wouldn't it be enough to use `$_[0]` instead of `$_`?

[2015-12-28 05:26] amitdev commented on #1914
Submitted PR #1973.

[2015-12-28 17:07] moollaza commented on #1887
@GuiltyDolphin sorry for the late reply, the full templates are all in the docs:

http://docs.duckduckhack.com/frontend-reference/templates-reference.html

You should ideally use template by specifying your template group, `text`, `medai`, `info`, etc. and let the platform take care of choosing the tile and detail templates from chose group.

[2015-12-29 04:07] czipperz opened #1983 "C++ Strings Cheat Sheet:"
@gohar94

Can this be triggered with `string` as well as `strings`?  The name of the class is `string` so I would assume someone would look for `cpp string help`, which doesn't display this cheat sheet.

------
IA Page:  http://duck.co/ia/view/cpp_strings_cheat_sheet

[2015-12-29 20:34] russellholt opened #1988 "Minecraft: should support alternate names for items."
Item names are too hard to guess. They should have alternate names or should be stored with the most common term. 'shovel' for example, isn't in the item list, but rather stored in the plural form as 'shovels'. Some people may say "how to craft shovels" whereas others might prefer "how to craft a shovel". I doubt anyone will guess "Jack-O-Lantern".

@engvik

------
IA Page:  http://duck.co/ia/view

[2015-12-30 20:43] moollaza commented on #1844
@harisphnx @navneetzz if CheatSheet.t is updated, then Travis will run the test :+1:

[2015-12-31 04:28] harisphnx commented on #1844
@moollaza, Tell me if any help is needed. :)

[2016-01-01 20:08] mintsoft commented on #1187
* Factorial is implemented in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1927
* Equation handling is solved by the spice
* nCr is handled by Combinations.pm

[2016-01-01 20:10] mintsoft commented on #906
Note: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1927 has changed the behaviour so that the query in the issue won't present a result as it's the same as expecting https://duckduckgo.com/?q=4 to return `4` from calculator

[2016-01-01 20:11] mintsoft commented on #1765
All suggested functionality is implemented in : https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1927

[2016-01-01 20:19] mintsoft commented on #1418
Implementation in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1927 uses `bfac`

[2016-01-03 13:15] gautamkrishnar opened #2000 "404 in Front-End Files link"
https://duck.co/ia/view/cpp_strings_cheat_sheet

[2016-01-03 13:15] gautamkrishnar commented on #1983
:+1:

[2016-01-03 15:15] GuiltyDolphin commented on #2000
@gautamkrishnar Yeah, it's pointing to `c++-strings.json`, it should be pointing at `cpp-strings.json`.

[2016-01-03 15:20] gautamkrishnar commented on #2000
The correct link is:
https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/cpp-strings.json

[2016-01-03 18:48] #1983 closed

[2016-01-03 18:48] czipperz commented on #1983
Thanks

[2016-01-04 00:52] netoeuler commented on #1742
Is @maxau fix this? If not, I can try.

[2016-01-04 01:05] netoeuler commented on #1742
Is this really a bug? In this Wikipedia link say that the regex of sum is AdX+B, if 9+2d6 were valid the regex would be (AdX+B | B+AdX).

[2016-01-04 14:10] aleksen opened #2002 "GUID: Experiencing very similar UUIDs being generated"
@loganom

Here's a list of some UUIDs being generated:
7D99B174-B2EC-11E5-B3F9-ACCD19563991
8398D366-B2EC-11E5-9070-ACCD19563991
87255784-B2EC-11E5-B102-ACCD19563991
CFB98150-B2EC-11E5-B92C-ACCD19563991
D4408D22-B2EC-11E5-8B30-ACCD19563991

They were created by searching for "uuid"

------
IA Page:  http://duck.co/ia/view/guid

[2016-01-04 15:55] moollaza commented on #2002
@aleksen it seems that this is acceptable because this is a "Version 1" generator, rather than a "Version 4" which is based on completely random numbers.

I did a quick search and found https://www.uuidgenerator.net/

Looking at it's results, they're similar:
![online_uuid_generator_tool](https://cloud.githubusercontent.com/assets/873785/12093553/9e93f5f8-b2d1-11e5-968b-598338b1c178.png)

[2016-01-04 15:58] moollaza commented on #2000
@gautamkrishnar thanks for reporting, I'll speak with the team about how we can fix this. It’s a known issue affecting several pages...

[2016-01-04 16:17] moollaza commented on #1931
Just checking in guys, is this now fixed? I see the Encode IA was updated + converted

[2016-01-04 19:57] mintsoft commented on #1931
@moollaza AFAIK it should have been fixed in: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1960

[2016-01-04 19:57] #1931 closed

[2016-01-04 21:03] czipperz commented on #1983
PR:
https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1999#event-505072743

[2016-01-04 23:52] joecabrera opened #2008 "USPS: should be triggering on 9361289878910710378432"
USPS should be triggering on 9361289878910710378432, instead search results only suggest Fedex

------
IA Page:  http://duck.co/ia/view/usps

[2016-01-05 18:31] GuiltyDolphin opened #2009 "Zodiac: Dates for the Zodiacs"
Hey all!

I'm working on internalizing the `Zodiac` Goodie because its dependencies cause a few issues.

I'm mostly sorted - but some of the tests are failing due to a few differences between the dates that I've used and those used by the dependency.

I've used [Wikipedia](https://en.wikipedia.org/wiki/Zodiac) as a source, and I've found some other sites that have agreed with it - but also some th

[2016-01-05 18:41] gautamkrishnar commented on #2009
@GuiltyDolphin Hope this helps:
http://www.psychicguild.com/horoscopes_explained.php

[2016-01-05 18:43] GuiltyDolphin commented on #2009
@gautamkrishnar Thanks - I've already seen that one and it conflicts with Wikipedia, specifically on Aquarius (18th Feb vs 19th Feb for end). Do you know if that is a particularly reliable source?

[2016-01-05 18:44] gautamkrishnar commented on #2009
Because of leap years, time zone differences and other factors, the exact day and time when the Sun changes signs varies from year to year.

There's some tools for finding correct Zodiac sign:
http://www.astroica.com/western-astrology/zodiac.php
https://www.horoscope.com/us/games/calculator/game-zodiac-sign-finder.aspx

[2016-01-05 18:49] gautamkrishnar commented on #2009
@GuiltyDolphin  i am still not sure about the reliability of this source.
as specified in the article:
If you were born on the first or last day of a Sun sign, in astrological terms you were born on a cusp. If that's the case, you will probably benefit from reading your own Sun sign and the Sun sign that ends or begins right before or after your date of birth. For example, if your birth date is 22

[2016-01-05 18:50] GuiltyDolphin commented on #2009
@gautamkrishnar That second page seems to only base it on days and months (as I have). It seems they are all based on the start of Aries, so leap years shouldn't come into play (none of them start/end near the end of Feb). Time zone should also not affect it if it is based on days/months.

Wikipedia mentions... "vernal equinox in UT always falling either on 20 or 21 March in the period of 1797 to

[2016-01-05 21:26] mintsoft commented on #2009
@GuiltyDolphin It might be worth asking @n0mady as they wrote the goodie originally and may be able to lend a hand with specialist knowledge

[2016-01-06 05:13] moollaza commented on #937
@marianosimone it may be! Now that we have beta, I can easily deploy a potential PR there to see if things work OK. I can also try and deploy your fix on my own box to ensure it's not going to break anything first :+1:

@zachthompson @kablamo would you happen to have any ideas about this?

[2016-01-06 05:29] moollaza commented on #1844
@harisphnx @navneetzz if you guys would like to tackle the updates you're welcome to :+1:

[2016-01-06 12:46] navneetzz commented on #1844
@moollaza Ya I would like to
Say what we I can to do

[2016-01-06 14:30] GuiltyDolphin commented on #2009
@mintsoft They don't seem to be on Slack and their GitHub profile doesn't display any (public) activity for about a year. Not sure how easy it'll be to get hold of them.

[2016-01-06 17:03] aleksen commented on #2002
V4 uuid would be nice to have :-) But if the intention is to have v1, I'm okay with that

[2016-01-06 17:51] mintsoft commented on #2009
@GuiltyDolphin They've probably got an email by my '@' mentioning them in the previous comment. If they're available then they might swing in.

[2016-01-06 18:16] GuiltyDolphin commented on #2009
@mintsoft Alrighty!

It seems the Goodie was based on the dates for 2011 (via the package used). I've made a PR using those dates, which seem to be agreed upon by various sites.

It may be possible to implement a more robust system using the `Astro::Utils` package with its `calculate_equinox` function - or we could just update it every few years ;)

[2016-01-06 18:30] zekiel opened #2014 "Paleo Ingredient Check:"
more example queries plz
------

@javathunderman   can you add some more example queries to the ia page?

IA Page:  http://duck.co/ia/view/paleo_ingredient_check

[2016-01-06 18:31] javathunderman commented on #2014
@zekiel on it!

[2016-01-06 18:43] javathunderman commented on #2014
@zekiel Added some but let me know if I should add more. :+1:

[2016-01-06 21:14] moollaza opened #2015 "CheatSheets: Several Cheat Sheets have "missing" sections"
Looking at the output of `$ prove t/CheatSheets/CheatSheetsJSON.t`

It's clear that several Cheat Sheet are missing sections that are defined. This is usually caused when there are spelling/casing differences between the actual section title and the section as it's mention in the `section_order` list.

---

I think this "bug" should probably throw an actual  error (instead of a warn) so that Travi

[2016-01-06 21:22] GuiltyDolphin commented on #2015
@moollaza It seems to be an issue with casing? For example, in the `php` cheat sheet, changing it from `php array functions` to `Php array functions` causes the warning to go away.

[2016-01-07 00:54] gautamkrishnar commented on #2015
@moollaza Yup i agree with @GuiltyDolphin
I will make some PR's to fix this issues on cheatsheet JSON files.

[2016-01-07 01:00] moollaza commented on #2015
Nope. I had set it up to do a pretty naive check. It simply loops over the `section_order` and grabs `sections[section_name]` -- so if the casing differs it will fail. The test operates in the same way.

We could definitely force a normalized casing.

https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/cheat_sheets.js#L13

[2016-01-07 01:49] moollaza opened #2017 "Redis Cheat Sheet: Add in essential HLL and Geo commands"
In light of https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1614#commitcomment-15116972 we should add in the essential HLL and Geo commands for Redis to round out the content here.

/cc @seisfeld

------
IA Page:  http://duck.co/ia/view/redis_cheat_sheet

[2016-01-07 02:15] gautamkrishnar commented on #2017
i am on it

[2016-01-07 07:28] seisfeld commented on #2017
@gautamkrishnar Seems you broke the json with all the reformatting. Looks there is closing brackets in the wrong spot.

[2016-01-07 07:29] gautamkrishnar commented on #2017
@seisfeld ok thanks. I will; fix it :)

[2016-01-07 19:25] mbionchi opened #2022 "Shell cheat sheet: ambiguous or incorrect"
The file in question is:
https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/shell.json
If this cheat sheet is for bash (as the source URL implies), then the Variables section is incorrect.  Otherwise it's just ambiguous what shell language the cheat sheet is for.

[2016-01-07 23:14] russellholt commented on #2000
the file needs to be named after the IA id so this link relationship can be made

[2016-01-08 00:10] MrChrisW commented on #2000
@russellholt Name or ID ? https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/json/cpp-strings.json#L2-L3

[2016-01-08 00:16] MrChrisW commented on #2022
Hi @mbionchi !

Which variable are you referring to ? They look correct to me. Do you mean the wording? "Shell" should be "Bash"?

Variables:

+ $0             #Name of this shell script itself.
+ $1             #Value of first command line parameter (similarly $2, $3, etc)
+ $#             #In a shell script, the number of command line parameters.
+ $*             #All of the command line paramet

[2016-01-08 14:35] #2017 closed

[2016-01-08 15:55] mbionchi commented on #2022
Hey @MrChrisW,

I meant the Variables section, not Builtin Variables.  Here it is:
[code]
`$var = "val"` is not the way you assign variables in bash.  If the cheat sheet is about bash, it should be changed to `HELLO="Hello World"` or possibly merged with the existing bash cheat sheets, e.g. bash.json or shell-variables.json.

[2016-01-09 02:03] MrChrisW commented on #2022
@mbionchi Your absolutely right.

I'm not actually sure why there's a "bash" cheetsheet and a "shell" cheatsheet when the original source link points to `bash cheatsheet`.

Either way the correct way to perform a variable assignment in both a POSIX shell and Bash is `HELLO="Hello World"`

I'm in favor of removing the shell cheatsheet completely and possibly improving the bash cheatsheet with the "

[2016-01-09 02:24] mbionchi commented on #2022
Yes, absolutely.  I'll start working on it.

[2016-01-09 09:44] sagarhani opened #2028 "Title of css cheat sheet instant answer"
Check out [CSS cheat sheet](https://duckduckgo.com/?q=css+cheat+sheet&ia=cheatsheet) instant answer. It has an extra word (software) appended.

[2016-01-09 11:33] mintsoft commented on #1187
@tagawa I think this can be closed once #1927 is merged?

[2016-01-09 11:33] mintsoft commented on #1867
Duplicate of: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/955

[2016-01-09 11:34] #1867 closed

[2016-01-09 11:34] mintsoft commented on #1867
@37 I've closed this issue as it's covered by another one, it's not resolved yet however when #955 is resolved it'll be tackled at the same time

[2016-01-09 11:36] mintsoft commented on #955
General solution was suggested in: #689

[2016-01-09 11:36] #955 closed

[2016-01-09 13:35] cngarrison commented on #1988
@moollaza  Are there any IAs that use word stemming in the handler? Is there a standard method for handling alternate trigger terms?

[2016-01-10 13:09] gautamkrishnar commented on #2028
@moollaza

[2016-01-10 14:04] gautamkrishnar opened #2030 "Markdown cheat sheet doesn't have contributor info"
https://duck.co/ia/view/markdown_cheat_sheet
My name not found :wink:  in both ia page and cheatsheet.page

https://duckduckgo.com/?q=Markdown+Cheat+Sheet&ia=answer
![screenshot 146](https://cloud.githubusercontent.com/assets/8397274/12221843/8a4fa4bc-b7d0-11e5-99d0-82f4cf1204a0.png)

[2016-01-10 14:07] gautamkrishnar commented on #2030
@moollaza

[2016-01-11 07:36] tagawa commented on #1187
@mintsoft Agree, and if there are any further requests they can be individual new issues.

[2016-01-11 13:33] cemiarni opened #2034 "CalendarToday: Multi language support"
---

IA Page:  http://duck.co/ia/view/calendar_today

[2016-01-11 18:36] moollaza commented on #626
Finished in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1671

[2016-01-11 18:36] #626 closed

[2016-01-12 17:12] #828 closed

[2016-01-12 17:12] #1413 closed

[2016-01-12 17:12] #1729 closed

[2016-01-12 17:12] #1754 closed

[2016-01-12 17:12] #1847 closed

[2016-01-12 17:19] elohmrow commented on #1729
all C::P issues should be fixed as of 0.032x

@moollaza @mintsoft

[2016-01-12 17:23] moollaza opened #2041 "Conversions: After 14 decimals places, scientific notation no longer used?"
This behaviour seems like a bug?

Lower limit (6 0's): https://duckduckgo.com/?q=3000+km+to+m&t=ffab&ia=answer

https://duckduckgo.com/?q=30000+km+to+m&t=ffab&ia=answer

Upper limit? (14 0's): https://duckduckgo.com/?q=300000000000+km+to+m&t=ffab&ia=answer

https://duckduckgo.com/?q=3000000000000+km+to+m&t=ffab&ia=answer

/cc @mintsoft

-----
IA Page: https://duck.co/ia/view/conversions

[2016-01-12 18:46] javathunderman opened #2042 "Metadata in template for goodies & spices"
Currently, the new docs don't have any information on Topics and on Categories, but the template in the goodie and spice repositories are directing devs to documentation pages on those two things that no longer exists. Working on a fix that will just remove these comments. If possible, we could create a new page on that GitBook and add info on topics and categories.

[2016-01-12 19:17] #1811 closed

[2016-01-12 20:48] mintsoft commented on #2041
o.0 that's weird it might be the numbers role that's doing that, I'll investigate

@GuiltyDolphin did you see anything similar to this with the Calculator rewrite?

[2016-01-12 22:39] Bujiraso commented on #1729
I'm still seeing negative conversions not working -- should these be fixed? Are they fixed for others?

[2016-01-12 22:41] mintsoft commented on #1729
@Bujiraso it's been closed because it's been merged but not deployed yet

[2016-01-12 23:10] Bujiraso commented on #1729
Thanks @mintsoft :+1:

[2016-01-13 03:47] tjhorner opened #2046 "FedEx: Convert Goodie to Spice and use API"
FedEx has an API used to track packages and would be a really good implementation on DuckDuckGo to see the last activity of your package for instance.

I could totally help make this a thing if needed (after I finish up my current IA... :sweat_smile:).

Now this isn't an advertised API, it's used for the tracking page.

![image](https://cloud.githubusercontent.com/assets/2646487/12283831/5513db8e-

[2016-01-13 08:51] MrChrisW commented on #2046
@tjhorner This is a great idea! Having the ability to view the shipment progress directly on DuckDuckGo would be sweet!

I'm a little unsure about using an undocumented API, only because it could be changed, blocked at any time it could also violate FedEx T&C - I'd like to check that out first.

CC// @moollaza @jagtalon

[2016-01-13 09:06] MrChrisW commented on #2042
Metadata including Topics and Categories was removed from all repository's as part of #2277 &  #1756

The topics and categories section doesn't exist in the templates anymore

+ https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/template/lib/DDG/Goodie/Example.pm
+ https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/template/lib/DDG/Spice/Example.pm

It's possible the `https

[2016-01-13 14:06] GuiltyDolphin commented on #2041
@mintsoft Uhh... I had a few issues with `NumberStyle` throughout, but I don't think this is `NumberStyle` - I'm pretty sure this is in `Conversions` (I've found a few offending lines).

[2016-01-13 15:15] tjhorner commented on #2046
That was one of my first thoughts as well, I tried using [this](http://www.fedex.com/us/developer/) initially but I can't sign in because I'm not receiving the verification email...

[2016-01-13 22:58] moollaza commented on #2046
@tjhorner @MrChrisW thanks a lot guys! Using a Spice for tracking a package is something I've wanted for a long time. And its funny that you brought this up now, because I've actually been speaking to the co-founder of https://www.packagetrackr.com/ for the past couple days, and they're going to be building an API for us, so we can handle all package tracking searches through a single Spice :smile

[2016-01-13 22:58] #2046 closed

[2016-01-13 23:00] moollaza commented on #2046
@Mailkov was working on merging the Package Tracking Goodies together so I was going to offer him the opportunity to build this Spice.

[2016-01-13 23:07] moollaza commented on #2042
@MrChrisW good catch!

[2016-01-14 00:40] MrChrisW commented on #2042
Fixed in

https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2050
https://github.com/duckduckgo/zeroclickinfo-spice/pull/2409

[2016-01-14 00:40] #2042 closed

[2016-01-14 00:46] tjhorner commented on #2046
Awesome! I'd love to see this implemented.

[2016-01-14 01:27] moollaza commented on #2034
@cemiarni Thanks for your suggestion and welcome to DuckDuckHack!

We have plans to localize our Instant Answers in the future, but nothing is expected to change soon.

For now I will mark this as tolerated, but as mentioned, it's something we hope to do eventually!

[2016-01-14 01:37] moollaza commented on #2030
Fixed! It should reflect on the SERP soon.

Thanks @gautamkrishnar

[2016-01-14 01:37] #2030 closed

[2016-01-14 01:43] moollaza commented on #2028
@sagarhani thanks for reporting -- it doesn't look like this affects any other queries, it make be some cached artifact of the old cheat sheet. I think it's safe to ignore for now.

@gautamkrishnar FWIF I get notifications for every issue/comment, so mentioning me doesn't do much more ;)

[2016-01-14 01:43] #2028 closed

[2016-01-14 05:44] moollaza commented on #2000
@MrChrisW currently the id and filename need to match.

e.g `cpp-srtrings.json` => `cpp_strings_cheat_sheet`; `foo.json` => `foo_cheat_sheet`

[2016-01-14 09:19] tagawa opened #2054 "Bengali Cheat Sheet: Add pronunciation for each phrase"
@birajkarmakar

------
IA Page:  http://duck.co/ia/view/bengali_cheat_sheet

[2016-01-14 09:44] Hoaas opened #2055 "ResistorColors: URL is changed."
@HackOrQuack The IA links to [http://resisto.rs/5.1](http://resisto.rs/5.1), but the new URL is [http://resisto.rs/#5.1](http://resisto.rs/#5.1).

------
IA Page:  http://duck.co/ia/view/resistor_colors

[2016-01-14 10:33] mintsoft opened #2056 "DateMath.pm could/should handle time too?"
I feel that queries such as `123456789 seconds ago` should work and be handled by probably `DateMath.pm`

I guess the location will be needed to do timezone adjustments etc

-----
https://duck.co/ia/view/date_math

[2016-01-14 12:38] birajkarmakar commented on #2054
Hi @tagawa

Initially when I did code pronunciation was there https://github.com/birajkarmakar/zeroclickinfo-goodies/commit/22a24a89721bbb0cf7c620190e298d36fc611e1c
Later I have changed the file as per new cheatsheet template called language. But pronounciation is still there https://github.com/birajkarmakar/zeroclickinfo-goodies/commit/ecd8652bf4ec3e27a426e4462ebeb89e461576d2 in "trn" section.

[2016-01-14 13:13] tagawa commented on #2054
Ah, I see. Maybe something's wrong with the template parser. Perhaps @moollaza knows.

[2016-01-14 15:02] GuiltyDolphin commented on #2056
@mintsoft It seems the package being used can handle down to nanoseconds - I'll check it out.

[2016-01-14 15:20] jameskoole opened #2059 "SunInfo: Needs to check if Daylight Savings is in effect and adjust answer"
Searching "sunrise" correctly brings up the sun times for my location, but the times appear to be early by one hour.
![screen shot 2016-01-14 at 10 18 35 am](https://cloud.githubusercontent.com/assets/784962/12328190/4a5d2890-baa8-11e5-8563-82a9509a3b2f.png)

Actual sunrise is about 7:50am, sunset is about 5:02pm today.

Maybe a DST issue?

---

IA Page:  http://duck.co/ia/view/sun_info

[2016-01-14 16:32] altern8tif commented on #2059
Just realised that there are 2 IAs for sunrise/sunset timings.

SunInfo: https://duck.co/ia/view/sun_info [Goodie]
Sunrise/Sunset: https://duck.co/ia/view/sun_rise_set [Spice]

Perhaps we should combine the two?  Probably into the Spice IA since that pulls the data from [timeanddate.com](http://timeanddate.com) which should be updated with DST taken into consideration.

@jameskoole https://www.tim

[2016-01-14 18:21] javathunderman commented on #2042
Nice @MrChrisW

[2016-01-14 18:51] moollaza commented on #2059
@altern8tif the reason we use two different IA's is that we've had relevancy problems with the TimeAndDate API identifying a location based on the `$loc` object we have for a user. So it really only support queries for `sunrise in <country` or `sunrise in <capital_city>`. We check a list of names against the query and only show an answer if its one of those, so we know for sure the location will b

[2016-01-14 18:54] moollaza commented on #2054
@tagawa @birajkarmakar the `template_type` is incorrect. It should be `language`

[2016-01-14 18:59] moollaza commented on #2055
@Hoaas thanks for reporting this! Would you be interested in fixing the link?

https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/ResistorColors.pm#L177

[2016-01-15 03:51] tagawa commented on #2054
D'oh! I should have spotted that. https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2062 should fix it.

[2016-01-15 04:27] altern8tif commented on #2059
@moollaza Noticed that the TimeAndDate API allows lat/long queries.

So you're saying that the user coordinates passed from the `$loc` object into the T&D API, doesn't return a usable location to output our sunrise/sunset data?

[2016-01-15 06:34] birajkarmakar commented on #2054
awesome!

[2016-01-15 21:48] #2055 closed

[2016-01-16 20:50] viluon opened #2071 "Lua Language Cheat Sheet: Incorrect else if Statement"
@lxndio
The else if statement in Lua is noted as `elseif`, not `else if`.
![](http://puu.sh/mybi9/75954a1eb3.png)
------
IA Page:  http://duck.co/ia/view/lua_cheat_sheet

[2016-01-16 20:54] lxndio commented on #2071
Will be fixed as soon as possible.

[2016-01-17 22:44] #2071 closed

[2016-01-17 22:50] jagtalon commented on #1074
@moollaza @puskin94 maybe one solution is to get this triggering if it's at the beginning. What do you think?

[2016-01-17 22:51] jagtalon commented on #1074
Kinda like Slack's slash commands https://api.slack.com/slash-commands

[2016-01-17 23:06] jagtalon commented on #1988
@cngarrison I don't think there is one at the moment.

[2016-01-17 23:13] #2022 closed

[2016-01-18 00:22] jomo commented on #1988
There are some common item names [here](https://github.com/sk89q/WorldEdit/blob/7945b5ce25005df91ed9937ff97497c77f0933d5/worldedit-core/src/main/java/com/sk89q/worldedit/blocks/ItemType.java).

[2016-01-18 17:10] moollaza opened #2078 "Cantonese Cheat Sheet: Move transliteration text into new `trn` property"
We now have a new language template which adds a 3rd, optional `trn` property used for specify transliteration.

Let's make use of it here to leverage the `language` template's design

/cc @wongalvis

------
IA Page:  http://duck.co/ia/view/cantonese_cheat_sheet

[2016-01-18 17:12] #2054 closed

[2016-01-18 17:14] moollaza commented on #2078
Whoops, looks like there's already a PR in progress for this! My mistake.

[2016-01-18 17:14] #2078 closed

[2016-01-18 17:15] moollaza commented on #2078
#2010

[2016-01-20 02:03] javathunderman commented on #2014
@zekiel think this can be closed

[2016-01-20 19:52] zekiel commented on #2014
thanks! updated the live view

[2016-01-20 19:52] #2014 closed

[2016-01-21 03:49] tagawa opened #2087 "Private network IA: No "i" icon is displayed"
Should be visible and link to https://duck.co/ia/view/private_network

[2016-01-21 06:09] russellholt opened #2088 "Frequency Spectrum: move embedded JS to .js file"
writing JS to the page from the perl module isn't needed since template and javascript support has been added to goodies.

 see http://docs.duckduckhack.com/frontend-reference/setting-goodie-display.html

------
IA Page:  http://duck.co/ia/view/frequency_spectrum

[2016-01-21 14:07] tagawa opened #2091 "Feature request: Interactive keyboard image for cheat sheets"
Suggestion from a dedicated DuckDuckGo user via Twitter:

"Make keyboard shortcut cheat sheets interactive with an image of a keyboard that responds (e.g. lights up) when particular keys are pressed.

Also mousing over a shortcut would light up corresponding keys. i.e. “^-L [get lyrics]” = control key & L-key light up.

The idea’s not necessarily useful, but cool. It could be useful wit an actual

[2016-01-22 15:27] tagawa opened #2096 "Feature request: Detect user's platform for keyboard shortcut cheat sheets"
Keyboard shortcut cheat sheets should detect whether the user is on a Mac or PC, showing the correct keystrokes for that platform (and perhaps give the user the ability to override).

From a comment on Twitter: https://twitter.com/aarchel822/status/689442091299012608

[2016-01-22 15:34] tagawa opened #2097 "Feature request: Support line breaks in cheat sheets"
For example being able to include code such as:
[code]
Suggestion by @gautamkrishnar

[2016-01-22 15:35] gautamkrishnar commented on #2097
:+1:

[2016-01-22 15:36] aarond12 commented on #2096
The PHP code $_SERVER["HTTP_USER_AGENT"] can easily be used to determine whether the user is on a Mac or PC. In ASP.NET, use Request.ServerVariables("HTTP_USER_AGENT").

I might suggest using [Command ⌘] when designating the Apple key and [Option ⌥] when designating the ALT key. Those characters are U+2318 and U+2325 respectively.

The idea of being able to show the other platform's keystrokes is

[2016-01-22 21:07] moollaza commented on #2097
I have #1920 -- just need to test it for breakage...

[2016-01-22 21:33] moollaza commented on #2096
@aarond12 thanks -- we're using Perl + JS though. We'd need to figure this out client side in the JS.

I think handling this is also dependent on us handle cheat sheets for different OS's in a standardized way.

Right now we have a few Cheat Sheets that are OS specific and have specific keys.

In some cases, the Linux and Apple shortcuts may be the exact same, and only require changing `Ctrl` to `

[2016-01-22 21:46] GuiltyDolphin commented on #2096
@moollaza Maybe we could have a directory? E.g, `sublime_text/` which then has `linux.json`, `mac.json` etc... Would help prevent crowding the `json/` directory.

[2016-01-22 21:52] aarond12 commented on #2096
In JavaScript, the object "navigator.userAgent" returns the user agent string. Parsing that for "Win" or "Mac" should be pretty easy.

[2016-01-22 22:17] gautamkrishnar commented on #2096
@tagawa Good suggestion :+1:
@GuiltyDolphin yes. I agree with you. The JSON folder is already crowded nah :smile:.
@moollaza  i think, defining all OS specific variations in one file is also a good idea. I think it will make parsing more easier.

[2016-01-23 18:01] jagtalon commented on #1988
Thanks, @jomo!

[2016-01-24 13:12] askhubchandani opened #2105 "Calculator: Add support for Currency math"
The calculator calculates the final price of goods if the input is given in $ but not if the input is given in other currencies. It should calculate the numbers and then add the symbol of the input currency.

---

IA Page: https://duck.co/ia/view/calculator

[2016-01-24 13:19] GuiltyDolphin commented on #2105
@askhubchandani Thanks for the suggestion!

For the near future the Calculator will only support dollars - but after #1927 is sorted I'm planning on implemented a few additional features - including multiple currencies.

[2016-01-24 23:07] mintsoft commented on #2105
@GuiltyDolphin I've assigned you to this for now, if you can't look at it or anything feel free to remove yourself etc

[2016-01-25 02:52] Jedidiah commented on #2096
I will quite often lookup shortcuts from my phone/tablet whilst working on the desktop, I'm not sure we can always assume the device the user is on is the device they're interested in the shortcuts for, I certainly wouldn't prevent them viewing alternate sets.

[2016-01-25 12:00] altern8tif commented on #2096
@Jedidiah would it be better to have sub-tabs for each operating system then?  We could still detect the userAgent and open the relevant Mac/Windows/Linux tab by default...

[2016-01-25 13:33] gautamkrishnar opened #2108 "atom cheatsheet not triggering"
as mentioned in #1933 atom cheatsheet is not triggering. even triggers specified in the ia page is not working.
ia page link: https://duck.co/ia/view/atom_cheat_sheet
cc: @moollaza

[2016-01-25 14:01] moollaza commented on #2088
This has actually being taken care of in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1916

[2016-01-25 14:09] GuiltyDolphin commented on #2096
@altern8tif Oooh... I like it! :+1:

If we don't already have one, a template for tabs would be pretty amazing.

[2016-01-25 14:22] askhubchandani commented on #2105
@GuiltyDolphin  Can I build it if you do not have time to develop it?

[2016-01-25 14:32] GuiltyDolphin commented on #2105
@askhubchandani Sure! You're more than welcome.

I just want to clear up a few things with the way in which currencies are parsed and then you can add them to your hearts content.

Should be a relatively small PR, I'll additionally add a bit of documentation to make it clear what goes where when extending.

[2016-01-25 14:50] altern8tif commented on #2096
@GuiltyDolphin depending on how we implement it, that'll make things much more tidy as well... And we may not need to include "Mac", "Linux", "Windows" as trigger words anymore

[2016-01-25 14:53] GuiltyDolphin commented on #2096
@altern8tif Maybe a more general detection - the `CheatSheet` Goodie could detect those and automatically have the tab for whichever OS as default if it exists?

[2016-01-25 14:53] altern8tif commented on #2096
@GuiltyDolphin :+1:

[2016-01-25 22:21] Jedidiah commented on #2096
@altern8tif That sounds great :+1:  good idea defaulting to the current OS too.

[2016-01-25 23:31] moollaza commented on #2096
@GuiltyDolphin good idea! That should work

@Jedidiah @altern8tif I think the design team had a mockup at some point that included a dropdown. Even if they didn't, it's a standard element we plan to bring to IA's for you to modify them on the UI (e.g. change the sorting of tiles)

So yes, ideally we'd detect the OS and show it, but provide a way to switch to another version of the cheat sheet.

[2016-01-26 02:43] #1914 closed

[2016-01-26 09:57] navneetzz commented on #2108
@gautamkrishnar atom cheat sheet is working, it's fine. Try it now

[2016-01-26 10:04] navneetzz commented on #2108
@gautamkrishnar @moollaza atom cheat sheet is working, but just this aliases are not working for it - "atom for windows", "atom for linux", "linux atom", "windows atom"

[2016-01-26 13:50] jophab commented on #2108
@gautamkrishnar  @navneetzz @moollaza
The cheatsheet you see the one for mac.
The one I made for windows and linux is not working.

[2016-01-27 13:44] tagawa opened #2114 "GTA Vice City cheat sheet: No "i" icon is displayed"
This means the info box can't opened.

---
IA: https://duck.co/ia/view/gta_vice_city_cheat_sheet

[2016-01-28 12:40] AndrewSDFoster opened #2116 "Solar System: Convert to JS Goodie; Pass data from Perl -> JS and check settings for display units"
Will not give results in metric, even if metric is selected as the preferred unit in DuckDuckGo

---

IA Page:  http://duck.co/ia/view/solar_system

[2016-01-28 19:32] pinusc commented on #2116
The example query "mass of earth" works for me.

[2016-01-28 20:15] moollaza commented on #2108
The new IA hasn't been deployed yet, I needed to keep the status set to live. It all works as expected on Beta.

[2016-01-28 20:15] #2108 closed

[2016-01-28 20:19] moollaza commented on #2116
@AndrewSDFoster thanks a lot for the feedback!

Due to the way this IA is implemented (Perl) it isn't aware of your browser preferences.

If we convert this IA to use templates and have the Perl pass the data to the frontend, we can enable it to check user preferences and update the results accordingly.

/cc @MrChrisW

[2016-01-29 05:01] MrChrisW commented on #2116
@moollaza What's the exposed JS prop that provides the users unit setting ?

[2016-01-29 23:26] heycam opened #2125 "Conversions: Add support for ping, Taiwanese unit of area commonly used in real estate listings."
@mintsoft

See https://en.wikipedia.org/wiki/Taiwanese_units_of_measurement

------
IA Page:  http://duck.co/ia/view/conversions

[2016-01-29 23:50] moollaza commented on #2125
@heycam Thanks for contributing and welcome to DuckDuckHack!

I'll get this deployed to Beta for some testing. I expect this is fine though :+1:

/cc @mintsoft

[2016-01-30 04:47] gautamkrishnar opened #2127 "#DuckDuckHackSB"
Issue to track PR's created on DuckDuckHackSB by kochi meetup group
http://www.meetup.com/Quack-Hack-Kochi/

[2016-01-30 04:47] #2127 closed

[2016-01-30 04:53] gautamkrishnar commented on #2127
Welcome to DuckDuckHack:
@mahi30795

[2016-01-30 05:14] mahi30795 commented on #2127
thanks guatam..

[2016-01-30 17:46] alohaas opened #2162 "Quack"
@zekiel  please update for global quack & hack

------
IA Page:  http://duck.co/ia/view/quackhack_cheat_sheet

[2016-01-30 17:46] jagtalon commented on #2096
@moollaza we have standard ways of checking the OS / browser, and I wonder if that would be useful:

https://v.usetapes.com/Qk8Lo6j1r6

[2016-01-30 17:46] zekiel commented on #2162
will do

[2016-01-30 17:50] jagtalon commented on #712
This has been revived.

[2016-01-30 17:50] #712 closed

[2016-01-31 10:25] venky18 commented on #826
[code]
what else is needed?

[2016-01-31 10:29] mintsoft commented on #826
Nothing, I forgot to close this issue when it was solved in: #1996

[2016-01-31 10:29] #826 closed

[2016-01-31 10:29] mintsoft commented on #826
Thanks for the heads up @venky18

[2016-01-31 11:25] shahbaz17 opened #2180 "Adding spices name in hindi share/goodie/cheat_sheets/json/language/hindi.json"
eg. Cinnamon - दालचीनी (Dalchini)

[2016-01-31 11:42] swapagarwal commented on #2180
#2179 Just putting it here for reference.

[2016-01-31 17:08] moollaza commented on #2180
Closing this. Explanation over here: https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2179#issuecomment-177551844

@shahbaz17 FWIW you don't need to make an issue before making a pull request :+1:

[2016-01-31 17:08] #2180 closed

[2016-01-31 19:40] preemeijer commented on #1896
Hello, the link is working now. Is this fixed or is there still something that needs to be done internally?
Greetings, Paul

[2016-01-31 19:51] gautamkrishnar commented on #1896
yes @preemeijer good find :+1:

[2016-01-31 19:52] gautamkrishnar commented on #1896
@MariagraziaAlastra

[2016-01-31 20:32] preemeijer commented on #1896
@gautamkrishnar I was just going through the issues and what needs to be done.
Hopefully this issue can be closed. Let's wait and see :smile:

[2016-02-01 15:29] Xeddicus commented on #1828
Bug is happening still it seems, same workaround required: add usps.

[2016-02-01 17:50] vikashvverma commented on #2097
I have observed this too in a few cheat sheets:

![2](https://cloud.githubusercontent.com/assets/915277/12725468/df3cacc6-c938-11e5-8439-e1865591abb8.gif)

![1](https://cloud.githubusercontent.com/assets/915277/12725469/df664e0a-c938-11e5-92b9-733b3251b609.gif)

@moollaza Adding following to regex fixed the issue.

                .replace(/&lt;/g, "<")
                .replace(/&gt;/g, ">")

See

[2016-02-01 18:02] #2015 closed

[2016-02-01 23:53] moollaza commented on #1828
Hey guys,  thanks for the feedback. We're currently building a unified package tracking instant answer using an API which will solve this problem.

[2016-02-02 04:35] #1887 closed

[2016-02-02 11:37] vCillusion commented on #1844
Can't we have multiple IA being triggered by same query displayed with one being active?

[2016-02-02 17:48] iamshubh22 commented on #2114
@tagawa  I would like to work on this.

[2016-02-02 17:51] iamshubh22 commented on #2087
@tagawa I would like to work on this.

[2016-02-03 01:49] tagawa commented on #2087
Thanks for offering @iamshubh22 but I think this can only be fixed internally by staff.

[2016-02-03 01:49] tagawa commented on #2114
Thanks for offering @iamshubh22 but I think this can only be fixed internally by staff.

[2016-02-03 07:32] iamshubh22 commented on #2087
Ok.

[2016-02-03 07:32] iamshubh22 commented on #2114
@tagawa Ok.

[2016-02-03 11:51] navneetzz opened #2216 "Html cheat sheet : Display format is rough and JSON not correct"
![html2](https://cloud.githubusercontent.com/assets/11630812/12819283/7eccaf72-cb80-11e5-8026-f9e82b63f6f6.png)

There is lot of space left. If arranged properly it can be avoided.

The way cheat sheet is displayed is ODD and it's JSON file contains extra spaces
 https://duckduckgo.com/?q=html+cheat+sheet&ia=cheatsheet&iax=1

[2016-02-03 12:01] vCillusion commented on #1905
I would like to add one more thing can we include some additional metadata for categorization. See the following case.
Example: Trigger for language lets say 'Javascript'
Query : javascript syntax -> should display the cheatsheet

[2016-02-03 13:03] vikashvverma commented on #1696
I will work on this.

[2016-02-03 13:15] vikashvverma commented on #1696
If we want to display this then we need to update the CSS (use content property) for few icons to be displayed in search.

I am working on that.

@moollaza Should I go ahead with this? Do you have any other suggestion?

[2016-02-03 18:34] GuiltyDolphin commented on #2216
@navneetzz Can you elaborate? What do you mean by 'odd'?

[2016-02-03 19:47] gvanwaelvelde opened #2225 "Bit torrent Cheat sheet: cheat sheet doesn't display"
When typing "bit torrent cheat sheet" into DuckDuckGo's beta server search box, the IA doesn't show.
You only get normal search results.
https://beta.duckduckgo.com/?q=bit+torrent+cheat+sheet

[2016-02-04 05:41] mohan08p opened #2226 "Problem deploying to beta"
https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2193
Kindly, check this PR. It's showing had a problem deploying to beta even when it runs properly in staging server and all checks have passed. But, still its properly showing on the beta server.
Why is it showing problem than ? This issue is related to travis CI.
Signed-off by,
Mohan Pawar
mohanpawary1990@gmail.com

[2016-02-04 07:42] Sayanc93 opened #2227 "UI issues with about tab"
<img width="1272" alt="screen shot 2016-02-04 at 1 09 29 pm" src="https://cloud.githubusercontent.com/assets/6565629/12808925/ab38b41a-cb40-11e5-82f6-da8c141db4f7.png">

[2016-02-04 07:49] altern8tif commented on #2227
@Sayanc93 could you be a bit more specific?  Not sure what UI issues you may be referring to.

Also, [Wikipedia information](https://duck.co/ia/view/wikipedia_fathead) are served by the [Fathead IA](https://github.com/duckduckgo/zeroclickinfo-fathead).

[2016-02-04 08:04] Sayanc93 commented on #2227
The drop down you see with the celebrity information is way too expanded than the box its contained in.
I believe the wikipedia info box should encapsulate the drop down

[2016-02-04 11:57] altern8tif commented on #2227
I think that is the intention.  There will be too much unnecessary whitespace if the grey IA box expands to accommodate the sidebar.

If I'm not mistaken, the max height of the IA box with the `zci` class (for the Wikipedia Fathead) is determined by the length of the first paragraph/summary of the content on the respective Wikipedia page (as can be seen by clicking the "Show More" link).

Maybe @a

[2016-02-04 15:14] GuiltyDolphin commented on #2226
@mohan08p Thanks for letting us know - but please use Slack to discuss this sort of issue, rather than GitHub.

@moollaza This one should be closed.

[2016-02-04 15:18] navneetzz commented on #2216
@GuiltyDolphin
There is lot of space left. If arranged properly it can be avoided.

[2016-02-04 15:26] vikashvverma commented on #2225
@gvanwaelvelde It does display the cheat sheet.

Try this : https://beta.duckduckgo.com/?q=bittorrent+cheat+sheet&ia=cheatsheet

I think, it is because `bit torrent` is not an alias.

[2016-02-04 16:35] gvanwaelvelde commented on #2225
You're right. I thought that 'bit torrent' was an alias. My mistake.

[2016-02-04 16:35] #2225 closed

[2016-02-05 08:10] #2226 closed

[2016-02-05 22:46] jbarrett opened #2239 "ParseCron enhancement?"
How feasible is this?

http://crontab.guru/#*_3/4_*_*_0

[2016-02-07 17:13] khflab opened #2245 "IA for Rorainópolis"
Guys the description for Rorainópolis it's missing the number of population and is outdated.

I tried to find this IA on duckduckhack without success.

I want to fix it, where can I find this IA?

![ia_rorainopolis](https://cloud.githubusercontent.com/assets/2036324/12873758/4bbf46b2-cd9c-11e5-82b9-561fdf74b41f.png)

![from_wikipedia](https://cloud.githubusercontent.com/assets/2036324/12873765/86f

[2016-02-07 17:25] GuiltyDolphin commented on #2245
For https://duckduckgo.com/?q=rorainopolis&t=ffab&ia=about I get:

![screenshot from 2016-02-07 17 21 42](https://cloud.githubusercontent.com/assets/8598426/12873824/5778aac0-cdbf-11e5-8850-905c1d6884fb.png)

The result is from a FatHead that scrapes the articles into a database I believe (See [this search](https://duck.co/ia?q=wikipedia&repo=fathead#)).

We have separate FatHeads for different la

[2016-02-07 17:51] khflab commented on #2245
Thanks @GuiltyDolphin, now i understand what to do. I'll go into duckduckhack documentation to see how to work with FatHeads.

Btw this flag is wrong, it's not from Rorainópolis, it's from our state Roraima.

![rorainopolis_flag](https://cloud.githubusercontent.com/assets/2036324/12874011/d9a2aeec-cda1-11e5-851e-f3c611505209.png)

[2016-02-07 18:00] GuiltyDolphin commented on #2245
@khflab I wouldn't know ;)

Glad you're sorted - I'm having a look at some of the responses for other languages and it looks like they could do with some boosts.

[2016-02-08 16:26] altern8tif commented on #2114
Seems to be resolved.

![screen shot 2016-02-09 at 12 26 01 am](https://cloud.githubusercontent.com/assets/5793364/12891717/bebe275a-cec3-11e5-8e45-1c98d5fd3f49.png)

[2016-02-08 16:28] altern8tif commented on #2087
Resolved.  Good to close.

[2016-02-08 17:57] moollaza commented on #2245
@khflab thanks for reporting!

Wikipedia results are a special kind of Internal FatHead so devs can't do too much to fix them. In this case though, it looks like the issue is the Wiki content itself (which we don't modify) so the solution here is to update the wiki page. DuckDuckgo will get updated shortly after the Wiki page is changed.

[2016-02-08 17:57] #2245 closed

[2016-02-08 18:07] GuiltyDolphin commented on #2239
@jbarrett Interactive crontab schedules? Should be feasible given we can use JavaScript - there are *much* more complicated IAs out there already.

@duckduckgo/instant-answer-maintainers Anyone know enough JS to want to tackle this?

[2016-02-09 09:29] tagawa commented on #2087
Looks good - thank you.

[2016-02-09 09:29] #2087 closed

[2016-02-09 09:29] tagawa commented on #2114
Looks good - thank you.

[2016-02-09 09:29] #2114 closed

[2016-02-09 12:43] jbarrett commented on #2239
Sorry, wasn't of completely sound mind when I submitted this :smile:

I'm referring to adding support for start + interval arguments (see 3/4 there)

https://duckduckgo.com/?q=cron+*+3%2F4+*+*+0

Though interactivity would also be cool.

[2016-02-09 16:13] GuiltyDolphin commented on #2239
@jbarrett Ah, okay.

I'm all for interactivity though :smile:

Yeah, implementing the would be a fair bit simpler @duckduckgo/instant-answer-maintainers Anyone interested?

[2016-02-09 18:17] Mailkov commented on #2239
@jbarrett  @GuiltyDolphin  I'll do it

[2016-02-10 08:49] mr-karan opened #2256 "FontAwesome Cheatsheet"
I am planning to make a FontAwesome Cheatsheet but there are 2 options for me currently :
- Since I would need an external CSS for FontAwesome icons to display correctly, I can't place them in cheatsheets/json and I have to make a new goodie for that. I tried this, have been succesfull but I need to format the data as shown in the image below

![fa](https://cloud.githubusercontent.com/assets/56891

[2016-02-10 12:35] yash14123 commented on #2088
How should we go about fixing this?

[2016-02-10 13:47] W25 opened #2257 "Go Language Cheat Sheet: incorrect formatting"
```<BR>``` tags are displayed literally (see the screenshot).

![golang](https://cloud.githubusercontent.com/assets/9570467/12948855/032797d6-d005-11e5-9699-f633280c9d16.png)

------
IA Page:  http://duck.co/ia/view/golang_cheat_sheet

[2016-02-10 15:34] GuiltyDolphin opened #2258 "Port non-API Spice to Goodies"
We have a bunch of Spices that need porting to Goodies!
## Relevant Spices
- [ ] `Editor`
- [x] `Timer`
- [x] `Geometry`
- [x] `ColorPicker`
- [x] `Stopwatch`
- [x] `FlashVersion`

Please see duckduckgo/zeroclickinfo-spice#2463

[2016-02-10 16:48] moollaza commented on #2216
@navneetzz thanks for pointing this out and fixing. FWIW I think the extra space at the bottom is fine. There's definitely more pressing issues to deal with in Spice and Goodies -- wanna try tackling some of those next?

[2016-02-11 04:43] mr-karan commented on #2257
The same happens in [Java Cheat Sheet](https://duckduckgo.com/?q=java+cheat+sheet&ia=cheatsheets)

[2016-02-11 10:55] navneetzz commented on #2216
@moollaza yep I will work on them

[2016-02-11 11:05] #2216 closed

[2016-02-11 19:14] #937 closed

[2016-02-12 04:26] moollaza commented on #2008
@joecabrera thanks for reporting this!

This issue should be addressed by the in-development, Package Tracking Spice Instant Answer which will cover several couriers in a single Instant Answer

[2016-02-12 04:56] #1949 closed

[2016-02-12 06:02] moollaza commented on #1410
prefer exact match
    when exact match is not available, search for ^ and prefer any matches
    if no exact match and no ^ match, then do a simple substring match and display one/few results from those if any

@cosimo I like this approach! Care to make a PR?

[2016-02-12 06:05] moollaza commented on #1110
@cosimo apologies for the confusion, I think I was talking about the EmcodeHTMLEntities IA: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/HTMLEntitiesEncode.pm

[2016-02-12 07:31] AdeshAtole opened #2269 "Java Cheat Sheet: HTML tags being displayed"
------
IA Page:  http://duck.co/ia/view/java_cheat_sheet

HTML tags showing up in IA
![screenshot from 2016-02-12 12 58 44](https://cloud.githubusercontent.com/assets/4648201/13001124/bb5c64ba-d188-11e5-9703-3c9490859910.png)

[2016-02-12 18:28] vikashvverma commented on #2257
This has already been fixed in PR https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2209.

Once @moollaza merges his PR https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1536/files

PR https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2209 will fix this.

[2016-02-14 16:23] #2041 closed

[2016-02-15 14:10] tagawa opened #2293 "JavaScript DOM cheat sheet: No "i" info button displayed"
As the title says, there's no "i" icon for opening the attribution infobox.
https://duckduckgo.com/?q=javascript+dom+cheat+sheet&ia=cheatsheet

[2016-02-15 17:27] #1786 closed

[2016-02-15 17:31] moollaza opened #2295 "Frequency Spectrum: Cleanup code, make content larger, reduce whitespace"
The Frequency Spectrum Goodie has now been converted to use templates, but the size of the content has been scaled down and now has extra whitespace.

It would be great if we could reduce the whitespace to make the content large so it's easier to read. If necessary we can add some CSS to expand the size of the graph, but it would be ideal to keep the visuals inside the existing box.

There are als

[2016-02-15 18:44] rushikesh90 commented on #1902
I think hamming weight is not the operation here, instead it is bitsum or bitcount.

[2016-02-15 18:55] moollaza commented on #1902
@tagawa I understand now what was confusing you. The subtitle is meant to indicate that what you're seeing is the `Hamming Weight:` for the input `11101`. The result of the given operation for the given input is displayed as the title, `9`.

We may need to adjust the subtitle phrasing...

[2016-02-15 19:40] GuiltyDolphin commented on #1896
Seems fixed. :wink:

[2016-02-15 19:40] #1896 closed

[2016-02-15 19:51] #2239 closed

[2016-02-15 22:36] moollaza opened #2299 "Bash Primary Expressions: Convert to text template, use title/subtile layout"
This IA was recently converted to template, but could be further improved by using a more canonical Title/Subtitle design.

Seeing as this one has `pre` blocks, it mean the title/subtitle will need to use `title_content` and `subtitle_content` sub-templates (title.handlebars and subtitle.handlebars)

For a query like `bash if [[ "abc" -lt "cba" ]]` the result should look like:

---

IA Page:  http

[2016-02-15 22:50] #1902 closed

[2016-02-16 00:42] tagawa commented on #1902
Thanks. That fix looks good to me.

[2016-02-16 07:41] tagawa commented on #2293
Fixed now - thanks.

[2016-02-16 07:41] #2293 closed

[2016-02-16 08:53] GuiltyDolphin opened #2304 "Certain queries causing blank screen"
For example, on Beta I'm getting:

https://beta.duckduckgo.com/?q=macos+cheat+sheet

![screenshot from 2016-02-16 08 48 56](https://cloud.githubusercontent.com/assets/8598426/13071386/f5d3f536-d48a-11e5-9043-2f7fb73e3c34.png)

(does not do the same on production).

/cc @jdorweiler (Beta bug?)

I spotted one a while back on production (`localhosh:5000\`), but reported it to @moollaza and it's fixed

[2016-02-16 08:59] GuiltyDolphin commented on #1920
I'll re-open this until it is fixed - it is still a valid issue AFAIK.

[2016-02-16 10:16] vikashvverma commented on #2269
@moollaza Can you merge your PR https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1536/?

I can fix this issue once you merge your PR.

[2016-02-16 10:43] altern8tif commented on #2304
Looks fine for me @GuiltyDolphin

![screen shot 2016-02-16 at 5 42 10 pm](https://cloud.githubusercontent.com/assets/5793364/13074044/acb8bb08-d4d4-11e5-8bbd-b47f02c1ffdb.png)

[2016-02-16 11:41] GuiltyDolphin commented on #2304
@altern8tif Still doing it for me.

I'm on Linux Mint (17), with Firefox.

[2016-02-16 11:58] flipflopsimsommer opened #2310 "Random Choice: german umlaut"
@kablamo @mintsoft
umlaut are displayed wrong in the description area

![sample](https://gateway.ipfs.io/ipfs/QmadgN3rjfzfohoWREdktM6gyYXHNyR8NZWzy7mtF3pZ1t)

------
IA Page:  http://duck.co/ia/view/abc

[2016-02-16 13:19] GuiltyDolphin commented on #2310
@flipflopsimsommer You mean the `m&uumll;sli`? That's probably to do with the escaping (which we have to do at the moment - internal stuff).

[2016-02-16 13:55] jdorweiler commented on #2304
@GuiltyDolphin can you try `ctrl+shift+r` to force your browser to reload the JS files?

[2016-02-16 14:13] GuiltyDolphin commented on #2304
@jdorweiler :+1: That did it. Hae odd ;)

[2016-02-16 14:14] #2304 closed

[2016-02-16 15:18] flipflopsimsommer commented on #2310
@GuiltyDolphin yes that what i ment

[2016-02-17 04:25] pnpninja opened #2317 "Bug - Mozilla Thunderbird Cheat Sheet : A Command Symbol shown"
Command symbol is shown for a shortcut

![thunderbird](https://cloud.githubusercontent.com/assets/5502846/12990154/c8453634-d12e-11e5-82f9-142d88be0dde.jpg)
https://duck.co/ia/view/mozilla_thunderbird_cheat_sheet

[2016-02-17 12:17] #2317 closed

[2016-02-17 16:49] moollaza opened #2320 "PigLatin: Need to verify we have a remainder to translate"
Looks like we're not ensuring there are remainder words to translate!

https://duckduckgo.com/?q=pig+latin&ia=answer
https://duckduckgo.com/?q=Lingua%3A%3APigLatin%3A%3ABidirectional&ia=answer

------
IA Page:  http://duck.co/ia/view/pig_latin
/cc @GuiltyDolphin

[2016-02-17 16:51] GuiltyDolphin commented on #2320
@moollaza That should be fixed in #1970

[2016-02-17 16:54] #1969 closed

[2016-02-17 16:54] #2320 closed

[2016-02-18 12:11] shadiakiki1986 opened #2331 "Linux Cheat Sheet:"
@crashrane

------
IA Page:  http://duck.co/ia/view/linux_cheat_sheet

[2016-02-18 12:12] shadiakiki1986 opened #2332 "Linux Cheat Sheet:"
@crashrane
I think the ctrl c and ctrl z are swapped

------
IA Page:  http://duck.co/ia/view/linux_cheat_sheet

[2016-02-18 12:13] #2331 closed

[2016-02-18 17:07] venky18 commented on #2332
No It's fine. reference : https://files.fosswire.com/2007/08/fwunixref.pdf

[2016-02-18 18:15] shadiakiki1986 commented on #2332
What is written is `ctrl c: backgrounds current command`
When you use ctrl c, you can't get the job back up again.
If you run `jobs` after a `ctrl z`, you'll see the job, whereas with `ctrl c` you won't.
`ctrl z` is what lets you resume the job in the foreground or the background

[2016-02-18 18:40] yash14123 commented on #2295
I am on it . :) Thanks.

[2016-02-18 18:42] yash14123 commented on #2332
Agreed with @shadiakiki1986

[2016-02-18 18:54] NikxDa opened #2347 "Conversions: Display whole number output for temperatures"
Hi,
I think the formatting for temperature conversions should be changed to output a whole number, for example 29 degrees fahrenheit should be -2 degrees celsius. The correct version might be added in brackets, but this is way more user-friendly than the decimal conversion.

Thanks

[2016-02-18 19:46] #2332 closed

[2016-02-18 20:07] vikashvverma commented on #2227
I think this can be closed.

[2016-02-18 20:08] yash14123 commented on #2269
Is this one fixed?

[2016-02-18 22:06] jacobq opened #2351 "Calculator: Distinguish between log (base 10) and ln (base e)"
@Mailkov Please have the log function either always use base 10 or allow use of a second argument to specify the desired base. Currently, it appears to use base e even though the ln function is already available for that purpose.

Otherwise, it can be quite confusing when using other tools, such as Symbolab's solver in combination with the basic calculator.

For example, "solve: log(x) = 2" will r

[2016-02-19 16:01] Mailkov commented on #2351
@jacobq
Thanks for this issue ! I fixed it now !

FYI: If you want a log base X you can simply use `logX` or `log_X`
`e.g. log_5(100)  or log5(100)`

[2016-02-19 16:44] jacobq commented on #2351
Thanks for the quick response. I'm glad there's a way to do it now. The
log_B notation appears to work for for symbolab as well though it treats
logB as an unknown function/symbol, e.g. solve: log10(x) = 2 does not
produce x = 100 but "solve: log_10(x) = 2" does as does "solve: log(x) =
2". So I'll try to keep that in mind next time I use this.

I think it's unfortunate that it still treats log(X)

[2016-02-19 16:48] GuiltyDolphin commented on #2351
@Mailkov @jacobq Just let you know, the calculator has been undergoing some work recently in #1927, we need to wait for that to be merged before additional changes as it is a large overhaul.

You can use `log10(X)` or `log_10(X)` to use base 10. There has been some discussion on this before but I believe the general consensus was to stick with the natural log by default.

[2016-02-20 10:41] mayank7 commented on #2269
@moollaza I have fixed this in #2337

[2016-02-20 11:42] #1523 closed

[2016-02-20 13:31] mintsoft opened #2380 "Kana: Tests are currently noisy"
Looks like there may be an issue when the testsuite is run through travis:
[code]

-----------
IA Page: https://duck.co/ia/view/kana

[2016-02-20 15:41] mayank7 commented on #2000
@moollaza Links are also broken in responses in DuckDuckGo, I fixed it in #2383

[2016-02-20 16:29] vikashvverma opened #2388 "NodeJS Cheat Sheet: cheat sheet not being displayed"
Cheat sheet is not visible for query [ `node js cheat sheet`](https://beta.duckduckgo.com/?q=node+js+cheat+sheet)

[2016-02-20 16:32] vikashvverma opened #2389 "MySQL Cheat Sheet: cheat sheet not being displayed"
Cheat sheet not visible for query [ `my sql cheat sheet`](https://beta.duckduckgo.com/?q=my+sql+cheat+sheet).

Missing `aliases` section

[2016-02-20 16:41] #2388 closed

[2016-02-20 16:43] GuiltyDolphin commented on #2389
@vikashvverma For future reference, the `aliases` section is entirely optional, I wouldn't add it to a cheat sheet just for the sake of it.

[2016-02-21 08:01] mayank7 opened #2412 "The Travis CI build failure"
The Travis CI build (continuous-integration/travis-ci/pr) is failing for every pull request even if there is very small change and that too is valid and correct.

[2016-02-21 10:10] GuiltyDolphin commented on #2412
@mayank7 Yup - well aware of this! Thanks - it's a dependency issue and we're working on it.

[2016-02-21 10:10] #2412 closed

[2016-02-21 10:42] mayank7 commented on #2412
@GuiltyDolphin So, should we raise pull requests or wait for it to be fixed ??

[2016-02-21 10:44] GuiltyDolphin commented on #2412
@mayank7 You can still make PR's, but the tests will fail until the dep issue is fixed - so prepare for failing tests.

[2016-02-21 10:45] mayank7 commented on #2412
@GuiltyDolphin Okay, then I am making PR's.

[2016-02-21 10:47] mayank7 commented on #2412
@GuiltyDolphin Sorry I din't get you.
Are you asking us to continue raising PR's or fix the existing PR's failure from our side?
Please clarify.

[2016-02-21 10:49] mayank7 commented on #2412
@GuiltyDolphin One more thing, after this problem is fixed by you people, what about our PR's which have already failed due to this, will that be taken care by you ?

[2016-02-21 10:51] GuiltyDolphin commented on #2412
@mayank7 Mhmm, I'll just restart the failed builds when I am reviewing.

[2016-02-21 11:32] GuiltyDolphin commented on #2412
@mayank7 I've put out a temporary fix, so as long as you keep up-to-date with master (`git rebase master && git push -f origin BRANCH` or `git merge master && git push origin BRANCH`) you should be fine.

[2016-02-21 12:25] #2056 closed

[2016-02-21 12:29] mintsoft commented on #2347
Hi @NikxDa
I'm not too sure I agree with this, personally I'd want to see as much accuracy as possible. What do @duckduckgo/community-leaders think?

[2016-02-21 13:57] GuiltyDolphin commented on #2347
@mintsoft I'm all for a good amount of *precision*, as long as it is guaranteed to be *accurate*.

[2016-02-21 18:02] vikashvverma opened #2443 "Linux Cheat Sheet: Broken Link"
The source url seems to be broken.

[2016-02-22 10:02] elohmrow commented on #1523
@mintsoft plz let me know if anything needs to be changed in C::P to maintain compatible.

[2016-02-22 13:58] shubhamrajput opened #2477 "Python Language Cheat Sheet: Adding more Array methods"
------
IA Page:  http://duck.co/ia/view/python_cheat_sheet
Can't we add some more Array methods in Python_cheat_sheet like reverse() , reverse sort ,etc?

[2016-02-22 15:39] vikashvverma opened #2482 "HTTP Status Code Cheat Sheet"
A small typo in `http-status-code` cheat sheet: `Dependency` is spelled as `Dependancy`.

[2016-02-22 15:42] #2482 closed

[2016-02-22 15:57] vikashvverma opened #2484 "typo in apt-get cheat sheet"
A small typo in apt-get cheat sheet: `multiple` is spelled as `mutliple`.

[2016-02-22 17:56] #2477 closed

[2016-02-22 18:10] GuiltyDolphin commented on #2484
Further discussion can occur in the PR.

[2016-02-22 18:10] #2484 closed

[2016-02-23 03:01] #2443 closed

[2016-02-23 03:04] #2389 closed

[2016-02-23 03:07] moollaza opened #2507 "CheatSheets: Lengthy "terminal" blocks can overlap columns"
It looks like we may need to tweak the CSS a bit here. Any frontend devs interested in tackling this?

Example:
![md_cheat_sheet_at_duckduckgo_and_1____projects_zeroclickinfo-goodies__bash_](https://cloud.githubusercontent.com/assets/873785/13240667/4dcb5bae-d9b2-11e5-8062-4f0154ed7d57.png)

/cc @duckduckgo/community-leaders @duckduckgo/instant-answer-maintainers

[2016-02-23 09:56] jinankjain commented on #2507
I would like to work on this bug.

Could someone give me a head start where to start of with @moollaza

[2016-02-23 12:15] vikashvverma commented on #2507
@moollaza I have fixed that. Just need to create a PR.

[2016-02-23 12:19] vikashvverma commented on #2507
@moollaza Fixed that!

[2016-02-23 14:56] MrChrisW commented on #2227
@Sayanc93 As @altern8tif said I believe this is expected behavior. I'll close this now. Thanks

[2016-02-23 14:56] #2227 closed

[2016-02-23 15:56] vikashvverma opened #2549 "Blender Cheat Sheet: Broken link"
The cheat sheet [http://overapi.com/blender/](http://overapi.com/blender/) seems to be broken.

[2016-02-23 17:50] GuiltyDolphin commented on #2549
@vikashvverma Please refrain from opening issues if you intend to open the PR without discussion - the PR can just as easily explain what the problem is (and thus discussion can happen there instead).

[2016-02-23 17:50] #2549 closed

[2016-02-23 17:59] vikashvverma commented on #2549
@GuiltyDolphin sure

[2016-02-23 19:26] moollaza commented on #2507
@jinankjain @vikashvverma @mayank7 thanks for responding!

Let's try not to duplicate effort though guys! It looks like @vikashvverma made a PR first, but @jinankjain had asked for help even before that.

@vikashvverma @mayank7 it's best to help newcomers (instead of beat them to the PR) so we can grow the community :+1:

[2016-02-23 19:27] moollaza commented on #2507
@vikashvverma thanks for the PR -- I believe the issue is more about the margins/padding because the content is overflowing its container which is a bigger problem. I'd like to avoid word-break because that's going to make the content pretty ugly in cases where it breaks at an awkward point

[2016-02-23 19:29] moollaza commented on #2507
@jinankjain you'll want to look at https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/share/goodie/cheat_sheets/cheat_sheets.css -- you'll need to make sure your development environment is setup correctly and you'll need to test your changes on several cheat sheets. If you're new here it may be best to familiarize yourself with DuckDuckHack and CheatSheets first

[2016-02-23 19:35] vikashvverma commented on #2507
@moollaza I don't think this is a padding issue. The word (link) is too long to be accommodated in the `td` element.

[2016-02-24 09:38] vikashvverma commented on #2507
@jinankjain Let me know if you are working on this, I will close my PR.

[2016-02-25 03:24] #1934 closed

[2016-02-25 09:03] ethus3h commented on #2002
The instant answer caption describes it as a "Random GUID". I think that would generally be understood to mean it's v4, but it's not. Either the caption or the result should be changed, I think! Thanks!

[2016-02-25 19:08] mintsoft commented on #2347
@NikxDa I'm going to close this for now, if I see a similar suggestion from elsewhere then I'll reopen this

[2016-02-25 19:08] #2347 closed

[2016-02-25 20:24] #2088 closed

[2016-02-25 21:10] moollaza commented on #958
Should be fixed in #1984

[2016-02-25 21:41] #598 closed

[2016-02-25 21:41] moollaza commented on #598
We're now caching dependencies :+1:

[2016-02-25 21:42] moollaza commented on #811
This is now possible given that Goodies have full control of templates.

A PR was under way to implement this before but has been abandoned: #1417

[2016-02-26 19:27] vikashvverma commented on #2507
@moollaza I think @jinankjain is not reachable right now. I have other idea for fixing this issue.

Should we wait for @jinankjain to fix this?

[2016-02-26 19:52] Fawers opened #2625 "TimezoneConverter: add Brazil DST"
@GlitchMr

Hello,
I'd love to have the option to convert to and from BRDT - Brazil daylight saving time. While BRT is `-0300`, BRDT is `-0200`.

I'd love to add the solution myself, but I have zero-knowledge on Perl.

Thanks in advance!

------
IA Page:  http://duck.co/ia/view/timezone_converter

[2016-02-26 20:15] GuiltyDolphin opened #2626 "Dates GoodieRole: Improve handling of time zones"
#2625 reminded me of a few updates to the Dates GoodieRole I would like to see.

Using data from https://www.timeanddate.com/time/zones/
- Provide support for more time zones
- Have Dates provide support for parsing descriptions of time zones into time zone abbreviations (and vice versa).
- Improve handling of time zones based on whether daylight saving time is in effect in a certain region.

I do